[2022-09-18 16:12] ArmanChand commented on #2933
Hi @Temidayo32,
I am going through Tensorflow documentation. Will share the findings around it, If i get any.

[2022-09-19 06:00] NoelJacob opened #2941 "[New Integration]: Fast.ai"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Fast.ai is a deep learning library which provides practitioners with high-level components that can quickly and easily provide state-of-the-art results in standard deep learning domains, and provides researchers with low-level components that can be mixed and matched to build new cutting-edge mod

[2022-09-19 06:59] jks365 opened #2942 "Is Oracle v10+ integration possible. If not SQL Server is acceptable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

No problem. I just have 21 yrs experience with Oracle and only 10 years with SQL Server.  Much more experience tuning Oracle db’s

### Describe the solution you'd like.

Oracle v10+ integration

### Describe an alternate solution.

SQL Server is a

[2022-09-19 08:27] chandrevdw31 commented on #2933
Hey @Temidayo32 @ArmanChand  the goal here is to share an idea of a ML framework MindsDB should support. The developers/engineers will take on the task of implementing unless a contributor wants to give it a shot

[2022-09-19 10:55] ea-rus commented on #2913
There is no error because 'create_engine' is not creating connection immediately.
We need to add line 'engine.connect()' to doc (https://docs.mindsdb.com/connect/sql-alchemy/):

[code]

[2022-09-19 11:02] ZoranPandovski commented on #2740
Sure @bispaul

[2022-09-19 11:04] ZoranPandovski commented on #2763
I just assigned #2740 to you. Once that's done we can start on this one

[2022-09-19 11:15] ZoranPandovski commented on #2455
The idea here is to showcase how users can use the MindsDB SQL API to automate the workflows in different programming languages for e.g:

* Python:
    *  SQLAlchemy
    * Django ORM
* Java:
    * Hibernate
* Ruby:
    *  ActiveRecord
* TypeScript, NodeJS:
    *  Sequelize
* Golang:
   * Gorm
  ... etc

In simplest form written in Python would be something like:
[code]

[2022-09-19 11:19] ZoranPandovski commented on #2905
Hi @delykj are you using MIndsDB Editor or another SQL client?

[2022-09-19 11:19] Temidayo32 commented on #2455
@ZoranPandovski Thanks for the clearer specification. I'm working on it

[2022-09-19 11:22] parthiv11 opened #2943 "[New Integration]: 💧💦 Integration with H2o.ai"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

### Open Source, Distributed Machine Learning for Everyone

H2O is a fully open source, distributed in-memory machine learning platform with linear scalability. H2O supports the most widely used statistical & [machine learning algorithms](https://h2o.ai/wiki/machine-learning-algorithms) including

[2022-09-19 11:24] ZoranPandovski commented on #2896
Strange, in the current location where you executing `python -m mindsdb` is there another directory called mindsdb? If so, can you run it from another dir?

[2022-09-19 11:26] ZoranPandovski commented on #2323
Sure, if you have any questions let us know. Also, you can join our Slack and we can discuss this in more details

[2022-09-19 11:41] chandrevdw31 commented on #2943
I think @Tomhuds already logged this... Cause I also wanted to post this idea until I saw that he already did :smile:

[2022-09-19 11:56] ZoranPandovski commented on #2936
MLlib would be great library to support

[2022-09-19 11:57] #2935 closed

[2022-09-19 12:19] ZoranPandovski commented on #2942
Hi @jks365, yes, Oracle is supported. You can check https://github.com/mindsdb/mindsdb/tree/staging/mindsdb/integrations/handlers/oracle_handler#oracle-handler

[2022-09-19 12:59] #2888 closed

[2022-09-19 13:17] #2915 closed

[2022-09-19 13:18] #2923 closed

[2022-09-19 13:19] #2921 closed

[2022-09-19 13:19] #2910 closed

[2022-09-19 14:05] NoelJacob opened #2944 "[New Integration]: PyTorch Lightning"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

PyTorch lightning is the ultimate PyTorch research framework. Scale your models, without the boilerplate.

A quick refactor will allow you to:
Run your code on any hardware
Performance & bottleneck profiler
Model checkpointing
16-bit precision
Run distributed training
Logging
Metrics
Visualizatio

[2022-09-19 14:44] #2839 closed

[2022-09-19 14:52] tomhuds commented on #2876
@StpMax says complete in alpha

[2022-09-19 14:52] #2876 closed

[2022-09-19 14:53] tomhuds commented on #2877
POC working on alpha, with specifying user id & url

[2022-09-19 14:56] #2816 closed

[2022-09-19 15:42] tomhuds opened #2946 "BYOM | MVP ---> live on cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

How to turn current MVP (branch: byom-upload) into something live on cloud

### Describe the solution you'd like.

Agree approach on the following topics, then implement:

- Enable long training times: run as background task
- Prevent dependency c

[2022-09-19 16:31] martyna-mindsdb opened #2947 "Add SQL format style for all SQL commands/keywords in the MindsDB docs"
Throughout the documentation pages at [MindsDB docs](https://docs.mindsdb.com/), there are SQL commands and keywords used. In the `.md` files, some of them are written as _\`SQL COMMAND\`_ instead of _\`#!sql SQL COMMAND\`_. The _#!sql_ prefix ensures that the SQL style is used.

The task is to go over all the doc pages and add the _#!sql_ prefix.

**Example 1:**
Take this text:

And change it to:

[2022-09-19 16:48] martyna-mindsdb opened #2948 "Remove `AS {name}` from all the CREATE PREDICTOR commands (as shown in the description)"
Consider the query below.
[code]
**1. Remove `AS rentals`**
After the `SELECT` statement comes the `AS rentals` alias name for the selected dataset. This alias name was used in the past when MindsDB created a new data source for each such `SELECT` query. Currently, it is not in use.
Hence, the `AS rentals` alias name should be removed.

**2. Remove `AS price`**
After the `PREDICT` statement comes

[2022-09-19 17:09] martyna-mindsdb opened #2949 "Ensure that all JSON objects are not enclosed within single quotation marks"

[2022-09-19 17:28] ghost opened #2950 "Please add SurrealDB Integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I would like to have SurrealDB, a Rust-powered database with a GraphQL API, as an integration in MindsDB. This can create a fast backend for AI training, which would be optimal for training.

### Describe the solution you'd like.

Please add Surre

[2022-09-19 17:43] martyna-mindsdb opened #2951 "Proofread and apply style guide to the SQL API->JOIN page"

[2022-09-19 21:07] zachlysobey commented on #2941
if a bunch of thumbs ups come in, this will be the reason ;)
<img width="745" alt="image" src="https://user-images.githubusercontent.com/1310403/191116774-7047d78b-a0c5-40e3-99ea-ae68165e3ade.png">

[2022-09-20 03:13] parthiv11 commented on #2842
@ZoranPandovski please move this to **Integration done**

[2022-09-20 03:13] parthiv11 commented on #2672
@ZoranPandovski Please move this to Integration done

[2022-09-20 14:26] martyna-mindsdb opened #2953 "Proofread and apply style guide to Mongo API"

[2022-09-20 15:28] martyna-mindsdb opened #2956 "Proofread and apply style guide to the Using Custom Models->MLFlow page"

[2022-09-20 16:20] NoelJacob opened #2957 "[New Integration]: PyTorch Integration"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Simply the best ML framework. Faster, most flexible, and most used framework.

I could not find if bare PyTorch had an integration

### Motivation

You can work on a PyTorch or models in ONNX format with data from mindsdb

### Implementation

_No response_

### Anything else?

_No response_

[2022-09-20 16:30] NoelJacob opened #2958 "[New Integration]: Scikit-Learn"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Scikit-Learn is a simple good interface for ML deep learning models.

### Motivation

You can train your data in MindsDB directly on Scikit-Learn.

### Implementation

_No response_

### Anything else?

_No response_

[2022-09-20 16:32] NoelJacob opened #2959 "[New Integration]: XGBoost"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

XGBoost is one of the best frameworks for Random Forest Tree based models

### Motivation

Data on MindsDB can be easily trained in XGBoost.

### Implementation

_No response_

### Anything else?

_No response_

[2022-09-20 16:34] anushas-dev opened #2960 "[New Integration]: Add Feature Engineering to MindsDB with Featuretools Python library"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Featuretools is a framework that automates feature engineering. It transforms relational datasets into feature matrices for machine learning. Based on the EntitySet it can determine relationships between fields,

[code]
From their demo mock customer dataset, for Entityset: transactions

  DataFra

[2022-09-20 16:44] NoelJacob opened #2961 "[New Integration]: LightGBM"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

One of the best frameworks in Random Forest Tree and is used in Kaggle competitions. It is faster in training than XGBoost. But can be made equally accurate.

### Motivation

LightGBM is the best library after deeplearning libraries. There are many cases where Deeplearning is overkill and Random

[2022-09-20 16:49] NoelJacob opened #2962 "[New Integration]: CatBoost"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

CatBoost is the latest gradient boosting framework. In this regard it outperforms both XGBoost and LightGBM. It was developed and opensourced in 2017 by Yandex.

### Motivation

Easily do CatBoost gradient boosting work on your db data.

### Implementation

_No response_

### Anything else?

_No

[2022-09-20 17:52] martyna-mindsdb opened #2964 "Proofread and apply style guide to the Using Custom Models->Ray Serve page"

[2022-09-21 03:20] Ricram2 commented on #2373
@tomhuds, will this be sufficient?

![Image](https://user-images.githubusercontent.com/24927430/191406937-5db2296d-f819-4ef4-9d0d-152be0fc5f42.png)

[2022-09-21 03:27] Ricram2 commented on #2681
This has been solved.

[2022-09-21 03:27] #2681 closed

[2022-09-21 04:28] #2373 closed

[2022-09-21 12:32] #2951 closed

[2022-09-21 12:33] #2953 closed

[2022-09-21 12:34] #2956 closed

[2022-09-21 13:58] tomhuds commented on #2946
- Enable long training times: run as background task - **YES**
- Prevent dependency conflicts: run from python environment / container - **YES, python env.**
- Prevent malicious code in cloud: run inside a container? - **Use ‘app armour’, WIP. (Docker option is more complicated.)**
- Store any necessary model files: **function to save files, read files**
- Ensure consistency: decide on class attri

[2022-09-21 14:07] ianu82 commented on #2424
Customer requests this feature - they wish to retrain with every new customer but ideally not on the entire dataset.

[2022-09-21 15:32] martyna-mindsdb opened #2969 "Proofread and apply style guide to the Using Custom Models->HuggingFace page"

[2022-09-21 15:33] bispaul opened #2970 "[New Integration]: Integration With Facebook Prophet"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Prophet is a procedure for forecasting time series data based on an additive model where non-linear trends are fit with yearly, weekly, and daily seasonality, plus holiday effects. It works best with time series that have strong seasonal effects and several seasons of historical data. Prophet is

[2022-09-21 15:59] martyna-mindsdb opened #2972 "Ensure that all MindsDB hostname values are `cloud.mindsdb.com`"
Currently, throughout the [MindsDB docs](https://docs.mindsdb.com/), you can find that the MindsDB hostname is either `cloud.mindsdb.com` or `cloud-mysql.mindsdb.com`.

We want to have all the MindsDB hostname values as `cloud.mindsdb.com` and not `cloud-mysql.mindsdb.com`.

[2022-09-21 16:22] martyna-mindsdb opened #2973 "Proofread and apply style guide to the Using Custom Models->OpenAI page"

[2022-09-21 16:39] martyna-mindsdb opened #2975 "Proofread and apply style guide to the Tutorials->Regression->Home Rentals page"

[2022-09-21 17:00] tomhuds opened #2976 "[Bug][CUSTOMER REQUEST]: Slow speed on metabase"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A user has mentioned speed on metabase is slow. Will require:
- discussion with user to find out exactly what is slow
- identify cause
- implement solution

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-09-21 17:39] paxcema commented on #2976
Is metabase connected to a local installation of MindsDB? Or cloud?

[2022-09-21 23:00] paxcema commented on #2501
Fixed! Closing this.

Note, however, it exposed a minor bug that needs to be merged first (#2978) before we can get that tutorial working end-to-end.

[2022-09-21 23:00] #2501 closed

[2022-09-21 23:17] paxcema commented on #2435
Closing, fixed via #2927.

[2022-09-21 23:17] #2435 closed

[2022-09-22 03:25] Ricram2 commented on #2976
@torrmal mentioned @StpMax had thoughts about how to speed this up.

[2022-09-22 06:47] Prem-Au opened #2979 "[New Integration]: Integrating LSTM neural networks and XGboost for time series prediction."
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

These are useful for multivariate time series prediction.

### Motivation

More than 6 months, I have been working with time series data. These algorithms are quit good for complicated time series prediction.

### Implementation

_No response_

### Anything else?

_No response_

[2022-09-22 07:41] torrmal commented on #2960
love this idea, it would be very important to brainstorm how it will look like in Mindsdb, what would the SQL syntax look like, etc

[2022-09-22 10:56] ianu82 opened #2980 "Improve BigQuery connection instructions"
When using MindsDB Cloud and self-hosted, BigQuery is difficult to connect. We have a potential paid customer struggling with this.

The [current docs](https://docs.mindsdb.com/sql/create/databases/#google-big-query) give examples of the required connection statement which is great. But they don't say what should be in the .json file that is required or what format it should be in.

These docs cou

[2022-09-22 12:24] bachng2017 opened #2981 "[Bug]: column order in select/join"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I try the example, the current SELECT query (with JOIN) does not result the correct column order as specified in the SELECT query
[code]

### Expected Behavior

expect the result column order should be: `saledate`, `date`, `MA`,` forecast`

### Steps To Reproduce

[code]

### Anything el

[2022-09-22 12:25] #2913 closed

[2022-09-22 12:27] #2975 closed

[2022-09-22 12:27] #2973 closed

[2022-09-22 12:40] ZoranPandovski commented on #2970
We already have a [mixer for Prophet in Lightwood](https://github.com/mindsdb/lightwood/blob/d53e8edb6202356aa6a830c10e8eace3e91ee1c6/lightwood/mixer/prophet.py), but as discussed with @paxcema it would be great to have a new handler for it.

[2022-09-22 21:48] paxcema opened #2982 "Simplify USING mapping"
As discussed with @torrmal, the default behavior right now is quite verbose for nested components. This:
[code]

is fine. However, defining blocks in terms of `module` and `args` can probably be simplified, so that this:

[code]

Is parsed and equivalent to the current valid string:

[code]

I don't think there's any issues with modifying/extending the parser to support simpler syntax. Behind the

[2022-09-23 05:52] NoelJacob commented on #2957
Any blockers to accepting this and my other issues?

[2022-09-23 07:27] StpMax commented on #2982
We can support both syntaxes, that should be easy

[2022-09-23 09:03] rfsiten opened #2984 "[New Integration]: Integration tf-serving"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

tf-serving (the whole name is tensorflow-serving, the url is https://github.com/tensorflow/serving) is a widely used Deep Model release/publish/inference platform which can provide model-inference function with ideal performace. The ML model generated by several mainly used ML-framework can work

[2022-09-23 14:36] ianu82 commented on #2878
Trying to bump this @Ricram2 - customer requirment.

[2022-09-23 14:38] ianu82 opened #2987 "[CUSTOMER REQUEST] Be able to get predictions via HTTP API"
Heard we're bringing this back which is great as it is an immediate user request

@paxcema - for customer we're working on together.

[2022-09-23 14:40] ianu82 opened #2988 "[CUSTOMER REQUEST] API’s(sdk) structure so user can mock the calls in their apis"
Customer moving to production wants this.

Need to provide structure.

[2022-09-23 14:42] ianu82 opened #2989 "[CUSTOMER REQUEST] Partial Retrain"
Ability to retrain on a subset of data (eg changes since last train). This is for a paying customer moving to prod.

@paxcema 's comments: I think for partial retrain we need two things:
- Enable ADJUST , FINETUNE , PARTIAL RETRAIN syntax or some other terminology (as opposed to "full" & normal RETRAIN), maybe with USING support to specify args for that training run.
- At lightwood level, handle a

[2022-09-23 14:43] ianu82 commented on #2989
Making sure that this request doesn't get lost in ([2424](https://github.com/mindsdb/mindsdb/issues/2424)), hence new ticket.

[2022-09-23 15:04] drkp4 opened #2990 "[Grammar]: Docs / What is MindsDB?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Shift to Data Analysis Paradigm - Why did it HAPPEN, What will HAPPEN, How can we make it HAPPEN (verb conjugation)
The Machine Learning Lifecycle - Data Cleaning & LABELING (spelling)

### Expected Behavior

See above.

### Steps To Reproduce

[code]

### Anything else?

See above.

[2022-09-23 17:16] megamer07 opened #2991 "[New Integration]: Integrating with Numpy"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

![numpyy](https://user-images.githubusercontent.com/32787619/192013794-8e2c1784-385a-44a0-add1-03ecd01a85ef.png)

- NumPy was created in 2005 by Travis Oliphant. It is an open source project and you can use it freely.

- Numpy is a library for the Python programming language, adding support for l

[2022-09-23 17:17] megamer07 commented on #2991
Hi @ZoranPandovski ,
Please review for ML Frameworks ideation challenge

[2022-09-24 07:28] ArmanChand commented on #2990
@drkp4 ,
Can you please tell me a little briefly? What exactly need to done

[2022-09-24 07:34] ArmanChand commented on #2948
@martyna-mindsdb ,
I can you please assign it to me. Can you please tell me the exactly , what all documentation needs to changed. Please mention the documentation file. Thanks

[2022-09-25 10:19] #2914 closed

[2022-09-25 10:57] ArmanChand commented on #2981
Hi @bachng2017 ,
It is because The order of columns in SELECT * FROM some_table is determined by the column_id of each column, as seen in USER_TAB_COLUMNS.

The order of columns in SELECT * FROM some_table JOIN other_table is all the columns for each table starting with the leftmost table after the FROM clause. In other words, this ...

SELECT * FROM some_table JOIN other_table

... is equivalent

[2022-09-25 11:00] ArmanChand commented on #2972
@martyna-mindsdb ,
Please assign it me .

[2022-09-25 12:11] ArmanChand commented on #2949
@martyna-mindsdb ,
Please assign it to me

[2022-09-25 19:19] MinuraPunchihewa opened #2994 "[New Integration]: XGBoost Integration"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

**XGBoost is probably the hottest library for supervised machine learning available right now!**

eXtreme Gradient Boosting or better known as XGBoost, which initially started as a research project is now one of the most popular ML packages out there.

It is an optimized distributed gradient boos

[2022-09-26 03:57] #2972 closed

[2022-09-26 04:56] bachng2017 commented on #2981
thanks @ArmanChand for the explanation.
But in the mentioned query, we did specify `explicitly` the column and their order, not using asterisk. So it looks like a bug not  specs for us. What do you think ?

[2022-09-26 07:02] MinuraPunchihewa opened #2995 "[New Integration]: LightGBM Integration"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

LightGBM, short for Light Gradient Boosting Machine, is a fast, distributed, high-performance gradient boosting (GBT, GBDT, GBRT, GBM, or MART) framework based on decision tree algorithms, used for ranking, classification, and many other machine learning tasks.

Light GBM splits the tree leaf-wis

[2022-09-26 08:00] ianu82 opened #2996 "[Bug]: Using Files is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I upload a csv file as normal by following the GUI steps. Discovered in Cloud, please also check local.

This autogenerates
`SELECT * FROM files.my_file_name LIMIT 10;`. Running that code throws the error: [Errno 2] No such file or directory: '/root/.local/share/mindsdb/var/content/file/file_

[2022-09-26 14:43] martyna-mindsdb opened #2997 "Update to the PR #2966 (SQL Alchemy)"

[2022-09-26 14:50] martyna-mindsdb commented on #2997
[PR #2996](https://github.com/mindsdb/mindsdb/pull/2966)

[2022-09-26 15:38] martyna-mindsdb opened #2999 "Proofread and apply style guide to the Tutorials->Classification->Customer Churn page"

[2022-09-26 16:35] martyna-mindsdb opened #3001 "Proofread and apply style guide to the Tutorials->Time Series->House Sales page"

[2022-09-26 17:20] martyna-mindsdb opened #3003 "Proofread and apply style guide to the Contributing Guide->MindsDB Installation for Development page"

[2022-09-26 18:15] martyna-mindsdb opened #3005 "Proofread and apply style guide to the Contributing Guide->Bug Reports and Feature Requests page"

[2022-09-26 18:51] martyna-mindsdb commented on #2996
I tested it locally in DBeaver. I get the same error message.

![image](https://user-images.githubusercontent.com/109554435/192356367-eb142361-9cf1-4cb3-a5e4-e4d32d279ef1.png)

[2022-09-26 19:12] martyna-mindsdb commented on #2990
I see there are spelling/grammar mistakes in the images, as below.
Thanks for catching it.

![image](https://user-images.githubusercontent.com/109554435/192359307-0e796b8e-1484-472d-917c-9b53b2161d1b.png)

![image](https://user-images.githubusercontent.com/109554435/192359481-cab1d3c0-b70c-405d-ac4c-44582b0ab1e2.png)

[2022-09-27 09:32] #2996 closed

[2022-09-27 19:14] justquick commented on #2933
Should support [Keras](https://keras.io/) which is now part of TF.

Any chance mindsdb could take advantage of GPU acceleration?
https://www.tensorflow.org/guide/gpu

[2022-09-27 19:34] martyna-mindsdb opened #3014 "Proofread and apply style guide to the Contributing Guide->Building a New Integration page"

[2022-09-27 21:58] prathikshetty2002 opened #3016 "[New Integration]: Integration with Comet"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Comet is a meta-machine learning platform for tracking, comparing, explaining, and optimizing experiments and models.

It proposes an open-source Python library to allow data scientists to integrate their code with Comet and start tracking work in the application.

As it’s offered both cloud-host

[2022-09-28 06:03] ArmanChand commented on #2991
@ZoranPandovski ,
please take a look

[2022-09-28 06:35] prathikshetty2002 opened #3018 "[New Integration]: Integration with LightAutoML"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

LightAutoML is an open-source Python library aimed at automated machine learning. It is designed to be lightweight and efficient for various tasks with tabular, text data.

LightAutoML provides easy-to-use pipeline creation, that enables:

- Automatic hyperparameter tuning, and data processing.

[2022-09-28 06:47] prathikshetty2002 opened #3019 "[New Integration]: Add integration with AirTable"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Move data from Airtable to Mindsdb and allow dynamic data analysis. Airtable provides a range of extensions . A no code interface to reduce the complexity of the dataset.

- Manage your work from end to end: Not only can you use Airtable to track all information around your goals and objectives,

[2022-09-28 08:33] jaredc07 opened #3020 "[New Integration]: Integration with Kats"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

[Kats](https://github.com/facebookresearch/Kats/) is a toolkit to analyze time series data, a lightweight, easy-to-use, and generalizable framework to perform time series analysis. Kats aims to provide the one-stop shop for time series analysis, including detection, forecasting, feature extractio

[2022-09-28 09:08] jaredc07 opened #3021 "[New Integration]: Integration with tsai"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

`tsai` is an open-source deep learning package built on top of Pytorch & fastai focused on state-of-the-art techniques for time series tasks like classification, regression, forecasting, imputation...

### Motivation

`tsai` has a variety of built-in time series deep learning models that are easy

[2022-09-28 09:44] jaredc07 opened #3022 "[New Integration]: Integration with Greykite"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

[GreyKite](https://linkedin.github.io/greykite/) is a time-series forecasting library released by LinkedIn to simplify prediction for data scientists. This library offers automation in forecasting tasks using the primary forecasting algorithm ‘Silverkite.’ This library also helps interpret output

[2022-09-28 15:18] martyna-mindsdb opened #3026 "Remove 'important_missing_information' field from docs (not provided anymore)"

[2022-09-29 05:56] SalmanHabeeb opened #3032 "Masterful AI"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Masterful AI is a low code framework to implement Computer Vision solutions. It allows user to automate the building and deployment of the production grade models.

Masterful AI implements industry best practices to ensure the model is production ready

### Motivation

Masterful AI is an easy to

[2022-09-29 21:14] #2997 closed

[2022-09-29 21:16] #3003 closed

[2022-09-29 21:18] #2990 closed

[2022-09-29 21:19] #3026 closed

[2022-09-29 21:20] #3014 closed

[2022-09-29 21:21] #3001 closed

[2022-09-29 21:22] #3005 closed

[2022-09-30 00:51] vedmed85 opened #3033 "[BUG]"
**Describe the bug**
not possible to connect from Dbeaver(DbVisualizer, etc) to MindsDB(local installation) by this tutorial
https://docs.mindsdb.com/connect/dbeaver/

i run local MindsDb by
`python -m mindsdb
`
i use credentials from manual
[code]

However MindsDB Web working normal.

Error: Can not read response from server. Expected to read 4 bytes, read 0 bytes before connection was unexpected

[2022-09-30 07:49] ZoranPandovski commented on #3033
Hi @vedmed85 after you start mindsdb did you have in the console

[code]
Or maybe there is some error displayed?

[2022-09-30 08:44] ZoranPandovski commented on #2957
Hey, @NoelJacob we already support Pytorch through Lightwood. We will check your other suggestions and accept them

[2022-09-30 08:44] #2957 closed

[2022-09-30 08:45] ZoranPandovski commented on #2995
Sorry there was already an issue for this https://github.com/mindsdb/mindsdb/issues/2961

[2022-09-30 08:45] #2995 closed

[2022-09-30 09:23] ZoranPandovski commented on #2994
Sorry this was already added https://github.com/mindsdb/mindsdb/issues/2959

[2022-09-30 09:23] #2994 closed

[2022-09-30 09:25] ZoranPandovski commented on #2991
How did you imagine this, please?

[2022-09-30 09:27] ZoranPandovski commented on #2886
Can you please share more information about this?

[2022-09-30 10:05] vedmed85 commented on #3033
![image](https://user-images.githubusercontent.com/4236334/193246312-b5d2ed46-4f14-494e-9682-c8d540220b50.png)
Look what in documentation
There specified http port

[2022-09-30 10:18] vedmed85 opened #3035 "Not possible connect from dbVisualizer to mindsDb API, hovever Dbeaver connection works"
![image](https://user-images.githubusercontent.com/4236334/193248979-4b379cd0-22ab-457c-b915-df97493c7798.png)
Product: DbVisualizer Free 14.0 (build: 3514)
OS: Windows 10
OS Version: 10.0
OS Arch: amd64
Java Version: 17.0.4.1
Java VM: OpenJDK 64-Bit Server VM
Java Vendor: Eclipse Adoptium
Java Home: c:\program files\dbvisualizer\jre
DbVis Home: C:\Program Files\DbVisualizer
User Home: C:\Users\ve

[2022-09-30 10:48] vedmed85 opened #3037 "HeidiSQL support"
https://www.heidisql.com/download.php

![image](https://user-images.githubusercontent.com/4236334/193249888-1e6d8586-8401-4317-b8a1-63f9b2653879.png)

[2022-09-30 10:51] ZoranPandovski commented on #3033
Yes, that's wrong, you need to specify mysql port `47335`

[2022-09-30 11:19] vedmed85 opened #3038 "Enable 'get columns' functionality to view tables in dbeaver"
I connect MindsDB to MySQL using
CREATE DATABASE example_data
[code]
In MindsDB Web i can execute queries, the same in Dbeaver.
BUT i can't explore data in Dbeaver(3rd party clients don't work at all)
![image](https://user-images.githubusercontent.com/4236334/193257634-a9db3d64-20d0-4e96-9177-36b057ee6e0f.png)
ER Diagram don't works too

[2022-09-30 11:28] Dynomin commented on #2886
It is a website which can be very useful if anybody needs any of the required tasks in the image above. Usually for better quality pictures, videos, editing PDF's for your company's website will be really helpful

[2022-09-30 11:28] #2886 closed

[2022-09-30 11:31] rfsiten opened #3039 "[CUSTOMER REQUEST] Integrate "Custom Model by RayServe""
Hey,  the RayServe in the latest version has been removed. I've discussed it with you team and know that you want to reconstruct it.

Now I've implemented it. In fact, I think there two several ways to implement it, I try to write a full ml handler at first, nearly finished, but I found it too complex, maybe result in some problems in stability. So I implement it in a light weight way, which only

[2022-09-30 13:02] Rutam21 opened #3040 "[New Integration]: Integration with Apache SINGA 🦁"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Apache SINGA is an [Apache Top Level Project](https://blogs.apache.org/foundation/entry/the-apache-software-foundation-announces57), focusing on distributed training of deep learning and machine learning models. SINGA has a well-architected software stack and easy-to-use Python interface to impro

[2022-09-30 13:06] Rutam21 commented on #3040
@ZoranPandovski Please have a look and approve.

[2022-09-30 13:11] vedmed85 opened #3041 "[BUG] Dbeaver and MindsDB API. Unable to delete predictor using Dbeaver and SQL. However it works in MindsDB Web"
SQL query:
DELETE FROM predictors
	WHERE name='home_rentals_model';
Dbeaver:
![image](https://user-images.githubusercontent.com/4236334/193276330-50422945-6a15-4da0-855a-ddbe5af1fb19.png)
MindsDb Web:
![image](https://user-images.githubusercontent.com/4236334/193277121-fe542896-e59f-4c70-962e-96ac414d6f7d.png)

[2022-09-30 14:39] rfsiten commented on #3039
https://github.com/mindsdb/mindsdb/pull/3042/files#diff-a0beef394d40481a7f3b16a326d520eeee09aaa56431107ce7378d5cfe15e9f0

[2022-09-30 22:52] dmbsankar commented on #3040
👍

[2022-10-01 09:54] ZoranPandovski commented on #2818
@MinuraPunchihewa did you make some progress here? If not, we can open this for contributors

[2022-10-01 09:55] #2234 closed

[2022-10-01 09:57] ZoranPandovski commented on #2323
@yeohbraddy Did you make a progress here? If not, we can open this for contribtuors?

[2022-10-01 10:03] ZoranPandovski commented on #2326
@MinuraPunchihewa I will open this for contributors

[2022-10-01 10:04] ZoranPandovski commented on #2326
@MinuraPunchihewa I will open this for contributors

[2022-10-01 10:07] ZoranPandovski commented on #2357
@agberoz  Did you make a progress here? If not, we can open this for contributors?

[2022-10-01 10:07] ZoranPandovski commented on #2358
@boredom101 can you share the link to the repository for the extension please?

[2022-10-01 10:09] ZoranPandovski commented on #2361
@7flash   Did you make a progress here? If not, we can open this for contributors?

[2022-10-01 10:13] ZoranPandovski commented on #2458
@bhaumiksonii can you please just address the changes here https://github.com/mindsdb/mindsdb/pull/2582

[2022-10-01 10:14] ZoranPandovski commented on #2641
This will be moved to another issue when we start with the i18n

[2022-10-01 10:14] #2641 closed

[2022-10-01 10:17] ZoranPandovski commented on #2687
@Rutam21 did you make any progress here? If not, we can open this for contributors

[2022-10-01 10:18] ZoranPandovski commented on #2701
@MinuraPunchihewa  did you make any progress here? If not, we can open this for contributors

[2022-10-01 10:19] ZoranPandovski commented on #2740
@bispaul  did you make any progress here? If not, we can open this for contributors

[2022-10-01 10:20] ZoranPandovski commented on #2741
@MinuraPunchihewa  did you make any progress here? If not, we can open this for contributors

[2022-10-01 10:39] paxcema commented on #2981
@ea-rus take a look at this, I would agree it is a bug.

[2022-10-01 11:37] ZoranPandovski opened #3046 "[Docs] Fix a typo in SQL API page"
**Describe the bug**
There is a typo in the `Complex queries` section. **ingration** should be changed to integration

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Change
2. In this section https://github.com/mindsdb/mindsdb/blob/3f0a8edf009a33b9cb2f4fe9107459aa8615c62d/docs/mindsdb-docs/docs/sql/api/select.md#complex-queries

[2022-10-01 11:42] Chiamaka commented on #3046
Can I pick this up? @ZoranPandovski

[2022-10-01 13:00] bispaul commented on #2740
@ZoranPandovski I am making progress. I will raise a PR in the coming week and in case of issues I will slack you ;)

[2022-10-01 14:42] #3046 closed

[2022-10-01 14:55] ZoranPandovski opened #3049 "[Docs] Add new link to the navigation menu"
**Describe the bug**
We need to link the SQL API UPDATE documentation in the navigation menu

**To Reproduce**
1. Go to https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/mkdocs.yml#L107
2. Add a new section called UPDATE below CREATE
3. It should link to sql/api/update.md

[2022-10-01 16:33] karthika-malathi commented on #3040
👍

[2022-10-01 22:45] #3049 closed

[2022-10-01 22:55] sanittawan commented on #2947
Hi! I would love to work on this. I have made one change to `what-is-mindsdb.md` file and sent a pull request (edit: fixing CLA now). However, I'd love some clarification on the addition of *#!sql* prefix. I see that the prefix also appears in the variable names, but not consistently. Should the prefix be added to only SQL commands or variables as well?

Here is an example taken from the `what-is-

[2022-10-01 23:08] ZoranPandovski opened #3054 "[Docs] Remove old table file from docs"
**Describe the bug**
With the new version of the docs, some of the table files are not used as https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/sql/api/home_rentals_model.csv

**To Fix**
1. Remove https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/sql/api/home_rentals_model.csv

[2022-10-01 23:11] yeohbraddy commented on #2323
Apologies, I've been tied up with other things, feel free to open this for other contributors

[2022-10-01 23:18] arthurmatthew commented on #3054
Could I be assigned to this issue? I'd be happy to work on it.

[2022-10-01 23:40] SahilSingh177 commented on #3054
Please assign this to me.

[2022-10-02 04:32] Ln11211 commented on #3054
@ZoranPandovski You just want only `home_rentals_model` table removed? are there more  tables that need to be removed? Do you perhaps have a list of other tables/files that are not necessary? :)

[2022-10-02 05:43] MinuraPunchihewa commented on #2818
Hey @ZoranPandovski, please let me continue to work on this. I have made some progress.

[2022-10-02 05:46] MinuraPunchihewa commented on #2687
Hey @ZoranPandovski, please assign this to me.

[2022-10-02 10:55] ZoranPandovski commented on #3054
This was solved, we will post more issues related to old docs :raised_hands:

[2022-10-02 10:55] #3054 closed

[2022-10-02 10:58] ZoranPandovski opened #3060 "[Docs] Remove Sage diagram from old docs"
**Describe the bug**
The SageMaker diagram is from old docs so it should be removed from current documentation.

**Fix**
1. Remove https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/mdb-sage-flow.png

[2022-10-02 11:14] wiseaidev commented on #3060
Hey @ZoranPandovski, I have recently stumbled across this project by mere chance. It seems like this issue is an easy grab for me. I would love to contribute to this project starting from here. However, do you want to delete the image completely or tweak it according to specific requirements?

[2022-10-02 13:31] wiseaidev opened #3062 "Migrate from `requirements.txt`, `requirements_test.txt`, and `setup.py` to `pyproject.toml`."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Hey folks. As you may already know, the use of `setup.py`, `setuptools`, and `requirements.txt` files is quite [outdated](https://blog.ganssle.io/articles/2021/10/setup-py-deprecated.html). Because of [PEP 517](https://peps.python.org/pep-0517/),

[2022-10-02 19:27] Gokul-Ks opened #3064 "[New Integration]: Kinetica"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Kinetica is the database for time & space.
Kinetica makes it easy and fast to:
- ingest massive amounts of IoT data and other contextual data sets
- fuse data sets using spatial and temporal joins

### Motivation

- The ability to combine time and location information with raw data, which opens a

[2022-10-02 19:48] bilal-aamer commented on #3060
Is this issue assigned already? Can I contribute to close this?

[2022-10-02 19:51] bilal-aamer commented on #2929
Can I contribute to this issue ?

[2022-10-03 01:57] golu098 commented on #2938
can you give me permission to do it ?

[2022-10-03 08:51] TarekMahran commented on #2420
Pytorch last release supports ARM64. https://github.com/pytorch/pytorch/pull/83437
Is it possible to have mindsdb version support arm64 as well?

Regards

[2022-10-03 09:52] martyna-mindsdb commented on #2947
@sanittawan
The _#!sql_ prefix should be used with the SQL commands (as you did in #3066). Currently, we aim to use it with the table names as well.

[2022-10-03 09:56] martyna-mindsdb commented on #2948
@ArmanChand
This instruction should be applied to all the `.md` files listed in the `mkdocs.yml` file under `nav:`.

[2022-10-03 10:27] martyna-mindsdb opened #3067 "Proofread and apply style guide to the Tutorials->Time Series->Brain Activity page"

[2022-10-03 10:43] Rutam21 commented on #3067
@martyna-mindsdb If you provide a bit of description about the issue and what is expected, I can take this up and work on it. Thanks.

[2022-10-03 10:47] martyna-mindsdb commented on #3067
@Rutam21
Please find the issues marked with the `hacktoberfest` label to work on them. Thanks.

[2022-10-03 11:15] ZoranPandovski commented on #3035
@vedmed85 Did you used the `47335` port?

[2022-10-03 11:16] ZoranPandovski commented on #3033
Thanks @vedmed85 for pointing this we will post new issue and resolve in docs

[2022-10-03 11:16] #3033 closed

[2022-10-03 11:18] #2948 closed

[2022-10-03 11:25] ZoranPandovski commented on #3062
Good point, please go ahead

[2022-10-03 11:35] #3060 closed

[2022-10-03 11:35] ZoranPandovski commented on #3060
Hey we will post new issues, please check https://github.com/mindsdb/mindsdb/projects/12

[2022-10-03 11:36] ameykaran commented on #2949
Hi @martyna-mindsdb. Can I take up this issue?

[2022-10-03 11:43] ZoranPandovski commented on #2938
Sure

[2022-10-03 11:49] ZoranPandovski commented on #2949
We are not assigning the `hacktoberfest` docs issues since they are closed very fast. Please just make a PR if there is not one already

[2022-10-03 12:02] tomhuds opened #3068 "[CUSTOMER REQUEST][Bug]: More intuitive join between horizon rows and input rows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/892c3cd95d7241fd87fc4366284c39b3

![image](https://user-images.githubusercontent.com/34073127/193572138-8e863593-d997-4598-bb5f-df4873fcc0a2.png)

### Expected Behavior

Join **each** horizon output row with either:
1) The row in the input data which has the same ti

[2022-10-03 12:05] #2264 closed

[2022-10-03 12:35] Sadeeed commented on #2327
I'd love to give this a try if it isn't currently being worked on.

[2022-10-03 13:28] tomhuds commented on #3068
Steps to reproduce: https://docs.google.com/document/d/1ALgh43Phd1AOT3Qr2eAXkbbQr27SjQRIZS6_y8VOVuI/edit

Explainer: https://docs.google.com/spreadsheets/d/1CSk4S3zrkFF7xeNhJMpttzWdtD1J29jPUK8VdoZFEWM/edit#gid=0

[2022-10-03 14:19] ZoranPandovski commented on #2327
Sure  @Sadeeed please check other integrations https://github.com/mindsdb/mindsdb/tree/staging/mindsdb/integrations/handlers and the docs https://docs.mindsdb.com/contribute/integrations/

[2022-10-03 14:28] ZoranPandovski commented on #3037
I am not sure if we have support or if we have tried HeidiSQL so far. It looks like they send some package that MindsDB SQL Server doesn't understand. If you like to help us please try to debug and see exactly where it fails :raised_hands:

[2022-10-03 16:26] ZoranPandovski opened #3073 "[Docs] Remove old `start mindsdb` gif"
**Describe the bug**
The `start mindsdb`  gif is from old docs so it should be removed from current documentation.

**Fix**
* Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/mindsdb-start.gif gif file.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :computer:  [Razer Bla

[2022-10-03 16:31] Rutam21 commented on #3073
@ZoranPandovski I would love to raise a PR for this.

[2022-10-03 18:24] Gokul-Ks opened #3076 "[New Integration]: Apache MXNet"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Apache MXNet is a deep learning framework designed for both efficiency and flexibility. It allows you to mix [symbolic and imperative programming](https://mxnet.apache.org/api/architecture/program_model) to maximize efficiency and productivity.

MXNet is portable and lightweight, scalable to many

[2022-10-03 19:11] Rutam21 opened #3078 "Remove AS {name} from the CREATE PREDICTOR command in VIEW Page under SQL API Section"
## What
Consider the query below.

[code]

1. Remove `AS rentals`
After the `SELECT` statement comes the `AS rentals` alias name for the selected dataset. This alias name was used in the past when MindsDB created a new data source for each such `SELECT` query. Currently, it is not in use.
Hence, the AS rentals alias name should be removed.

2. Remove `AS price`
After the `PREDICT` statement comes

[2022-10-03 19:11] Rutam21 opened #3079 "Remove AS {name} from the CREATE PREDICTOR command in Insurance Cost Tutorial Page under Community Tutorial Section"
## What
Consider the query below.

[code]

1. Remove `AS rentals`
After the `SELECT` statement comes the `AS rentals` alias name for the selected dataset. This alias name was used in the past when MindsDB created a new data source for each such `SELECT` query. Currently, it is not in use.
Hence, the AS rentals alias name should be removed.

2. Remove `AS price`
After the `PREDICT` statement comes

[2022-10-03 19:11] Rutam21 opened #3080 "Remove AS {name} from the CREATE PREDICTOR command in Process Quality Tutorial Page under Community Tutorial Section"
## What
Consider the query below.

[code]

1. Remove `AS rentals`
After the `SELECT` statement comes the `AS rentals` alias name for the selected dataset. This alias name was used in the past when MindsDB created a new data source for each such `SELECT` query. Currently, it is not in use.
Hence, the AS rentals alias name should be removed.

2. Remove `AS price`
After the `PREDICT` statement comes

[2022-10-03 19:12] Rutam21 opened #3081 "Remove AS {name} from the CREATE PREDICTOR command in Crop Recommendation Tutorial Page under Community Tutorial Section"
## What
Consider the query below.

[code]

1. Remove `AS rentals`
After the `SELECT` statement comes the `AS rentals` alias name for the selected dataset. This alias name was used in the past when MindsDB created a new data source for each such `SELECT` query. Currently, it is not in use.
Hence, the AS rentals alias name should be removed.

2. Remove `AS price`
After the `PREDICT` statement comes

[2022-10-03 19:20] Rutam21 commented on #2948
I have created the following sub-issues, which should resolve all the remaining pages on the Docs website.
- https://github.com/mindsdb/mindsdb/issues/3078
- https://github.com/mindsdb/mindsdb/issues/3079
- https://github.com/mindsdb/mindsdb/issues/3080
- https://github.com/mindsdb/mindsdb/issues/3081

Also, please add the appropriate labels to these issues i.e., `documentation`, `hacktoberfest`,

[2022-10-03 20:13] MichaelLantz commented on #3079
My apologies I PR'd before asking to be assigned. If it's not too late can you please assign it to me?

[2022-10-03 20:13] MichaelLantz commented on #3078
My apologies I PR'd before asking to be assigned. If it's not too late can you please assign it to me?

[2022-10-03 20:39] torrmal opened #3086 "MongoDB article update"
Dear all,

We have made a lot of improvements and progress to our MongoDB support, in that journey, this [MongoDB article](https://www.mongodb.com/blog/post/turning-mongodb-into-predictive-database) is a little outdated.

We are looking for a redo of the article, your name will be listed on the MongoDB page, which is also pretty cool.
if you decide to take this, we can give you access to the origi

[2022-10-03 21:06] MichaelLantz commented on #3081
I'm interested in being assigned this task as well, but want to give any other interested parties a chance at participating in Hacktobest.

[2022-10-03 21:34] adithyaakrishna commented on #3086
@torrmal Can I work on this?

[2022-10-04 02:53] Temidayo32 commented on #3086
@torrmal Great. Will love to work on this

[2022-10-04 03:56] bilal-aamer commented on #3086
@torrmal Interested to work on this!

[2022-10-04 04:04] bilal-aamer commented on #3081
Interested  to be assigned this task :) @Rutam21

[2022-10-04 04:13] bilal-aamer commented on #3081
Could you assign this to me? @Rutam21

[2022-10-04 04:29] bilal-aamer commented on #3081
Ready with the PR. Please assign

[2022-10-04 04:30] bilal-aamer commented on #3081
#self-assign

[2022-10-04 04:30] bilal-aamer commented on #3081
#take

[2022-10-04 06:48] Rutam21 commented on #3081
@bilal-aamer As you're the first to comment, the issue will be assigned to you. Kindly wait for @ZoranPandovski to do the assignment. Thanks.

[2022-10-04 06:50] Rutam21 commented on #3080
Thanks for asking for assignment here @MichaelLantz . Kindly wait for @ZoranPandovski to do the assignment.

[2022-10-04 06:50] Rutam21 commented on #3079
Thanks for asking for assignment here @MichaelLantz . Kindly wait for @ZoranPandovski to do the assignment.

[2022-10-04 06:50] Rutam21 commented on #3078
Thanks for asking for assignment here @MichaelLantz . Kindly wait for @ZoranPandovski to do the assignment.

[2022-10-04 07:00] ge-nome commented on #3086
@torrmal  kindly make me a part of this. I'm keenly interested

[2022-10-04 08:11] chandrevdw31 commented on #3080
Hey there was already a request from @martyna-mindsdb to have the alias' removed and @ArmanChand requested to take up the issue

[2022-10-04 08:14] ArmanChand commented on #3080
@chandrevdw31 , i was waiting for the issue to get it assigned to me

[2022-10-04 08:24] chandrevdw31 commented on #3080
@ArmanChand No worries I will have a chat with Zoran to assist

[2022-10-04 08:30] chandrevdw31 opened #3090 "Write tutorial on How To Build A New Integration"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Looking for Contributors to write a tutorial/blog on how to build a new integration in light of the recent integration competition. Contributor to make use of the documentation [Building a New Integration](https://docs.mindsdb.com/contribute/integrations/) and document a step-for-step guide using

[2022-10-04 08:31] chandrevdw31 commented on #3090
please add labels for documentation and hacktoberfest @martyna-mindsdb @ZoranPandovski

[2022-10-04 08:52] Temidayo32 opened #3091 "Mindsdb not compactible with Sequelize"
**Is your feature request related to a problem? Please describe.**
I am currently working as a contributor to this project creating documentation on how to use Mindsdb is various programming languages and frameworks. I am currently trying to use Mindsdb in node.js via the Sequelize ORM. Mindsdb is not able to execute ``SELECT 1+1 AS result``, a default sql statement triggered by Sequelize. So righ

[2022-10-04 11:50] #3078 closed

[2022-10-04 11:52] #3079 closed

[2022-10-04 12:10] bilal-aamer commented on #3081
@ZoranPandovski pls review the PR

[2022-10-04 13:00] MinuraPunchihewa commented on #2763
@ZoranPandovski I would like to take this up!

[2022-10-04 13:04] bettimax0 opened #3092 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Download the dataset from link: `xyz.com/data/train.csv`
2. Run the code: `...etc`
3. You should see the error: `... `

**Expected behavior**
A clear and concise description of what you expected to happen, if relevant to the bug.

**Additional context**
Add an

[2022-10-04 14:07] #3081 closed

[2022-10-04 14:09] ZoranPandovski commented on #3073
@Madhvik007 Feel fee to contribute to other issues https://github.com/mindsdb/mindsdb/projects/12

[2022-10-04 14:09] #3073 closed

[2022-10-04 14:15] #2947 closed

[2022-10-04 14:27] ZoranPandovski commented on #2948
Thanks @Rutam21

[2022-10-04 14:27] #3080 closed

[2022-10-04 14:35] MichaelLantz commented on #3090
Love this idea and think it'll be helpful for folks like me. I've contributed in the past but felt like I was stumbling.

[2022-10-04 14:36] ZoranPandovski commented on #3064
Awesome @victorian177, feel free to join our slack and we can discuss there

[2022-10-04 14:38] MichaelLantz commented on #2742
I'm going to take a stab at this.

[2022-10-04 14:45] ZoranPandovski commented on #3090
Awesome, @Temidayo32 feel free to share it here too so other people can help with the review :raised_hands:

[2022-10-04 14:47] ZoranPandovski commented on #3041
Can you please try:

[code]

[2022-10-04 15:18] ZoranPandovski opened #3095 "[Docs] Add community tutorials to the list"
**Describe the bug**

There are a lot of MindsDB tutorials written from the community on different platforms such as dev.to, hasnode, medium etc. We want to include them in the [Community Tutorials list](https://docs.mindsdb.com/tutorials/). Please just add one tutorial in each PR for a better review. The PR should have the title with a link and the author of the blog.

## :loudspeaker: Additional

[2022-10-04 15:20] DivvSaxena commented on #3095
Hey i want to contribute to this project.

[2022-10-04 15:31] Gokul-Ks commented on #3064
Good going @victorian177 , I'll join the Slack channel for joining the discussion on this issue

[2022-10-04 15:34] elenajp commented on #3095
Hi, I would love to contribute to this :)

[2022-10-04 15:38] martyna-mindsdb commented on #2947
@sanittawan
Let's focus on SQL commands and tables for now.
Thanks.

[2022-10-04 15:39] MichaelLantz commented on #3095
Shoutout to @chandrevdw31! Hope you're okay with me finding and adding your tutorial.

[2022-10-04 19:06] ZoranPandovski commented on #3095
Sure, just make a PR

[2022-10-04 19:51] yashjain1974 commented on #3095
Hello, I Wanted to Contribute  in this issue

[2022-10-04 19:55] Temidayo32 commented on #3090
@ZoranPandovski Got it. Will do that.

[2022-10-04 20:29] nehiljain commented on #2937
I would be interested in working on this. Can I pick this up?

[2022-10-04 20:33] nehiljain commented on #2818
I can stack hands and work with you on this @MinuraPunchihewa. let me know

[2022-10-05 06:49] bilal-aamer commented on #3090
@Temidayo32 Looking forward to it!

[2022-10-05 07:59] #3095 closed

[2022-10-05 08:32] StpMax opened #3115 "[BUG] Error if upload file with not valid symbol"
Here is example of such file: https://www.kaggle.com/datasets/fedesoriano/covid19-effect-on-liver-cancer-prediction-dataset?select=covid-liver.csv
Column `Type_of_incidental_finding` contains not valid symbols.

[2022-10-05 09:18] #3115 closed

[2022-10-05 11:31] StpMax opened #3125 "[BUG] Wrong columns order"
query result may contain column in order not like in initial query

[2022-10-05 12:15] ZoranPandovski commented on #2937
Sure @nehiljain if you have any questions let us know or join our Slack :raised_hands:

[2022-10-05 12:23] ZoranPandovski commented on #2818
That would be great @nehiljain, @MinuraPunchihewa maybe you can push the branch and @nehiljain can help you from there?

[2022-10-05 12:34] Rutam21 opened #3127 "Share your experience with MindsDB 💚 on Twitter"
# What
In this issue, you have to write about MindsDB on Twitter:

- One Twitter Thread

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on Twitter as well.

Twitter: https://twitter.com/MindsDB

#

[2022-10-05 12:40] Rutam21 opened #3128 "Share your experience with MindsDB 💚 on Facebook"
# What
In this issue, you have to write about us on Facebook:

- One Facebook Post

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on Facebook as well.

Facebook: https://www.facebook.com/MindsDB/

[2022-10-05 12:44] Rutam21 opened #3129 "Share your experience with MindsDB 💚 on LinkedIn"
# What
In this issue, you have to write about us on LinkedIn:

- One LinkedIn Post

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on LinkedIn as well.

LinkedIn: https://www.linkedin.com/company/m

[2022-10-05 13:06] Rutam21 commented on #3127
# This issue doesn't require any assignment.
Please don't tag anyone asking for an assignment on this issue. This is open to all. Simply follow the step to open your PRs.

[2022-10-05 13:06] Rutam21 commented on #3129
# This issue doesn't require any assignment.
Please don't tag anyone asking for an assignment on this issue. This is open to all. Simply follow the step to open your PRs.

[2022-10-05 13:07] Rutam21 commented on #3128
# This issue doesn't require any assignment.
Please don't tag anyone asking for an assignment on this issue. This is open to all. Simply follow the step to open your PRs.

[2022-10-05 14:24] martyna-mindsdb opened #3139 "Tutorial to Predict Purchasing Power per Country"
## Task Description
Create a predictor to predict the `purchasing_power_index` column per country based on the `cost_index` and `monthly_income` columns.

Use the `cost_of_living.csv` dataset available at https://www.kaggle.com/datasets/madhurpant/world-economic-data.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three: points and entry into the draw for a  :point_down: :

-

[2022-10-05 14:28] martyna-mindsdb opened #3140 "Tutorial to Predict Mobile Phone Price"
## Task Description
Create a predictor to predict the mobile phone price based on its technical specification.

Use the `train.csv` dataset available at https://www.kaggle.com/datasets/iabhishekofficial/mobile-price-classification.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop]

[2022-10-05 15:00] ArmanChand commented on #3140
@martyna-mindsdb , please assign it to me. I want to work on it

[2022-10-05 15:33] sujalgarg17 commented on #3127
Please assign me this issue

[2022-10-05 15:35] bilal-aamer commented on #3127
@sujalgarg17 Please read the messages before asking. The author clearly said this is open to all and there's no assignment.

[2022-10-05 16:53] victorian177 commented on #3064
@Gokul-Ks Have you used Kinetica before?
If you have, it would greatly help reduce my Kinetica onboarding process if you could guide me through it.
Also, could you drop your Slack username, so we could continue there?

[2022-10-05 18:29] #2991 closed

[2022-10-06 06:43] vedant-z commented on #3086
@torrmal  Interested to work on this!

[2022-10-06 07:05] martyna-mindsdb opened #3151 "Tutorial to Predict Bitcoin Price"

[2022-10-06 07:09] martyna-mindsdb opened #3152 "Tutorial to Predict Selling Prices of Cars"
## Task Description
Create a predictor to predict the selling prices of cars ordered by year and grouped by car name.

Use the `car data.csv` dataset available at https://www.kaggle.com/datasets/vijayaadithyanvg/car-price-predictionused-cars.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade

[2022-10-06 07:13] martyna-mindsdb opened #3153 "Tutorial to Predict Poker Hand Strength"
## Task Description
Create a predictor to determine poker hand strength based on the suits and ranks of all five cards.

Use the `poker-hand-training.csv` dataset available at https://www.kaggle.com/datasets/hosseinah1/poker-game-dataset.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15

[2022-10-06 07:22] Rutam21 commented on #2687
I will continue working on it and complete it for Hacktoberfest. You can assign it back to me @ZoranPandovski

[2022-10-06 07:28] Rutam21 commented on #3152
@martyna-mindsdb I have already worked on this one here-
https://tealfeed.com/predicting-used-car-prices-using-mindsdb-idzuc
So, I believe I can tweak this out and add the ORDER BY and GROUP BY statements and train a new predictor.

[2022-10-06 08:59] Bhavya-Hingorani commented on #2702
Hello I would like to take this issue for Hacktoberfest'22. Please assign me.

[2022-10-06 10:32] bilal-aamer commented on #3152
Can I be assigned for this @martyna-mindsdb

[2022-10-06 11:36] ZoranPandovski opened #3156 "[Docs] Remove old mindsdb logo"
**Describe the bug**
We need to clean up the docs assets with old logos. Please remove the `mdb_logo_w2.svg` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/mdb_logo_w2.svg file from mindsdb docs.

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :computer:  [Razer Blade 15 Laptop](https://www.razer.c

[2022-10-06 12:09] teach4hrs commented on #3086
interested to workk on this

[2022-10-06 14:01] ZoranPandovski commented on #3090
@teach4hrs Please check other tutorials, @Temidayo32 is on this one.

[2022-10-06 14:23] bilal-aamer commented on #3156
@ZoranPandovski Could you assign this to me
:)

[2022-10-06 14:31] Pipboyguy commented on #3152
@ZoranPandovski not sure how to do the CLA check? I've posted the required comment in the pull request chat

[2022-10-06 14:42] kmartin62 commented on #3156
I can take this as well.

[2022-10-06 16:19] ZoranPandovski commented on #3156
Sorry, this was done. We will post more issues soon

[2022-10-06 16:21] ZoranPandovski opened #3162 "[Docs] Remove old start config gif"
**Describe the bug**
We need to clean up the docs assets with old gifs. Please remove the `start config.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/start-config.gif from mindsdb docs.

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :computer:  [Razer Blade 15 Laptop](https://www.razer.

[2022-10-06 16:24] XoMute commented on #3162
Hi @ZoranPandovski
I'd like to work on this issue

[2022-10-06 16:29] Dhravya opened #3163 "[New Integration]: A fun quiz web app, which can always predict the answer!"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

There's no practical use-case, apart from being really fun and entertaining.

The idea is, this web app will ask silly and funny questions.

Example of question:
What do you do when your code doesn't work?
- Debug and find out the problem
- Copy+paste the error message to stackoverflow
- Destroy

[2022-10-06 17:15] aryankaushik-git commented on #3086
Looking forward to this!

[2022-10-06 19:23] KlausMikhaelson commented on #3163
Hey @Dhravya would like work on this !, can you assign this to me ?

[2022-10-06 19:31] Dhravya commented on #3163
Hey there! This is actually an idea submission, I'm not a maintainer for this project, the idea is for the hackathon

And I'm already working on this project so maybe we can team up?

[2022-10-06 20:06] ZoranPandovski opened #3167 "[New Integration]: Integration to Lindorm"
Build an integration into the Lindorm database from Alibaba: https://www.alibabacloud.com/blog/lindorm-alibaba-clouds-newest-cloud-native-multi-model-database_596269.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :five: : points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](https://www.razer.com/hard-bundles/Razer-Blade-15-Bundle-V5-Ess

[2022-10-06 22:48] mateuseap commented on #3127
That's a great initiative, this open the doors to a lot of newcomers in open source! Keep it up guys :)

[2022-10-07 02:52] KlausMikhaelson commented on #3163
Oooo my bad, yeah sure !

[2022-10-07 03:08] OyaleSalami opened #3170 "[New Integration]: Integration with Keras"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Keras, the python deep learning API
![logo](https://user-images.githubusercontent.com/38400062/194459181-ceae66c2-a72b-4b01-81a2-9f00d0ca6a4c.png)

* Keras can run on the GPU and the CPU.
* It is pretty fast and accurate.
* It is easy to implement and also to bring in existing models.
* It has a

[2022-10-07 03:39] dhruv-porwal opened #3172 "Added a new tutorial."

[2022-10-07 05:19] BismeetSingh commented on #2323
Hi, I would like to work  on this issue, can you assign this to me ? Pretty sure I would need some help, but also sure that I can do it.

[2022-10-07 05:19] BismeetSingh commented on #2323
Hi, I would like to work  on this issue, can you assign this to me ? Pretty sure I would need some help, but also sure that I can do it.

[2022-10-07 07:40] martyna-mindsdb opened #3178 "Tutorial to Predict Salaries"
## Task Description
Create a predictor to predict salaries for employees based on their qualifications, industry, and job type.

Use the `batch2_jobID_00B80TR.csv` dataset available at https://www.kaggle.com/datasets/mukeshmanral/employ-earnings-data.

[2022-10-07 07:42] martyna-mindsdb opened #3179 "Tutorial to Predict the Type of Glass"
## Task Description
Create a predictor to predict the type of glass based on its refractive index and the elements it contains.

Use the `glass.csv` dataset available at https://www.kaggle.com/datasets/danushkumarv/glass-identification-data-set.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Bl

[2022-10-07 07:44] martyna-mindsdb opened #3180 "Tutorial to Predict the Rating of Cars"

[2022-10-07 08:11] botketan commented on #3179
Does a linear regression work for this?

[2022-10-07 08:13] botketan commented on #3179
Or would you prefer a random forest?

[2022-10-07 08:32] martyna-mindsdb commented on #3179
It is a classification prediction. Please see an [example here](https://docs.mindsdb.com/sql/tutorials/customer-churn/).

You use the `Id`, `RI`, `Na`, `Mg`, `Al`, `Si`, `K`, `Ca`, `Ba`, and `Fe` columns as features, and the `Type_of_glass` column value is to be predicted.

[2022-10-07 08:35] botketan commented on #3179
Oh okay got it

[2022-10-07 08:38] martyna-mindsdb commented on #3179
@botketan
Please let me know if you are working on it. So I will assign you.

[2022-10-07 08:39] botketan commented on #3179
Yess i will be working on this please assign me this. Also can i upload a juptyer notebook for this?

[2022-10-07 09:20] #3172 closed

[2022-10-07 09:26] botketan commented on #3179
@martyna-mindsdb Can you please tell me where to upload my file as in which folder?

[2022-10-07 09:36] dev-divyansh commented on #3178
@martyna-mindsdb @ZoranPandovski
Please assign this task to me ,
I would love to work on it ..

[2022-10-07 10:35] ea-rus commented on #2981
https://github.com/mindsdb/mindsdb/pull/3126

[2022-10-07 10:54] kmartin62 commented on #3180
Hey, I'd like to try to do this! However, I need more clarification: do I need to just run the queries via MindsDB SQL Editor and then create a kind of a documentation like `home-rentals.md`?

[2022-10-07 10:54] ZoranPandovski commented on #3179
You are already assigned @botketan

[2022-10-07 10:59] botketan commented on #3179
Yes I Know I am asking where you need me to upload the code as I am done with my code. Specifically in which folder in mindsb

[2022-10-07 11:03] StarTrooper08 commented on #3180
Hello, can I work on this issue?

[2022-10-07 11:39] ZoranPandovski commented on #3179
This is for a tutorial, so you post it whenever you want as dev.to, medium, your personal blog etc. Then you just add that to he list of community tutorials

[2022-10-07 12:55] #3125 closed

[2022-10-07 13:06] Enforcer007 opened #3181 "[New Integration]: Support Parquet Files"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

This file handler extension helps in reading parquet files, the popular columnar storage format.

Currently, only excel, csv, json files are supported: https://github.com/mindsdb/mindsdb/blob/36622a69bc143edc7a19601a8f3ccf43929e670b/mindsdb/integrations/handlers/file_handler/file_handler.py#L138-

[2022-10-07 13:19] akhildevelops opened #3182 "[New Integration]: Spacy NLP Framework"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Spacy framework solves working on Textual Data. It helps to solve many of the NLP Use cases such as: Entities extraction, Text Similarity, Intent detection, etc..,.

### Motivation

It's a framework with batteries i.e, it contains modules for feature engineering, training, prediction etc.,. Out o

[2022-10-07 13:23] Enforcer007 commented on #3181
I would like to work on this. Lemme know ?

[2022-10-07 13:23] Enforcer007 commented on #3182
I would like to work on this. Lemme know ?

[2022-10-07 14:27] ZoranPandovski commented on #3182
Awesome

[2022-10-07 15:00] ZoranPandovski opened #3183 "[Docs] Remove old tutorials assets"
**Describe the bug**
We need to clean up the docs tutorials assets. Please remove the `Selection_002.png` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/sql/tutorials/Mushrooms/Selection_002.png from mindsdb docs.

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :computer:  [Razer Blade 15 Laptop](h

[2022-10-07 15:07] ayushthe1 commented on #3183
Hey ,I would like to solve this issue

[2022-10-07 15:13] ZoranPandovski opened #3184 "[DOCS] Order the navigation menu items"
We need to order the menu items under the `Connect to MindsDB` alphabetically.
![Screenshot from 2022-10-07 17-11-16](https://user-images.githubusercontent.com/7192539/194587135-69f0338b-4418-422c-bdf0-63188027e89f.png)

:mega: Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :computer:  [Razer Blade 15 Laptop](https://www.razer.com/hard-bundles/Razer-Bla

[2022-10-07 15:22] ZoranPandovski opened #3185 "[Docs] Add SAP Hana Handler info to the CREATE DATABASE docs"
We need to include the `CREATE DATABASE` statement in the docs for the Hana Handler. You can find all of the required info in the README https://github.com/mindsdb/mindsdb/tree/staging/mindsdb/integrations/handlers/hana_handler#sap-hana-handler. The new syntax should be added to https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/sql/create/databases.md

:mega: Each documentatio

[2022-10-07 15:24] issac5693 commented on #3185
I would really appreciate it if you assign this to me

[2022-10-07 15:29] RohitShah1706 commented on #3184
Hey I can help to order them...

[2022-10-07 16:13] aryankaushik-git commented on #3129
Would Love to work on this
Kindly assign me this issue

[2022-10-07 16:14] aryankaushik-git commented on #3128
Would Love to work on this
Kindly assign me this issue

[2022-10-07 16:47] The-Ali02 commented on #3086
Is it done by someone?
Or can I still grab it.

[2022-10-07 16:53] aryankaushik-git commented on #3086
This is under process, will get update regarding the same, soon.

[2022-10-07 17:04] Rutam21 commented on #3139
@The-Ali02 The issue is already assigned to me and I am writing about it. Rather than just writing on the same topic, I suggest you should pick up another topic, create an issue for that and work on that. Thanks.

[2022-10-07 18:53] ZoranPandovski commented on #3167
Sure

[2022-10-07 21:09] #3129 closed

[2022-10-07 21:10] #3127 closed

[2022-10-07 22:28] #3128 closed

[2022-10-08 02:22] SattyamSamania commented on #3184
Hey @ZoranPandovski if this issue is still open can I work on this?

[2022-10-08 02:25] SattyamSamania commented on #3162
Hey @ZoranPandovski I can help you in this issue. please assign this to me if the issue is still open.

[2022-10-08 02:38] rfsiten commented on #2377
I will work on this, thank you.

[2022-10-08 06:26] BismeetSingh commented on #2323
I think I need some directions getting started with this one. I did try to run the tests but they fail because of some pytest issues.

[2022-10-08 09:12] #3183 closed

[2022-10-08 09:13] #3179 closed

[2022-10-08 09:16] Lagstill commented on #3178
@martyna-mindsdb @ZoranPandovski
Please assign this task to me as well ,
I would also like to contribute  ..

[2022-10-08 09:21] ZoranPandovski opened #3196 "[Docs] Remove old datasources assets (clickhouse-ds.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `clickhouse.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/clickhouse-ds.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :

[2022-10-08 09:22] arpitbhardwaj commented on #3196
I would like to pick this up.

[2022-10-08 09:27] Tes-program commented on #3153
Done
You can read on Medium [here](https://teslimodus.medium.com/predicting-poker-hand-strength-with-mindsdb-d541c73009a2)

[2022-10-08 09:28] Tes-program commented on #3153
I will make a pull request adding this to the tutorial.md. Is that fine?

[2022-10-08 09:31] arpitbhardwaj commented on #3196
@ZoranPandovski I have opened the PR for this change. Kindly review and provide your approval.

[2022-10-08 10:04] soma2000-lang commented on #3170
@ZoranPandovski  I want to work on this issue.Please assign me this

[2022-10-08 10:19] martyna-mindsdb opened #3199 "Tutorial to Predict the Genre of Books"
## Task Description
Create a predictor to predict the genre of books based on the titles and descriptions.

Use the `data.csv` dataset available at https://www.kaggle.com/datasets/athu1105/book-genre-prediction.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](https://www.razer.c

[2022-10-08 10:20] martyna-mindsdb opened #3200 "Tutorial to Predict the Energy Usage"

[2022-10-08 10:22] martyna-mindsdb opened #3201 "Tutorial to Predict Gold Prices"
## Task Description
Create a predictor to predict gold prices based on historical data.

Use the `gold_price_data.csv` dataset available at https://www.kaggle.com/datasets/arashnic/learn-time-series-forecasting-from-gold-price.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](htt

[2022-10-08 10:32] martyna-mindsdb commented on #3178
@Lagstill
This tutorial is already assigned.
Please have a look at the Hacktober issues posted [here](https://github.com/mindsdb/mindsdb/issues).

[2022-10-08 10:34] zahyaah commented on #3196
Hi @ZoranPandovski
I removed the GIF from the mentioned directory.

[2022-10-08 10:42] ZoranPandovski commented on #3196
Recheckcla

[2022-10-08 12:50] ADITYADAS1999 commented on #3201
/assign

[2022-10-08 13:07] Pritish-Sinha commented on #3200
I would like to work on this tutorial. Can you please assign me this assignment.

[2022-10-08 13:07] Pritish-Sinha commented on #3201
I would like to work on this tutorial. Can you please assign me this assignment?

[2022-10-08 13:08] f2010126 commented on #3199
Hi,
I would like to work on this tutorial. Can you please assign it to me? :)
Best,
Dipti

[2022-10-08 13:14] #3196 closed

[2022-10-08 13:18] ZoranPandovski commented on #3178
@Lagstill Multiple people can write different tutorials, just find an interesting dataset that you want to use, write the tutorial and make a PR

[2022-10-08 13:19] #3185 closed

[2022-10-08 13:26] ZoranPandovski commented on #3200
@Pritish-Sinha Since you are already assigned to one, please finish that one and then we will assign another one

[2022-10-08 13:27] ZoranPandovski commented on #3153
Thanks, @Tes-program looks great. Yes, just add it to the list

[2022-10-08 13:28] #3184 closed

[2022-10-08 13:29] ZoranPandovski commented on #3184
This was resolved, please check https://github.com/mindsdb/mindsdb/projects/12

[2022-10-08 13:57] ayushthe1 commented on #3200
hey ,i would like to solve this issue . Please assign this to me

[2022-10-08 14:30] #3153 closed

[2022-10-08 14:35] ZoranPandovski opened #3205 "[Docs] Remove old datasources assets (clickhouse-select.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `clickhouse-select.gif` file

**Fix**

1. Deletehttps://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/clickhouse-select.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :poi

[2022-10-08 14:36] zahyaah commented on #3205
I would like to work on this issue.

[2022-10-08 14:55] NkemDev commented on #3180
Hello, can I please be assigned to also work on this issue? Thank you.

[2022-10-08 14:55] akhildevelops opened #3208 "upload Json, Excel files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I cannot upload json / excel file into mindsdb.

### Describe the solution you'd like.

Mindsdb backend's filehandler can process excel and json file formats. Therefore, UI can accept these file formats.

Currently it blocks all files except CSV.

[2022-10-08 15:01] ZoranPandovski opened #3209 "[Docs] Fix typo in Mongo shell docs"
Fix the `connectiong` typo in https://github.com/mindsdb/mindsdb/blob/8e312c05f6aeec338877788c8f2691c4d1ad794c/docs/mindsdb-docs/docs/connect/mongo-shell.md#mindsdb-and-mongodb-shell

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :computer:  [Razer Blade 15 Laptop](https://www.razer.com/hard-bundles/Razer-B

[2022-10-08 15:04] sculley commented on #3209
Hello, can I be assigned this issue please.

[2022-10-08 15:46] talkshrey commented on #3208
Would it be nice if you were able to upload the excel file and it would automatically get converted to CSV file?

[2022-10-08 15:51] bachng2017 opened #3213 "[Bug]: wrong data join data in time-series"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when add data field to JOIN query in house sale tutorial, the output is not correct.
For example, with window=4/horizon=2, the result was
1) no where condition, (*) is wrong result
[code]

2) =LATEST, `saledate` is fine
[code]

### Expected Behavior

expect result
1) without condition
[code]

[2022-10-08 16:10] paxcema commented on #2377
Nice! Please refer to [this PR](https://github.com/mindsdb/mindsdb/pull/3155) for an updated example of an ML engine implementation.

[2022-10-08 16:26] talkshrey commented on #3200
Hey, can I also be assigned to this issue?

[2022-10-08 16:56] Enforcer007 commented on #3208
If the excel has only one sheet then yes. If it has multiple sheets then there should be a mechanism to select the appropriate ones.

It should be work similar to [pandas.read_excel](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) where we can give the sheet name and then process the file.

[2022-10-08 17:15] Temidayo32 opened #3216 "Create a tutorial for Using Mindsdb in Java"
This tutorial provides a getting started guide for using Mindsdb in Java.

Please @ZoranPandovski please label this an Hacktoberfest issue

[2022-10-08 17:15] NkemDev commented on #3140
Can you assign me to this please. Thank you

[2022-10-08 17:18] dhaneshragu commented on #3180
Hey can I work on this issue? Pls assign me to this

[2022-10-08 17:41] ZoranPandovski opened #3217 "[Docs] Remove the default user for local Mongo API connection"
By default, the local setup of MindsDB Mongo API doesn't have Username/Password authentication enabled so the `mindsdb` user should be removed from the `Self-Hosted Local Deployment` command and just leave the host and port as:

[code]
Doc page https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/connect/mongo-shell.md#how-to-connect

## :loudspeaker: Additional rewards :trophy:

[2022-10-08 17:42] martyna-mindsdb commented on #3200
@talkshrey
This tutorial is already assigned.
Please have a look at the [Hacktoberfest issues here](https://github.com/mindsdb/mindsdb/issues) or come up with a tutorial you would like to create. Thanks.

[2022-10-08 17:42] martyna-mindsdb commented on #3140
@NkemDev
This tutorial is already assigned.
Please have a look at the [Hacktoberfest issues here](https://github.com/mindsdb/mindsdb/issues) or come up with a tutorial you would like to create. Thanks.

[2022-10-08 17:44] martyna-mindsdb commented on #3180
This tutorial is already assigned.
Please have a look at the [Hacktoberfest issues here](https://github.com/mindsdb/mindsdb/issues) or come up with a tutorial you would like to create. Thanks.

[2022-10-08 18:02] dhaneshragu commented on #3180
Where do I come up with a tutorial I would like to create?

[2022-10-08 18:24] ZoranPandovski opened #3219 "[Tutorial] Publish new tutorial `Predict Gold Prices using MindsDB and MongoDB`"
## Task Description

Create a predictor to predict gold prices based on historical data.

1. Upload the `gold_price_data.csv` dataset available at https://www.kaggle.com/datasets/arashnic/learn-time-series-forecasting-from-gold-price to your Mongo database.
2. [Connect to MindsDBs Mongo API](https://docs.mindsdb.com/connect/mongo-shell/)
3. [Create integration between Mongo and Mindsdb ](https://d

[2022-10-08 18:29] ZoranPandovski opened #3220 "[Tutorial] Publish new tutorials using MindsDB and MongoDB :male_detective: :female_detective:"
## Task Description

Write a tutorial about MindsDB and MongoDB and publish it on your favorite blogging platform. Then, add a link to it in MindsDB community-supported docs. You can find a lot of interesting datasets that cover different use cases on sites such as Google Dataset Search, Kaggle, Data.Gov, Datahub.io, UCI Machine Learning Repository, GitHub awesome datasets repositories etc.

1. Up

[2022-10-08 19:05] yagueto commented on #3219
Hi! I'd like to have a go with this issue. Can you please assign it to me?

[2022-10-08 19:21] Rutam21 opened #3224 "[Manual QA] Test Postgres Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Postgres Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-08 19:25] Rutam21 opened #3226 "[Manual QA] Test MySQL Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the MySQL Handler.

- ### CREATE DATABSE
This confirms that you are able to connect your Database. Please attach a scr

[2022-10-08 19:28] Rutam21 opened #3227 "[Manual QA] Test MariaDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the MariaDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-08 19:30] Rutam21 opened #3228 "[Manual QA] Test MongoDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the MongoDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-08 19:32] Rutam21 opened #3229 "[Manual QA] Test Oracle Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Oracle Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a s

[2022-10-08 20:17] martyna-mindsdb commented on #3180
@dhaneshragu
You can look up the [datasets available at Kaggle](https://www.kaggle.com/datasets) to get some ideas for a tutorial.

[2022-10-08 21:10] f2010126 commented on #3199
Hi @ZoranPandovski ,
I've added the tutorial. Would you please review it and let me know if any changes are needed?
Thanks!
Best :)
Dipti

[2022-10-08 21:25] bispaul commented on #3224
Hi @ZoranPandovski assign it to me.

[2022-10-08 22:37] Temidayo32 opened #3233 "[Bug]: Clean up of Integration test code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The current state of the tests written for handlers contain functions that are not defined in the handlers. This has meant that most of the tests are failing to run.

On a hand, this might just mean a clean of the tests to remove these un-defined functions. On a second hand, this might, on fu

[2022-10-09 00:19] f2010126 commented on #3220
Hi @ZoranPandovski , I'd like to do this tutorial. Would you please assign it to me? :)

Best,
Dipti

[2022-10-09 01:05] bachng2017 commented on #2981
it seems with the latest code (staging) the issue remains

expect the column order is: `saledate, date, ma, forecast`
[code]

[2022-10-09 01:29] bachng2017 opened #3234 "[Bug]: inconsistent result for timeseries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Run the house-sale tutorial (window=4/horizon=2). The predict results are not inconsistent for WHERE conditions
1) without WHERE conditions. Every date b/w `2007-09-30` and `2019-03-01` get the same prediction. Is that correct ?
[code]

2) "=LATEST" , `2019-09-30` is different from above, whi

[2022-10-09 02:26] BismeetSingh commented on #2323
I ran this sql CREATE DATABASE example_db
WITH ENGINE = "postgres",
PARAMETERS = {
    "user": "demo_user",
    "password": "demo_password",
    "host": "3.220.66.106",
    "port": "5432",
    "database": "demo"
    }; and I was expecting it to hit the querying logic inside the postgres_handler. But it doesn't do so. I am not sure how this works.

[2022-10-09 02:50] rexdivakar commented on #3228
Hey @ZoranPandovski i would like to work on this, kindly assign it to me!

[2022-10-09 02:52] rexdivakar commented on #3227
Hey @ZoranPandovski i would like to work on this, kindly assign it to me!

[2022-10-09 07:00] aadii0408 commented on #3086
@torrmal Nice, Will like to work on this.

[2022-10-09 07:10] bala-ceg commented on #3220
Hi @ZoranPandovski, I would like to work on this issue. can you please assign it to me?

[2022-10-09 07:26] ArmanChand commented on #3140
HI @NkemDev ,
I am already working on this. Thanks, @martyna-mindsdb for the clarification

[2022-10-09 07:35] Tes-program commented on #3220
Anyone can write tutorials on it

[2022-10-09 07:42] h1t35h commented on #2425
Hey,
I'm interested in this. Can I pick it up? It would be helpful if you can add some context as well.

[2022-10-09 08:38] akhildevelops opened #3239 "[Bug]: Github actions fail connecting to external DB server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

CICD run is failing to create ssh tunnel on port `5005` to the server `ubuntu@3.220.66.106`.

The secret key stored in [`~/.ssh/db_machine` is in invalid format](https://github.com/mindsdb/mindsdb/actions/runs/3211515319/jobs/5249738710#step:7:179)

Please review the `DB_MACHINE_KEY` secret s

[2022-10-09 09:02] prathikshetty2002 commented on #3226
Hi @ZoranPandovski pls assign it to me i would like to test it for the Weather Forecasting dataset

[2022-10-09 10:45] EshaanAgg commented on #3228
Hey @ZoranPandovski! I would like to work on this issue as well. I would like to test it with the Titanic dataset.

[2022-10-09 11:04] EshaanAgg commented on #3226
Hey! I would like to work on this issue as well. I would like to test it with the Titanic dataset.

[2022-10-09 12:24] ZoranPandovski commented on #3227
Please check the description, we are not assigning this issues. Multiple people can work on it :raised_hands:

[2022-10-09 12:24] ZoranPandovski commented on #3226
@EshaanAgg sure let's do that :) @prathikshetty2002 Please check the description, we are not assigning this issues. Multiple people can work on it :raised_hands:

[2022-10-09 12:25] ZoranPandovski commented on #3224
@bispaul Please check the description, we are not assigning this issues. Multiple people can work on it :raised_hands:

[2022-10-09 12:27] chaitanya710 commented on #2741
Hello. I would like to contribute for this.

[2022-10-09 12:27] ZoranPandovski commented on #3086
Hey everyone, please check this issue as a good starting point https://github.com/mindsdb/mindsdb/issues/3220

[2022-10-09 12:29] ZoranPandovski commented on #2741
Sure @chaitanya710

[2022-10-09 12:42] prathikshetty2002 commented on #3226
@ZoranPandovski oh that's great. People can test on unique data sets awesome 💯

[2022-10-09 12:48] #3216 closed

[2022-10-09 12:53] ZoranPandovski opened #3242 "[Docs] Remove old datasources assets (mssql.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mssql.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/mssql.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :computer

[2022-10-09 12:56] Rutam21 opened #3243 "[Manual QA] Test Microsoft Access Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Microsoft Access Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please

[2022-10-09 12:59] Rutam21 opened #3244 "[Manual QA] Test Airtable Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Airtable Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-09 13:00] Rutam21 opened #3245 "[Manual QA] Test Google BigQuery Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Google BigQuery Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please a

[2022-10-09 13:02] Rutam21 opened #3246 "[Manual QA] Test Cassandra Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Cassandra Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach

[2022-10-09 13:03] Rutam21 opened #3248 "[Manual QA] Test CKAN Integration Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the CKAN Integration Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please

[2022-10-09 14:32] f2010126 commented on #3199
I have read the CLA Document and I hereby sign the CLA

[2022-10-09 14:33] StarTrooper08 commented on #3180
hello @martyna-mindsdb, in which format can I submit the tutorial for this predicting rating car using mindsdb?
Article or video?

[2022-10-09 16:18] Rutam21 opened #3250 "[Manual QA] Test Clickhouse Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Clickhouse Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach

[2022-10-09 16:20] Rutam21 opened #3251 "[Manual QA] Test CockroachDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the CockroachDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attac

[2022-10-09 16:21] Rutam21 opened #3252 "[Manual QA] Test Couchbase Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Couchbase Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach

[2022-10-09 16:22] martyna-mindsdb commented on #3180
Hi @StarTrooper08,
Any format is welcome. Usually, our tutorials are articles.

[2022-10-09 16:23] Rutam21 opened #3253 "[Manual QA] Test CrateDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the CrateDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-09 16:24] Rutam21 opened #3254 "[Manual QA] Test DoIt Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the DoIt Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a scr

[2022-10-09 17:57] alissatroiano commented on #3201
Can only one person work on these if assigned?

[2022-10-09 18:13] alissatroiano commented on #3220
Thanks for mentioning this! @ZoranPandovski

[2022-10-09 19:10] #3199 closed

[2022-10-09 19:15] ZoranPandovski commented on #3201
Nope, feel free to add your own tutorial

[2022-10-09 19:18] Rutam21 commented on #2646
@paxcema I have tried training a model with the above syntax and it worked. But I would still like to know what was causing the issues and how it got solved with this syntax. And apologies for such delayed response.

[2022-10-09 19:19] ZoranPandovski opened #3258 "[Docs] Remove old datasources assets (postgresql-ds.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `postgresql-ds.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/postgresql-ds.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down

[2022-10-09 19:30] ramonsaraiva commented on #3258
I can pick this one up!

[2022-10-09 19:35] ramonsaraiva commented on #3258
I guess @Rutam21 can too! :-) Please don't assign this issue to me.

[2022-10-09 20:14] Rutam21 commented on #3258
Sorry @ramonsaraiva. I probably missed your comment and raised the PR as this is a minor fix only. I would suggest you pick up something from the `good first issue` tickets that are available. They should be pretty simple to do as well. Happy Contributing 💚

[2022-10-09 20:30] EZFRICA commented on #2425
Hi
Yes, you can.
**Context**
In the configuration file we have below the **storage_dir** parameter is used to configure the file storage directory for [mindsdb](https://docs.mindsdb.com/setup/self-hosted/docker/) on the host machine.

1. The main objective here is to be able to store files on other spaces (AWS S3, Google Cloud Storage, ...) different from the host [mindsdb](https://docs.mindsdb.co

[2022-10-09 20:31] ramonsaraiva commented on #3258
No problem at all @Rutam21.

[2022-10-09 21:37] Rutam21 commented on #3258
@ZoranPandovski You can assign it to me and then close the issue once my PR is merged. Thanks

[2022-10-09 23:43] tawahpeggy commented on #3162
Hello @ZoranPandovski, if @XoMute isn't working on this, please assign it to me.

[2022-10-10 02:20] MinuraPunchihewa commented on #2858
Hey @ZoranPandovski, can I take this up as part of Hacktoberfest?

[2022-10-10 06:23] fMurugi commented on #3226
Hi i need help i ran into an server error while trying to create a database on mindsdb editor

[2022-10-10 06:25] prathikshetty2002 commented on #3226
Was it an internal server error?

[2022-10-10 06:42] fMurugi commented on #3226
Yes

[2022-10-10 10:02] tomhuds opened #3267 "[Bug]: Cloud GUI runs the wrong query when using SHIFT+Enter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/2792efb7d08e4197b4e981750546bab4

Clicking the button seems to run the correct query

### Expected Behavior

Highlighted query runs when pressing SHIFT+Enter

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-10-10 10:18] tomhuds opened #3268 "[Bug]: Snowflake - Case sensitivity error message"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/cb522462aefa4c49888d58a98ddb02bd

Predictor is 'complete' but has this error message:

`KeyError: ['ma'], raised at: /usr/local/lib/python3.8/dist-packages/mindsdb/integrations/handlers/lightwood_handler/lightwood_handler/functions.py#137`

It seems this is due to t

[2022-10-10 10:33] StpMax opened #3269 "[BUG] Snowflake - wrong escape symbol"
**Describe the bug**
at the moment instead of " mindsdb use `

[2022-10-10 10:48] tomhuds commented on #3268
Problem making predictions: https://www.loom.com/share/3e8b54aa68594c3e84ede9fee9b9104a

[2022-10-10 10:51] #3269 closed

[2022-10-10 10:55] tomhuds commented on #3268
Predictor stuck generating: https://www.loom.com/share/6fdccfefab5a4852be6d1772669329a7

[2022-10-10 11:05] aadityasinha-dotcom commented on #3254
Hey can I work on this issue?

[2022-10-10 11:28] paxcema commented on #2646
I think there may be an issue within the `Regression` mixer in this case, which is what the syntax above filters out. We'll post an issue in `Lightwood` asking for help to thoroughly test the mixer and check for potential bugs. We can continue further discussion there.

[2022-10-10 11:28] #2646 closed

[2022-10-10 11:32] tomhuds opened #3271 "Indicator on alpha and cloud that it is currently down/restarting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

When I am on the GUI, sometimes my queries do not go through because alpha/cloud is down.

### Describe the solution you'd like.

It would be great to be notified of this, either:
- with a banner at the top
- or a useful error message

### Describ

[2022-10-10 11:36] chaitanya710 commented on #2328
@ZoranPandovski, I am trying to work on this, can you please assign it to me?

[2022-10-10 11:42] h1t35h commented on #2425
Thanks that helps,
I do have bunch of follow up questions though each one is as follows. These would help in taking a better call as to how to refactor the changes.

The current `storage_dir` seems to be passed around as root across the code base which implies there are direct indirect dependencies on assumption that bunch of things are locally available. As you are the maintainer I want to unders

[2022-10-10 12:32] riadhlaabidi commented on #3162
@ZoranPandovski  the file is not found in the staging branch!

[2022-10-10 13:10] ea-rus commented on #2454
Installed on cloud

[2022-10-10 13:12] ArmanChand opened #3273 "[New Integration]: Integration for open-source No-SQL Database : Aerospike"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

![logo-launchpad-400x198](https://user-images.githubusercontent.com/26898623/194872595-ad64d726-5a37-4d5f-a665-3313a5c354bf.png)

Aerospike is an open source distributed database. Aerospike is built on a "shared nothing" architecture designed to reliably store terabytes of data with automatic fai

[2022-10-10 13:15] ea-rus commented on #2591
installed on cloud:
docs:

[2022-10-10 13:27] Rutam21 opened #3274 "[New Integration]: Integration with RethinkDB🐧"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

![rethinkdb-logo](https://user-images.githubusercontent.com/47860497/194875428-55ef4106-7c17-4593-bd91-9769b9b8d248.png)

RethinkDB is the first open-source, scalable JSON database built from the ground up for the realtime web. It inverts the traditional database architecture by exposing an excit

[2022-10-10 13:56] chandrevdw31 opened #3277 "[Tutorial]: Predict Water Quality :potable_water:"
### Task Description

Write tutorial on how to create a classification predictor to predict the potability of water based on historical data.

Use the dataset `water_potability.csv` available at https://www.kaggle.com/datasets/adityakadiwal/water-potability.

**Tutorial should include:**

- Very short description on how MindsDB can assist with predicting water quality
- Either connecting database

[2022-10-10 13:57] Moddy2024 commented on #3140
@martyna-mindsdb I can create an incredible tutorial to predict house price from the Kaggle Dataset. Please assign me the tutorial  to predict house price.

[2022-10-10 14:03] #3205 closed

[2022-10-10 14:03] Ln11211 commented on #3233
Hello @Temidayo32 , do you have the list of functions that need to be removed? I'm interested but I just want to know where can I find the list of functions or should I run the test and find them myself? :)

[2022-10-10 14:03] chandrevdw31 opened #3278 "[Tutorial]: Predict Wine Quality :wine_glass:"
### Task Description

Write a tutorial on creating a classification model to predict red wine quality.

Use the dataset `winequality-red.csv` available at https://www.kaggle.com/code/febymelania/aggregation-red-wine-quality-datasets/data?select=winequality-red.csv

**Tutorial should include:**

- Very short description on how MindsDB can assist with predicting redwine quality
- Either connecting d

[2022-10-10 14:04] #3217 closed

[2022-10-10 14:06] #3209 closed

[2022-10-10 14:08] chandrevdw31 opened #3279 "[Tutorial] Predicting Logistics Quality :truck:"
### Task Description

Write tutorial on how to predict Logistics quality in India

Use the dataset  `Leads Report 2021 Numeric Data.csv` available at https://www.kaggle.com/datasets/rohitdharma/logistics-ease-across-different-states-india-2021?select=Leads+Report+2021+Numeric+Data.csv

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

**Tutorial should include:**

- Very short descrip

[2022-10-10 14:11] Rutam21 commented on #3278
@chandrevdw31 I can work on this. Please assign it to me.

[2022-10-10 14:11] Rutam21 commented on #3279
@chandrevdw31 I can work on this. Please assign it to me.

[2022-10-10 14:11] chandrevdw31 opened #3280 "[Tutorial] Predict Life Expectancy"
### Task Description

Write tutorial on creating a Regression machine learning model to predict life expectancy.

Use the dataset `Life Expectancy Data.csv` available at https://www.kaggle.com/datasets/kumarajarshi/life-expectancy-who

**Tutorial should include:**

- Very short description on how MindsDB can assist with predicting life expectancy.
- Either connecting database to MindsDB or uploadi

[2022-10-10 14:12] Rutam21 commented on #3280
@chandrevdw31 I can work on this. Please assign it to me.

[2022-10-10 14:13] #2740 closed

[2022-10-10 14:13] ArmanChand commented on #3280
@chandrevdw31 , I can work on this. Can you please assign it to me

[2022-10-10 14:14] ArmanChand commented on #3278
@chandrevdw31 , I can work on this. Can you please assign it to me

[2022-10-10 14:16] martyna-mindsdb opened #3281 "Tutorial to Predict the House Prices using the dataset from Kaggle"

[2022-10-10 14:16] chandrevdw31 opened #3282 "[Tutorial] Yacht Hydrodynamics"
### Task description

Write a tutorial in predicting Residuary resistance displacement in Yacht Hydrodynamic.

Use the dataset `[yacht_hydrodynamics.data` available at https://archive-beta.ics.uci.edu/ml/datasets/yacht+hydrodynamics.

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

**Tutorial should include:**

- Very short description on how MindsDB can assist with predicting Resid

[2022-10-10 14:16] #3258 closed

[2022-10-10 14:17] #3139 closed

[2022-10-10 14:17] ZoranPandovski commented on #3258
@ramonsaraiva Please check other issues https://github.com/mindsdb/mindsdb/projects/12

[2022-10-10 14:19] martyna-mindsdb commented on #3140
@Moddy2024
Please see the #3281 issue.

[2022-10-10 14:20] chandrevdw31 opened #3283 "[Tutorial] Predict IBM Employee Attrition (Human Resources)"
### Task description

Write a tutorial on predicting employee attrition in the workplace.

Use the dataset `WA_Fn-UseC_-HR-Employee-Attrition.csv` available at https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset

**Tutorial should include:**

- Very short description on how MindsDB can assist Human Resource to predict employee attrition
- Either connecting database to

[2022-10-10 14:22] Rutam21 commented on #3283
@chandrevdw31 I can work on this. Please assign it to me.

[2022-10-10 14:22] ArmanChand commented on #3283
@chandrevdw31 , Can you please assign it to me.

[2022-10-10 14:23] chandrevdw31 opened #3284 "[Tutorial] Predict Ethereum Price using Quest DB as a datasource"
### Task Description

Write a tutorial on predicting Ethereum price using QuestDB as a datasource.

Use the dataset `coin_Ethereum.csv` available at https://www.kaggle.com/datasets/sudalairajkumar/cryptocurrencypricehistory?select=coin_Ethereum.csv

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

**Tutorial should include:**

- Very short description on how MindsDB can assist with p

[2022-10-10 14:27] chandrevdw31 opened #3285 "[Tutorial] Predict Turbine Yield Energy(Gas industry)"
### Task description

Write tutorial on predicting Turbine Energy Yield in the Gas industry.

Use the dataset `pp_gas_emission.zip` https://archive.ics.uci.edu/ml/datasets/Gas+Turbine+CO+and+NOx+Emission+Data+Set

**Tutorial should include:**

- Very short description on how MindsDB can assist with predicting Turbine yield energy
- Either connecting database to MindsDB or uploading dataset as a fi

[2022-10-10 14:31] Moddy2024 commented on #3281
@martyna-mindsdb  Thank you. Please assign me this issue.

[2022-10-10 14:31] chandrevdw31 opened #3286 "[Tutorial] Predict Store sales data"
### Task Description

Write tutorial on how to predict Store Sales data.

Use the dataset `Store 632.csv`  available at https://www.kaggle.com/datasets/laurinbrechter/store-sales-data?select=Store+632.csv

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

**Tutorial should include:**

- Very short description on how MindsDB can assist with predicting Store sales data
- Either connecti

[2022-10-10 14:32] ZoranPandovski commented on #3226
Can you share more info? Share the SQL Query you run and please share the console error

[2022-10-10 14:32] Rutam21 commented on #3286
@chandrevdw31 I can work on this. Please assign it to me.

[2022-10-10 14:32] ArmanChand commented on #3286
@chandrevdw31 I can work on this. Please assign it to me.

[2022-10-10 14:33] ZoranPandovski commented on #3254
@aadityasinha-dotcom Yes :) If you have any questions let us know

[2022-10-10 14:33] chandrevdw31 opened #3287 "[Tutorial] Predict Retail Sales Forecasting"
### Task Description

Write tutorial on how to predict Retail sales forecasting

Use the dataset `mock_kaggle.csv` available at https://www.kaggle.com/datasets/tevecsystems/retail-sales-forecasting

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

**Tutorial should include:**

- Very short description on how MindsDB can benefit the Retail industry
- Either connecting database to Mind

[2022-10-10 14:33] ZoranPandovski commented on #2328
Sure @chaitanya710

[2022-10-10 14:34] Rutam21 commented on #3287
@chandrevdw31 I can work on this. Please assign it to me.

[2022-10-10 14:36] chandrevdw31 opened #3288 "[Tutorial] Predict Gas Prices and visualize results in Tableau"
### Task Description

Write tutorial on predicting gas prices in Brazil and visualize results in Tableau

Use the dataset `2004-2021.tsv` available at https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

**Tutorial should include:**

- Very short description on how MindsDB can assist in predicting gas prices in a countr

[2022-10-10 14:38] chandrevdw31 opened #3289 "[Tutorial] Predict Petroleum Production and visualize results in Tableau"
### Task Description

Write tutorial on predicting Petroleum Production for refineries in Brazil and visualize results in Tableau

Use the dataset `national_nameplate_capacity.csv` available at https://www.kaggle.com/datasets/maurosrgiofigueira/fuel-output-capacity-brazil

**Tutorial should include:**

- Very short description on how MindsDB can assist in predicting petroleum production.
- Either

[2022-10-10 14:42] ArmanChand commented on #3226
Hello there,
I will be doing testing with this dataset : https://www.kaggle.com/datasets/tolgadincer/predictive-maintenance?select=train.csv using MySQL

[2022-10-10 14:43] chandrevdw31 opened #3290 "[Tutorial] Predict Hourly Electricity Demand in the US and visualize in Tableau"
### Task Description

Write tutorial on predicting hourly Electricity demand in the United States and visualize results in Tableau.

Use the dataset `Demand for United States Lower 48 (region) hourly - UCT- time.csv` available [here](https://www.kaggle.com/datasets/paolodelia/hourly-electricity-demand-and-production-us?select=Demand+for+United+States+Lower+48+%28region%29+hourly+-+UTC+time.csv)

U

[2022-10-10 14:49] chandrevdw31 opened #3291 "[Tutorial] Predict Daily Prices for Spanish Gas Stations and visualize in Tableau"
### Task Description

Write tutorial on predicting daly gas prices for Spanish Gas stations and visualize results in Tableau.

You can find the datasets [here](https://www.kaggle.com/datasets/mauriciy/daily-spanish-gas-prices).

:warning:  The challenge here would be to work with the datatype of the dataset. If you struggle, you can try to figure out how to go about with this [clue.](https://www.k

[2022-10-10 14:50] martyna-mindsdb commented on #3281
Just create a PR for this issue once you solve it.

[2022-10-10 14:53] ZoranPandovski commented on #3162
Feel free to make a PR

[2022-10-10 14:54] ZoranPandovski commented on #3162
This was solved. Please check other open issues  ARG_TYPE.PATH

[2022-10-10 14:54] #3162 closed

[2022-10-10 14:56] #3140 closed

[2022-10-10 14:57] ZoranPandovski commented on #3279
I've assigned another one to you @Rutam21

[2022-10-10 14:59] ZoranPandovski commented on #3286
Hey @Rutam21, @ArmanChand Please just start with one tutorial. We can't assign multiple tutorials to the same user :raised_hands:

[2022-10-10 15:13] rahulsunil2 commented on #2328
@ZoranPandovski I was hoping to work on this.

[2022-10-10 15:17] Tes-program commented on #3291
I will like to take up this article please

[2022-10-10 15:19] Tes-program commented on #3288
I will like to assigned this task please

[2022-10-10 15:22] Tes-program commented on #3289
I will like to be assigned this task, please.

[2022-10-10 15:32] Rutam21 opened #3292 "[Manual QA] Test Databend Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Databend Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-10 15:33] Rutam21 opened #3293 "[Manual QA] Test Databricks Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Databricks Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach

[2022-10-10 15:33] EshaanAgg commented on #3228
Hey! I am using MongoDB Compass to host my database. I am able to connect to it, and I have given the user the role of `AltasAdmin` to ensure all permissions.
Yet I get this error when I run this command. Can someone help me with this?
<img width="641" alt="image" src="https://user-images.githubusercontent.com/96648934/194902967-eefa0070-6e64-4c80-8c91-b50d75f47e98.png">
<img width="648" alt="imag

[2022-10-10 15:34] Rutam21 opened #3294 "[Manual QA] Test Datastax Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Datastax Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-10 15:35] Rutam21 opened #3295 "[Manual QA] Test DB2 Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the DB2 Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a scre

[2022-10-10 15:36] Rutam21 opened #3296 "[Manual QA] Test Apache Druid Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Apache Druid Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please atta

[2022-10-10 16:04] Dark-Knight11 commented on #3253
I would like to contribute on this

[2022-10-10 16:05] fMurugi commented on #3226
CREATE DATABASE diabetes_db  --- display name for database.
WITH ENGINE = 'mysql',        --- name of the mindsdb handler
PARAMETERS = {
    "user": "testUser",              --- Your database user.
    "password": "password",          --- Your password.
    "host": "105.163.31.125",              --- host, it can be an ip or an url.
    "port": "3306",           --- common port is 3306.
    "databa

[2022-10-10 16:29] Temidayo32 commented on #3233
@Ln11211  yeah, you can just check the handlers and their corresponding tests. Some of the tests contain functions not defined in the handler.

[2022-10-10 16:32] ZoranPandovski commented on #3288
@Tes-program we just assigned one to you :)

[2022-10-10 17:21] ArmanChand commented on #3280
@ZoranPandovski ,
Please assign this to me. I will start with this one. Thanks

[2022-10-10 17:21] Enforcer007 opened #3297 "[Bug]: Mongo API fails running predictor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I've found that mongo API method `db.predictors.insert` fails running a predictor on a dataset.

Below is the error:

`MongoBulkWriteError: (sqlite3.InterfaceError) Error binding parameter 11 - probably unspported type.`

### Expected Behavior

Should be able to run predictor.

### Steps To R

[2022-10-10 18:53] Enforcer007 commented on #3297
The error is caused due to the ordered dict type of  `select_data_query` field sent in the method `db.predictors.insert`.

[2022-10-10 19:25] ZoranPandovski commented on #2328
Hey sorry, it was from 2 months ago so I thought you didn't do any progress. Feel free to work on another integration, or if you have something you can create a branch and work with @chaitanya710 on it

[2022-10-10 19:26] ZoranPandovski commented on #3228
@EshaanAgg you will need to use compass or mongo shell to connect to mindsdb since MindsDB Editor is only for SQL.

[2022-10-10 21:46] Rutam21 commented on #3226
Hello Community,

**I will be working on this issue using the  [User Car Price Prediction Dataset](https://www.kaggle.com/datasets/harikrishnareddyb/used-car-price-predictions?select=true_car_listings.csv).**

💚 MindsDB

[2022-10-10 22:40] ZoranPandovski opened #3299 "[Docs] Remove old datasources assets (snowflake-ds.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `postgresql-ds.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/snowflake-ds.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down:

[2022-10-10 23:22] nehiljain opened #3300 "Add pre-commit hooks for development workflow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We should add Pre-commit hooks to clean up and standardize the code using black and flake8.

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No res

[2022-10-10 23:22] nehiljain commented on #3300
I will start working on this @ZoranPandovski  based on the conversation from slack.

[2022-10-11 02:24] rfsiten commented on #2377
hey @paxcema , I've read pr3155, it simplified the work (integrate a new ml framework) a lot, I will develop the integrate Merlion based on this pr, I think you will approve to merge this pr3155, do you think it's a right way for me?

[2022-10-11 02:28] dhaneshragu commented on #3285
Can u please assign me this?

[2022-10-11 04:12] ADITYADAS1999 commented on #3299
can i remove the  old datasources assets ?

[2022-10-11 04:30] HengKevin commented on #3286
Hi can I work on this as well?

[2022-10-11 04:35] HengKevin commented on #3299
Can i be assign to this issue?

[2022-10-11 05:07] Anu-Ra-g commented on #3293
I'm new to this project's tech stack and I want to contribute to this issue. What resources should I follow?

[2022-10-11 06:56] gwild commented on #1140
It finished!  Ok, does not scale like that.

[2022-10-11 07:20] gwild commented on #1140
This is where it would be handy for me:

DEBUG:lightwood-43470: `prepare` runtime: 9.13 seconds
INFO:lightwood-43470:Featurizing the data
DEBUG:lightwood-43470: `featurize` runtime: 0.0 seconds
INFO:lightwood-43470:Training the mixers
INFO:lightwood-43470:Fitting Linear Regression model

Stuck here for a couple hours…

It would be good to know whether to let it go another hour or whatever or it’s

[2022-10-11 07:25] Enforcer007 commented on #3297
Hi @ZoranPandovski can you please label this issue as part of hacktoberfest

[2022-10-11 07:38] Enforcer007 commented on #3239
I see several cicd runs are failing due to this issue. PRs are getting clogged up.

Can anyone from mindsdb help this out.

I'm planning to develop spacy integration shortly. Without this issue resolved, it will be difficult to proceed.

Cc: @ZoranPandovski

[2022-10-11 07:59] Guyonsteroids opened #3303 "[New Integration]: with Orient DB"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case
![image](https://user-images.githubusercontent.com/82315185/195032619-73e5b58e-0802-4f52-8650-758560deb10b.png)

[OrientDB](https://www.orientdb.org/) is an open-source NoSQL multi-model database which helps organizations to unlock the power of graph databases without deploying multiple systems to

[2022-10-11 08:11] Artemis6969 commented on #3303
@ZoranPandovski Please have a look at this and approve.

[2022-10-11 08:51] #3299 closed

[2022-10-11 08:54] ZoranPandovski commented on #3293
Hey you can follow up to https://docs.mindsdb.com/sql/tutorials/home-rentals/ tutorial and instead of connecting to PostgreSQL use Databricks :raised_hands:

[2022-10-11 08:56] ZoranPandovski opened #3304 "[Docs] Remove old datasources assets (mysql.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mysql.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/mysql.gif  file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :compute

[2022-10-11 09:15] paxcema commented on #2377
Hey @rfsiten, yes absolutely, #3155 will be merged as soon as possible, so you can use it as a starting point for your work with Merlion.

Sounds good! We can always improve and add more support down the road if users ask for it.

[2022-10-11 09:36] Lakshayainani commented on #3304
@ZoranPandovski Can you have a look at the PR and let me know if my first contribution looks good for a merge or not.
Thanks.

[2022-10-11 09:40] ZoranPandovski opened #3307 "[Docs] Remove old datasources assets (psql-select.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `psql-select.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/psql-select.gif  file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :

[2022-10-11 09:43] ZoranPandovski commented on #3304
@Lakshayainani , @AshwinSatyawan  you can check https://github.com/mindsdb/mindsdb/issues/3307. @Artemis6969 Please sign the CLA on the PR

[2022-10-11 09:54] suchitd11 commented on #3307
@ZoranPandovski Hey, I would like to solve this issue. Can you please assign it to me?

[2022-10-11 09:59] AshwinSatyawan commented on #3307
resolved in PR #3306

[2022-10-11 12:21] paxcema opened #3310 "[Docs] Thoroughly document all new ML engine source code"
First, as docstrings. In a later stage we can replicate those inside the documentation.

Relevant files for this are:
- `mindsdb/interfaces/storage/fs.py`
- `mindsdb/integrations/libs/ml_exec_base.py`
- `mindsdb/integrations/libs/base.py`
- `mindsdb/integrations/handlers/byom_handler/proc_wrapper.py`

[2022-10-11 12:28] ArmanChand opened #3312 "[Bug]: Dataset Life Expectancy not working with MindsDb Cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Dataset Life Expectancy Data.csv available at https://www.kaggle.com/datasets/kumarajarshi/life-expectancy-who is not able to upload in Add Data through File section in MindsDb Cloud Environment. Look at the below Screenshot for reference

<img width="810" alt="Screenshot 2022-10-11 at 1 18 2

[2022-10-11 12:29] ArmanChand commented on #3312
Hello @ZoranPandovski / @chandrevdw31 ,
I have created a bug . Kindly take a look at it

[2022-10-11 12:38] #3304 closed

[2022-10-11 13:01] Moddy2024 commented on #3281
I have created a PR #3309

[2022-10-11 13:14] #3310 closed

[2022-10-11 13:19] ea-rus commented on #3297
@Enforcer007, could you show mongo query that raises error described in this issue?

[2022-10-11 13:43] ianu82 commented on #2323
Hey @ZoranPandovski, dropping you a message about this - just spoken to Bismeet.

[2022-10-11 13:48] #3285 closed

[2022-10-11 13:54] talkshrey commented on #3292
Hey, can you elaborate what exactly do we have to do here?

[2022-10-11 14:00] ZoranPandovski commented on #3292
@talkshrey Connect MindsDB to Databend and run the SQL queries from `What` section. In case there is some issue please report if not just make PR that the whole flow works :raised_hands:

[2022-10-11 14:12] #3086 closed

[2022-10-11 14:13] alissatroiano commented on #3288
I'll give this a try if it's still open

[2022-10-11 14:14] #2763 closed

[2022-10-11 14:16] #3152 closed

[2022-10-11 14:17] HengKevin commented on #3286
@ZoranPandovski where should i save the tutorial? and should i save the file as a notebook for a python file?

[2022-10-11 14:20] #3201 closed

[2022-10-11 14:38] ZoranPandovski commented on #3286
Post it on your blog, dev.to, medium etc wherever you like. Then just make a PR to the list in community supported tutorials

[2022-10-11 14:48] ZoranPandovski opened #3316 "[Docs] Remove old datasources assets (local.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `local.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/local.gif  file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :compute

[2022-10-11 14:57] Rutam21 commented on #3312
## Additional Info
[code]
![image](https://user-images.githubusercontent.com/47860497/195125464-030f0271-f3f8-4bf9-969c-dba2111d81e2.png)

[code]
![Status Code](https://user-images.githubusercontent.com/47860497/195124966-c1f56f28-d9ca-4a3d-8105-1a8bb74eaa6c.png)

[code]

[2022-10-11 14:59] Rutam21 opened #3318 "Share your experience with MindsDB 💚 on Twitter"
# What
In this issue, you have to write about MindsDB on Twitter:

- One Twitter Thread

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on Twitter as well.

Twitter: https://twitter.com/MindsDB

#

[2022-10-11 15:00] Rutam21 opened #3319 "Share your experience with MindsDB 💚 on LinkedIn"
# What
In this issue, you have to write about us on LinkedIn:

- One LinkedIn Post

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on LinkedIn as well.

LinkedIn: https://www.linkedin.com/company/m

[2022-10-11 15:22] Pritish-Sinha commented on #3279
Can I be assigned this tutorial?

[2022-10-11 15:52] Rutam21 opened #3322 "[Manual QA] Test DynamoDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the DynamoDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-11 15:53] Rutam21 opened #3323 "[Manual QA] Test Elasticsearch Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Elasticsearch Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please att

[2022-10-11 15:57] Rutam21 opened #3324 "[Manual QA] Test Firebird Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Firebird Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-11 15:59] Rutam21 opened #3325 "[Manual QA] Test SAP HANA Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the SAP HANA Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-11 16:00] Rutam21 opened #3326 "[Manual QA] Test Hive Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Hive Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a scr

[2022-10-11 16:15] alissatroiano commented on #3287
@chandrevdw31 - is there anyway you can assign me to this one instead of #3288? I'm having a bit of trouble with converting the units of measurement, etc.

[2022-10-11 16:32] victorian177 commented on #3303
I would love to be assigned this task. I have reviewed the OrientDB and it seems to be quite easy to understand how to use it.

[2022-10-11 16:39] bispaul commented on #3273
Hi @ZoranPandovski can you assign this to me.

[2022-10-11 16:40] bispaul commented on #3274
Hi @ZoranPandovski can you assign this to me

[2022-10-11 16:56] alissatroiano commented on #3287
Can I work on this one, please?

[2022-10-11 17:02] Enforcer007 commented on #3297
This is the error:
[code]

[2022-10-11 17:16] Rutam21 commented on #3287
@alissatroiano - As you have removed your assignment from the other one and currently not assigned to any, you should be good to work on this one. Please wait for @ZoranPandovski . He will assign you the issue.🙂

[2022-10-11 17:44] nehiljain commented on #3300
These are all the problems flake8 is highlighting

[code]

[2022-10-11 18:18] Enforcer007 commented on #3312
The error is due to decoding issue. This the error from the server:

[code]

[2022-10-11 18:58] ZoranPandovski commented on #3273
@bispaul I've assigned to you the https://github.com/mindsdb/mindsdb/issues/3274

[2022-10-11 20:13] alissatroiano commented on #3287
Thank you @Rutam21!

[2022-10-11 20:36] StarTrooper08 opened #3327 "[New Integration]: Redis"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

[Redis](https://redis.io/) is an open-source, in-memory data store used by millions of developers as a database, cache, streaming engine, and message broker.
It helps its user keeps the dataset in memory for fast access, but can also persist all writes to permanent storage to survive reboots and

[2022-10-12 07:47] Artemis6969 commented on #3327
I'm pretty sure that there is already a Redis Integration in MindsDB.
https://github.com/mindsdb/mindsdb#database-integrations

[2022-10-12 08:32] ea-rus commented on #3297
@ZoranPandovski
As I remember I removed this bulky way to pass select_data_query for long ago.
[code]
But it is still in doc: https://docs.mindsdb.com/mongo/insert/

Now right way is pass just raw string to destination database, as described in my local doc
https://github.com/mindsdb/mindsdb/blob/staging/mindsdb/api/mongo/README.md#creating-predictor

[2022-10-12 08:46] StarTrooper08 commented on #3327
it's not there in mindsdb integration https://cloud.mindsdb.com/data
And no issue was created for the same so thought it was not available.

Can you please send me the link to how to use Redis with Mindsdb integration link!

[2022-10-12 09:10] Artemis6969 commented on #3327
Redis is just not included in the cloud version of mindsdb, but you can integrate mindsdb with redis. Just read the docs https://docs.mindsdb.com/

[2022-10-12 10:06] chandrevdw31 commented on #3287
Hey @alissatroiano I see you had issues with converting the unit of measurements,can you kindly comment on the issue u were previously assigned to with a brief explanation of which columns and datatypes you were having issues with

[2022-10-12 10:10] ZoranPandovski commented on #3327
Hey @StarTrooper08 we already support Kafka and Redis but didn't enable that by default on the cloud and we are missing the docs for Redis  :raised_hands:

[2022-10-12 10:14] StarTrooper08 commented on #3327
ok @ZoranPandovski

[2022-10-12 10:15] StarTrooper08 commented on #3327
Can I contribute to docs?

[2022-10-12 10:20] StarTrooper08 commented on #3327
Integration is already present I think I should close this issue!

[2022-10-12 10:22] ZoranPandovski opened #3332 "[Docs] Remove old datasources assets (remote.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `remote.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/remote.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :comput

[2022-10-12 10:30] Artemis6969 commented on #3332
My pr #3333 Fixes this

[2022-10-12 11:10] tomhuds opened #3334 "[Bug][CUSTOMER REQUEST]: Snowflake native queries fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Issues running native queries: https://www.loom.com/share/c5467ff95add43d8b75cdd22ad27750b

### Expected Behavior

Native query should run in snowflake

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-10-12 11:34] #3307 closed

[2022-10-12 11:35] #3316 closed

[2022-10-12 11:42] ZoranPandovski commented on #2323
I've sent you a message on slack @BismeetSingh, let's start with another handler first

[2022-10-12 11:43] #3332 closed

[2022-10-12 12:07] tomhuds commented on #3334
Incorrect syntax used by me. Correct is:

SELECT * FROM database_name
( native query)
;

[2022-10-12 12:07] #3334 closed

[2022-10-12 12:17] kobistar commented on #3326
@Rutam21 can I claim this issue?

[2022-10-12 12:40] ianu82 opened #3336 "[CUSTOMER REQUEST] Native Query documentation"
Better documentation of how to execute native database queries in the SQL editor. It may deserve its own section in the docs - we’ve had multiple customers trip up on this.

For instance, when you may need to use them (versus simple SQL), what the structure/syntax is, examples etx.

[2022-10-12 12:56] Rutam21 commented on #3326
@kobistar You can definitely work on this issue. Simply mention the dataset you will be working with so that other can pick up something else when they start working on it. Happy Testing 🧪

# Note to all Contributors

### - This issue doesn't need assignment. Multiple people can work on it.
### - Mention the dataset you will work with as a comment.
### - Go through the comments first to have an id

[2022-10-12 13:15] #3224 closed

[2022-10-12 15:08] paxcema opened #3339 "Remove Lightwood from MindsDB datanode initialization"
It's not immediately obvious why this is required, either, but looking forward to the complete decoupling between both, it's a must that the MindsDB datanode be ML-framework agnostic.

[2022-10-12 15:16] talkshrey commented on #3291
Hey can you assign this issue to me?

[2022-10-12 15:46] alissatroiano commented on #3288
@chandrevdw31 -I actually ended up doing some research about The Real (Brazilian currency) yesterday, and I understand why the UNIDADE DE MEDIDA (or "units_of_measurement" column) included 'R$/13Kg' and 'R$/m3'.  I understand that Brazil uses the SI, and the metric system is the chosen standard...

My original plan was to convert each row in that column to liters and store them as integers (1 m³ e

[2022-10-12 18:05] #3297 closed

[2022-10-12 18:05] #3181 closed

[2022-10-12 18:17] ZoranPandovski opened #3341 "[Docs] Remove old datasources assets (mariadb-ds.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mariadb-ds.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/mariadb-ds.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-

[2022-10-12 18:22] SarojWasti commented on #3341
Can I take up on this task?

[2022-10-12 19:40] #3341 closed

[2022-10-12 19:53] talkshrey commented on #3291
This dataset uses duckDB but we do not have options connecting to duckDB to MindsDB, is there an alternative to it?

[2022-10-12 21:10] adityaacse commented on #3324
Hi @Rutam21 I am interested in doing this task, can you please assign it to me?

[2022-10-13 01:33] nehiljain commented on #3300
Added them to exclusion but we should clean the code up in the future.

[2022-10-13 02:18] dev-divyansh commented on #3178
Please assign it to someone else,,
I am facing issues in building it

[2022-10-13 03:01] rfsiten opened #3346 "[Bug]: Missing __mindsdb_row_id while predicting by directly passing arguments (same as #3347, my network crash and double submitted...)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

select t.val
from merlion.test_ts_predictor t
where time_point = '2022-02-20 00:00:00'

while predicting use method above, exception will throws because of missing "__mindsdb_row_id", the exception case by the code in  https://github.com/mindsdb/mindsdb/blob/staging/mindsdb/integrations/libs/

[2022-10-13 03:04] rfsiten opened #3347 "[Bug]: Missing "__mindsdb_row_id" while prediction (not lightwood) by directly passing the arguments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

select t.val
from merlion.test_ts_predictor t
where time_point = '2022-02-20 00:00:00'

while predicting use method above, exception will throws because of missing "__mindsdb_row_id", the exception case by the code in  https://github.com/mindsdb/mindsdb/blob/staging/mindsdb/integrations/libs/

[2022-10-13 03:07] #3346 closed

[2022-10-13 03:07] rfsiten commented on #3346
same as #3347, my network crash and double submitted..

[2022-10-13 05:21] ArmanChand commented on #3280
@ZoranPandovski ,
Please review and merge

[2022-10-13 06:57] chandrevdw31 commented on #3312
Thank you @Enforcer007 for raising this. Just to add this dataset uploaded successful in a previous version a couple of months ago. User assigned has inserted dataset into a database and was able to create predictor from there.

[2022-10-13 08:23] wenwei8268 commented on #3250
hello commnity,https://www.kaggle.com/datasets/iamsouravbanerjee/house-rent-prediction-dataset

[2022-10-13 08:34] Rutam21 commented on #3289
@ZoranPandovski Please assign this to me as I am done with the other tutorial that was assigned to me. Thanks.

[2022-10-13 09:40] adityaacse commented on #3312
I am also experiencing the same issue.
![image](https://user-images.githubusercontent.com/19973475/195562160-73dbb8e1-0630-40d1-b057-9751641eb0f0.png)

[2022-10-13 09:40] ZoranPandovski opened #3352 "[Docs] Remove old datasources assets (snowflake.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `snowflake.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/snowflake.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :

[2022-10-13 09:45] Artemis6969 commented on #3352
Fixed by https://github.com/mindsdb/mindsdb/pull/3353

[2022-10-13 10:26] MoskalykA commented on #2355
Greetings, I use Appwrite a few times and I'm wondering what the issue requires for Appwrite implementation?

[2022-10-13 10:38] ArmanChand commented on #3283
@ZoranPandovski ,
Please assign this to me , I can work on this

[2022-10-13 15:00] ZoranPandovski commented on #3291
With the new version we will support parquet files, so you can upload them directly

[2022-10-13 15:02] #2673 closed

[2022-10-13 15:04] ZoranPandovski commented on #3178
Hey @dev-divyansh what kind of issues you have?

[2022-10-13 15:05] #3280 closed

[2022-10-13 15:08] #3277 closed

[2022-10-13 15:08] #3352 closed

[2022-10-13 15:14] Tes-program commented on #3289
No man. You can assign him.

[2022-10-13 15:18] talkshrey commented on #3291
Sounds cool, when is the new version being released?

[2022-10-13 15:32] ZoranPandovski commented on #3291
This week I hope. I will ping you when that's done, or you can use the staging branch

[2022-10-13 15:41] ZoranPandovski opened #3358 "Update MongoDB insert"
As I remember I removed this bulky way to pass select_data_query for long ago.
[code]
But it is still in doc: https://docs.mindsdb.com/mongo/insert/

Now right way is pass just raw string to destination database, as described in my local doc (db.house_sales.find({}))
https://github.com/mindsdb/mindsdb/blob/staging/mindsdb/api/mongo/README.md#creating-predictor

_Originally posted by @ea-rus in htt

[2022-10-13 15:48] BismeetSingh commented on #2323
Okay, I will have a look at handler issues.

[2022-10-13 16:02] BismeetSingh commented on #3227
I see no datasets specified here, how do I know if  a dataset is already used.

[2022-10-13 16:53] ArmanChand commented on #3358
@ZoranPandovski ,
PLEASE ASSIGN THIS TO ME

[2022-10-13 18:30] tomhuds commented on #3267
https://www.loom.com/share/28923a5bf14c419f9eb558f8382dc2d7

[2022-10-13 18:30] tomhuds commented on #3267
On alpha:

[code]

[2022-10-13 18:48] tomhuds opened #3362 "Status should show 'error' instead of 'complete' if there is an error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

![image](https://user-images.githubusercontent.com/34073127/195680978-c21dc185-2667-4a04-b15b-8d79629ec6fe.png)

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Addition

[2022-10-13 19:28] zavbala opened #3363 "[New Integration]: With Notion Databases"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Many people use Notion databases as their cheap, small, and cozy option for handling small projects. So this integration could be a great way to squeeze all of Notion's features and unlock a powerful new path.

### Motivation

Notion Databases have many applications in daily life, mostly used by

[2022-10-13 21:24] zavbala opened #3365 "[New Integration]: With Hasura"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

All apps with a GraphQL engine approach, like Amplication, can unleash a powerful path with Mindsdb.

### Motivation

Every day, new low-code platforms are emerging, and they have the same features, to get the most accurate service for all our products we need an extra boost to process/play with

[2022-10-14 04:04] saldanhad commented on #3293
I'd be interested to test it out using this dataset:
[BankNotesDataset](https://archive.ics.uci.edu/ml/machine-learning-databases/00267/data_banknote_authentication.txt)

[2022-10-14 06:54] Anupam-USP commented on #3322
Hey @Rutam21. I want to take this and will use the **Titanic Predictor** dataset available in [kaggle](https://www.kaggle.com/competitions/titanic/data). I think that will help me?

[2022-10-14 06:57] Rutam21 commented on #3322
Sure @Anupam-USP , Feel free to use the dataset you like and submit a PR with your Test Results in the given format. Thanks.

[2022-10-14 07:16] Anupam-USP commented on #3322
Hey @Rutam21 I can use the mindsdb cloud editor right?

[2022-10-14 09:52] chandrevdw31 opened #3369 "[Video] What is MindsDB?"
### Task Description

**Create a video about:**
- What is MindsDB
- How the concept of AI tables is implemented
- The solution MindsDB offers.
- Why choose MindsDB.

Information can be based of the documentation https://docs.mindsdb.com/what-is-mindsdb/.

**Basic requirements:**

- Video must be of high quality(480p and up)
- If Voice over is used it should be a good voice synthesizer that does no

[2022-10-14 09:54] chandrevdw31 opened #3370 "[Video] How to deploy MindsDB"
### Task Description

Create a video tutorial on how to deploy MindsDB on your machine.

This can include any of the deployment options that are available on MindsDB’s documentation:

- Docker https://docs.mindsdb.com/setup/self-hosted/docker/
- Pip https://docs.mindsdb.com/setup/self-hosted/pip/windows/

Installing MindsDB on Windows and Mac Operating systems can be done as separate videos.

**Ba

[2022-10-14 09:55] chandrevdw31 opened #3371 "[Video] Deploy MindsDB on Google Platform."
### Task Description

Create video tutorial on how to deploy MindsDB on Google Platform.

You can use this tutorial as a reference https://community.ops.io/rutamhere/deploying-mindsdb-on-google-cloud-platform-41h9.

**Basic requirements:**

- Video must be of high quality(480p and up)
- If Voice over is used it should be a good voice synthesizer that does not sound too robotic. Please research a g

[2022-10-14 09:57] chandrevdw31 opened #3372 "[Video] Create a free account on MindsDB cloud."
### Task Description

Create a video tutorial about how to create a free account on MindsDB Cloud.

You can use the documentation as a guide https://docs.mindsdb.com/setup/cloud/

**Basic requirements:**

- Video must be of high quality(480p and up)
- If Voice over is used it should be a good voice synthesizer that does not sound too robotic. Please research a good tool to use.
- Video must be upl

[2022-10-14 10:00] chandrevdw31 opened #3373 "[Video]Exploring the Learning Hub on MindsDB GUI"
### Task Description

Create a video tutorial exploring the Learning Hub on MindsDB’s GUI by practicing the tutorials available- Predict Rental Home Prices & Forecast Quarterly House Sales.

**Basic requirements:**

- Video must be of high quality(480p and up)
- If Voice over is used it should be a good voice synthesizer that does not sound too robotic. Please research a good tool to use.
- Video

[2022-10-14 10:02] chandrevdw31 opened #3374 "[Video] Connect to MindsDB"
### Task Description

Create a video tutorial on how to Connect to MindsDB with any of the following:

- DBeaver
- DBT
- Deepnote
- MindsDB SQL Editor
- Metabase
- Mongo Compass
- Mongo Shell
- Kafka
- MindsDB CLI
- SQL Alchemy
- Tableau
- MariaDB Cloud services

**Basic requirements:**

- Video must be of high quality(480p and up)
- If Voice over is used it should be a good voice synthesizer that

[2022-10-14 10:04] chandrevdw31 opened #3375 "[Video] Connect Datasource to MindsDB"
### Task Description

Create a video tutorial on how to connect a datasource to MindsDB. This should include any datasource that MindsDB currently supports, eg. Postgres, Mysql etc.

**Basic requirements:**

- Video must be of high quality(480p and up)
- If Voice over is used it should be a good voice synthesizer that does not sound too robotic. Please research a good tool to use.
- Video must be

[2022-10-14 10:06] chandrevdw31 opened #3376 "[Video] MindsDB Data Insights"
### Task Description

Create a video tutorial on how to use MindsDB Insights.

You can use the documentation as reference https://docs.mindsdb.com/sql/data-insights/.

**Basic requirements:**

- Video must be of high quality(480p and up)
- If Voice over is used it should be a good voice synthesizer that does not sound too robotic. Please research a good tool to use.
- Video must be uploaded to You

[2022-10-14 10:43] chandrevdw31 opened #3378 "[Tutorial] COVID -19 Coronavirus Pandemic"
### Task Description

Write a tutorial on predicting the amount of deaths due to Covid-19.

You can use the dataset `Covid Live.csv `  available at https://www.kaggle.com/datasets/whenamancodes/covid-19-coronavirus-pandemic-dataset

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :five: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](

[2022-10-14 10:47] chandrevdw31 opened #3379 "[Tutorial] Toyota Cars Price Prediction"
### Task Description

Write tutorial on predicting Toyota car prices using MindsDB.

You can use the dataset `toyota_cars.csv ` available at https://www.kaggle.com/datasets/ayessa/toyota-cars-price-prediction

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :five: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](https://www.razer.com/h

[2022-10-14 10:51] chandrevdw31 opened #3380 "[Tutorial] Predict Microsoft Stock Prices"
### Task Description

Write tutorial on predicting Microsoft Stock prices using data between 2015 and 2022.

You can use the dataset `microsoft_stocks.csv` available at https://www.kaggle.com/datasets/berkayalan/microsoft-stock-data-between-2015-and-2022.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :five: points and entry into the draw for a  :point_down: :

-  :computer:

[2022-10-14 10:54] chandrevdw31 opened #3381 "[Tutorial] Predict Tesla Stock Prices"
### Task Description

Write tutorial on predicting Tesla Stock prices

You can use the dataset `TSLA.csv` available at https://www.kaggle.com/datasets/harshsingh2209/tesla-stock-pricing-20172022.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :five: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](https://www.razer.com/hard-bundles/R

[2022-10-14 10:57] chandrevdw31 opened #3382 "[Tutorial] Bank Customer Churn Prediction"
### Task Description

Write tutorial on how to predict customer churn of a bank.

You can use the dataset `Bank Customer Churn Prediction.csv` available at https://www.kaggle.com/datasets/gauravtopre/bank-customer-churn-dataset.

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :five: points and entry into the draw fo

[2022-10-14 11:19] Tes-program commented on #3378
Can i take this up please?

[2022-10-14 11:24] Rutam21 commented on #3381
@chandrevdw31 I can work on this. Please assign it to me. Thanks.

[2022-10-14 11:24] Rutam21 commented on #3380
@chandrevdw31 I can work on this. Please assign it to me. Thanks.

[2022-10-14 11:24] Rutam21 commented on #3379
@chandrevdw31 I can work on this. Please assign it to me. Thanks.

[2022-10-14 11:24] Rutam21 commented on #3382
@chandrevdw31 I can work on this. Please assign it to me. Thanks.

[2022-10-14 11:26] Rutam21 commented on #3373
@chandrevdw31 I can work on this. Please assign it to me. Thanks.

[2022-10-14 11:27] Rutam21 commented on #3374
@chandrevdw31 I can work on **DBeaver** Connection. Please assign it to me. Thanks.

[2022-10-14 11:27] Rutam21 commented on #3372
@chandrevdw31 I can work on this. Please assign it to me. Thanks.

[2022-10-14 11:30] Rutam21 commented on #3371
**I won't charge any royalties for using my tutorial, but I would definitely love some credits in the video for whoever makes this using my tutorial. 😂**

Thanks, @chandrevdw31 for mentioning my article as a reference. 👍

[2022-10-14 11:31] Rutam21 commented on #3375
@chandrevdw31 I can work on **MySQL** datasource. Please assign it to me. Thanks.

[2022-10-14 11:32] Rutam21 commented on #3376
@chandrevdw31 I can work on this. Please assign it to me. Thanks.

[2022-10-14 11:51] Artemis6969 commented on #3372
@Rutam21 You don't need to be assigned to it lol
![image](https://user-images.githubusercontent.com/82315185/195840296-a7ccbe3d-903f-44aa-99d0-a8a5471a37b8.png)

[2022-10-14 11:56] Rutam21 commented on #3372
@Artemis6969 Thank god now folks are reading the issue completely. This was the catch actually 😉

[2022-10-14 11:56] Artemis6969 commented on #3372
I almost missed it too as it was greyed out

[2022-10-14 12:35] chandrevdw31 commented on #3372
hahaha always read the fine print :smile:

[2022-10-14 12:39] Artemis6969 commented on #3372
Literally every free hosting service

[2022-10-14 12:45] ayushthe1 commented on #3382
Hey ,can i please work on this.

[2022-10-14 13:11] parthiv11 commented on #2701
hey @ZoranPandovski  you can assign this to me

[2022-10-14 13:28] #3318 closed

[2022-10-14 13:32] ZoranPandovski commented on #3227
@BismeetSingh the title will have the name of the dataset and a link
## Testing MariaDB Handler with [Dataset Name](URL to the Dataset)

[2022-10-14 13:46] ZoranPandovski commented on #3380
I've just assigned one to you @Rutam21

[2022-10-14 13:54] #3358 closed

[2022-10-14 14:37] StarTrooper08 commented on #3180
Hello @martyna-mindsdb my article is ready where can I submit it?
https://atharva08.hashnode.dev/predicting-the-rating-of-cars-using-mindsdb

[2022-10-14 14:39] StarTrooper08 commented on #3180
I've to submit the pull request link in the form right?

[2022-10-14 14:44] StarTrooper08 commented on #3180
But for the article should I add issue link in the form?

[2022-10-14 14:45] soma2000-lang commented on #3170
@ZoranPandovski  Hi,

Can you help me in solving this issue  because I am stuck here

[2022-10-14 15:12] #2813 closed

[2022-10-14 15:22] Ricram2 commented on #2795
@tomhuds and @ea-rus Can we close this ?

[2022-10-14 15:44] Rutam21 opened #3383 "Share your experience with MindsDB 💚 on LinkedIn"
# What
In this issue, you have to write about us on LinkedIn:

- One LinkedIn Post

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on LinkedIn as well.

LinkedIn: https://www.linkedin.com/company/m

[2022-10-14 15:45] Rutam21 opened #3384 "Share your experience with MindsDB 💚 on Twitter"
# What
In this issue, you have to write about MindsDB on Twitter:

- One Twitter Thread

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on Twitter as well.

Twitter: https://twitter.com/MindsDB

#

[2022-10-14 15:46] Rutam21 opened #3385 "Share your experience with MindsDB 💚 on Facebook"
# What
In this issue, you have to write about us on Facebook:

- One Facebook Post

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on Facebook as well.

Facebook: https://www.facebook.com/MindsDB/

[2022-10-14 15:50] Ricram2 commented on #2424
Moved over from the Fellowship of the Greenbook.

[2022-10-14 15:53] Ricram2 commented on #2989
Moved Over From The Fellowship GB

[2022-10-14 16:03] Ricram2 commented on #2877
@StpMax Could you explain it or demo it please?

[2022-10-14 16:14] Ricram2 commented on #2981
@ea-rus test.

[2022-10-14 16:17] #2930 closed

[2022-10-14 18:05] saldanhad opened #3387 "Databricks Handler does not connect to schema in hive_metastore (on mindsdb cloud)[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Upon creating the database using the databricks connections and on running the below command

[code]
I get the below error message
![Error](https://github.com/saldanhad/mindsdb/blob/tests/databrickstestimages/mindsdbdatabricks.jpg)

### Expected Behavior

Expected to see a concise view with 1

[2022-10-14 18:42] spullara opened #3389 "[Bug]: Error in the logs when creating a predictor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I create a predictor I see this error in the log:

[code]

### Expected Behavior

It seems benign but this is still probably a bug.

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-10-14 19:02] ZoranPandovski opened #3390 "[Docs] Remove old datasources assets (clickhouse.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `clickhouse.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/clickhouse.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-

[2022-10-14 19:56] srigundeti10 commented on #3390
@ZoranPandovski  Please assign me this

[2022-10-14 20:03] dishantzaveri commented on #3385
Please assign it to me

[2022-10-14 20:04] dishantzaveri commented on #3384
Please assign it to me

[2022-10-14 20:04] dishantzaveri commented on #3383
Please assign it to me

[2022-10-14 20:12] martyna-mindsdb commented on #3180
@StarTrooper08
Please create a PR to submit your article. Thanks!

[2022-10-14 21:28] Gaurav4code commented on #3379
Please assign me this .

[2022-10-15 06:38] HengKevin commented on #3383
Hi, Can I do this as well?

[2022-10-15 06:40] HengKevin commented on #3385
Can I can also be assigned to this?

[2022-10-15 06:42] HengKevin commented on #3379
Hi can I be assigned to this?

[2022-10-15 06:45] HengKevin commented on #3325
Can I handle this issue?

[2022-10-15 08:46] StarTrooper08 commented on #3384
Even I would like to work on this issue!

[2022-10-15 08:46] StarTrooper08 commented on #3376
I would love to work on this issue!

[2022-10-15 08:48] StarTrooper08 commented on #3376
I've written in short about the `Data insight` feature in the article.
https://atharva08.hashnode.dev/predicting-the-rating-of-cars-using-mindsdb
Would love to work on this too by creating a video.

[2022-10-15 10:59] bachng2017 commented on #3234
FYI, we've traced back to the prediction in lightwood repository, `lightwood/mixer/sktime.py` , but still not find out a solution yet. Need to check more.

[2022-10-15 12:03] Rutam21 opened #3394 "[New Integration]: Integration for Amplication"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Amplication is an open-source low-code development platform for building quality NodeJS applications. It automatically generates the API (GraphQL/REST), manages authentication and logging, and also provides an Admin UI to manage the application.

- MindsDB will allow users to experience the power

[2022-10-15 12:03] Rutam21 commented on #2356
### Re-creating this for hacktoberfest with more info.

[2022-10-15 12:03] #2356 closed

[2022-10-15 12:05] Rutam21 opened #3395 "[New Integration]: Integration for Appwrite"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Appwrite powers the low-code application backend development for Web, Mobile, and Flutter developers. This integration would help the users to have the following gains.

- Users can easily integrate ML with their application developed through Appwrite
- Users can have predictions using updated an

[2022-10-15 12:05] Rutam21 commented on #2355
### Re-creating this for hacktoberfest with more info

[2022-10-15 12:05] #2355 closed

[2022-10-15 12:07] Rutam21 opened #3396 "[New Integration]: Integration with Apache SINGA 🦁"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Apache SINGA is an [Apache Top Level Project](https://blogs.apache.org/foundation/entry/the-apache-software-foundation-announces57), focusing on distributed training of deep learning and machine learning models. SINGA has a well-architected software stack and easy-to-use Python interface to impro

[2022-10-15 12:08] Rutam21 commented on #3040
### Re-creating this for hacktoberfest with more info

[2022-10-15 12:08] #3040 closed

[2022-10-15 12:10] Rutam21 opened #3397 "[New Integration]: Integration as a Marketplace App for DigitalOcean"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

This issue aims to add MindsDB as a Marketplace App for the leading cloud providers such as the following.

- The [DigitalOcean Marketplace](https://marketplace.digitalocean.com/)

Benefits of being a Marketplace App include:
- One-click deployment
- Ease of access for the users
- Streamlined sub

[2022-10-15 12:12] Rutam21 opened #3398 "[New Integration]: Integration as a Marketplace App for Civo"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

This issue aims to add MindsDB as a Marketplace App for the leading cloud providers such as the following.

- The [Civo Marketplace](https://www.civo.com/marketplace)

Benefits of being a Marketplace App include:
- One-click deployment
- Ease of access for the users
- Streamlined subscriptions an

[2022-10-15 12:14] Rutam21 opened #3399 "[New Integration]: Integration as a Marketplace App for Linode"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

This issue aims to add MindsDB as a Marketplace App for the leading cloud providers such as the following.

- The [Linode Marketplace](https://www.linode.com/marketplace/)

Benefits of being a Marketplace App include:
- One-click deployment
- Ease of access for the users
- Streamlined subscriptio

[2022-10-15 12:15] Rutam21 opened #3400 "[New Integration]: Integration as a Marketplace App for Vultr"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

This issue aims to add MindsDB as a Marketplace App for the leading cloud providers such as the following.

- The [Vultr Marketplace](https://www.vultr.com/marketplace/)

Benefits of being a Marketplace App include:
- One-click deployment
- Ease of access for the users
- Streamlined subscriptions

[2022-10-15 12:16] Rutam21 opened #3401 "[New Integration]: Integration as a Marketplace App for Azure"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

This issue aims to add MindsDB as a Marketplace App for the leading cloud providers such as the following.

- The [Azure Marketplace](https://azuremarketplace.microsoft.com/en-in/home)

Benefits of being a Marketplace App include:
- One-click deployment
- Ease of access for the users
- Streamline

[2022-10-15 12:18] Rutam21 opened #3402 "[New Integration]: Integration as a Marketplace App for AWS"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

This issue aims to add MindsDB as a Marketplace App for the leading cloud providers such as the following.

- The [AWS Marketplace](https://aws.amazon.com/marketplace/)

Benefits of being a Marketplace App include:
- One-click deployment
- Ease of access for the users
- Streamlined subscriptions

[2022-10-15 12:18] Rutam21 commented on #2342
### Re-creating this for hacktoberfest with more info.

[2022-10-15 12:20] Rutam21 opened #3403 "[New Integration]: Integration as a Marketplace App for GCP"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

This issue aims to add MindsDB as a Marketplace App for the leading cloud providers such as the following.

- The [GCP Marketplace](https://cloud.google.com/marketplace)

Benefits of being a Marketplace App include:
- One-click deployment
- Ease of access for the users
- Streamlined subscriptions

[2022-10-15 12:20] Rutam21 commented on #2342
### Re-creating this for hacktoberfest with more info.

[2022-10-15 12:20] #2342 closed

[2022-10-15 12:22] Rutam21 opened #3404 "[New Integration]: Integration with DuckDB 🦆"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

DuckDB is an in-process SQL OLAP database management system. DuckDB has no external dependencies, neither for compilation nor during run-time. For releases, the entire source tree of DuckDB is compiled into two files, a header and an implementation file, a so-called “amalgamation”. This greatly s

[2022-10-15 12:22] Rutam21 commented on #3404
@ZoranPandovski Please assign me this. I am working on it.

[2022-10-15 12:22] Rutam21 commented on #2687
### Re-creating this for hacktoberfest with more info.

[2022-10-15 12:22] #2687 closed

[2022-10-15 12:24] Rutam21 opened #3405 "[New Integration]: Integration for Crime Analytics and Prediction with MindsDB"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

A Crime Forecasting Model would solve the following issues.
- Make crime-solving techniques more efficient
- Predict Crime patterns in a specific territory
- Help detectives to predict the nature of the Crime and a Probable Culprit
- Extract valuable information from raw data gathered by means of

[2022-10-15 12:24] Rutam21 commented on #2338
### Re-creating this for hacktoberfest with more info.

[2022-10-15 12:24] #2338 closed

[2022-10-15 12:25] Rutam21 opened #3406 "[New Integration]: Integration for better in-house Meteorological Forecasts and Predictions"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

With this issue, the aim is to solve the following scenarios.
- Enable someone who wants to fetch the raw weather data through some available API and then train their in-house custom Prediction models
- Eradicate the dependency on any 3rd-party weather forecasting apps
- With the in-house predict

[2022-10-15 12:26] Rutam21 commented on #2341
### Re-creating this for hacktoberfest with more info.

[2022-10-15 12:26] #2341 closed

[2022-10-15 12:28] Rutam21 opened #3407 "[New Integration]: Integration for leading Content Management System Strapi"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Content Management Systems are quite popular these days. These allow you to manage your data's creation and modification, which typically includes a database merely through drag and drop only. Developing an integration/plugin would provide the following.

- Users will easily use ML models through

[2022-10-15 12:30] Rutam21 opened #3408 "[New Integration]: Integration for leading Content Management System Contentful"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Content Management Systems are quite popular these days. These allow you to manage your data's creation and modification, which typically includes a database merely through drag and drop only. Developing an integration/plugin would provide the following.

- Users will easily use ML models through

[2022-10-15 12:31] Rutam21 opened #3409 "[New Integration]: Integration for leading Content Management System Agility"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Content Management Systems are quite popular these days. These allow you to manage your data's creation and modification, which typically includes a database merely through drag and drop only. Developing an integration/plugin would provide the following.

- Users will easily use ML models through

[2022-10-15 12:32] Rutam21 opened #3410 "[New Integration]: Integration for leading Content Management System Sanity"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Content Management Systems are quite popular these days. These allow you to manage your data's creation and modification, which typically includes a database merely through drag and drop only. Developing an integration/plugin would provide the following.

- Users will easily use ML models through

[2022-10-15 12:33] Rutam21 opened #3411 "[New Integration]: Integration for leading Content Management System Storyblok"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Content Management Systems are quite popular these days. These allow you to manage your data's creation and modification, which typically includes a database merely through drag and drop only. Developing an integration/plugin would provide the following.

- Users will easily use ML models through

[2022-10-15 12:33] Rutam21 commented on #2349
### Re-creating this for hacktoberfest with more info.

[2022-10-15 12:33] #2349 closed

[2022-10-15 12:38] Rutam21 commented on #3411
@GeauxWeisbeck4 If you were actively working on the Storyblok integration, then you can ask for re-assignment here. Thanks.

[2022-10-15 12:57] StarTrooper08 commented on #3180
I m quite confused!

[2022-10-15 13:01] StarTrooper08 commented on #2937
I'm curious to know how to develop these new integrations.
Is there any guide to do so?

[2022-10-15 13:14] GeauxWeisbeck4 commented on #3411
@Rutam21 Hi, yes I am. I am about to work on it right now actually if you could reassign it here. Thank you!

[2022-10-15 13:15] Rutam21 commented on #3411
Thanks for the confirmation. @ZoranPandovski can re-assign it to you.

[2022-10-15 16:14] Artemis6969 commented on #3396
There is already an integration for Apache SINGA

[2022-10-15 17:00] ea-rus commented on #3347
#3315

[2022-10-15 17:03] ErdoganSeref commented on #3380
Can you assign me to the issue please?

[2022-10-15 17:04] ZoranPandovski commented on #2355
https://github.com/mindsdb/mindsdb/issues/3395

[2022-10-15 17:04] ZoranPandovski commented on #2356
https://github.com/mindsdb/mindsdb/issues/3394

[2022-10-15 17:06] ZoranPandovski commented on #3040
https://github.com/mindsdb/mindsdb/issues/3396

[2022-10-15 17:31] ZoranPandovski commented on #3170
Hey sure, please share your question

[2022-10-15 17:35] ZoranPandovski opened #3415 "[Docs] Remove old datasources assets (install-mssql.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `install-mssql.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/install-mssql.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down

[2022-10-15 17:40] ramonsaraiva commented on #3415
Happy to take this one.

[2022-10-15 17:47] chandrevdw31 commented on #2937
Hey @StarTrooper08 here is more information https://docs.mindsdb.com/contribute/integrations/ and you can follow this as reference https://github.com/mindsdb/mindsdb/tree/staging/mindsdb/integrations/handlers/postgres_handler

[2022-10-15 17:50] ArnavScripts commented on #3415
Thank You! #3417

[2022-10-15 17:55] ramonsaraiva commented on #3415
I'm afraid our PRs do the same things @ArnavScripts - up to @ZoranPandovski to decide which gets merged, I don't really mind.

[2022-10-15 18:57] MinuraPunchihewa commented on #3233
@ZoranPandovski I can take this up while I wait for my PRs to be reviewed.

[2022-10-15 19:00] MinuraPunchihewa commented on #3064
@ZoranPandovski I would like to take up this issue!

[2022-10-15 19:53] ZoranPandovski opened #3420 "[Docs] Remove old datasources assets (postgresql.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `postgresql.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/postgresql.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-

[2022-10-15 21:40] noviicee commented on #3372
@chandrevdw31 @ZoranPandovski kindly check the video once. Do let me know if any changes are required. Will be happy to improve :relaxed:

[2022-10-16 07:28] Artemis6969 commented on #3372
@noviicee don't mention the issue in your PR. It will cause the issue to auto-close if your PR is merged

[2022-10-16 09:55] akhildevelops commented on #3406
I'll work on this

[2022-10-16 10:24] StarTrooper08 commented on #3180
https://github.com/mindsdb/mindsdb/pull/3430

@martyna-mindsdb I've created PR for the same

[2022-10-16 11:00] nooras commented on #3410
Hi @ZoranPandovski @Rutam21
I wanted to try this task. Can you please guide me How can i contribute in this issue? Or any reference ? any steps ?
It seems... its little complicated task. Can you please guide me how can I start on this ?
Thanks. Waiting for your response :)

[2022-10-16 12:22] StarTrooper08 commented on #3384
https://twitter.com/_Atharva_08/status/1581620848351268866?s=20&t=cbPkcHUXrsOQAcTCi_PFXQ

I've written one thread on Twitter.

[2022-10-16 12:32] StarTrooper08 commented on #3384
Here is the pull request https://github.com/mindsdb/mindsdb/pull/3431

[2022-10-16 14:06] bachng2017 commented on #3234
we've proposed a fix from in lightwood repo (https://github.com/mindsdb/lightwood/pull/1022)

below is the result after the fix is applied (a existed predictor need to be re-created to reflect the fix)

1) without condition
[code]

2) "= LATEST"
[code]

3) "> LATEST"
[code]

[2022-10-16 15:28] saldanhad commented on #3293
I have read the CLA Document and I hereby sign the CLA

[2022-10-16 18:51] codingis4noobs2 commented on #3380
@ZoranPandovski Can u assign it to me 😀

[2022-10-16 18:56] ErdoganSeref commented on #3380
What content should the tutorial include? Do we have to use the lightwood framework?

[2022-10-16 19:45] soma2000-lang commented on #3170
@ZoranPandovski  I am solving this kind of issue for the first time so wanted to know which files here do  I need to change.Any resources about how can I integrate will also be beneficial

[2022-10-17 07:08] AquillaNatus commented on #3380
Hey can you assign this project to me?

[2022-10-17 07:28] chandrevdw31 opened #3436 "[New Integration]: Integrating Mindsdb with ArcGIS"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

MindsD can assist location intellegence software does analyses on classfication,clustering and regression and multivariate predictions.

### Motivation

ArcGIS is an open, interoperable platform that allows for the integration of complementary methods and techniques, whether through the ArcGIS AP

[2022-10-17 07:33] chandrevdw31 opened #3437 "[New Integration]: Integration with QGIS"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

MindsD can assist location intellegence software does analyses on classfication,clustering and regression and multivariate predictions. This also provides a tool for data visualization.

### Motivation

QGIS is a free and open-source cross-platform desktop geographic information system applicatio

[2022-10-17 07:43] chandrevdw31 opened #3438 "[New Integration]: SAP CRM"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Integration wth Customer Relationship Management systems require the need of monitoring the type of customer interactions with the business. Being able to predict the type of query a customer will most likely require assistance with in future can help make decisions in improving.

### Motivation

[2022-10-17 07:47] chandrevdw31 opened #3439 "[New Integration]: Salesforce"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Integration wth Customer Relationship Management systems require the need of monitoring the type of customer interactions with the business. Being able to predict the type of query a customer will most likely require assistance with in future can help make decisions in improving.

### Motivation

[2022-10-17 07:51] chandrevdw31 opened #3440 "[New Integration]: Oracle ERP"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Alot of huge companies like Petroleum and Steel manufacturing have the need to be able to predict asset maintainance, company inventory/ stock requirements, stock outages, customer order placements, customer behaviour(order placements,returns,cancellations),requested delivery dates, sales, wareho

[2022-10-17 07:56] chandrevdw31 opened #3441 "[New Integration]: SAP ERP"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Alot of huge companies like Petroleum and Steel manufacturing have the need to be able to predict asset maintainance, company inventory/ stock requirements, stock outages, customer order placements, customer behaviour(order placements,returns,cancellations),requested delivery dates, sales, wareho

[2022-10-17 08:03] chandrevdw31 opened #3443 "[New Integration]: Microsoft Dynamics"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Alot of huge companies like Petroleum and Steel manufacturing have the need to be able to predict asset maintainance, company inventory/ stock requirements, stock outages, customer order placements, customer behaviour(order placements,returns,cancellations),requested delivery dates, sales, wareho

[2022-10-17 08:07] chandrevdw31 opened #3444 "[New Integration]: Odoo"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Alot of huge companies like Petroleum and Steel manufacturing have the need to be able to predict asset maintainance, company inventory/ stock requirements, stock outages, customer order placements, customer behaviour(order placements,returns,cancellations),requested delivery dates, sales, wareho

[2022-10-17 09:15] ZoranPandovski commented on #3380
Hey @codingis4noobs2 , @ErdoganSeref , @AquillaNatus you can all write a tutroiral that's ok. Once you have it published just make a PR  to the docs with the link.

[2022-10-17 09:20] chandrevdw31 commented on #2281
Added as new issue

[2022-10-17 09:20] #2281 closed

[2022-10-17 09:20] #2282 closed

[2022-10-17 09:20] chandrevdw31 commented on #2284
added a new issue

[2022-10-17 09:20] #2284 closed

[2022-10-17 09:28] ZoranPandovski commented on #3325
Sure, once done, please make a PR

[2022-10-17 09:28] ZoranPandovski commented on #3376
Sure, feel free to do it

[2022-10-17 09:30] #3347 closed

[2022-10-17 09:42] chandrevdw31 opened #3446 "[Tutorial] CREATE VIEW with Chicago Taxi trips dataset"
### Task Descripton

Write tutorial about CREATE VIEW statement with the Uber dataset.

Use the dataset `chicago_taxi_trips_2016_01.csv` available at https://www.kaggle.com/datasets/chicago/chicago-taxi-rides-2016

Optional- merge all datasets available for Chicago taxi trips to transform it into big data.

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

## :loudspeaker: Additional

[2022-10-17 09:46] chandrevdw31 opened #3447 "[Tutorial] Predict Diamond prices with SQL Alchemy"
### Task Description

Write tutorial about predicting Diamond prices with MindsDB using SQL Alchemy.

Use dataset `diamonds.csv` available at https://www.kaggle.com/datasets/shivam2503/diamonds

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :five: points and entry into the draw for a  :point_down: :

-  :computer:

[2022-10-17 09:49] chandrevdw31 opened #3448 "[Tutorial] Predict Sales of Manufacturing using Java."
### Task description

Write tutorial about predicting Sales of a Manufacturing company with MindsDB using Java.

Use the dataset `Sheet1` available at https://www.kaggle.com/datasets/poojasingh92/sales-dataset-of-a-medium-scale-manufacturing-co

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :five: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blad

[2022-10-17 09:51] chandrevdw31 opened #3449 "[Tutorial] MindsDB Insights with Manufacturing Industries Production dataset"
### Task Description

Write tutorial on how to use MindsDB Insights using the manufacturing production dataset.

Use the dataset `large-scale-industries-csv.csv` available at https://www.kaggle.com/datasets/eishahassan/large-scale-manufacturing-industries-production

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :f

[2022-10-17 09:57] chandrevdw31 opened #3450 "[Tutorial] CREATE Predictor with USING statement-Cement Manufacturing Dataset(Civil Engineering)"
### Task Description

Write a tutorial on predicting cement manufacturing with the CREATE Predictor with USING statement.

Use the dataset `concrete.csv` available at https://www.kaggle.com/datasets/vinayakshanawad/cement-manufacturing-concrete-dataset.

References:https://docs.mindsdb.com/sql/create/predictor/

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :five: points and e

[2022-10-17 10:06] chandrevdw31 opened #3451 "[Tutorial]How to Create Your Own Encoder"
### Task Description

Write tutorial on how to create your own encoder with Iris specie dataset.

Use the dataset `Iris.csv` available at https://www.kaggle.com/datasets/uciml/iris.

Reference: https://lightwood.io/tutorials/custom_encoder_rulebased/custom_encoder_rulebased.html

Use the hashtags #mindsdb in the post.

[2022-10-17 10:14] chandrevdw31 opened #3452 "[Tutorial] How to Design a custom mixer model"
### Task Description

Write tutorial on how to design a custom mixer model.

Reference: https://lightwood.io/tutorials/custom_mixer/custom_mixer.html

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :five: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](https://www.razer.com/hard-bundles/Razer-Blade-15-Bundle-V5-Essential/RZHB-220912-

[2022-10-17 10:21] chandrevdw31 opened #3453 "[Tutorial] How to Construct a custom preprocessor to clean your data"
### Task Description

Write tutorial on how to construct a custom preprocessor to clean your data.

Use the dataset `Daily_Demand_Forecasting_Orders.csv` available at https://archive-beta.ics.uci.edu/ml/datasets/daily+demand+forecasting+orders

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

Reference:https://lightwood.io/tutorials/custom_cleaner/custom_cleaner.html

## :loudspeaker

[2022-10-17 10:39] chandrevdw31 opened #3455 "[Tutorial] Election Results Timeseries prediction using MindsDB with Python"
### Task Description

Write tutorial on predicting Election Results with MindsDB using Lightwood.

Use dataset `ElectionData2019.zip` https://archive-beta.ics.uci.edu/ml/datasets/real+time+election+results+portugal+2019

Reference:https://lightwood.io/tutorials/tutorial_time_series/tutorial_time_series.html

Use the hashtags #mindsdb and #hacktoberfest2022 in the posts

## :loudspeaker: Additional

[2022-10-17 10:48] tomhuds opened #3456 "Hugging Face: Changes to ML Handler code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

 - [x] 1) TH?: We should make task, model_name, input_column essential for all. Assert within ML handler? Query successful when they are missing - we should show an error.
- [x] 2) TH: need to add top_k
- [x] 4a) TH?: candidate_labels should also

[2022-10-17 10:50] tomhuds opened #3457 "Hugging Face: Changes to ML Handler backend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

- [ ] 3) Second predictor using the same model_name gets stuck at 'generating'
- [ ] 5) Likely to be due to ""s instead of ''s. Something else for us to check - raise an error if a problem?
- [ ] 6) Above should not be an error
- [ ] 7) Does this

[2022-10-17 11:15] Rutam21 commented on #3446
@chandrevdw31 I can work on this. Please assign this one to me. Thanks.

[2022-10-17 11:35] #3283 closed

[2022-10-17 11:49] #3369 closed

[2022-10-17 12:01] ZoranPandovski commented on #3410
Hey, yes :) Please check the:

- [Building new integration docs](https://docs.mindsdb.com/contribute/integrations/)
- [Review handlers code for e.g MySQL](https://github.com/mindsdb/mindsdb/tree/staging/mindsdb/integrations/handlers/mysql_handler)
- Research for Sanity python clients
Then we can discuss how to implement this

[2022-10-17 12:06] chandrevdw31 opened #3458 "[Video] What is MindsDB?"
### Task Description

**Create a video about:**
- What is MindsDB
- How the concept of AI tables is implemented
- The solution MindsDB offers.
- Why choose MindsDB.

Information can be based of the documentation https://docs.mindsdb.com/what-is-mindsdb/.

**Basic requirements:**

- Video must be of high quality(480p and up)
- If Voice over is used it should be a good voice synthesizer that does no

[2022-10-17 12:10] #2701 closed

[2022-10-17 12:18] #3278 closed, assigned to nobody

[2022-10-17 12:22] ZoranPandovski commented on #3170
Please check the https://docs.mindsdb.com/contribute/integrations/. This is a little bit more complicated integration so maybe you can try to work on another issue first

[2022-10-17 12:22] chandrevdw31 commented on #3279
Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

[2022-10-17 12:22] chandrevdw31 commented on #3282
Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

[2022-10-17 12:23] chandrevdw31 commented on #3284
Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

[2022-10-17 12:23] chandrevdw31 commented on #3286
Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

[2022-10-17 12:24] chandrevdw31 commented on #3287
Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

[2022-10-17 12:30] HengKevin commented on #3286
I have add the hashtags.

[2022-10-17 12:31] chandrevdw31 commented on #3288
Hey @alissatroiano, the unit of measurement can be converted to a string as that will solve the issue, R$/I is price per liter hence this would be okay. The dataset is .tsv as part of the challenge is to convert it to csv as it is hacktoberfest. You can try to do it via a local installation(starting mindsdb in docker would be easy). Your thought process is on the correct path. If you need any furt

[2022-10-17 12:51] chandrevdw31 commented on #3291
Hey @talkshrey you can research how to convert parquet to csv, you dont need to use duckdb, it was just a hint. This is just to make the tutorial a little bit more challenging  @ZoranPandovski

[2022-10-17 12:53] talkshrey commented on #3291
Sounds good will research on it and get back to you!

[2022-10-17 13:21] saldanhad commented on #3450
@ZoranPandovski could you please assign this to me, Thanks.

[2022-10-17 13:36] Tes-program commented on #3290
I am done writing. Should I make a PR to the community tutorial on the repo?
You can read on Medium [here](https://medium.com/@teslimodus/predicting-visualizing-hourly-electricity-demand-in-the-us-with-mindsdb-and-tableau-126d1c74d860) @ZoranPandovski @chandrevdw31

[2022-10-17 13:37] Tes-program commented on #3452
I am done with the other tutorial. Can i take this up?

[2022-10-17 14:23] alissatroiano commented on #3288
@chandrevdw31 Thanks for the feedback! It looks like nobody else has been assigned this task, so I'll give it another try

[2022-10-17 14:32] rohannsrivastav commented on #3455
Hi @chandrevdw31 can multiple people work on this?

[2022-10-17 14:38] chandrevdw31 commented on #3455
@rohannsrivastav yes multiple people can work on this

[2022-10-17 14:39] rfsiten commented on #2959
hey, I will integrate xgboost.

[2022-10-17 14:41] chandrevdw31 commented on #3290
You can make a PR request to the tutorial.md file in mindsdb/docs/mindsdb-docs/docs/

[2022-10-17 14:44] chandrevdw31 commented on #3452
@Tes-program yes you may, multiple people can be assigned to this one

[2022-10-17 14:52] #3290 closed

[2022-10-17 14:55] chandrevdw31 commented on #3379
@Gaurav4code and @HengKevin you both can start working on this

[2022-10-17 15:04] #3415 closed

[2022-10-17 17:25] martyna-mindsdb opened #3464 "[Mongo] Tutorial to Predict Purchasing Power per Country using MongoDB"
## Task Description
Create a predictor to predict the `purchasing_power_index` column per country based on the `cost_index` and `monthly_income` columns **using MongoDB**.

Use the `cost_of_living.csv` dataset available at https://www.kaggle.com/datasets/madhurpant/world-economic-data.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three: points and entry into the draw for a

[2022-10-17 17:28] martyna-mindsdb opened #3465 "[Mongo] Tutorial to Predict Mobile Phone Price using MongoDB"

[2022-10-17 17:30] martyna-mindsdb opened #3466 "[Mongo] Tutorial to Predict Bitcoin Price using MongoDB"

[2022-10-17 17:35] #3385 closed

[2022-10-17 17:36] #3383 closed

[2022-10-17 17:37] #3384 closed

[2022-10-17 18:08] martyna-mindsdb commented on #2392
It is completed.

[2022-10-17 18:08] #2392 closed

[2022-10-17 18:54] StarTrooper08 commented on #3466
I would love to work on this tutorial article

[2022-10-17 22:34] #3420 closed

[2022-10-17 22:38] ZoranPandovski opened #3471 "[Docs] Remove old datasources assets (mssql-ds.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mssql-ds.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/mssql-ds.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :co

[2022-10-17 22:58] fcoiuri commented on #3471
Hi, can I work on this issue?

[2022-10-18 02:53] HengKevin commented on #3325
@ZoranPandovski which directory do I make a PR to for this issue?

[2022-10-18 06:15] ArchitKumar-13 commented on #3471
We need to remove this gif, and also need to replace it with new docs?

[2022-10-18 07:55] rparthas commented on #3465
I am interested in this issue. can you explain bit in detail ? Do you want to load the data in mongodb and then do prediction ? Sorry If my questions are noobish.

[2022-10-18 08:20] EphraimX commented on #3464
Hi @ZoranPandovski , I can work on this, please assign it to me.

[2022-10-18 08:27] PG-Ayaney commented on #3465
It's asking you to create a MongoDB based upon the csv's given at kaggle. (you can create importing it, one for test, one for train).
Then you need to connect mindsdb to the MongoDB and then create a mindsdb regression model for the price using the PREDICTOR choosing the columns as features and for target the price_range. (best solutions always need to make feature engineering, as to choose the be

[2022-10-18 10:41] StpMax commented on #2981
@bachng2017 latest stable (and cloud) version should have it fixed. If there is no objections, then i'll close issue after few days

[2022-10-18 11:28] #2771 closed

[2022-10-18 11:28] #3322 closed

[2022-10-18 11:31] #3372 closed

[2022-10-18 11:37] #3279 closed

[2022-10-18 11:38] #3471 closed

[2022-10-18 11:39] #3390 closed

[2022-10-18 11:40] #2818 closed

[2022-10-18 12:10] nmiquan commented on #3251
## Testing CockroachDB Handler with [Dataset Name](URL to the Dataset)

1. Testing CREATE DATABASE

[code]

![CREATE_DATABASE](https://i.postimg.cc/L6nNKh25/Screenshot-from-2022-10-18-19-03-08.png)

2. Testing CREATE PREDICTOR
[code]

![CREATE_PREDICTOR](https://i.postimg.cc/D0bJ5V3v/Screenshot-from-2022-10-18-19-06-08.png)

3. Testing SELECT FROM PREDICTOR
[code]

![SELECT_FROM](https://i.postimg

[2022-10-18 12:40] StpMax opened #3475 "[DOC] `CREATE DATABASE` syntax changes"
It was:
[code]

it becomes:
[code]
`WITH` become to be optional.
`ENGINE` by default is 'mindsdb'. To create a 'project' engine should be = 'mindsdb'.
Therefore, to create project, all these requests are the same:
[code]
I think we should tend to use first one.

[2022-10-18 13:13] akhildevelops commented on #3372
Pls do accept my PR. Took efforts in editing.

[2022-10-18 13:46] akhildevelops commented on #3370
I'll share a video shortly on this.

[2022-10-18 13:48] akhildevelops commented on #3375
I'll share a video shortly

[2022-10-18 13:56] #3300 closed

[2022-10-18 14:02] ZoranPandovski opened #3479 "[Docs] Remove old datasources assets (mariadb.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mariadb.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/mariadb.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :comp

[2022-10-18 14:09] ZoranPandovski opened #3480 "[INTEGRATION] Add support for Legend data platform"
Add the support for https://github.com/finos/legend. To start check out the [Build new integration docs](https://docs.mindsdb.com/contribute/integrations/)

### Anything else?

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :seven: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](https://www.razer.com/hard-bundles/Razer-Blade-15-Bundl

[2022-10-18 14:11] dahjah opened #3481 "[Bug]: Docker and Pip links broken in getting-started"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

While I was setting up a new machine, I noticed that the Docker and Pip links were broken (404s at 'https://docs.mindsdb.com/deployment/docker' and 'https://docs.mindsdb.com/getting-started/setup/self-hosted/pip/source/' respectively) in getting-started, but not in quickstart. I did a quick s

[2022-10-18 14:13] dahjah commented on #3481
Submitted PR: https://github.com/mindsdb/mindsdb/pull/3477

Which appears to have already been approved, so this issue may have been overkill, apologies! I'll close it now

[2022-10-18 14:13] #3481 closed

[2022-10-18 14:14] tomoyanime commented on #3479
Hi @ZoranPandovski I'd like to work on this

[2022-10-18 14:16] ZoranPandovski commented on #3479
Sure, just make a PR

[2022-10-18 14:50] ruliarso opened #3483 "[Bug]: [Docker] http API not started using mindsdb/mindsdb:latest (Windows 10)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

OS Windows 10.
Docker started, mongodb API and mysql API started.
But http API not started.

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-10-18 15:17] bachng2017 commented on #2981
sure

[2022-10-18 15:25] alissatroiano commented on #3312
Hey guys, I just had this issue when attempting to upload the following dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil - It was originally a  `.tsv` file and it was way bigger than 10MB, so I converted it to a `.csv` and deleted a bunch of rows to get it down to 9MB.. I also converted all of the rows that had special characters "$" and "/" to strings with double quota

[2022-10-18 15:42] GloriaOkeke commented on #3458
Hey @chandrevdw31 can I also make a write-up about this?

[2022-10-18 15:49] chandrevdw31 commented on #3458
@GloriaOkeke yes ofcourse

[2022-10-18 16:01] chandrevdw31 commented on #3375
@akhildevelops awesome

[2022-10-18 16:01] chandrevdw31 commented on #3370
@akhildevelops awesome, feel free to also send them directly to me over slack if you dont mind

[2022-10-18 16:03] chandrevdw31 commented on #3372
@akhildevelops you can still submit the PR to tutorials.md. I will repost this issue

[2022-10-18 16:05] chandrevdw31 opened #3485 "[Video] Create a free account on MindsDB cloud."
### Task Description

Create a video tutorial about how to create a free account on MindsDB Cloud.

You can use the documentation as a guide https://docs.mindsdb.com/setup/cloud/

**Basic requirements:**

- Video must be of high quality(480p and up)
- If Voice over is used it should be a good voice synthesizer that does not sound too robotic. Please research a good tool to use.
- Video must be upl

[2022-10-18 16:06] chandrevdw31 commented on #3372
opened new issue #3485

[2022-10-18 16:07] akhildevelops commented on #3372
Thank you @chandrevdw31

[2022-10-18 16:36] alissatroiano opened #3486 "[Video] Running MindsDB with Docker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

As a user, I'd like to learn how to setup & install Docker on my machine so I can connect to MindsDB locally.

### Describe the solution you'd like.

A tutorial video (on Youtube): **"Setup Docker for MindsDB"**

Video will walk users through the

[2022-10-18 16:46] martyna-mindsdb commented on #3465
@rparthas
Please have a look at the [Mongo API doc pages here](https://docs.mindsdb.com/mongo/collection-structure/).
Also, in this case, it is a classification prediction, so you can have a look at the [classification tutorial here](https://docs.mindsdb.com/sql/tutorials/customer-churn/).

[2022-10-18 16:56] martyna-mindsdb opened #3487 "[Mongo] Tutorial to Predict Selling Prices of Cars using MongoDB"
## Task Description
Create a predictor to predict the selling prices of cars ordered by year and grouped by car name **using MongoDB**.

Use the `car data.csv` dataset available at https://www.kaggle.com/datasets/vijayaadithyanvg/car-price-predictionused-cars.

Feel free to create either an article or a video tutorial!

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three: poi