[2022-06-23 08:27] ea-rus commented on #2376
The idea for update command syntax:
[code]

[2022-06-23 11:33] ianu82 commented on #2054
This came up again in a potential customer call yesterday. The potential customer wanted to know if they could retrain models in an automated fashion and based on triggers (eg time passed, data drift, rows added).

[2022-06-24 01:39] #2375 closed

[2022-06-24 01:42] Ricram2 commented on #2375
Thanks @StpMax !

[2022-06-24 05:39] funs690 opened #2379 "'NoneType' object has no attribute 'data'"
excute drop predictor with error return, bug the sql excute success

console log :

2022-06-24 13:33:32,765 - DEBUG - COM_QUERY: drop predictor chem_test_predictor_test
2022-06-24 13:33:32,812 - ERROR - ERROR while executing query
Traceback (most recent call last):
  File "/root/mindsdb/lib/python3.8/site-packages/mindsdb/api/mysql/mysql_proxy/mysql_proxy.py", line 732, in handle
    response = se

[2022-06-24 10:05] ianu82 opened #2383 "[CUSTOMER REQUEST] Scalability testing and improvements x3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Expecting datasets with much larger than usual volumes of data in the coming weeks and months.

Let's a) know where we are today and b) work out how equipped we are to handle larger volumes and c) work out what we need (if anything) to do so.

###

[2022-06-25 02:43] Ricram2 opened #2387 "Re work images without background for Docs."

[2022-06-25 02:47] Ricram2 opened #2384 "home-rentals.md Missing link for .csv file for home rentals Docs"

[2022-06-25 02:47] Ricram2 opened #2385 "Fix dark mode issues Docs"

[2022-06-25 02:48] Ricram2 opened #2386 "Change css styles for links Docs"

[2022-06-26 14:47] ZoranPandovski commented on #2379
@funs690 Just to confirm, the DROP PREDICTOR statements returned the above error but it actually work(it delete predictor)?

[2022-06-27 12:30] StpMax commented on #2379
should be fixed in new version

[2022-06-27 13:12] #2353 closed

[2022-06-27 13:25] #1786 closed

[2022-06-27 13:34] #2194 closed, assigned to StpMax

[2022-06-27 13:45] StpMax opened #2392 "Implement New syntax for `DESCRIBE {model}`"
`{EXPLAIN | DESCRIBE | DESC}` is regular mysql statement which returns table columns list. We should avoid of return non-standard answers on standard queries. Therefore we need another statement to get model description. Please provide proposals for it.
May be just add 'model': `DESCRIBE MODEL {name}`?

[2022-06-27 13:47] StpMax commented on #2353
Will be fixed in new version

[2022-06-27 15:28] ZoranPandovski opened #2393 "New syntax for CREATE DATABASE in Mongo"
We need to add support for the `CREATE DATABASE` in Mongo API.

[2022-06-27 17:10] Ricram2 commented on #2392
My two cents here: `model` `predictor` both?

[2022-06-27 18:22] Ricram2 opened #2394 "at publick cloud it will be possible to create predictor from file view mysql api for any user."

[2022-06-28 01:28] #2386 closed

[2022-06-28 01:29] #2384 closed

[2022-06-28 01:29] #2385 closed

[2022-06-28 01:29] #2387 closed

[2022-06-28 11:29] StpMax commented on #2392
yes, we can add both if we agree with it

[2022-06-28 15:43] Ricram2 opened #2400 "TiDB handler"

[2022-06-28 18:50] Ricram2 opened #2403 "Capacity for cloud 4M Rows client"

[2022-06-28 18:51] Ricram2 commented on #2403
This is to be discussed. If solved please close :)

[2022-06-28 18:54] Ricram2 opened #2404 "Handlers Deployment"

[2022-06-28 18:55] Ricram2 opened #2405 "Handlers docs"

[2022-06-28 18:56] Ricram2 opened #2406 "Have MindsDB to have lightwood as an optional handler"

[2022-06-28 18:57] Ricram2 opened #2407 "Kaftka docs review"

[2022-06-28 19:00] Ricram2 opened #2408 "Mongo interface docs"

[2022-06-28 19:03] Ricram2 opened #2409 "Status of Mongo and Timeseries Fixing JOIN"

[2022-06-28 19:03] Ricram2 commented on #2409
Please delete if already fixed. Sorry

[2022-06-28 19:04] Ricram2 opened #2410 "Syntax to send queries to parent DB"

[2022-06-28 19:04] Ricram2 opened #2411 "[Bug] Tableau Long predictors freeze"

[2022-06-28 19:05] Ricram2 opened #2412 "Docs For Timeseries with MongoDB"

[2022-06-28 19:06] Ricram2 opened #2413 "Write Snowflake handler"

[2022-06-29 03:02] parthiv11 commented on #2328
Hey @ZoranPandovski i want to work on integration please assign to me.
And will you guide  me for it?

[2022-06-29 12:14] Ricram2 commented on #2054
@torrmal
1. Concept of `JOB`.
2. Commands on `EVERY`

[2022-06-29 12:17] tomhuds commented on #2054
@Ricram2 this issue is more related to 'how can i specify which data I want to retrain on', rather than 'how can I schedule retraining'

[2022-06-29 12:20] Ricram2 commented on #2054
RETRAIN [predictor_name] FROM ( SELECT  * FROM ... )

[2022-06-29 12:25] Ricram2 commented on #2410
`[integration] ([native query])`

[2022-06-29 12:37] Ricram2 commented on #2400
Help them as GS. Add them to Slack And learn form the co-building process
- J

[2022-06-29 13:12] Ricram2 opened #2414 "Add Shopify handler on the Dev contest."

[2022-06-29 16:06] Ricram2 opened #2417 "Scope Next steps for mongo (Please create issues)"
- [x] support USING  @ea-rus
- [x] create predictor from sql query  @ea-rus
- [x] show and query integrations in mongo server  @ea-rus
- [x] Add support for CREATE DATABASE in mongo e.g CREATE COLLECTION
- [x] Support date type. Now timeseries join filter "hist_date > '2021-05-01'" doesn't return data in MapReduseStep @ea-rus
- [x] delete predictor from mongo
- [x] describe predictor

To discuss /

[2022-06-30 11:14] ea-rus commented on #2410
[#190](https://github.com/mindsdb/mindsdb_sql/issues/190)

[2022-07-01 07:12] hkad98 opened #2420 "Update docker image to support ARM CPU"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I wanted to try out the mindsdb docker image. Unfortunately, I encountered several issues when running it, e.g., I cannot import any data. I tried PostgreSQL and data from CSV, and both were without success. This behaviour is related to the docker

[2022-07-01 09:06] chandrevdw31 commented on #2328
Hey @parthiv11 there is already a migration pull request open for influx. Please see PR https://github.com/mindsdb/mindsdb/pull/2088

[2022-07-01 13:10] EZFRICA commented on #2342
We can also add Google Cloud

- The [Google Cloud Marketplace](https://cloud.google.com/marketplace)
- Become a [Google Cloud Marketplace Vendor](https://cloud.google.com/marketplace/sell)

[2022-07-01 13:39] Ricram2 commented on #2310
Please confirm this issue can be closed :)

[2022-07-01 13:43] Ricram2 commented on #2247
@tomhuds is this still a thing?

[2022-07-01 13:52] Ricram2 commented on #2043
Can we close this @paxcema and @ea-rus

[2022-07-01 13:55] #2247 closed

[2022-07-01 13:56] tomhuds commented on #2247
Yep this is live in cloud now 🎉

[2022-07-01 13:57] Ricram2 commented on #1157
@ea-rus  Can we close this issue?

[2022-07-01 15:41] tomhuds commented on #2310
I think this is in Alpha, but not in stable yet?

[2022-07-01 15:51] ea-rus commented on #2411
We need to do cache for predictor

[2022-07-01 15:57] tomhuds commented on #2376
- [ ] @tomhuds demo step 1
- [ ] @tomhuds demo step 2
- [ ] @tomhuds demo step 2

- [ ] @StpMax @ea-rus fix duplicated columns when using CREATE TABLE (more info to follow)

[2022-07-01 15:57] tomhuds commented on #2376
- [ ] @tomhuds demo step 1
- [ ] @tomhuds demo step 2
- [ ] @tomhuds demo step 2

- [ ] @StpMax @ea-rus fix duplicated columns when using CREATE TABLE (more info to follow)

[2022-07-01 15:57] tomhuds commented on #2376
- [ ] @tomhuds demo step 1
- [ ] @tomhuds demo step 2
- [ ] @tomhuds demo step 2

- [ ] @StpMax @ea-rus fix duplicated columns when using CREATE TABLE (more info to follow)

[2022-07-01 15:57] tomhuds commented on #2376
- [ ] @tomhuds demo step 1
- [ ] @tomhuds demo step 2
- [ ] @tomhuds demo step 2

- [ ] @StpMax @ea-rus fix duplicated columns when using CREATE TABLE (more info to follow)

[2022-07-01 15:58] #2409 closed

[2022-07-01 16:07] Ricram2 commented on #2054
is this only for cloud or will it work locally as well ?

[2022-07-01 16:14] tomhuds opened #2423 "[BUG][CUSTOMER REQUEST]: CREATE TABLE with a query has unusual columns"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I use this query:

![image](https://user-images.githubusercontent.com/34073127/176931609-7474269d-1e0a-45f4-916e-7effeb816132.png)

I get these columns:
![image](https://user-images.githubusercontent.com/34073127/176931565-6f34c98a-bf73-4fda-a8a6-fef7e4a3bb09.png)

### Expected Behavior

[2022-07-01 16:22] Ricram2 opened #2424 "[CUSTOMER REQUEST] x2 : User can RETRAIN or 'adjust' a predictor, using a specified timeframe"

[2022-07-01 16:34] ea-rus commented on #2310
#2409

[2022-07-01 19:04] EZFRICA opened #2425 "[New Integration]: Store files in AWS S3 and Google Cloud Storage"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

This will allow to host the software on a serverless and stateless service. This will facilitate scaling because no critical data will be on the disk of the system running the application.

### Motivation

Allow users to save resources and money.

### Implementation

_No response_

### Anything e

[2022-07-03 22:08] paxcema commented on #2180
Yup, this works now.

[2022-07-03 22:08] #2180 closed

[2022-07-03 22:10] paxcema commented on #2043
I think we need to merge the above PR after checking there are no conflicts (because it's a bit outdated by now), but once merged we can close this issue.

[2022-07-04 04:45] MinuraPunchihewa commented on #2275
@ZoranPandovski I would like to work on this issue if no one else has taken it up.

[2022-07-04 11:37] ZoranPandovski commented on #2275
Awesome, @MinuraPunchihewa

[2022-07-04 12:36] ZoranPandovski opened #2429 "Add SingleStore handler"

[2022-07-04 12:43] #2347 closed

[2022-07-04 13:13] tomhuds opened #2430 "A place where users can search for their error and find the best solution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently when users have issues e.g. with installation, I'm not sure where they should go. Search on stack overflow? Post in #using_mindsdb in mindsdb community slack?

Lots of the problems users face will be common - it would be good to have the

[2022-07-04 13:41] Ricram2 commented on #2372
- [ ]The link is easy to miss.
- [ ] MindsDB calls them "models" in USING parameter_key but you land on a page detailing "Mixers". A user would wonder are they the same?
- [ ] The syntax/upper case/lower case is unclear from ones docs to the other (even if it is obvious why). Presumably it should be implemented as "LightGBM" in MindsDB not "mixer.LightGBM" for instance.
- [ ] What is Lightwood? Sh

[2022-07-04 13:56] tomhuds opened #2431 "[Bug]: Text left in the editor is not always stored when it is closed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The text in the editor is not always stored when it is closed.

https://www.loom.com/share/977c9b4b363b42138ab1b1186a2b7109

### Expected Behavior

Could the text be stored when a query is run?
Could there be a small 'save' icon at the top, to the right of the 'Run' button?

Ideally the exact

[2022-07-04 15:04] #2043 closed

[2022-07-04 16:58] Ricram2 opened #2434 "Horizontal Scroll Not Quite Working"
**Describe the bug**
![Kapture 2022-07-04 at 12 56 20](https://user-images.githubusercontent.com/24927430/177195593-23bfbfe3-dd7a-4f31-8d56-8e63d404d26c.gif)

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Alpha, make a query try to scroll.

[2022-07-04 17:31] paxcema opened #2435 "[Bug]: wrong output when JOINing data with a TS predictor"
**Describe the bug**
As opposed to JOINing a TS predictor with data (notice the ordering). As an example, our cloud demo uses this ordering and it works perfectly fine:

[code]

However, JOINing data with a TS predictor instead seems to truncate the output:

[code]

**To Reproduce**
1) Follow the time series cloud tutorial, check the behavior matches the first output above.

2) Execute this query:

[2022-07-05 10:36] ianu82 opened #2437 "Migration (Import/Export, DB Migrations)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

@ZoranPandovski, as discussed with Tom this morn:
 - Import/Export Feature (local only?)
 - Database migrations related to updates/upgrades

### Describe the solution you'd like.

-

### Describe an alternate solution.

-

### Anything else? (Addi

[2022-07-05 10:40] ianu82 opened #2438 "[CUSTOMER REQUEST]: Feature Importance (x2) Docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

As a user, I want to understand feature importance.

This has come up in several customer/prospective customer calls.

### Describe the solution you'd like.

The ability to understand feature importance.

### Describe an alternate solution.

_No r

[2022-07-05 13:51] ZoranPandovski opened #2440 "Support DESCRIBE for MongoDB API"
We need to add support for DESCRIBE in mongo as db.model_name.

[2022-07-05 16:17] tomhuds opened #2443 "[Bug]: Create predictor fails when running from mongo shell, but works from compass"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Error from training a predictor from mongo shell, but works fine on mongo shell within compass. This is on Alpha.

From mongo shell:
![image](https://user-images.githubusercontent.com/34073127/177371918-16c616e5-ff5e-4082-80bd-66d83509e4dd.png)

From within compass:
![image](https://user-imag

[2022-07-05 16:22] tomhuds opened #2444 "[Bug]: Different accuracy scores when date field is formatted as timestamp/date/text"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

house_sales_model_h1w4
Collection: house_sales
saledate as Timestamp
Accuracy: 0.686

house_sales_model_h1w4_v2
Collection: house_sales2
saledate as date
Accuracy: 0.37

house_sales_model_h1w4_th
Collection: house_sales_th
saledate as text
Accuracy: 0.37

![image](https://user-images.githubus

[2022-07-06 08:59] ea-rus commented on #2417
create predictor from sql query:
[code]

[2022-07-06 10:48] tomhuds commented on #2376
Demo (for customer) created here:

https://docs.google.com/document/d/1dhqW3fdiPJhtRptMuWP-kVF9SWrWwcs-Q2EhLtabbH0/edit

We should probably also add a demo/tutorial in our docs

[2022-07-06 10:48] #2376 closed

[2022-07-06 10:59] tomhuds opened #2446 "Tutorial/demo for persisting predictions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Basic demo and syntax on customer data here: https://docs.google.com/document/d/1dhqW3fdiPJhtRptMuWP-kVF9SWrWwcs-Q2EhLtabbH0/edit

### Describe the solution you'd like.

Tutorial within docs?
Ideally video demo to accompany it
Must be on demo data

[2022-07-06 11:53] ea-rus commented on #2444
If values for types is:

- Timestamp: "2013-03-31T00:00:00.000+00:00"
- date: 3113
- text: "31/03/2013"

Then in case of timestamp type  is sorted properly. In other cases is looked like day is on first place therefore order is wrong

[2022-07-06 12:10] tomhuds opened #2448 "[Bug]: SELECT count(*) cannot be parsed by mindsdb_sql"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/34073127/177546727-0b46be7f-14a0-40bf-9cce-6170968fb1b6.png)

[test.webm](https://user-images.githubusercontent.com/34073127/177547146-787d69c3-fc71-4a98-b4a4-96620ecf22bb.webm)

### Expected Behavior

Ideally we support SQL expressions like

[2022-07-06 13:25] #2414 closed

[2022-07-06 14:34] Ricram2 commented on #2027
This is super old @paxcema, Do you think it has been solved?

[2022-07-06 14:39] paxcema commented on #2027
Let me check and report back.

[2022-07-06 14:52] adithyaakrishna opened #2449 "[CI] - Add GitHub Star Notify and Auto Labeler GitHub Action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

If users, star the repo how about we notify it on a channel on Slack, probably a new one like #github-notifications and along with this, lets add labels automatically when issues are created depending on the issue type

### Describe the solution y

[2022-07-06 14:56] #2372 closed

[2022-07-06 15:07] Ricram2 commented on #2209
This is purely MindsDB server related right?

[2022-07-06 15:10] paxcema commented on #2027
Yes, it's working with:

[code]

[2022-07-06 15:10] #2027 closed

[2022-07-06 15:41] #2434 closed

[2022-07-06 16:48] Ricram2 commented on #2376
@tomhuds, Like page called "Materializing into predictions into a table" that expands on:
https://docs.mindsdb.com/sql/api/insert/
https://docs.mindsdb.com/sql/create/table/
And provides a full example ?

[2022-07-06 16:51] tomhuds commented on #2376
Yep! Have added it here: https://github.com/mindsdb/mindsdb/issues/2446

[2022-07-07 10:50] ea-rus opened #2451 "Apache Superset support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Support of apache superset.
Known problems using mindsdb as mysql database:
1. In "add dataset" dialog such sql is sended which is not supported at the moment
[code]
2. In case of dataset created from sql with *, e.g:
[code]
dashboard tries to run

[2022-07-07 11:17] ea-rus commented on #2443
https://github.com/mindsdb/mindsdb/commit/e27eceddffa965bfd3fb29e0299c87814a15e0cd

[2022-07-07 11:34] tomhuds opened #2453 "H2O PredictiveHandler"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Very low priority for now.

Could be useful to have in integration for H2O, another AutoML.

This may also open up additional use-cases that we can solve, e.g. clustering
https://docs.h2o.ai/h2o/latest-stable/h2o-py/docs/intro.html

### Describe t

[2022-07-07 11:44] tomhuds opened #2454 "[CUSTOMER REQUEST]: Add predictions as a column to the original table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We currently have a good workaround, which adds predictions to a new 'predictions' table. (https://docs.google.com/document/d/1dhqW3fdiPJhtRptMuWP-kVF9SWrWwcs-Q2EhLtabbH0/edit)

One customer is ok with this, but having the predictions in the same

[2022-07-07 11:56] tomhuds opened #2455 "Documentation for querying mindsdb via backend frameworks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Customers are unsure about how to run queries from within their backend frameworks.

Some documentation on this will be really useful for:
- Increasing number of customers trying out mindsdb
- Reducing time to production
- Designing how a user-fri

[2022-07-07 12:05] tomhuds opened #2456 "Documentation for using a custom predictor/analysis block from mindsdb (on-prem & cloud)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

A likely solution for one potential customer is to use a custom predictor and analysis block.
We should document how this can be done, internally (and ideally externally), both for on-prem and cloud.

### Describe the solution you'd like.

Include

[2022-07-07 12:51] ea-rus commented on #2440
Could we use such syntax?
-  db.fish_model.stats({'scale':'features'})
-  db.fish_model.stats({'scale':'model'})
-  db.fish_model.stats({'scale':'ensemble'})

[2022-07-07 15:02] ZoranPandovski commented on #2440
Since we can't add our own function the above make sense

[2022-07-07 16:38] MinuraPunchihewa commented on #2278
@ZoranPandovski I would like to work on this issue as well if no one else has taken it up.

[2022-07-07 17:21] MinuraPunchihewa commented on #2278
@ZoranPandovski I have a question regarding how to approach this. Should we create one handler for the different file formats (e.g. `json_handler`, `csv_handler` etc.) or should it be one handler for all types?

[2022-07-08 06:40] abitrolly commented on #2278
@MinuraPunchihewa parser for a dir structure may be a huge piece of work alone, because mapping of object sets into tables can be different. But if that part is done right, then adding txt/JSON/CSV/YAML parsers would be a piece of cake.

[2022-07-08 07:13] MinuraPunchihewa commented on #2278
@abitrolly The files that will be stored in your directly, will they be different files that need to be resolved into individual tables or will it be multiple files that have the same structure and need to be resolved into one big table?

[2022-07-08 07:27] abitrolly commented on #2278
@MinuraPunchihewa it depends. It may happen that some datasets can not be converged into tables. But for example, the issue data from this archive https://bitbucket-archive.softwareheritage.org/projects/py/pypy/pypy.html should map into DB tables perfectly.

[2022-07-08 07:56] ea-rus commented on #2417
Describe predictor
[code]

[2022-07-08 08:03] ea-rus commented on #2417
Delete predictor already workes
`db.predictors.deleteOne({'name': "fish_model"})`

[2022-07-08 11:49] bhaumiksonii opened #2458 "[New Integration]:Mindsdb on Kubernetes"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

- Kubernetes enables one to run multiple containers at the same time. For these containers, a developer creates a ‘Deployment’ and sets the number of replicas, the set of instructions is presented that can be easily understood by humans.
- As multiple cloud infrastructure provides support to Kube

[2022-07-08 11:56] #2429 closed

[2022-07-08 11:57] #2405 closed

[2022-07-08 11:57] #2413 closed

[2022-07-08 12:40] ZoranPandovski commented on #2226
Hi @20BCS4643 this is still open if you want to contribute. The main idea is to create a handler that will support integration between MindsDB and Timestream. To start you can check https://docs.mindsdb.com/contribute/integrations/ and review the code of the handlers https://github.com/mindsdb/mindsdb/tree/staging/mindsdb/integrations/handlers. If you have more questions we can discuss this on sla

[2022-07-08 12:43] tino097 commented on #2312
Working on this

[2022-07-08 12:49] bhaumiksonii commented on #2458
@ZoranPandovski  sure

[2022-07-08 13:16] ea-rus commented on #2417
Working with integrations using mongo from mongo shell:
- `show databases` - list integrations
- `use <database_name>` - switch database
- `db.getCollectionNames()` - list tables
- `db.collection_name.find({  <filter> })` - query table

Also it works from Compass

[2022-07-08 13:38] MinuraPunchihewa commented on #2333
@ZoranPandovski I would like to take up this issue!

[2022-07-08 16:13] CSharpDummy opened #2461 "[Bug]: mindsdb throws network and query error in web console"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

- Created docker container
- connected to web console: http://127.0.0.1:47334/
- setup port forwarding
- connected to web console from other server: http://x.x.x.x:47334/
- error pop up for network and query
- inspect web browser error log:
Failed to load resource: net::ERR_CONNECTION_REFUSED

[2022-07-09 13:57] parthiv11 commented on #1170
@ZoranPandovski  i want to work on this .
please assign it to me and also guide me.

[2022-07-09 18:42] ZoranPandovski commented on #1170
To start you can check https://docs.mindsdb.com/contribute/integrations/ and review the code of the handlers https://github.com/mindsdb/mindsdb/tree/staging/mindsdb/integrations/handlers. If you have more questions we can discuss this on slack

[2022-07-10 11:42] DeviSaiKiranReddy opened #2462 ",y,y"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Download the dataset from link: `xyz.com/data/train.csv`
2. Run the code: `...etc`
3. You should see the error: `... `

**Expected behavior**
A clear and concise description of what you expected to happen, if relevant to the bug.

**Additional context**
Add an

[2022-07-10 12:24] shawky13 opened #2463 "حذف جميع اشتركات وروابط وحذف جميع الكونكت"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Download the dataset from link: `xyz.com/data/train.csv`
2. Run the code: `...etc`
3. You should see the error: `... `

**Expected behavior**
A clear and concise description of what you expected to happen, if relevant to the bug.

**Additional context**
Add an

[2022-07-10 12:45] shawky13 commented on #2463
[mindsdb/mindsdb] حذف جميع اشتركات وروابط وحذف جميع الكونكت (Issue #2463)

[2022-07-10 20:13] MinuraPunchihewa commented on #2359
@ZoranPandovski I would like to take up this issue!

[2022-07-11 06:32] abitrolly commented on #2275
@ZoranPandovski https://github.com/mindsdb/mindsdb/pull/2450 is merged, but how can I use it? MindsDB still doesn't have the CLI, right?

[2022-07-11 06:35] abitrolly commented on #2276
I see nobody was interested to pick this up. So let my try to do something with it. Maybe it is an insurmountable usability challenge after all.

[2022-07-11 07:39] bispaul commented on #1728
Hi @ZoranPandovski is this issue open for contribution? If yes, I would like to help.

[2022-07-11 10:55] ianu82 opened #2468 "DOCS: Technical explanation and diagrams of exactly how MindsDB works"
Several customers have asked for diagrams to explain _exactly_ what is going on underneath the hood with MindsDB.

 - How does data flow?
 - What bits of MindsDB talk to others?
 - What APIs are used?
 - etc etc etc

@ZoranPandovski has kindly provided some examples here but would be great to polish, give explanations alongside and go into even deeper detail:
![Screenshot 2022-07-11 at 10 26 05](h

[2022-07-11 10:57] ianu82 opened #2469 "DOCS: Detail how to use FILES in "Plug my data" section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We may need to document the way to use files generally, and also locally. When you click "plug data to MindsDB" it just gives you info on CREATE DATABASE statement - there is no mention of FILES at all on the page.

![Screenshot 2022-07-11 at 11 4

[2022-07-11 11:00] #2463 closed

[2022-07-11 11:00] #2462 closed

[2022-07-11 11:03] ZoranPandovski commented on #1728
Hi @bispaul yes it is. If you have any questions let us know

[2022-07-11 13:33] bispaul commented on #1728
Hi @ZoranPandovski,
Redash is actually not a database or a storage system. It is a **BI** tool that has the ability to connect to different databases. So if I can get a context of the use case that will be helpful.

[2022-07-11 13:37] ZoranPandovski commented on #1728
Yes, so actually Redash has MySQL connector https://redash.io/data-sources/mysql which we can re-use. MindsDB provides MySQL API so the first step is to connect Redash to MindsDB and see if that works, maybe we will need to make minor changes to understand some of the SQL Commands they will send.

[2022-07-11 13:44] ZoranPandovski commented on #2461
Can you try to extend the default mindsdb configuration? You can create a `config.json` file as:

[code]
And change the host for the APIs. At start you can extend this by running `python -m mindsdb --config=config.json` or in Docker as explained [here](https://docs.mindsdb.com/setup/self-hosted/docker/?h=config#optional-additional-configuration)

[2022-07-11 15:58] #2393 closed

[2022-07-11 16:02] ea-rus opened #2471 "CREATE TABLE or INSERT INTO from mongo server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We need alternative command from mongo server for:
1. INSERT INTO https://docs.mindsdb.com/sql/api/insert/
2. CREATE TABLE https://docs.mindsdb.com/sql/create/table/

### Describe the solution you'd like.

_No response_

### Describe an alternate

[2022-07-11 16:40] ea-rus commented on #2054
I think we should also specify the integration:

[code]

[2022-07-11 16:42] Dav1dF commented on #2054
Moving this to the next sprint because we're running out of capacity quickly in this sprint

[2022-07-11 18:35] iamsamba commented on #2358
Great. Lets start in this week if you are ready.

[2022-07-11 20:14] CSharpDummy commented on #2461
I changed it, but get the same error (replaced ip with x.x.x.x).
Used ssl=true and also tried false

vendor.9a1831d5.js:194 Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?
    at dL (http://x.x.x.x:47334/assets/vendor.9a1831d5.js:2132:3939)
    at http://x.x.x.x:47334/assets/vendor.9a1831d5.js:218:1834
    at div

[2022-07-12 08:09] ea-rus commented on #2444
@paxcema, @tomhuds, do we need to do something about this?
For me it looks like normal behaviour.

[2022-07-12 09:48] tomhuds opened #2474 "Persist timeseries predictions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

A user may find it useful to have their timeseries predictions stored in their table. This would allow them to consume their predictions by accessing their existing database and/or BI tools.

Probably best to just roughly scope this for now, until

[2022-07-12 10:28] ea-rus commented on #2392
We don't have keyword MODEL at the moment. And currently we are using only PREDICTOR keyword in commands:
- CREATE PREDICTOR
- DROP PREDICTOR
Maybe it is better keep using this keyword with DESCRIBE:
DESCRIBE PREDICTOR name

[2022-07-12 14:25] ianu82 opened #2475 "CUSTOMER REQUEST - Uptime tracker for Cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

When they receive an error message, a user would like to know if MindsDB Cloud is experiencing problems or if something else is going on.

### Describe the solution you'd like.

[This is the suggested tool](https://betterstack.com/better-uptime) t

[2022-07-12 15:03] CSharpDummy opened #2477 "[Bug]: Docker container not starting up in newest version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Docker hangs with the following error msg:
Traceback (most recent call last):

  File "/opt/conda/lib/python3.7/runpy.py", line 193, in _run_module_as_main

    "__main__", mod_spec)

  File "/opt/conda/lib/python3.7/runpy.py", line 85, in _run_code

    exec(code, run_globals)

  File "/opt/

[2022-07-12 15:23] paxcema opened #2478 "[Lightwood handler] Add mindsdb and mindsdb_sql as dependencies."

[2022-07-12 15:24] paxcema opened #2479 "Remove direct usage of lightwood within mindsdb"
We should migrate to the new handler paradigm for predictive behaviors as well. This involves:

- [x] Remove lightwood as dependency from mindsdb
- [x] Replace direct lightwood usage from interfaces/model/learn_process with generic handler calls
- [x] Replace direct lightwood usage from api/mysql/mysql_proxy/datahub/datanodes/mindsdb_datanode with generic predictive handler behavior
- [x] Replace

[2022-07-12 16:33] enigma972 commented on #2327
I'll implement that_

[2022-07-12 18:15] ZoranPandovski commented on #2477
I was able to reproduce it, it is related to missing dependencies for handlers. We will fix this asap. Thanks @CSharpDummy

[2022-07-12 19:58] prathikshetty2002 opened #2482 "[New Integration]: Tabluea with mindsdb for data analysis"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

1) Tableau can handle large volumes of data quickly. It is faster and provides extensive features for visualizing the data.
2) Compared to Power BI, Tableau integrates much better with the R language.
3) Tableau also allows its users to customize dashboards specifically for a device. It delivers

[2022-07-13 10:05] chandrevdw31 commented on #2482
Hey MindsDB is already integrated with Tableau. IThe compatibility with MindsDB was announced yesterday.

[2022-07-13 16:11] tomhuds opened #2487 "Shopify integration | user flow and syntax"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Objective: a customer can connect to their shopify data directly from cloud, and make revenue predictions.

### Describe the solution you'd like.

- [x] How does the customer authorise us connecting to their data
- [x] What commands do they need t

[2022-07-13 16:20] ianu82 opened #2488 "[CUSTOMER REQUEST]: S3 as a datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

User wants to have data in s3 and use it to train and retrain models in the usual way.

### Describe the solution you'd like.

Ability to have data in s3 and use it with MindsDB like any other datasource.

### Describe an alternate solution.

_No

[2022-07-13 16:22] tomhuds opened #2489 "Shopify integration | handler"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Dependent on: https://github.com/mindsdb/mindsdb/issues/2487
- We need to grab data from the **orders** table
- We'll likely need to use the Partner API (for making apps), as opposed to the Admin API (for accessing just your own store).
For Admin

[2022-07-13 16:24] tomhuds opened #2490 "Shopify integration | UX/UI updates & docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Dependent on: https://github.com/mindsdb/mindsdb/issues/2487

- Any new icons/banners etc
- Any new docs/tutorials

### Describe the solution you'd like.

- [ ] Agree updates
- [ ] Make UX/UI changes
- [ ] Make changes to docs/tutorials

### Descr

[2022-07-13 16:25] tomhuds opened #2491 "Shopify integration | marketing materials"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Dependent on: https://github.com/mindsdb/mindsdb/issues/2487

- Any ads/webinars/articles/promo

### Describe the solution you'd like.

- [ ] Decide approach
- [ ] Make the materials
- [ ] Release them

### Describe an alternate solution.

_No res

[2022-07-13 17:51] paxcema commented on #2444
Good catch @ea-rus, I still think it is worth looking into the type inference for Lightwood. My one concern would be that it somehow is not ending up as a timestamp. Will give an update shortly.

[2022-07-13 18:32] prathikshetty2002 commented on #2482
oh thats great , i will look into it. closing this issue for time being as the project is on the track i will wait and if any more suggestions i will further add in another issue.

[2022-07-13 18:32] #2482 closed, assigned to nobody

[2022-07-13 18:35] prathikshetty2002 commented on #2449
That sounds cool actually, we can add an action to also notify people about their contributor milestones.

[2022-07-13 19:21] ZoranPandovski commented on #2477
Can you pull latest, It should be resolved now

[2022-07-13 20:18] prathikshetty2002 opened #2492 "[Bug]: Not able to preview data due to internal server error HTTP 500"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I was trying the mindsdb get started tutorial, that time i encountered HTTP 500 error, is it due to URL authorization scope not found ? or anything else. I tried googling why this happens but couldn't get a proper explanation. I can't do further steps it keeps on giving me a HTTP 500 error. I

[2022-07-13 20:36] CSharpDummy commented on #2477
It's working fine!

[2022-07-13 20:36] #2477 closed

[2022-07-13 20:39] #2404 closed

[2022-07-13 21:01] ZoranPandovski commented on #2492
Hi @prathikshetty2002 it looks like you are SELECTing two different queries and MindsDB can't run them in parallel. Can you execute them one by one?

[2022-07-13 21:03] ZoranPandovski commented on #2488
@ianu82 I think this will work by URL upload. Or the question is more of having an S3 engine where users can connect to different buckets, files as a DB, or table?

[2022-07-13 21:49] ianu82 commented on #2488
Yes, more like it is a DB or table. @paxcema was also present for the conversation and may be able to better articulate it.

[2022-07-14 00:12] paxcema commented on #2444
Using Lightwood 22.7.2.0 I can reproduce the difference in performance **but** only if the date variant is built as a string `f{DDMMYYYY}` without `/` as separator. Then, it gets interpreted as an integer and the reported accuracy changes. However, the other two variants give the same accuracy and correct type inference as date/datetime respectively.

I think that is acceptable. From the original

[2022-07-14 03:49] prathikshetty2002 commented on #2492
Yes i tried one by one first, but didn't seem to work. Here is the ss after running the database create query individually:

![Screenshot 2022-07-14 091810](https://user-images.githubusercontent.com/63772910/178894176-d0a1aa05-9133-42a0-a373-d233bc154e7d.png)

[2022-07-14 03:51] prathikshetty2002 commented on #2492
It looks like the default parameters seem to mismatch , might need to update that

[2022-07-14 07:00] hkad98 commented on #2492
I encountered similar behaviour when running the latest docker image (HTTP500). When I checked the log there was the following ERROR:

[code]

[2022-07-14 07:09] prathikshetty2002 commented on #2492
Oh this seems like a typecast error. I found the same issue on this website: https://researchdatapod.com/how-to-solve-python-typeerror-object-of-type-decimal-is-not-json-serializable/

This explains why the issue is raised and what can be done to solve it.

Hope this error gets fixed soon 👍

[2022-07-14 07:21] hkad98 commented on #2492
@prathikshetty2002 I hope that there will be finally a working version. The latest three versions are not usable, containing major bugs. I have to say that I am disappointed because I was exploring mindsdb, and I was excited. Unfortunately, these unsuccessful releases are really bad for the dev experience.

[2022-07-14 08:15] prathikshetty2002 commented on #2492
@hkad98 same here i was exploring it for my project. I also intended to do create some tutorial on ML with mindsdb . Waiting for new stable release soon.

[2022-07-14 08:21] chandrevdw31 commented on #2492
Hey @prathikshetty2002  can you try highlighting the enire CREATE DATABASE query? In the screenshot you sent the curly bracket } is not highlighted

[2022-07-14 08:29] prathikshetty2002 commented on #2492
Ok i will try it thanks and update if the issue solved

[2022-07-14 08:30] chandrevdw31 commented on #2492
what parameters are mismatching?

[2022-07-14 08:33] prathikshetty2002 commented on #2492
Yeah sure

[2022-07-14 08:34] chandrevdw31 commented on #2492
@prathikshetty2002 please send me a message,just look for Chandre

[2022-07-14 08:41] chandrevdw31 commented on #2492
Hey please send me a message over on slack so that we can trouble shoot together. Cloud is working perfectly fine for me. For now the team is still working on the latest image for docker. There was a new deployment for the handlers hence them still working on the docker image. If you perhaps want to contribute resolving this with the team,please reach out to do so :)

[2022-07-14 08:43] chandrevdw31 commented on #2492
Thank you, please comment which parameters you think is mismatched

[2022-07-14 11:44] eskarimov commented on #2330
I'd like to work on this issue, could you assign it to me pls?

[2022-07-14 12:05] Ricram2 commented on #2310
Closing as done.

[2022-07-14 12:05] #2310 closed

[2022-07-14 12:32] prathikshetty2002 commented on #2492
hey thanks , i will contact you on slack currently engaged in some assignments. And yes the error is still persistent. Don't know why it works fine for you but throws me an error weird right.

 I was talking about the parameters that are pre-loaded. Mindsdb have already created demo db for us, i thought we might need to change it or reconfigure since the default ones seem throwing errors. But now

[2022-07-14 12:34] ea-rus commented on #2179
We updated mongo server and it should work
@suxoza, please check it

[2022-07-14 12:49] Ricram2 opened #2493 "Insert / create table into mongo"

[2022-07-14 12:50] Ricram2 opened #2494 "something wrong with prediction (result contents empty rows) @ea-rus @paxcema"

[2022-07-14 12:50] ea-rus commented on #2443
It shold work. Fix is on cloud.

[2022-07-14 12:50] Ricram2 opened #2495 "last version of compass don't work properly (i.e don't show predictor info) @ea-rus"

[2022-07-14 12:51] Ricram2 commented on #2417
Closing, smaller issues created.

[2022-07-14 12:51] #2417 closed

[2022-07-14 13:03] Ricram2 commented on #2392
Let's do `DESCRIBE PREDICTOR`

[2022-07-14 14:46] ZoranPandovski commented on #2330
Sure @eskarimov to start you can check https://docs.mindsdb.com/contribute/integrations/ and review the code of the handlers https://github.com/mindsdb/mindsdb/tree/staging/mindsdb/integrations/handlers. If you have more questions we can discuss this on slack

[2022-07-14 15:01] #1157 closed

[2022-07-14 15:02] #2197 closed

[2022-07-14 16:09] paxcema commented on #2488
Indeed, I think the user wanted the integration to be as "native" as possible (so, basically a new handler).

[2022-07-14 18:39] prathikshetty2002 commented on #2492
yes it looks like , im using the mindsdb cloud editor and getting similar sort of error HTTP 500 refuses connection.

[2022-07-14 20:36] Ricram2 opened #2497 "Divide the UPLOAD file via editor example from SELECT FROM FILES and make it a new doc UPLOAD FILE"

[2022-07-14 20:37] Ricram2 opened #2498 "create MindsDB TABLES Structure explanation doc."

[2022-07-14 20:38] Ricram2 opened #2499 "Create DATABASE Structure explanation doc"

[2022-07-14 21:30] David00154 commented on #2167
I want to work on this please

[2022-07-14 23:30] paxcema opened #2501 "[BUG] Wrong join output for category forecasts"
**Describe the bug**
When joining data with a time series model with categorical targets, the resulting output is malformed.

This blocks merging #2500.

**To Reproduce**

1. Checkout branch `fixes_for_eeg_tutorial`, which is forked from `eeg_delta_ts_tutorial` (see #2500 for more context) and has a minor fix within the datanode class. Additionally, checkout the `add_tn_conf_categorical` Lightwood

[2022-07-15 02:47] alejandrovillegas commented on #2431
@Dav1dF @tomhuds
https://github.com/mindsdb/mindsdb-frontend/pull/608

[2022-07-15 06:54] David00154 commented on #2167
Can you assign this to me???

[2022-07-15 06:54] David00154 commented on #2167
Can you assign this to me??

[2022-07-15 08:30] ea-rus commented on #2392
Do we need to support both DESCRIBE PREDICTOR and  DESCRIBE  at the same time? Or we can just switch syntax to DESCRIBE PREDICTOR?

[2022-07-15 10:08] #1931 closed

[2022-07-15 11:11] ZoranPandovski commented on #2167
I think @pixpack started on another integration, but He can help with the questions for sure 🙌

[2022-07-15 12:26] StpMax opened #2502 "Need to store rows and columns count for training dataset"
That need to collect statistic

[2022-07-15 12:43] #2502 closed

[2022-07-15 13:31] #2431 closed

[2022-07-15 16:02] #2412 closed

[2022-07-15 16:03] #2179 closed

[2022-07-15 17:43] prathikshetty2002 commented on #2492
This issue was fixed with the new release [v22.7.3.4](https://github.com/mindsdb/mindsdb/releases/tag/v22.7.3.4) . Now i can run the CREATE predictions and train my model.

Here is the ss of working model :

![Screenshot 2022-07-15 230508](https://user-images.githubusercontent.com/63772910/179281135-dc79144c-7729-43f6-972c-45983e4bfa95.png)

I'm closing this issue since it was fixed in the latest

[2022-07-15 17:43] #2492 closed

[2022-07-15 19:47] CSharpDummy commented on #2461
Here is a ss:

![2022-07-15_15h46_00](https://user-images.githubusercontent.com/7610502/179300145-74ce55f4-7a40-44e0-a294-e4dad5e9e427.png)

[2022-07-17 14:35] vibhuti019 commented on #2341
I would love to work on this issue.

[2022-07-17 15:26] Junaid-1217 commented on #2493
Interested

[2022-07-17 17:30] arf1372 commented on #2278
I, personally, when reading this issue's title, I think about the "dataloader" functionality in pytorch.
It takes a directory path and assumes each directory within that given is a "target label" and each file in those directory is a "record of data with that specific label". Also, you may split data into "Train" and "Test" directories and have those at the first hand.

[2022-07-17 17:42] arf1372 commented on #2337
As integrating with ES is a thing and Tricardi is another thing, May I suggest to reduce the title so it limits the issue domain to "Integration with Tricardi"?

[2022-07-17 20:17] MinuraPunchihewa commented on #2326
@ZoranPandovski I would like to take up this issue as well, but do we have access to an existing Netezza warehouse? I have been trying to create a IBM account for a while now, without any success..

[2022-07-17 23:37] voidbuf commented on #2311
Hi, I would like to work on this feature!

[2022-07-18 06:27] abitrolly commented on #2278
@arf1372 sounds like MindsDB could reuse that code, as it already depends on `pytorch` through lightwood.

https://github.com/mindsdb/lightwood/blob/2cddb5a95581f6ef3d6e8f72281ca4d4c07edd8b/requirements.txt#L6

Instead of using predefined dataloader, I'd still expect MindsDB to find the most suitable.

[2022-07-18 08:24] abitrolly commented on #2276
The progress log so far. Since I haven't got any money from filling any of the ideas, I am in the process of finding a job. This week I was busy solving challenges from Google, so not much time got into MindsDB.

The plan is to implement CLI in the format of `mindsdb <db> <query>` in the Docker image. In Docker, because I don't want to risk ruining my system in case some dependency does something

[2022-07-18 11:39] ZoranPandovski commented on #2326
Nope, let me see if I can do it

[2022-07-18 11:40] ZoranPandovski commented on #2341
Sure, if you have any questions let us know

[2022-07-18 11:41] ZoranPandovski commented on #2311
Sure @voidbuf if you have any question let us know

[2022-07-18 11:51] ZoranPandovski opened #2508 "Create ClickHouse handler"

[2022-07-18 11:51] ZoranPandovski opened #2509 "Create CockroachDB handler"

[2022-07-18 11:51] ZoranPandovski opened #2510 "Create ScyllaDB handler"

[2022-07-18 12:37] MinuraPunchihewa commented on #2326
@ZoranPandovski Yes, please check. I tried today as well..

[2022-07-18 14:01] tomhuds opened #2513 "[Bug]: Error creating a predictor, says unusual timestamp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Error message:
![image](https://user-images.githubusercontent.com/34073127/179527949-9ff10c31-b487-4434-8ab9-5ebdd819671c.png)

However the latest tdate in the data is:
![image](https://user-images.githubusercontent.com/34073127/179528270-6460978e-717c-4fe8-9adc-177d037c450b.png)

### Expecte

[2022-07-18 14:08] tomhuds opened #2514 "[Bug]: Cannot connect to Alpha from compass"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/8c08cb21d55c421e8e38c34ea0df9c06

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-07-18 14:31] Ricram2 commented on #2443
Please confirm and close :) @ea-rus and @tomhuds

[2022-07-18 14:32] Ricram2 commented on #2440
@ea-rus If fixed, please close it :)

[2022-07-18 14:36] Ricram2 commented on #2420
@ZoranPandovski Please evaluate

[2022-07-18 14:39] Ricram2 commented on #2379
@StpMax If working please close :)

[2022-07-18 14:43] Ricram2 commented on #2322
Depends on this : #2511
@alejandrovillegas Make sure to fix this when the handler is done :)

[2022-07-18 14:45] Ricram2 commented on #2320
Maybe we need to discuss the scope of this. My two cents here are:
That governance - For now - Should be handled by the Database itself. Thoughts ? @ZoranPandovski @torrmal @ianu82

[2022-07-18 14:48] ZoranPandovski commented on #2379
This works

[2022-07-18 14:49] ZoranPandovski commented on #2420
We should w8 for Pytorch support

[2022-07-18 14:52] #2508 closed

[2022-07-18 14:53] Ricram2 commented on #1920
@ea-rus Please Close if solved.

[2022-07-18 14:54] Ricram2 commented on #1374
@ilia-tsyplenkov Can we close this ? Super old :)

[2022-07-18 14:57] ilia-tsyplenkov commented on #1374
@Ricram2 I think - no, since I suppose it hasn't fixed yet. But maybe @StpMax knows better.

[2022-07-18 15:01] StpMax commented on #1374
It is still actual

[2022-07-18 15:24] Ricram2 opened #2516 "Create a document to define arch for independent Handlers"
handlers should talk to handlers. Because of the `JOIN` This has to be done that way.

[2022-07-18 15:45] #2333 closed

[2022-07-18 16:13] Ricram2 opened #2517 "[CUSTOMER REQUEST] Create Cassandra handler"

[2022-07-18 17:10] Ricram2 opened #2518 "[CUSTOMER REQUEST] title"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Download the dataset from link: `xyz.com/data/train.csv`
2. Run the code: `...etc`
3. You should see the error: `... `

**Expected behavior**
A clear and concise description of what you expected to happen, if relevant to the bug.

**Additional context**
Add an

[2022-07-18 20:35] #1920 closed

[2022-07-18 20:38] #2443 closed

[2022-07-18 20:51] paxcema opened #2521 "Drop "tls" option for pyMongo"
After the 4.1.1 release (see [here](https://pymongo.readthedocs.io/en/stable/changelog.html)), this flag is not supported anymore, and trying to install MindsDB on a fresh environment gives an error. We should remove the "tls" extra flag from requirements.

[code]

Another option is to cap pymongo to `< 4.0`.

[2022-07-18 23:27] CSharpDummy commented on #2461
I checked the last version and still get the same error.

[2022-07-19 06:39] tanzilkhan commented on #2281
@chandrevdw31 for the last one, the spelling should be Odoo . Thanks

[2022-07-19 08:22] ea-rus commented on #2513
Yes looks like is Lightwood:
- date values in historical_price_ingredient collection are fine.
- I tested locally with Lightwood 22.6.1.2 and it was success. When I updated to 22.7.2.2 i got the same error

[2022-07-19 12:08] chandrevdw31 commented on #2281
Hey @tanzilkhan are you taking this up for the integration challenge?

[2022-07-19 14:42] atompie commented on #2337
@arf1372 Done.

[2022-07-19 15:27] StpMax opened #2526 "[Bug]: wrong content type for static files at windows"
at windows user got `text/plain` content type for js files

[2022-07-19 16:00] Ricram2 opened #2527 "[BUG][CUSTOMER REQUEST] Follow GS use case"

[2022-07-19 16:09] ianu82 commented on #2383
Second customer asked for this.

[2022-07-19 16:12] Ricram2 opened #2528 "[BUG] M1 Chip Situation."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Download the dataset from link: `xyz.com/data/train.csv`
2. Run the code: `...etc`
3. You should see the error: `... `

**Expected behavior**
A clear and concise description of what you expected to happen, if relevant to the bug.

**Additional context**
Add an

[2022-07-19 16:32] tomhuds opened #2529 "[Bug][CUSTOMER REQUEST]: Timeseries predictor fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

TS predictor error:
_ValueError: Must have equal len keys and value when setting with an iterable, raised at: /usr/local/lib/python3.8/dist-packages/mindsdb/interfaces/model/learn_process.py#177_

MindsDB video: https://www.loom.com/share/4a4b705236774e7b847180e2f270400a

Code to reproduce: h

[2022-07-19 17:03] tomhuds opened #2530 "[CUSTOMER REQUEST] Training time and viability with respect to hardware specs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Customer is asking about the hardware specs. It would be good to have answers to the following questions:

1. What are the minimum requirements (GPUs/CPUs/Storage/RAM), wrt data size
- Numbers in the image below seem awfully high
2. Should I focus

[2022-07-19 17:42] MinuraPunchihewa commented on #2425
@EZFRICA Thank you for clearing that up!

[2022-07-19 17:49] Dav1dF opened #2531 "Enable MindsDB from MariaDB SkySQL [EPIC]"
![Image](https://user-images.githubusercontent.com/83925592/179816573-b4794366-3880-4b06-8c2c-c9215350a4ce.png)

When SkySQL users activate the `Enable Machine Learning` button, SkySQL passes user acc’t information to a MindsDB endpoint, and a MindsDB acc’t is automatically created from the passed user/acc’t and DB data. Additionally, specific SkySQL config and connection information for that user

[2022-07-19 18:58] EZFRICA commented on #2425
You're welcome!

Le mar. 19 juil. 2022 à 18:42, Minura Punchihewa ***@***.***>
a écrit :

[2022-07-19 19:30] paxcema commented on #2529
Tracked down issue to the ICP analysis block in Lightwood. Will deploy a fix ASAP.

[2022-07-19 19:47] ianu82 commented on #2383
Third customer asked about this (from months ago)

[2022-07-20 08:18] bispaul commented on #1728
Hi @ZoranPandovski 1st step is completed , using MySQL connector in redash I was able to connect to MindsDB MySQL API and it works (atleast normal SQL is working). Now can you let me know the next step to create the connector from MindsDB to redash
<img width="1271" alt="Screenshot 2022-07-20 at 1 47 50 PM" src="https://user-images.githubusercontent.com/22766405/179933040-71b58ae8-9cfb-4fe7-bbb4-4

[2022-07-20 09:53] 26tanishabanik commented on #2338
@Rutam21 , @ZoranPandovski , I went through the API, and found a dataset on Hate Crime, with metadata: Years
1991-2020
Last modified
October 25, 2021

I found a csv, how shall I proceed from here, if you guys can guide me, as I would like to do some analysis on the dataset.

[2022-07-20 11:55] #2526 closed

[2022-07-20 15:59] Ricram2 opened #2537 "Review intro for tutorials have the data and describe it as an step"

[2022-07-20 16:01] Ricram2 commented on #2537
The idea here is:
All tutorials should have the same Intro structure where the data is available to download and then explained to give the reader an understanding of the problem and resources prior training a model.

[2022-07-20 16:33] martyna-mindsdb commented on #2537
*** Overview of tutorials and their data sets:

1. Home Rentals ---> data set downloads automatically from https://mindsdb-test-file-dataset.s3.amazonaws.com/home_rentals.csv

2. Process Quality ---> user must be logged in to kaggle to download the data set (https://www.kaggle.com/datasets/edumagalhaes/quality-prediction-in-a-mining-process); is it possible to provide it the same way as it is for

[2022-07-20 18:51] Ricram2 commented on #2537
Kaggle is good, not a problem for them to live there.
@ZoranPandovski could help us find the data for these 2:

https://docs.mindsdb.com/sql/tutorials/customer-churn/
https://docs.mindsdb.com/sql/tutorials/mindsdb-superset-snowflake/

[2022-07-20 19:00] Ricram2 commented on #2497
SQL API doc for `SELECT FROM files`
https://docs.mindsdb.com/sql/api/select_files/
Currently, this doc besides explaining the actual usage of the `SELECT` also explains how to upload a file (this can only be done via the GUI)
Ideally, we would like to create an independent new page that explains how to upload a file. Maybe indexed after `plug your data to MindsDB`
Under a new name like `Uploading

[2022-07-20 21:47] CSharpDummy commented on #2461
@ZoranPandovski
https://github.com/mindsdb/mindsdb/blob/staging/mindsdb/api/http/initialize.py

doesn't that line always defaults 10 127.0.0.1:

        if host in ('', '0.0.0.0'):
            url = f'http://127.0.0.1:{port}/'
        else:
            url = f'http://{host}:{port}/'

[2022-07-21 09:35] ianu82 opened #2538 "[DOCS] Show output of queries in docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

A user on a call suggested that we show in docs what should be returned in example queries.

1) Cloud output and other output can vary. Either success message eg "Query successfully completed" when doing CREATE PREDICTOR or the output of running a

[2022-07-21 13:52] philfuchs opened #2540 "[Bug]: Exception "Lightgbm mixer not supported for type: tags" when following process plant tutorial"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behaviour

I'm following the [Manufacturing process quality tutorial](https://docs.mindsdb.com/sql/tutorials/process-quality/) and during training I get the error ` Exception: Lightgbm mixer not supported for type: tags, raised at: /opt/conda/lib/python3.7/site-packages/mindsdb/interfaces/model/learn_p

[2022-07-21 14:41] martyna-mindsdb commented on #2537
Ok. I put it on hold until I get the links to CSV data files. Thanks.

[2022-07-21 15:54] #2497 closed

[2022-07-21 15:59] ZoranPandovski commented on #2537
Chicago data https://github.com/mindsdb/benchmarks/blob/main/benchmarks/datasets/chicago_transit_ts/CTA_2019_2020.csv

[2022-07-21 16:12] Ricram2 commented on #2468
Hi @Dav1dF and @Hazemmhady Could you guys apply the new styles to these graphics. We would love to develop a new section on the docs with this intel.

[2022-07-21 16:34] #2359 closed

[2022-07-21 17:05] Ricram2 opened #2545 "[DOC] And next step after uploading file"

[2022-07-21 17:06] Ricram2 commented on #2545
https://docs.mindsdb.com/sql/create/file/
![Image](https://user-images.githubusercontent.com/24927430/180272564-49baa1ca-ea23-4f1a-b16c-7ae3acb7a52c.png)

Let's add a section here that takes us to the next step that would be CREATING A PREDICTOR FROM FILE

[2022-07-21 18:07] Ricram2 opened #2546 "[DOC] Move Process Quality tutorial to community tutorials"

[2022-07-21 18:11] martyna-mindsdb commented on #2469
There is a new section added ('Upload a File to MindsDB') that shows how to upload a file.

The section 'Plug data to MindsDB' is now renamed to 'Data Setup in MindsDB'.

[2022-07-22 06:52] hkad98 commented on #2420
@persistman Unfortunately, MindsDB depends on PyTorch docker image, which is not ARM-based. So we need to wait for PyTorch to make an ARM-based docker image, and then MindsDB can update their docker image to support ARM.

[2022-07-22 07:13] persistman commented on #2420
@hkad98 OK, thanks

[2022-07-22 08:03] ersinesen opened #2552 "[Bug]: Leaked semaphore results in unending training"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I train [a kaggle dataset](https://www.kaggle.com/datasets/rohitsahoo/sales-forecasting?resource=download) training does not end due to a leaked semaphore:

[code]

[code]

### Expected Behavior

Training should end.

### Steps To Reproduce

[code]
2. [Dataset](https://www.kaggle.com/dat

[2022-07-22 10:42] ZoranPandovski commented on #1728
Let's try the example we discussed in slack. If that fails, we will need to fix the issues

[2022-07-22 10:45] #2546 closed

[2022-07-22 10:53] #2469 closed

[2022-07-22 10:53] #2545 closed

[2022-07-22 10:56] mlavery36 commented on #2461
facing same problems when I built the docker container

[2022-07-22 11:03] ZoranPandovski commented on #2461
@CSharpDummy that link is only for automatically starting the MindsDB UI. We are trying to reproduce this and get asap with a solution

[2022-07-22 12:30] Ricram2 commented on #2530
@torrmal How should we get these hardware specs?

[2022-07-22 13:41] ea-rus commented on #2514
https://github.com/mindsdb/mindsdb/pull/2507

[2022-07-22 14:03] StpMax opened #2553 "Save predictor training time"

[2022-07-22 14:29] #2553 closed

[2022-07-22 15:00] paxcema commented on #2529
Fixed in Lightwood 22.7.3.0.

[2022-07-22 15:00] #2529 closed

[2022-07-22 15:24] StpMax opened #2555 "Endpoint to return handler's icons"
At the moment we return icons for handlers by general `GET /handlers` route. Icons are return in svg or base64, which is not effective. We need new endpoint to return handler icon:
`GET /handlers/{name}/icon/{icon_file_name}`

[2022-07-22 18:44] Ricram2 commented on #2408
based on this -> https://github.com/mindsdb/mindsdb/blob/staging/mindsdb/api/mongo/README.md
Create a section for mongo.

[2022-07-22 19:23] David00154 commented on #2331
Do you mean structuring the output of the query??

[2022-07-23 06:24] malith7597 commented on #2341
I would like to work on this integration

[2022-07-23 06:55] vibhuti019 commented on #2341
I am working on this one sir

[2022-07-23 09:30] nablabits commented on #2300
Hi, I  wanted to contribute for the first time to this project and this issue looked nice as a starting point.

So I've correctly installed the source locally on my Ubuntu 20 computer and managed to connect and run a few queries on a local postgres database without the need of the ngrok tunneling which in postgres is expected as local connections are enabled by default:
[code]
Is this issue relate

[2022-07-23 09:48] malith7597 commented on #2341
Ok bro, No worries
________________________________
From: Vibhuti ***@***.***>
Sent: Saturday, July 23, 2022 12:25 PM
To: mindsdb/mindsdb ***@***.***>
Cc: CS/2017/012 - KAVINDA M.M.M.T. ***@***.***>; Comment ***@***.***>
Subject: Re: [mindsdb/mindsdb] [New Integration]: Integration for better in-house Meteorological Forecasts and Predictions (Issue #2341)

I am working on this one sir

—
Reply to

[2022-07-24 07:40] MinuraPunchihewa commented on #2331
@David00154 Yeah, pretty much. To be more precise, with graph databases like neo4j, you have the option of viewing the data you query as a graph visualization, right? But, you also have the option to view it in a table format.

For our integration, I think how we want to see it is in a graph format, yes?

[2022-07-24 07:41] chandrevdw31 commented on #2300
Hey there! This is only required when using a local database and you are not using your IP address as a host. This is already taken up by Zoran who will add it to the future trouble shooting documentation. Thanks for your interest! Please do check other available issues,and feel free to come have a chat on Slack!!

[2022-07-24 15:56] MinuraPunchihewa commented on #1886
@ZoranPandovski Is this currently being worked on? If not, I can take it up!

[2022-07-24 18:02] ddcprg commented on #1886
@MinuraPunchihewa I wasn't meant to work on this but I been quite busy with other stuff. Feel free to pick this up if @ZoranPandovski agrees

[2022-07-25 06:49] shobhi1310 commented on #2282
Hi!, Can I work on this issue?

[2022-07-25 08:18] mlavery36 commented on #2537
@ZoranPandovski

https://docs.mindsdb.com/sql/tutorials/house-sales-forecasting/
is it HR_MA csv file same as example_db.demo_data.house_sales ?

[2022-07-25 09:19] ZoranPandovski commented on #2341
@malith7597 We have around 40 open issues, feel free to check them and we will assign one to you :raised_hands:

[2022-07-25 09:26] ZoranPandovski commented on #2300
@nablabits Hey, I never started on this one, so maybe you can take it. The idea was to use the MindsDB cloud and connect it to your local database. To do that, you will need to use `ngrock` to expose your localdatabase. If you have more questions you can join our slack and discuss it with @chandrevdw31

[2022-07-25 09:28] ZoranPandovski commented on #2282
Sure @shobhi1310

[2022-07-25 09:30] ZoranPandovski commented on #2537
I think yes, it is just different name of the data as a table

[2022-07-25 09:31] ZoranPandovski commented on #2552
@ersinesen Thanks for reporting, this is hard to reproduce. Did you try to stop/start MindsDB again?

[2022-07-25 09:40] ersinesen commented on #2552
Yes. I stopped the container and restart a couple of times, but it didn't change.

[2022-07-25 11:03] #2521 closed

[2022-07-25 13:18] bispaul opened #2560 "Support for Redash.io"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I run  the CREATE DATABASE query from redash.io UI

`CREATE DATABASE example_db
WITH ENGINE = "postgres",
PARAMETERS = {
    "user": "demo_user",
    "password": "demo_password",
    "host": "3.220.66.106",
    "port": "5432",
    "database": "demo"
    }`

Screenshot of the error attach

[2022-07-25 13:40] andrejkr10 opened #2561 "[Bug]: Adding data in docker environment never ends and keeps rolling the progress bar."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After installing docker image and connecting to port 47334 the bar on "Add data" section never disappears.

### Expected Behavior

In the cloud environment, after adding data, user can pick one of many database connectors.

### Steps To Reproduce

_No response_

### Anything else?

_No respon

[2022-07-25 14:35] ZoranPandovski opened #2563 "Create Apache Cassandra handler"

[2022-07-25 14:44] MinuraPunchihewa commented on #2326
@ZoranPandovski I can take up this as well! I sorted out my issue with the IBM account.

[2022-07-25 14:52] Ricram2 opened #2564 "Create database tables in the demo database for the tutorials"

[2022-07-25 15:14] Ricram2 commented on #2444
Can't reproduce. Closing

[2022-07-25 15:14] #2444 closed

[2022-07-25 15:17] #2509 closed

[2022-07-25 15:23] Ricram2 opened #2565 "Handler communication wrapper class"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

.

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-07-25 15:24] Ricram2 opened #2566 "Docker compose for distributions cloud and open."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

1

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-07-25 15:29] Ricram2 commented on #2489
GraphQL. Orders table.

[2022-07-25 15:34] martyna-mindsdb commented on #2564
@Ricram2
I see that the `demo` database has both the `home_rentals` and `house_sales` tables in its `demo_data` schema.
![image](https://user-images.githubusercontent.com/109554435/180816345-037d7f8c-501f-4283-8110-7baac432d94d.png)

So the only table that must be created is for the customer churn tutorial. In order to do it, I need a user to connect to the `demo` database that has permissions to

[2022-07-25 15:40] Ricram2 commented on #2564
@martyna-mindsdb I am sure that if you ask @StpMax  and give him the file he can upload it for us.

[2022-07-25 16:07] martyna-mindsdb commented on #2564
It is done now.

The tables for all three tutorials are in the `demo` database.
![image](https://user-images.githubusercontent.com/109554435/180823497-98ba8796-eacd-421c-bbe5-592c2d9f3a82.png)

And I can query them in the MindsDB Cloud editor.
![image](https://user-images.githubusercontent.com/109554435/180823984-553ba2cd-f6a1-4fa5-81e8-f745f8c2bb41.png)
![image](https://user-images.githubusercont

[2022-07-25 16:08] #2564 closed

[2022-07-25 16:12] shobhi1310 commented on #2282
@ZoranPandovski
Which CRM is being targeted, and which set of customer centric data are we looking at? Based on that we can  proceed further regarding the CRM integration.

[2022-07-25 17:22] nablabits commented on #2300
Oh, I see, thank you both for such a warming welcome. I'll try to set up a MindsDB cloud instance and try to connect my local databases

[2022-07-25 17:53] martyna-mindsdb commented on #2538
@Ricram2
I have the following questions regarding this issue:

1. To keep the docs consistent, it would be good to decide whether to use the output of the MindsDB Cloud editor or the output of the MySQL database. Please let me know.
2. I understand that this issue relates to the entire MindsDB documentation. That is, I would go section by section and add output to every query that misses it. Pleas

[2022-07-25 18:04] martyna-mindsdb commented on #2408
@Ricram2
Shall I create the _Mongo_ section under _Connect to MindsDB_?
![image](https://user-images.githubusercontent.com/109554435/180844200-6ff0867e-f671-4ce3-b3c9-b204dcc5d0e4.png)

[2022-07-25 18:08] martyna-mindsdb commented on #2407
@Ricram2
I will review the Kafka docs at https://docs.mindsdb.com/connect/kafka/.
I am going to install and use Docker Desktop on Windows to test all the instructions.

[2022-07-25 19:11] Ricram2 commented on #2538
For now. let's keep it MySQL output.

[2022-07-25 19:20] Ricram2 commented on #2407
Perfect. If you have questions on getting this running please ask @ilia-tsyplenkov.

[2022-07-25 19:37] Ricram2 commented on #2498
As seen here:
https://docs.mindsdb.com/sql/table-structure/

This doc should explain better what it is and what it contains the Mindsdb database and it's tables.
Also a detail on what the tables are and why.

I think this page can help a lot to understand better the product.

[2022-07-25 19:38] Ricram2 commented on #2499
I am not sure if this is a duplicate of #2498 or maybe another section. @ZoranPandovski please help ! :)

[2022-07-25 23:24] paxcema commented on #2528
As for Lightwood: it's possible to install it for M1 machines using miniconda + conda-forge. This is due to LightGBM lacking precompiled wheels, and if we want users to have a seamless experience, conda-forge is _the_ only place that offers a precompiled option right now.

This means we need to think about moving the setup process of that entire package over from pip to conda, see [here](https://g

[2022-07-25 23:27] paxcema commented on #2527
[`lightwood 22.7.4.0`](https://github.com/mindsdb/lightwood/pull/954) will fix the end-to-end flow.

[2022-07-26 06:09] bispaul commented on #2510
Hi @ZoranPandovski , Can I do it?

[2022-07-26 06:15] bispaul commented on #2360
Hi @ZoranPandovski. Can I take this up?

[2022-07-26 08:40] ZoranPandovski commented on #2360
Hey sure @bispaul

[2022-07-26 08:40] ZoranPandovski commented on #2510
This is already done :) I just assigned Hive to you :raised_hands:

[2022-07-26 09:26] chandrevdw31 commented on #2561
Hey @andrejkr10 can you try again please? I just tested and it works. After selecting the 'Add data' the page navigates to to 'Select your datasource' where I am able to select a database. As a sidenote, the 'Add data' button will always display ontop of the SQL Editor next to the Learning Hub button

[2022-07-26 10:15] ZoranPandovski opened #2569 "ClickHouse driver should be installed by default"

[2022-07-26 10:18] ZoranPandovski opened #2570 "Improve warning about importing handlers dependencies"
A lot of users got confused by our import warnings as:

[code]
Let's improve that

[2022-07-26 10:54] chandrevdw31 commented on #2540
Hi @philfuchs we will update the docs accordingly. Just to confirm, are you running MindsDB locally and can you you test with the below query?

[code]

Lastly can you confirm that the dataset's headers has been cleaned up before creating the predictor? Please feel free to send me a message over Slack and we can have a chat about your experience with the tutorials

[2022-07-26 11:38] philfuchs commented on #2540
Hi @chandrevdw31,

yes, I'm running it locally in a Docker container according to the docs.

I just prepared (`sed -e 's/ /_/g' -e 's/\(.*\)/\L\1/' -e 's/%_//g' MiningProcess_Flotation_Plant_Database.csv > fixed_headers.csv`) and uploaded the dataset via the file upload to mindsdb and executed your predictor statement. It leads me to the same error: ` Exception: Lightgbm mixer not supported for ty

[2022-07-26 12:11] chandrevdw31 commented on #2540
Thank you so much for the feedback! The team will have a look into the error. Please do reach out on Slack so that we can have a chat. In the mean time, feel free to check out the Home Rentals tutorial :)

[2022-07-26 12:20] philfuchs commented on #2540
You're welcome. I have already tried most of the tutorials to evaluate mindsDB for my company.

[2022-07-26 12:24] chandrevdw31 commented on #2540
That's awesome! MindsDB also allows community members to contribute to their product,so if you have any suggestions on how the documentation can be improved or general notes on what you would specifically like to see being improved please let me know :+1:

[2022-07-26 12:24] ZoranPandovski commented on #2408
I will create a PR with the initial structure for this

[2022-07-26 14:15] andrejkr10 commented on #2561
Hi,

Should I download new docker image?
This error happend on downloaded latest docker image.

Inspect log:

✓ telemetry enabled

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.migration] R

[2022-07-26 14:18] chandrevdw31 commented on #2561
Yes can you try running docker pull mindsdb/mindsdb:22.7.5.0

[2022-07-26 18:13] nablabits commented on #2336
Hi @ZoranPandovski, hope you are doing great, I'd like to give this a go as I'm running a local metabase instance for a side project and therefore am familiar with the platform. Is this still available?

If yes, do we want to follow [this approach](https://github.com/mindsdb/mindsdb/issues/1728#issuecomment-1189972410),as metabase and redash are quite similar, and try a connection metabase-mindsdb

[2022-07-26 18:51] andrejkr10 commented on #2561
Hi,

It's working now.
The problem was, that I was connecting with url http://localhost:47334 instead of http://127.0.0.1:47334

Now, when I try to create database with this statement to MSSQL (MSSQL version: Microsoft SQL Server 2017 (RTM) - 14.0.1000.169 (X64)):

CREATE DATABASE hipoteka_ds  --- display name for database.
WITH ENGINE = 'mssql',        --- name of the mindsdb handler
PARAMETERS =

[2022-07-27 05:15] C0staTin commented on #2531
Guys, I have a suggestion.
Can we after step 1 (button click) redirect a SkySQL user to the MindsDB cloud signup page with pre-filled information about the user (except the password)? So he doesn't need to distract and proceed immediately to MindsDB trial.
I believe SkySQL users should have already their emails validated by MariaDB.
And if the user doesn't complete registration within 10 min after

[2022-07-27 09:08] ZoranPandovski commented on #2561
Great, we should add this to docs asap

[2022-07-27 09:08] #2561 closed

[2022-07-27 09:09] ZoranPandovski commented on #2336
That would be awesome. Does Metabase support connection to MySQL?

[2022-07-27 09:10] ZoranPandovski commented on #2336
We should try to connect to MindsDBs MySQL API from Metabase https://www.metabase.com/docs/latest/administration-guide/databases/mysql.html

[2022-07-27 09:18] andrejkr10 commented on #2561
Hi,

I got the hint from console debug…

***@***.***

From: Zoran Pandovski ***@***.***>
Sent: Wednesday, 27 July 2022 11:08
To: mindsdb/mindsdb ***@***.***>
Cc: Andrej Kreuh ***@***.***>; Mention ***@***.***>
Subject: Re: [mindsdb/mindsdb] [Bug]: Adding data in docker environment never ends and keeps rolling the progress bar. (Issue #2561)

Great, we should add this to docs asap

—
Reply to this

[2022-07-27 09:19] andrejkr10 commented on #2561
Hi,

I would also like to continue with the testing but I got this error…
Any ideas?

Hi,

It's working now.
The problem was, that I was connecting with url http://localhost:47334 instead of http://127.0.0.1:47334

Now, when I try to create database with this statement to MSSQL (MSSQL version: Microsoft SQL Server 2017 (RTM) - 14.0.1000.169 (X64)):

CREATE DATABASE hipoteka_ds  --- display name fo

[2022-07-27 10:13] chandrevdw31 commented on #2561
@andrejkr10 is the mssql databases name in your database named mindsdb? please make sure the names corresponds

[2022-07-27 10:37] philfuchs commented on #2540
I think it would be interesting to compare the accuracy of a custom model with out-of-the-box MindsDB on the same task, that way it's clearer what to expect with MindsDB only. I don't think I saw that in the tutorials.
If we decide to use MindsDB I expect to be able to contribute anyway, if only with bug reports. 😀

[2022-07-27 10:52] ZoranPandovski commented on #2561
Hey @andrejkr10, integration for Microsoft SQL Server is not added by default. You will need to install the additional dependencies, either by attaching to the container and running `pip install mssql` or build a new image with the `mssql` pre-installed.

[2022-07-27 10:56] ianu82 opened #2579 "Test Trino with new release"
Test Trino with new release and customer queries

[2022-07-27 10:57] ianu82 opened #2580 "Create Tar Ball of new release and add to S3"
Create Tar Ball of new release and add to S3 so download link can be shared.

[2022-07-27 11:01] andrejkr10 commented on #2561
Hi,

Still the same.
SQL instance is not default but it is named instance.
But still, instance is listening on port 1433.

2022-07-27 10:58:15,116 - ERROR - Error connecting to SQL Server None, connect() got an unexpected keyword argument 'db_store'!
Traceback (most recent call last):
  File "/opt/conda/lib/python3.7/site-packages/mindsdb/integrations/handlers/mssql_handler/mssql_handler.py", line

[2022-07-27 12:01] ianu82 opened #2581 "Create predictor to predict training time for a given model"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

It isn't always clear to users how long a model might take to train.

Given we know a) number of rows, b) number of columns, c) datatypes, d) problem definition and sometimes e) hardware for models, we can train an ML model that predicts the time

[2022-07-27 16:45] Ricram2 opened #2583 "Create docs rules page"

[2022-07-27 17:00] martyna-mindsdb opened #2584 "Implement docs rules in the entire MindsDB docs"

[2022-07-27 18:21] nablabits commented on #2336
Great, thanks for the guidance, tomorrow and Friday I'm full, but I can spare a few hours next weekend to try to work something out. Hope that's ok on your side, lmk if not.

[2022-07-28 08:44] ianu82 opened #2585 "Further Customer Support"
Questions around networking mainly.

Further W****** customer support (ask Ian) in Slack.

[2022-07-28 10:08] ianu82 opened #2586 "[CUSTOMER REQUEST] Update Trino Connector"
**Is your feature request related to a problem? Please describe.**
The Trino connector needs to be updated.

**Describe the solution you'd like**
An updated Trino connector.

[2022-07-28 12:42] #2538 closed

[2022-07-28 12:45] ZoranPandovski commented on #2336
Sure :)

[2022-07-28 12:52] #2330 closed

[2022-07-28 12:55] #2537 closed

[2022-07-28 13:59] Ricram2 commented on #2315
This is done and working! thanks :)

[2022-07-28 13:59] #2315 closed

[2022-07-28 14:00] #2527 closed, assigned to ZoranPandovski, paxcema, tomhuds

[2022-07-28 14:01] Ricram2 commented on #2586
Done :)

[2022-07-28 14:01] #2586 closed

[2022-07-28 14:03] andrejkr10 commented on #2561
Hi,

I am still getting this error…
I have installed mssql integration with pip install mssql
How can I build new image with mssql pre-installed?

Kind regards
andrej

2022-07-28 14:01:58,640 - ERROR - Error connecting to SQL Server None, connect() got an unexpected keyword argument 'db_store'!
Traceback (most recent call last):
  File "/opt/conda/lib/python3.7/site-packages/mindsdb/integrations/h

[2022-07-28 14:04] #2514 closed

[2022-07-28 14:05] #2423 closed

[2022-07-28 14:08] #2167 closed

[2022-07-28 14:08] #1728 closed

[2022-07-28 14:08] #1940 closed

[2022-07-28 14:38] #2510 closed

[2022-07-28 15:11] #2513 closed

[2022-07-28 16:03] martyna-mindsdb commented on #2540
I have followed the Process Quality tutorial, including the steps to upload a file to the MindsDB Cloud editor. And it seems that there is a problem with the dataset. I have downloaded this dataset from Kaggle and run the 'sed' command to fix the headers, as it is instructed in this tutorial.
I found that the problem is all the column values use a comma as a decimal point instead of a dot. After c

[2022-07-28 17:11] chandrevdw31 commented on #2540
Hey @martyna-mindsdb the columns values should be fine with the comma as the double quotes should assist with this. Only reason why Im mentioning this is because I have previously used this dataset with an earlier version and the predictor worked fine. Just a note incase further investigation should be done.

[2022-07-28 17:15] martyna-mindsdb commented on #2540
Thank you, @chandrevdw31.
It seems there might be another reason why the file is not uploaded to the MindsDB Cloud editor.

[2022-07-28 17:34] chandrevdw31 commented on #2540
Hey @martyna-mindsdb the file won't upload onto cloud due to the size limit to upload a file, however you can upload it on local mindsdb :+1:

[2022-07-28 17:38] martyna-mindsdb commented on #2540
@chandrevdw31
When the file size is too big, there is a clear error message.
In my case, I uploaded a file within the size of 10MB and got an error message.

[2022-07-28 18:06] martyna-mindsdb opened #2588 "[Bug]: Error when uploading a file to MindsDB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I upload the [fixed_headers.csv](https://github.com/mindsdb/mindsdb/files/9213021/fixed_headers.csv) file to the MindsDB Cloud editor, I get the following error message:
![image](https://user-images.githubusercontent.com/109554435/181603629-788248bd-afc5-44b0-9a22-1a1fab0cc132.png)

I su

[2022-07-28 18:53] chandrevdw31 commented on #2540
@martyna-mindsdb yeah it might be an issue with the file being compressed. Hope this can be resolved, goodluck!

[2022-07-29 06:10] parthiv11 opened #2589 "[New Integration]: Integration with Vertica"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Vertica has very vast use cases and many features on its platform.
Vertica it self has ML In-Database Prediction ability but if anyone wants to use it with mindsdb then this integration  can help.
Also mindsdb has easy to use interface than Vertica..

### Motivation

I thought it would be helpful

[2022-07-29 06:12] parthiv11 commented on #2589
@ZoranPandovski  if you want to implement this , I can try !!

[2022-07-29 07:55] xihuishawpy opened #2590 "[Bug]: UnicodeDecodeError: 'gbk' codec can't decode byte 0xba in position 7202: illegal multibyte sequence"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when install mindsdb :
[code]
encounted:
![image](https://user-images.githubusercontent.com/25117244/181711719-0dc350d3-4af0-4124-81ff-fe64be0bd1ec.png)

please ,how to fix it.

### Expected Behavior

no

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-07-29 10:16] ZoranPandovski commented on #2590
@xihuishawpy How do you install mindsdb? Did you get this when installing from pip or installing requirements.txt

[2022-07-29 12:16] ZoranPandovski commented on #2589
Sure

[2022-07-29 12:52] tomhuds opened #2591 "[Bug][CUSTOMER REQUEST]: Unable to unnest array to find column name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When creating a predictor for Customer (MongoDB), the _hist_price_ column is not found.

![image](https://user-images.githubusercontent.com/34073127/181760990-a1747990-02d7-4879-9687-db3f0fb039d8.png)

Format of data:
![image](https://user-images.githubusercontent.com/34073127/181761307-a92ec

[2022-07-29 12:54] chandrevdw31 opened #2592 "broken link anchors: Profile Setup and profiles.yml"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

broken link anchors: Profile Setup and profiles.yml
https://docs.mindsdb.com/connect/dbt/

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

For community members to contribute to

[2022-07-29 12:56] chandrevdw31 opened #2593 "Customer churn tutorial- broken link anchors: Docker & Pypi"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

broken link anchors: Docker & Pypi

https://docs.mindsdb.com/sql/tutorials/customer-churn/

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

For contributors to contribute

[2022-07-29 12:57] chandrevdw31 opened #2594 "broken link anchor: Mindsdb Cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

broken link anchor: Mindsdb Cloud
https://docs.mindsdb.com/sql/tutorials/customer-churn/

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

For community members to contribute

[2022-07-29 12:59] chandrevdw31 opened #2595 "broken link anchors: Docker & Pypi"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

broken link anchors: Docker & Pypi

https://docs.mindsdb.com/sql/tutorials/mindsdb-superset-snowflake/

### Expected Behavior

Update documentation.

### Steps To Reproduce

_No response_

### Anything else?

Contributors welcomed to contribute

[2022-07-29 14:16] #2563 closed

[2022-07-29 14:16] #2400 closed

[2022-07-29 14:16] #2570 closed

[2022-07-29 15:13] Ricram2 opened #2596 "Confirm tracking requirements @C0staTin"

[2022-07-29 15:14] Ricram2 opened #2597 "Create HomeRentals Example on a SkySQL account for the quickstart tutorial"

[2022-07-29 15:15] Ricram2 opened #2598 "Follow up on post account sign-up flow"

[2022-07-29 16:24] saiyerniakhil commented on #2595
also links for MindsDB cloud broken in https://docs.mindsdb.com/sql/tutorials/mindsdb-superset-snowflake/ page

[2022-07-29 17:41] paxcema opened #2600 "[CUSTOMER REQUEST] Enforce specific time granularity on order_by column"
## Checklist:
- [x] 1) [MindsDB] should convert order_by columns to `pd.datetime`
~2) [mindsdb_sql] Add `SAMPLE BY` support to enforce specific time intervals~
~3) [mindsdb_sql] Robust support for aggregation when selecting columns (e.g. `AVG(prices), LATEST(ID)`) for deduping.~
- [x] 4) [MindsDB] Create views using the above.

## Example

Create a view that samples on five minute intervals, aggre

[2022-07-29 18:45] MinuraPunchihewa commented on #2132
@ZoranPandovski I would like to take this up if it not being worked on already.

[2022-07-29 19:07] MinuraPunchihewa opened #2604 "[New Integration]: Microsoft Access"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Despite it' simplicity, Microsoft Access is still a very widely used RDBMS, especially among small and medium scale enterprises. It would be quite useful to bring predictive capabilities to a database implemented using Access through MindsDB.

### Motivation

Many small and medium scale business

[2022-07-29 19:07] MinuraPunchihewa commented on #2604
@ZoranPandovski Let me know if this can be approved to be taken up as part of the Dev Contest. I can work on it.

[2022-07-29 19:35] chandrevdw31 commented on #2595
@saiyerniakhil yeah I will gradually add them all individually to the list for the community to contribute to :)

[2022-07-30 00:57] CSharpDummy commented on #2461
@ZoranPandovski thanks a lot! Works now in latest docker. Great job!`

[2022-07-30 00:57] #2461 closed

[2022-07-30 13:39] #2595 closed

[2022-07-30 13:39] #2594 closed

[2022-07-30 14:20] martyna-mindsdb commented on #2540
@chandrevdw31
The file was not compressed. Some of the data rows were removed from the file to make it smaller in size. So the issue is somewhere else.
Thanks!

[2022-07-30 19:13] fmitesh007 commented on #2199
https://github.com/mindsdb/mindsdb/issues/2199#issuecomment-1153580080
same error

[2022-07-31 13:18] chandrevdw31 opened #2605 "broken link anchor: Getting Started with Cloud."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://docs.mindsdb.com/sql/tutorials/insurance-cost-prediction/

Update tutorial with correct link for Getting Started with Cloud

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

For contributors to contribute

[2022-07-31 13:19] chandrevdw31 opened #2606 "Update MindsDB Cloud link in Crops tutorial"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 broken link anchor: MindsDB Cloud GUI
 https://docs.mindsdb.com/sql/tutorials/crop-prediction/

 In the paragraph "Add your file to MindsDB" update the link for MindsDB Cloud GUI with the link cloud.mindsdb.com/

 The file path on github where the update should be made: https://github.com/mi

[2022-07-31 13:20] chandrevdw31 opened #2607 "Fix broken links in Getting Started docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Documentation website link that needs an update: https://docs.mindsdb.com/getting-started/
here is a failed to load resource - a PNG, should be fixed AND 2 broken link anchors: CREATE DATABASE syntax. AND CREATE PREDICTOR syntax

File path in github to update: https://github.com/mindsdb/minds

[2022-07-31 13:21] chandrevdw31 opened #2608 "Update broken links"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 broken link anchors: Pip , MindsDB Cloud , Local Deployment

https://docs.mindsdb.com/info/

File path on github of the file that needs to be updated: https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/info.md

MindsDB cloud: https://docs.mindsdb.com/setup/cloud/
Docker:

[2022-07-31 13:23] chandrevdw31 opened #2609 "Update broken links in Connect your data doc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

broken link anchors: connect to MindsDB as a database
https://docs.mindsdb.com/connect/

Link for SQL CLI: https://docs.mindsdb.com/connect/mysql-client/
https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/connect.md

### Expected Behavior

_No response_

### Steps To Repro

[2022-07-31 22:24] alejandrovillegas opened #2610 "[Bug]: Status code 500 when i try to make an analysis"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I try to make an analysis with a join I have a status 500 response.

**query**
[code]

### Expected Behavior

anaisys

### Steps To Reproduce

[code]

**query**
[code]
[code]

[2022-08-01 07:52] hynospt commented on #1789
can you tell the version of its bug ?

[2022-08-01 09:19] ianu82 opened #2611 "[Customer Request] BigQuery integration (x2)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Support BigQuery as a datasource.

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-08-01 09:28] ianu82 opened #2612 "Ability to save anything written in MindsDB Cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Users today cannot save queries that they have written. We now have some level of auto-saving so when logging in again, previous queries are there, which is good.

But imagine this: a user has spent days and days writing pretty complex queries. An

[2022-08-01 09:36] ianu82 opened #2613 "[CUSTOMER REQUEST] Return probability of prediction in bulk predictions"
**Is your feature request related to a problem? Please describe.**
A customer wanted the probability (confidence?) of each individual prediction to be returned when querying in bulk.

**Describe alternatives you've considered**
Maybe this comes if you add `_explain` to the query?

**Additional context**
Ask Ian for more details about this

[2022-08-01 10:23] ianu82 opened #2614 "[CUSTOMER REQUEST] Visualizations/UI elements to add context around the ML modelling"
**Is your feature request related to a problem? Please describe.**
From user: _Some visualizations/UI elements to add context around the ML modelling would’ve been great -- currently a lot of it is available as SQL commands. This becomes a great aid in presentations to the end users._

**Describe the solution you'd like**
Go beyond the data exploration now built in to show charts related to the ML

[2022-08-01 11:55] tomhuds opened #2615 "[Bug][CUSTOMER REQUEST]: Error in displaying results in GUI when there is a NaN"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/b8bfe31e8a384578aab07276d1193506

### Expected Behavior

Results should be displayed even if there is a NaN

### Steps To Reproduce

Jupyter notebook:
https://drive.google.com/file/d/1EFua3K8lFMRngV_P35EETPk8kSpi4CWX/view?usp=sharing

### Anything else?

_No respons

[2022-08-01 14:04] #2499 closed

[2022-08-01 14:19] alejandrovillegas commented on #2615
PR fixing table.
https://github.com/mindsdb/mindsdb-frontend/pull/651

[2022-08-02 09:16] tomhuds commented on #2495
Tested today - appears you cannot view the collections:
![image](https://user-images.githubusercontent.com/34073127/182339330-817c1379-8fdd-4dea-8258-f37e7b498ab8.png)

[2022-08-02 11:01] Hamidvakil commented on #2614
@__

[2022-08-02 13:16] parthiv11 opened #2619 "[New Integration]: Integration with Informix"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Informix is versatile database provided by IBM.
It is used by many prominent company and also by many developers.
IBM Informix is an embeddable, high-performance database for integrating SQL, NoSQL, JSON, time-series and spatial data. Designed for analytics on the edge, in the cloud or on premise

[2022-08-02 13:17] parthiv11 commented on #2619
@ZoranPandovski if this database deserve integration.

I would happily try for it.

[2022-08-02 13:21] Ricram2 opened #2620 "Order alphabetically Supported Integrations"

[2022-08-02 13:21] Ricram2 opened #2621 "Check for missing supported Integrations"

[2022-08-02 13:24] Ricram2 commented on #2620
On here:
https://docs.mindsdb.com/sql/create/databases/

We should order the connections alphabetically, like it happens on the GUI.

<img width="875" alt="image" src="https://user-images.githubusercontent.com/24927430/182385345-bc94dd7f-d1d5-48a0-9428-12b9dff04765.png">

To make it easier to read.

[2022-08-02 13:26] Ricram2 commented on #2621
We have added new connections, they are on the GUI. Find out which ones are we missing on the docs and create issues for making the templates on here:

https://docs.mindsdb.com/sql/create/databases/

<img width="205" alt="image" src="https://user-images.githubusercontent.com/24927430/182385666-2d62f7bd-646b-4eb7-a662-fa36f77be5d8.png">

[2022-08-02 14:00] tomhuds opened #2622 "[Bug][CUSTOMER REQUEST]: Create predictor (mongo) not working from cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Relevant part of demo:
https://docs.google.com/document/d/1ALgh43Phd1AOT3Qr2eAXkbbQr27SjQRIZS6_y8VOVuI/edit?disco=AAAAdgasYLc

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-08-02 14:03] tomhuds opened #2623 "[Bug][CUSTOMER REQUEST]: Make prediction (mongo) not working from mongo shell"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Relevant part of demo:
https://docs.google.com/document/d/1ALgh43Phd1AOT3Qr2eAXkbbQr27SjQRIZS6_y8VOVuI/edit?disco=AAAAdgasYLk

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-08-02 15:38] martyna-mindsdb commented on #2620
@Ricram2
The integrations available in docs slightly differ from the integrations available in GUI.
Please see below.

In docs **[CockroachLabs and MongoDB are missing]**:
Cassandra, ClickHouse, ------------, MariaDB, Microsoft SQL Server, ------------, MySQL, PostgreSQL, Scylla, SingleStore, Snowflake, QuestDB, Trino, TiDB

In GUI **[TiDB is missing]**:
Cassandra, ClickHouse, CockroachLabs, Maria

[2022-08-02 15:57] Ricram2 commented on #2620
@martyna-mindsdb Thanks for the update.

1. on docs let's add the missing integrations, @ZoranPandovski can help you get the templates for Cockroach and MongoDB
2. I think the TiDB is in progress, so maybe @ZoranPandovski or @alejandrovillegas can make sure to display it when it's done.

[2022-08-02 16:03] martyna-mindsdb commented on #2621
@Ricram2
The integrations that are missing in docs/GUI are being resolved at issue #2620.

[2022-08-03 09:22] #2620 closed

[2022-08-03 09:22] #2583 closed

[2022-08-03 09:24] #2498 closed

[2022-08-03 09:29] ZoranPandovski commented on #2604
Thanks @MinuraPunchihewa

[2022-08-03 09:29] #2604 closed

[2022-08-03 12:54] Ricram2 opened #2625 "Fill the Tableau Docs files."

[2022-08-03 12:55] Ricram2 commented on #2625
Fill this with docs.
https://docs.mindsdb.com/connect/tableau/
@ZoranPandovski will provide a video tutorial to pull the information for.

[2022-08-03 13:10] Ricram2 opened #2626 "Delete The [integration_name] TABLE and The model table section."

[2022-08-03 13:29] Ricram2 opened #2627 "Add links to repo folders for handlers examples"

[2022-08-03 13:31] Ricram2 commented on #2627
Add links here to point the repo where MySQL, Postgres, MlFlow and Lightwood handler
![image](https://user-images.githubusercontent.com/24927430/182619936-1616a903-b1f7-4e6d-ae11-18fda3791443.png)

Handlers can be found here: https://github.com/mindsdb/mindsdb/tree/staging/mindsdb/integrations/handlers

[2022-08-03 13:36] Ricram2 opened #2628 "Remove MindsDB database section on DBeaver connection"

[2022-08-03 13:37] Ricram2 commented on #2628
![image](https://user-images.githubusercontent.com/24927430/182621529-50e4ed46-9fbb-478b-97ef-85f8f88af1e3.png)

We should replace this section by a confirmation step of connection on DBeaver. And a final paragraph with next steps.

[2022-08-03 13:43] paxcema commented on #2528
Status: `conda-forge` recipe for Lightwood is awaiting review. Once merged and published, we can modify MindsDB's setup procedure to install it from `conda-forge` rather than `pip` if we detect Mac ARM architecture.

[2022-08-03 15:06] martyna-mindsdb commented on #2621
I am going to make a correction to the Cockroach Labs integration code.

[2022-08-03 15:31] #2621 closed

[2022-08-03 20:04] alejandrovillegas commented on #2620
sort is done on this internal PR.
https://github.com/mindsdb/mindsdb/issues/2620

[2022-08-04 10:20] #2628 closed

[2022-08-04 10:21] #2627 closed

[2022-08-04 10:21] #2626 closed

[2022-08-04 20:19] parthiv11 commented on #2619
### @ZoranPandovski

**_What do you think about this ?_**

[2022-08-05 03:57] agberoz commented on #2357
Hi there,

Can I work on this integration?

[2022-08-05 05:14] Heyro12 opened #2634 "Can't connect to MS SQL server db - connect() function is gets an unexpected keyword [Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I attempt to connect my MS SQL database to MindsDB hosted on Docker and I receive this error in the output box:
Can't connect to db: connect() got an unexpected keyword argument 'db_store'

I have attempted to connect to a remote SQL server that is located on my network.
I've entered all the

[2022-08-05 09:55] Abdullium opened #2635 "there's a typo in your writing"
https://github.com/mindsdb/mindsdb/blob/staging/CODE_OF_CONDUCT.md

[2022-08-05 12:02] chandrevdw31 commented on #2635
@Abdullium please indicate where the typo is

[2022-08-05 13:44] StpMax opened #2637 "Handle CSV in non utf-8 encoding"
At the moment only .csv in utf-8 is supported

[2022-08-05 14:46] ZoranPandovski commented on #2634
Hey @Heyro12, for MS SQL to work you need to install additional dependency `pymssql`

[2022-08-05 15:13] #2637 closed

[2022-08-06 08:03] gunwant11 commented on #2605
i would like to take up this issue
can anyone tell me where should the link redirect to

[2022-08-06 09:02] Abdullium commented on #2635
Sorry for my mistake, new to GitHub getting used to it

[2022-08-06 09:02] #2635 closed

[2022-08-06 13:47] ZoranPandovski commented on #2357
Hey sure @agberoz

[2022-08-06 14:25] ZoranPandovski commented on #2605
You can add https://docs.mindsdb.com/setup/self-hosted/docker/ and  https://docs.mindsdb.com/setup/cloud/

[2022-08-06 18:19] fms12 commented on #2593
I would like to take up this issue
can anyone please tell me where should the link redirect to

[2022-08-06 18:27] fms12 commented on #2592
I would like to take up this issue
can anyone tell me where Profile Setup link should be redirect

[2022-08-06 18:39] fms12 opened #2639 "ADD LANGUAGE CHANGE FEATURE IN THE WEBSITE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

If the people are from different  countries  and regions and if they are not able to understand English, then they can change the language by clicking on it . like [REACT](https://it.reactjs.org/languages) added it on there website

[IMAGE](https:

[2022-08-06 18:39] #2639 closed

[2022-08-06 18:44] fms12 opened #2640 "ADD THE LANGUAGE CHANGE OPTION INSIDE THE MINDSDB WEBSITE"
If the people are from different countries and if they are not able to understand English, then they can change the language by clicking on it. JUST LIKE [REACT](https://it.reactjs.org/languages) HAS THE LANGUAGE OPTION ON THEIR WEBSITE.

[IMAGE](https://user-images.githubusercontent.com/68012074/183261741-b5f51aea-75f6-4231-ada4-3ee7c7554323.png)

[2022-08-06 18:45] #2640 closed

[2022-08-06 18:49] fms12 opened #2641 "[New Integration]: ADD THE LANGUAGE CHANGE OPTION IN THE MINDSDB WEBSITE"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

If the people are from different countries and if they are not able to understand English, then they can change the language by clicking on it. JUST LIKE [REACT](https://it.reactjs.org/languages) HAS THE LANGUAGE OPTION ON THEIR WEBSITE.

[IMAGE](https://user-images.githubusercontent.com/68012074

[2022-08-07 11:31] Ampmy999 commented on #2622
ฉันงงจังเลย  ฉันต้องดำเนินการถึงขั้นตอนไหนถึงครบถ้วน

[2022-08-07 12:13] Ampmy999 opened #2643 "[CUSTOMER REQUEST]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-07 12:14] Ampmy999 commented on #2643
ขอโทดด้วย  พอดีวันนี้ฉันดูแลผู้ป่วยติดเตียงแทนแม่บ้านฉัน  และเพิ่งทำเสร็จ

[2022-08-07 12:15] Ampmy999 commented on #2643
ฉันดูแลผู้ป่วยที่เดินไม่ได้  เพิ่งเสร็จ

[2022-08-07 12:15] Ampmy999 commented on #2643
ทำไมความหมายผิดตลอดเลย

[2022-08-07 12:17] Ampmy999 commented on #2643
i want to know Have I applied for all steps?

[2022-08-07 12:34] Ampmy999 commented on #2623
Can someone hack my data? Will the money in my account be lost if connected?

[2022-08-07 14:06] #2643 closed

[2022-08-08 02:00] Heyro12 commented on #2634
Hey @ZoranPandovski . I have tried clicking the add data button but it doesn't do anything except open the selection for your desired data source type. Then when I choose mssql it just opens the template for the MS SQL connection.

I'm not sure if this is a somewhat common problem, but I'd be happy to receive any suggestions for a possible solution.

[2022-08-08 04:17] MinuraPunchihewa opened #2644 "[New Integration]: Google BigQuery"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

BigQuery is a serverless, data warehousing solution offered by the Google Cloud Platform. It has become a popular choice for analytics workloads over the recent past due to it's serverless feature and cost-effectiveness.

BigQuery already possesses a predictive modelling capability known as BigQu

[2022-08-08 04:17] MinuraPunchihewa commented on #2644
@ZoranPandovski If this can be approved, please assign it to me.

[2022-08-08 09:38] ZoranPandovski commented on #2644
@MinuraPunchihewa This is resolved by #2636

[2022-08-08 09:42] #1170 closed

[2022-08-08 09:49] ZoranPandovski commented on #2634
If that happens, it looks like it is already installed. Let me check this and get back to you

[2022-08-08 10:00] chandrevdw31 commented on #2592
Hey @fms12 you can use the link https://docs.mindsdb.com/
Here is the link for the file path in github where the update must be made:
https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/connect/dbt.md
In the below table, under Documentation, the Profile set up link needs to be updates:
![image](https://user-images.githubusercontent.com/32901682/183392555-59f94138-3952-448c-8a15-

[2022-08-08 10:05] chandrevdw31 commented on #2593
Hey @fms12 thanks for your interest. This seems to be resolved

[2022-08-08 10:05] #2593 closed

[2022-08-08 10:21] MinuraPunchihewa commented on #2644
@ZoranPandovski My apologies. I did not see the PR. I will close this now.

[2022-08-08 10:21] #2644 closed

[2022-08-08 10:23] Rutam21 commented on #2609
@ZoranPandovski I can take this up and resolve it.

[2022-08-08 10:24] Rutam21 commented on #2607
@ZoranPandovski I can take this up.

[2022-08-08 10:25] Rutam21 commented on #2608
@ZoranPandovski I can take this up.

[2022-08-08 10:31] MinuraPunchihewa commented on #1848
@ZoranPandovski Can I take up the InfluxDB integration?

[2022-08-08 10:35] chandrevdw31 opened #2645 "Update the Connect docs with the latest user interface and guideline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The page "Connect your page" needs to be updated with the latest user interface.

Update the guide on how to connect your data to a database in MindsDB GUI.

Link in docs:https://docs.mindsdb.com/connect/
File path on github:https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/do

[2022-08-08 10:39] Rutam21 opened #2646 "[Bug]: Predictor Model not returning correct prediction values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a dataset with the salaries for different Data Science jobs. The goal is to train a Predictor model that predicts and returns the expected salary based on any feature parameters as required.
However, when the target parameter is set as `salary_in_usd`, the predictor model doesn't retur

[2022-08-08 10:46] Rutam21 commented on #2645
@ZoranPandovski I can take this up.

[2022-08-08 10:48] Rutam21 commented on #2606
@ZoranPandovski I can take this up.

[2022-08-08 11:13] chandrevdw31 commented on #2645
old doc that needs to be removed

[2022-08-08 11:14] chandrevdw31 commented on #2609
old doc that needs to be reomved. closing issue

[2022-08-08 11:14] #2609 closed

[2022-08-08 12:42] MinuraPunchihewa commented on #2488
@ZoranPandovski I will take up this issue.

[2022-08-08 12:46] #2580 closed

[2022-08-08 13:25] arf1372 commented on #2331
I think the problem here is not "Viewing results in tabular or graphic representation" but "to instrument abilities of a graph database to extract useful insights from connected and graphic data which otherwise, with classic relational and tabular databases, are such pain. So, I recommend implementing some useful graphic algorithms. (e.g Label Propagation for Community Detection)

[2022-08-08 13:50] ea-rus commented on #2622
This query is incorrect
[code]
It works after:
- adding closing paren to query area
- remove brakets in GROUP BY area
- remove qoutes in GROUP BY area
[code]

[2022-08-08 13:52] #2645 closed

[2022-08-08 14:16] #2606 closed

[2022-08-08 14:39] tomhuds commented on #2623
Nice to have: a human-readable error message

[2022-08-08 14:41] #2607 closed

[2022-08-08 14:41] #2608 closed

[2022-08-08 15:02] martyna-mindsdb commented on #2625
I post the video link here for reference: https://mindsdbcommunity.slack.com/archives/C01S2T35H18/p1657625556103339

[2022-08-08 15:03] tomhuds commented on #2591
Possible approaches:
- [Ideal] Native aggregate functionality
- [OK] In connection string: “unnest_fields”:["historical_price_ingredient.hist_data"]
- [Good] Similar to above, but in within _find_

[2022-08-08 15:19] paxcema commented on #2646
Also, worth it posting what model was selected. You can do that with:

`DESCRIBE mindsdb.PREDICTOR_NAME.model`

[2022-08-08 15:26] #2615 closed

[2022-08-08 15:27] #2579 closed

[2022-08-08 15:32] Ricram2 commented on #2613
@ianu82  Do you think this has been handled, do we need any custom feat development. touch bas with @paxcema and close the issue if deemed fit.

[2022-08-08 15:43] parthiv11 commented on #2619
@ZoranPandovski let's talk about this integration

[2022-08-08 15:57] Rutam21 commented on #2646
Hello @paxcema,
I tried with almost columns leaving out the salary column only but still, the prediction value is 1 and when I am adding the salary column as well, the value becomes 2.

![Bug 1](https://user-images.githubusercontent.com/47860497/183460480-12cf79f4-8804-435a-b57a-d38b0fc97e67.png)

The `Regression` model was selected. Find the snippet below.

![Model](https://user-images.githubuser

[2022-08-08 17:45] ianu82 commented on #2613
Yes, I think @paxcema has solved this and it is now available by default to users. Closing.

[2022-08-08 17:45] #2613 closed

[2022-08-08 17:57] paxcema commented on #2646
I see, thanks for the additional information!

Can you try a new training procedure, but limited to the first two models? For this, you would add a `USING` clause in the `CREATE PREDICTOR` query, like this:

[code]

[2022-08-09 08:13] UbajakaCJ commented on #2605
Hi, I need some clarification on the issue. Also, has it been taken up and resolved? This is my first issue.

[2022-08-09 10:02] PriyeshDave commented on #2341
I would love to work on this.

[2022-08-09 10:54] StpMax commented on #2588
Hi @martyna-mindsdb !
How did you get [fixed_headers.csv](https://github.com/mindsdb/mindsdb/files/9213021/fixed_headers.csv) ? That file is broken.
Original file from [kaggle](https://www.kaggle.com/datasets/edumagalhaes/quality-prediction-in-a-mining-process) may be uploaded without issue.

[2022-08-09 11:53] #2625 closed

[2022-08-09 12:41] StpMax commented on #2186
Now we are rendering queries in handlers itself, so i gonna to close the issue

[2022-08-09 12:41] #2186 closed

[2022-08-09 13:23] #2322 closed

[2022-08-09 13:40] StpMax commented on #2129
With last version there is no issues with 'timestamp' type, so i gonna to close issue

[2022-08-09 14:26] chandrevdw31 commented on #2540
Ok. I am able to upload the file but still get the same error when training predictor

[2022-08-09 14:48] martyna-mindsdb commented on #2588
Hi @StpMax,
Please have a look at the _Steps To Reproduce_ section where I mentioned how I got the `fixed_headers.csv` file (that is, I got the file from Kaggle, then I run the `sed` command from the Process Quality tutorial to fix the headers, then I removed some data rows to make the file smaller).

But I believe I have found the problem.

Before I used one of the standard editors (Notepad or Ex

[2022-08-09 14:56] StpMax commented on #2588
Yes, i think issues was in bad re-saving. SED command from tutorial give correct csv for me, but in presented definitely have issue with unnecessary quotes. So i gonna to close the issue.

[2022-08-09 14:56] #2588 closed

[2022-08-09 15:04] chandrevdw31 commented on #2540
Were you able to run it in Cloud with the fewer rows in the dataset?

1. Clean dataset
2. Start MindsDB in Docker
3. Upload file in GUI
4. Create predictor in CLI

I used the CLI as this is the only tutorial that still uses CLI as an example that's why Im sticking with it.

@Zoran should we maybe consider using the dataset with the fewer rows that @martyna-mindsdb used and point to that  and creat

[2022-08-09 16:38] martyna-mindsdb commented on #2540
@chandrevdw31
To answer your question, I was able to run it in Cloud. Removing some of the data rows doesn't affect the `CREATE PREDICTOR` statement - it may affect the accuracy of the predictions (because of having less data).

[2022-08-09 17:22] chandrevdw31 commented on #2605
@UbajakaCJ thanks for your interest. @gunwant11 has already been assigned to this. Feel free to give the issues list a look to see any other contributions u can do

[2022-08-09 17:40] chandrevdw31 commented on #2540
Hey @martyna-mindsdb, please clarify on the below
- Removing the rows makes the dataset size smaller- was this not what you did in order to upload the file like you have mentioned before?

If not

- The file you referred to that works fine( the issues before were caused by incorrect re-saving of the file by some editors)- Can you share that file with me please? If this was the file used and the pr

[2022-08-09 18:05] martyna-mindsdb commented on #2540
@chandrevdw31

Yes. The dataset was ~175MB, so to upload it to MindsDB, I had to make it <10MB.

Here is the file I used today: [fixed_headers_smallsize.csv](https://github.com/mindsdb/mindsdb/files/9293485/fixed_headers_smallsize.csv)
Its upload to MindsDB was successful and I could create and train a predictor using the `CREATE PREDICTOR` statement that you posted above.

@ZoranPandovski
Please

[2022-08-09 18:18] martyna-mindsdb commented on #2540
@chandrevdw31
There is no problem with the original dataset from Kaggle.
It couldn't be uploaded to MindsDB because it was processed in different editors.
But the dataset itself is good to go (that is, after removing some of the data rows to make it smaller).

[2022-08-10 04:22] parthiv11 commented on #1886
@MinuraPunchihewa  if you have not started working on it would like to do it.

[2022-08-10 04:31] MinuraPunchihewa commented on #1886
@parthiv11 I am working on this right now. I will be opening a PR either today or tomorrow.

[2022-08-10 04:33] parthiv11 commented on #1886
**OK No problem**

[2022-08-10 04:56] #2517 closed

[2022-08-10 06:33] usman1234-glitch commented on #2327
Hey, I've used Firebase in my projects. Can I help integrating Firebase if it's not completed yet?

[2022-08-10 11:30] ZoranPandovski commented on #2327
Hi @usman1234-glitch, no it wasn't, I will assign it to you.

[2022-08-10 11:32] ea-rus commented on #2591
https://github.com/mindsdb/mindsdb/commit/bf35d255a2691ebe24379e1251ba96d80bfcffff

[2022-08-10 11:43] #2584 closed

[2022-08-10 11:59] ZoranPandovski commented on #2619
Sure, let's add handler for it

[2022-08-10 12:26] ea-rus commented on #2623
It is not clear from problem screenshot but I think here could be problem of different versions of LW at the moment of training and using predictor.
Recreating of predictor could help

[code]

[2022-08-10 12:34] parthiv11 commented on #2619
### Ok i will add

[2022-08-10 14:43] #2407 closed

[2022-08-10 16:21] ea-rus commented on #2623
Showing error message from python is updated on alpha

[2022-08-10 16:35] martyna-mindsdb opened #2660 "Create 'Custom mindsdb configuration strategies' page to include starting MindsDB locally with or without config file"

[2022-08-10 16:36] martyna-mindsdb opened #2661 "Correct Kafka docs page to include config.json instead of config.py"

[2022-08-10 21:45] DevBeatDad opened #2662 "[CUSTOMER REQUEST]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. If I cannot trace the payment made to my daughter's school and send a proof of payment, they will exclude her from the upcoming school trip - I really want to keep that from happening.
I'm always frustrated when I cannot pay for the things I need.

**Describe the solution

[2022-08-11 10:18] #2662 closed

[2022-08-11 11:59] parthiv11 opened #2663 "[New Integration]: Integration with Teradata"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Teradata is amazing  data warehouse and used by many MNCs and have very vast usecases.

### Motivation

**Teradata**  is amazing data warehouse and it would help to  developer and Company working with teradata to get predictions through **simple SQL queries**.It will also provide vast customer re

[2022-08-11 12:02] parthiv11 commented on #2663
I would like to give it a try.

[2022-08-11 12:42] ea-rus commented on #2495
Fixed on alpha: on gateway server was installed old version mindsdb.
If everything is OK we will do the same on cloud.

[2022-08-11 13:27] ea-rus commented on #2448
Earlier I added parsing star inside a function to mindsdb_sql. I've tested several options and they work for me:
- select count(*) from predictor
- select count(*) from integration.table

[2022-08-11 14:14] Ricram2 opened #2665 "Break JSON on multiple lines to improve readability"

[2022-08-11 14:16] Ricram2 commented on #2665
On here: https://docs.mindsdb.com/setup/self-hosted/docker/

![Image](https://user-images.githubusercontent.com/24927430/184154125-aeea5d55-5b7f-402d-b794-54ea19d2cc64.png)

i.e :

`"http": { "host": "0.0.0.0", "port": "47334" },`

[code]

[2022-08-11 14:17] Ricram2 opened #2666 "Refactor Dbeaver Tutorial"

[2022-08-11 14:20] Ricram2 commented on #2666
Let us update and recreate this page.

https://docs.mindsdb.com/connect/dbeaver/

Add tables to be more explicit
Add headers (split in 2 or 3 steps)
Add one final step that validates the connection with a query itself.

[2022-08-11 14:21] Ricram2 opened #2667 "Refactor SQLAlchemy and MindsDB"

[2022-08-11 14:23] Ricram2 commented on #2667
Let us update and recreate this page.

https://docs.mindsdb.com/connect/sql-alchemy/

Add a quick intro explaining what `[sql-alchemy](https://www.sqlalchemy.org/)` is
Add tables to be more explicit
Add headers (split in 2 or 3 steps)
Add one final step that validates the connection with a query itself. (in this case, code execution on python example?  )

[2022-08-11 18:55] #2592 closed

[2022-08-12 09:33] usman1234-glitch commented on #2327
Hey @ZoranPandovski. Kindly assign it to my other account, UsmanSiddique09. I make contributions using that account.

[2022-08-12 09:34] UsmanSiddique09 commented on #2327
This account.

[2022-08-12 10:55] Rutam21 commented on #2665
@Ricram2 @ZoranPandovski I can take this up.

[2022-08-12 12:23] #2665 closed

[2022-08-12 13:03] albertomenen commented on #2199
Experiencing the same problem as well with this:

albertomenendez@MacBook-Air-de-Alberto test % pip3 install pypiwin32
Collecting pypiwin32
  Using cached pypiwin32-223-py3-none-any.whl (1.7 kB)
  Using cached pypiwin32-219.zip (4.8 MB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [7 l

[2022-08-12 14:37] 4d30 commented on #2199
Same issue here:

[code]

[code]

[2022-08-12 14:41] tomhuds commented on #2600
**Meeting notes**
- Size could be an issue
- LAST instead of LATEST
- Could be a problem
- Some way to handle grouping, e.g. GROUPBY(col2)
- Storing views: not necessary? We just store and re-run the query. Could be slow at prediction time (would have to recreate view). Possibly store in a central postgres database, same place as predictors etc

- Meeting Mon to discuss further

[2022-08-12 14:51] paxcema commented on #2610
@ea-rus any ideas? I would suggest switching the model and table around:

[code]

[2022-08-12 14:57] DevBeatDad commented on #2610
Firstly, sorry about that.

[2022-08-12 16:34] Ricram2 opened #2669 "GCP tutorial for using mindsdb"

[2022-08-12 16:35] Ricram2 commented on #2669
Walmart situation, @ZoranPandovski Will create draft, publish it. and @martyna-mindsdb will proof it and apply styleguide.

[2022-08-12 18:00] paxcema commented on #2478
Via #2652

[2022-08-12 18:00] #2478 closed

[2022-08-12 18:01] paxcema commented on #2479
Related: #2573

[2022-08-12 23:31] paxcema opened #2671 "Dynamically set selected mixer via SQL"
This would be a QoL change, where the user could specify the mixer to use for any predictor that has a `BestOf` ensemble. It would be convenient to encourage experimentation and to avoid repeated training runs that use the same data query.

Example (syntax TBA):

[code]

[2022-08-13 07:37] gunwant11 commented on #2605
this issue is resolved

[2022-08-13 14:22] parthiv11 opened #2672 "[New Integration]: Integration with YugabyteDB"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

YugabyteDB is a high-performance, cloud-native distributed SQL database.
It is also open source and similiar to postgres SQL.
It is best to fit for cloud-native OLTP (i.e. real-time, business-critical) applications that need absolute data correctness and require at least one of the following: sca

[2022-08-13 14:23] parthiv11 commented on #2672
I want to work on this @ZoranPandovski .
If you want to me to work on this please assigned it to me.

[2022-08-13 15:23] ZoranPandovski commented on #2605
@gunwant11 did you make a PR with the fix?

[2022-08-13 22:59] AvinashGupta commented on #1848
@ZoranPandovski Can I work on integrating InfluxDB?

[2022-08-14 08:26] Rutam21 opened #2673 "Update the Readme file with the list of newly available Database Integrations"
## Describe the Issue
MindsDB has added a list of new Database integrations as a part of the ongoing Dev Contest. However, the Readme file is not updated with all those newly available databases.

## Suggested Solution
The Readme file of the project needs to be updated with the new databases that are available now under the `Database Integrations` section.

[2022-08-14 08:29] Rutam21 commented on #2673
@ZoranPandovski I would like to submit a PR for this.

[2022-08-14 08:52] parthiv11 opened #2674 "[New Integration]: Integration with crateDB"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

**CrateDB is more efficient than MongoDB in terms of memory and storage, and it is easier to scale. It offers real-time responses even with high data volumes, high concurrency, and a variety of data types. On top of that, CrateDB is accessible through SQL.
.**
It is used by many organization as c

[2022-08-14 08:55] parthiv11 commented on #2674
Please tell if this integration should be added.
If **YES**

### assign it me @ZoranPandovski .

[2022-08-14 11:29] gunwant11 commented on #2605
nop i was having problem setting up the venv and  installing requirements. now i checked someone already resolved this issue

[2022-08-15 08:49] StpMax commented on #2610
@alejandrovillegas please change preview analysis route to https://github.com/mindsdb/mindsdb/pull/2664
it should help

[2022-08-15 12:12] tomhuds commented on #2495
@ea-rus Seems new version is not working on alpha / cloud

https://www.loom.com/share/7d61c3d4f15146918e331d8b0ccd6a44

[2022-08-15 12:13] ZoranPandovski opened #2677 "[BUG] Fix scylladb error when connecting with secure bundle"
When connecting with `secure_connect_bundle` users got unknown secure_connect_bundle path error.

[2022-08-15 12:43] ZoranPandovski opened #2679 "[Documentation] Change Sclylladb connection docs"
The required parameters are changed so the users can now connect to Scylla using:

[code]
The `CREATE DATABASE` query at
https://github.com/mindsdb/mindsdb/blob/a09fd4ecc9e62f1e30ac4b3f22505ce704c350c7/docs/mindsdb-docs/docs/sql/create/databases.md#scylla should be changed with the one above.

[2022-08-15 12:44] ZoranPandovski commented on #2674
Sure, let's add it @parthiv11

[2022-08-15 12:48] Ricram2 commented on #2669
https://community.ops.io/rutamhere/deploying-mindsdb-on-google-cloud-platform-41h9

[2022-08-15 12:57] ZoranPandovski commented on #2341
@vibhuti019 Did you started on this?

[2022-08-15 12:58] ZoranPandovski commented on #1848
Sure @AvinashGupta

[2022-08-15 13:02] #2677 closed

[2022-08-15 13:28] tomhuds opened #2681 "[CUSTOMER REQUEST]: File upload for secure_connect_bundle.zip or equivalent on cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

In order to connect to some databases, the connection parameters are sometimes a _path to file_.

e.g.
[code]

Currently you cannot achieve this from cloud.

### Describe the solution you'd like.

User is able to upload and point to the relevant f

[2022-08-15 13:38] #2679 closed

[2022-08-15 13:44] Ricram2 commented on #2681
Aligned with #668 on Frontend repo. Zoran is already looking for an alternative like the one you mentioned above. But we are wondering if storing those are a good idea due to the nature of it's content.

[2022-08-15 15:54] tomhuds commented on #2681
**MVP:** URL to an S3 bucket (with any necessary credentials to access the file)

[2022-08-15 18:25] MinuraPunchihewa commented on #2362
@ZoranPandovski I would like to take up this issue!

[2022-08-15 18:31] #2300 closed

[2022-08-15 18:42] ZoranPandovski commented on #2282
Hi, @shobhi1310 which one you are comfortable connecting to? It's up to you, please start with the one that you like and have access to

[2022-08-15 18:45] ZoranPandovski commented on #2360
Hi @bispaul, did you start on this?

[2022-08-15 18:46] ZoranPandovski commented on #2357
Hi @agberoz did you start with this?

[2022-08-15 18:46] ZoranPandovski commented on #2327
Hi @UsmanDev09 did you start on this?

[2022-08-15 18:47] ZoranPandovski commented on #1848
Hi @AvinashGupta did you start on this?

[2022-08-15 18:50] AvinashGupta commented on #1848
Hi @ZoranPandovski, yes have started on it

[2022-08-16 06:17] bispaul commented on #2360
Hi @ZoranPandovski , I have started but couldn't work much due to my workload. I will try to complete this before the end of this month. Thank You.

[2022-08-16 12:22] Rutam21 opened #2687 "[New Integration]: Integration with DuckDB 🦆"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

DuckDB is an in-process SQL OLAP database management system. DuckDB has no external dependencies, neither for compilation nor during run-time. For releases, the entire source tree of DuckDB is compiled into two files, a header and an implementation file, a so-called “amalgamation”. This greatly s

[2022-08-16 12:22] Rutam21 commented on #2687
@ZoranPandovski I am currently giving it a try. Kindly assign this to me. Thanks.

[2022-08-16 15:11] ea-rus commented on #2495
Fixed on alpha
https://github.com/mindsdb/mindsdb/pull/2686/commits/ae4d61a598c18531266800ed50a05ea50893d99d

[2022-08-16 16:14] #2332 closed

[2022-08-16 21:41] paxcema commented on #2610
@alejandrovillegas did it work?

[2022-08-16 21:43] paxcema commented on #2438
@ZoranPandovski @Ricram2 How should we communicate this feature? A tutorial in the learning hub? Docs?

[2022-08-16 21:43] setohe0909 commented on #2610
@paxcema we have pending to apply this change on Alpha to test. Do you have a problem with the response from of analyze with the current request?

[2022-08-16 21:45] paxcema commented on #2610
Ah, glad to hear!

No, nothing urgent. I just saw this in my backlog and wondered what the status was :grin:, cheers

[2022-08-17 00:05] Ricram2 commented on #2438
1. @paxcema, We can start by you communicating here how to access it, :P Is there a syntax to get this? If you give me an example, perhaps we can tell @martyna-mindsdb to get it into docs.
2. In hindsight, there is a HUGE CHUNK of work that I foresee focused only on Explainability, but that falls under @Dav1dF's realm. 🤴🏽

[2022-08-17 07:29] fms12 opened #2694 "Contribution link is not working properly"

[2022-08-17 08:58] agberoz commented on #2357
yes @ZoranPandovski

[2022-08-17 09:38] tomhuds opened #2697 "[CUSTOMER REQUEST][Bug]: Columns with 'date' data type in Astra casue errors in MindsDB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Part 1:
https://www.loom.com/share/d05a16c638614440a7f603cc5e89fd2c

Part 2:
https://www.loom.com/share/8b1476f235e5424389ef22f72caf8660

### Expected Behavior

User can upload data with any of the data types in Part 2, and MindsDB should be able to read it

### Steps To Reproduce

[code]

##

[2022-08-17 09:44] tomhuds opened #2698 "[CUSTOMER REQUEST]: Show class predicted probabilities as columns for classification problems"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

https://www.loom.com/share/19d256063ac944e3b129a3ed381d1c42

### Describe the solution you'd like.

A column for each class in the tabular output of the predictor.

Possible column naming convention: probability_[class_name]

### Describe an alter

[2022-08-17 09:51] tomhuds opened #2699 "[Bug]: Cloud error message 'line' does not correspond to the line in the GUI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/9b6a7d08460842c59d04a8f83251dca9

### Expected Behavior

Ideally the error message

`<Error from server: code=2000 [Syntax error in CQL query] message="line 2:25 mismatched input 'AS' expecting EOF (SELECT * FROM table_orgs_predict3 [AS] t...)">`

Should read
`<Erro

[2022-08-17 09:56] tomhuds opened #2700 "[CUSTOMER REQUEST][Bug]: Bulk predictions error on Astra"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/9b6a7d08460842c59d04a8f83251dca9

### Expected Behavior

Bulk prediction syntax from tutorial should work

### Steps To Reproduce

[code]

### Anything else?

Acceptance criteria: quick demo / loom video showing bulk predictions working, using syntax from tutorial

[2022-08-17 11:10] #2667 closed

[2022-08-17 11:11] #2666 closed

[2022-08-17 11:15] #2661 closed

[2022-08-17 11:20] ZoranPandovski opened #2701 "Add integration with Apache Impala"
We need a new handler to connect to https://impala.apache.org/.

To start:

- Check the https://docs.mindsdb.com/contribute/integrations/
- We can use the python client as https://github.com/cloudera/impyla

[2022-08-17 11:24] ZoranPandovski opened #2702 "Add integration with Quickbooks"
Add a new handler for Quickbooks https://developer.intuit.com/app/developer/qbo/docs/develop.

To start:

- Check the https://docs.mindsdb.com/contribute/integrations/
- We can use the python client as https://pypi.org/project/python-quickbooks/

[2022-08-17 11:28] ZoranPandovski opened #2703 "Add integration with Xero"
Add a new handler for Xero https://developer.xero.com/documentation/getting-started-guide/
To start:
- Check the https://docs.mindsdb.com/contribute/integrations/
- We can use the python client as https://github.com/XeroAPI/xero-python#api-clients

[2022-08-17 12:01] Ricram2 commented on #2495
@ea-rus Please close when deployed to cloud

[2022-08-17 12:07] #2694 closed

[2022-08-17 12:26] fms12 commented on #2703
@ZoranPandovski  I would like to work on it

[2022-08-17 12:39] ZoranPandovski commented on #2402
Closing for now, if needed we will open new issues with info.

[2022-08-17 12:39] #2402 closed

[2022-08-17 12:41] ZoranPandovski commented on #2046
Closing for now. Re-open once we start planning the support of image classification

[2022-08-17 12:41] #2046 closed

[2022-08-17 12:47] #1886 closed

[2022-08-17 12:49] ZoranPandovski commented on #2199
If someone else experienced this issue after upgrading `pip` feel free to comment so, we can re-open the issue.

[2022-08-17 12:49] #2199 closed

[2022-08-17 12:50] ZoranPandovski commented on #2259
@paxcema Should we close this?

[2022-08-17 12:52] ZoranPandovski commented on #2285
Closing for now until we open source our GUI, so people can start contributing to this.

[2022-08-17 12:52] #2285 closed

[2022-08-17 12:53] ZoranPandovski commented on #2314
Closing for now until we open source our GUI.

[2022-08-17 12:53] #2314 closed

[2022-08-17 12:54] ZoranPandovski commented on #2326
@MinuraPunchihewa what was the latest issue with this?

[2022-08-17 12:55] ZoranPandovski commented on #2345
If someone experience issues with Spyder Notebooks comment so we can re open this.

[2022-08-17 12:55] #2345 closed

[2022-08-17 12:56] StpMax commented on #2555
final version is
`GET /handlers/{name}/icon`

[2022-08-17 12:59] ZoranPandovski commented on #2449
Closing this, for now, we will re-open when this needed. Thanks @adithyaakrishna

[2022-08-17 12:59] #2449 closed

[2022-08-17 13:37] MinuraPunchihewa commented on #2326
@ZoranPandovski I can't seem to create an IBM account, Zoran. I am not sure what the reason is, but I have tried many times and failed. Do you think you can help me with this?

[2022-08-17 13:48] ZoranPandovski commented on #2488
Done.

[2022-08-17 13:48] #2488 closed

[2022-08-17 13:51] ZoranPandovski commented on #2334
Closing for now. We will divide this into individual tasks as #2489, #2487

[2022-08-17 13:51] #2334 closed

[2022-08-17 13:51] ZoranPandovski commented on #2494
@Ricram2 should we close this?

[2022-08-17 13:52] #2555 closed

[2022-08-17 13:53] ZoranPandovski commented on #2590
Closing for now, feel free to re-open if this is not resolved.

[2022-08-17 13:53] #2590 closed

[2022-08-17 13:53] #2605 closed

[2022-08-17 13:54] ZoranPandovski commented on #2611
Done

[2022-08-17 13:54] #2611 closed

[2022-08-17 13:55] #2669 closed

[2022-08-17 13:55] #2660 closed

[2022-08-17 14:00] paxcema commented on #2259
Yeah, I haven't seen demand for this. We can reopen in the future.

[2022-08-17 14:00] #2259 closed

[2022-08-17 14:12] ddcprg commented on #1886
fixed with #2675

[2022-08-17 14:52] Ricram2 opened #2706 "Make options here a Tabbed option with a param value table on Dbeaver connection"

[2022-08-17 14:55] Ricram2 commented on #2706
We can make this 2 options:

![Image](https://user-images.githubusercontent.com/24927430/185171445-78389100-56bc-4ce8-8f96-a86e006bf53e.png)
To be rendered as:

One of these [tabbed panels ](https://docs.mindsdb.com/connect/mindsdb_editor/)
![Image](https://user-images.githubusercontent.com/24927430/185171689-63843a2d-c698-4f80-9af7-27f15c308560.png)

And the parameters
![Image](https://user-image

[2022-08-17 14:56] Ricram2 opened #2708 "Add the query as a code block, and the response as a table on Dbeaver Run Queries section"

[2022-08-17 14:58] Ricram2 commented on #2708
![image](https://user-images.githubusercontent.com/24927430/185172446-efc2bb83-2281-40a4-8958-f2292545631d.png)

The screenshot makes it a little hard to validate the query you ran, please add it as a code block and also the expected response.

Also if possible take a closer screenshot and replace the image.

[2022-08-17 14:59] Ricram2 opened #2709 "Make options a tabbed pannel on sql-alchemy"

[2022-08-17 15:00] Ricram2 commented on #2709
https://docs.mindsdb.com/connect/sql-alchemy/

The two options can be a tabbed panel after the intro like this one:
![image](https://user-images.githubusercontent.com/24927430/185173476-42ca2c39-6b0d-421d-bef0-8169c64578ed.png)

[2022-08-17 15:02] Ricram2 opened #2710 "Fix huge horizontal scroll on codeblock, possible extra whitespaces"

[2022-08-17 15:06] Ricram2 opened #2711 "Standardized final remark section on all Connect to MindsDB pages"

[2022-08-17 15:07] Ricram2 commented on #2711
Ideally here. at the end of each document we should have an standard way or closing remarks, maybe next steps?

[2022-08-17 17:24] #2706 closed

[2022-08-17 17:24] #2708 closed

[2022-08-17 17:25] #2709 closed

[2022-08-17 18:38] rahulsunil2 commented on #2328
@chandrevdw31 Is someone already working on this? If not, can you please assign this to me?

[2022-08-17 19:24] chandrevdw31 commented on #2328
As per PR #2088, this is put on hold until the Couchbase Integration will be completed

[2022-08-18 01:17] DrGhost22 commented on #2199
I'm also having this problem after upgrading pip. I'm trying to install bcml and then this happens when it tries to install metadata

C:\Users\Joe>pip install bcml
Collecting bcml
  Using cached bcml-3.9.24-cp310-none-win_amd64.whl (19.1 MB)
Collecting botw-utils~=0.2.3
  Using cached botw_utils-0.2.3-py3-none-any.whl (3.5 MB)
Collecting oead~=1.2.4
  Using cached oead-1.2.4.post2-cp310-cp310-win_

[2022-08-18 03:33] MinuraPunchihewa commented on #2701
@ZoranPandovski I would like to take up this issue!

[2022-08-18 11:56] tomhuds opened #2720 "[Bug]: Cloud datasource search bar doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/f0704dae0c814ceb8be505cbd649221e

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-08-18 12:48] martyna-mindsdb opened #2722 "Proofread and apply style guide to the Quickstart page"

[2022-08-18 13:31] #2711 closed

[2022-08-18 13:32] setohe0909 commented on #2720
Issue is resolve on Alpha and Alpha2

[2022-08-18 13:32] #2720 closed

[2022-08-18 14:09] martyna-mindsdb opened #2724 "Proofread and apply style guide to the Getting Started page"

[2022-08-18 14:15] Ricram2 opened #2725 "Check for new handlers and add them to connection Doc on Docs"

[2022-08-18 14:16] Ricram2 commented on #2725
New integrations have been added since we last review, please add them.

[2022-08-18 14:21] parthiv11 commented on #2701
If possible can i work on this issue because i am familiar with it and i have no more issue to work on.

[2022-08-18 14:30] parthiv11 commented on #2703
How do i integrate this ?
Xero is accounting software .

[2022-08-18 15:14] MinuraPunchihewa commented on #2701
@parthiv11 I have already started to work on this. Maybe you can pick something else from the list?

[2022-08-18 15:40] ZoranPandovski opened #2727 "[BUG] Format the Mongo ensemble response"
We need to format better the response returned from the:
[code]
Currently, we return:
[code]

[2022-08-18 16:40] parthiv11 commented on #2701
Its OK @MinuraPunchihewa , If you started working on it then **No Problem**.

ALL the Best for it.

[2022-08-18 17:01] parthiv11 opened #2729 "[New Integration]: Integration with MonetDB"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

**MonetDB** is an open-source column-oriented relational database management system. It is designed to provide high performance on complex queries against large databases, such as combining tables with hundreds of columns and millions of rows.
It  is used worldwide for _education_, _research_, an

[2022-08-18 17:02] parthiv11 commented on #2729
@ZoranPandovski can i work on this.

[2022-08-19 09:47] ZoranPandovski opened #2730 "[Docs] Mongo Collection Structure"
Under MongoAPI nav add a new page that will explain the initial structure of `predictors` and `databases` collection.

[2022-08-19 09:48] ZoranPandovski opened #2731 "[Docs] Mongo Train model"
Add new documentation that will explain `predictors.insert()` method and the parameters needed to train the model from the collection

[2022-08-19 09:50] ZoranPandovski opened #2732 "[Docs] Mongo Create integration"
Under MongoAPI navigation add a new page that should explain the `databases.insertOne()` and required parameters for connecting to mongo.

[2022-08-19 09:52] ZoranPandovski opened #2733 "[Docs] DESCRIBE Mongo models"
Add a new page that will provide all required information about using DESCRIBE syntax in Mongo as:

[code]

[2022-08-19 09:53] ZoranPandovski opened #2734 "[Docs] Make a prediction from Mongo collection"
Add a new documentation page that will explain the `find() Method` and required inputs to make predictions from the collection.

[2022-08-19 09:54] ZoranPandovski opened #2735 "[Mongo] Delete Model collection"
Under Mongo API add a new navigation page that will explain `predictors.deleteOne() Method`

[2022-08-19 10:00] #2722 closed

[2022-08-19 11:39] #2589 closed

[2022-08-19 13:22] Ricram2 opened #2738 "Review and apply style guides on MongoDB Docs"

[2022-08-19 13:23] Ricram2 commented on #2738
<img width="238" alt="image" src="https://user-images.githubusercontent.com/24927430/185628116-2a25fae7-93d9-4cea-b6bc-d55c06af77c9.png">

[2022-08-19 14:48] #2495 closed

[2022-08-20 11:03] parthiv11 opened #2740 "[New Integration]: Integration With Apcahe Solr"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

**Solr**  is an open-source enterprise-search platform, written in Java. Its major features include full-text search, hit highlighting, faceted search, real-time indexing, dynamic clustering, database integration, **NoSQL** features and rich document handling.

**It is similar to  Elasticsearch .

[2022-08-20 11:23] parthiv11 opened #2741 "[New Integration]: Integration With Ingres"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Ingres is an open-source relational database management system (DBMS) designed for large-scale commercial and government applications. Actian Corporation currently oversees the development of the database while providing certified binaries and support. The latest version is Ingres 11, which is al

[2022-08-20 12:21] parthiv11 opened #2742 "[New Integration]: Integration with SAP SQL ANYWHERE"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

SAP SQL Anywhere is an embedded relational database management system RDBMS that is designed to make it possible for database applications to run outside of traditional data centers. It is intended to run on PCs in satellite offices, mobile devices, and servers in smaller businesses such as resta

[2022-08-20 13:47] parthiv11 opened #2744 "[New Integration]: Integration with SAP HANA"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

**_SAP HANA (High-performance ANalytic Appliance) is a multi-model database that stores data in its memory instead of keeping it on a disk. The column-oriented in-memory database design allows you to run advanced analytics alongside high-speed transactions – in a single system._**

### Motivation

[2022-08-21 03:28] sebastiancadena commented on #2339
I would like to work on this.

[2022-08-22 08:11] ZoranPandovski commented on #2328
@rahulsunil2 Are you still interested in this?

[2022-08-22 08:12] ZoranPandovski commented on #2703
They provide REST API, we need to find a way to get test data

[2022-08-22 08:18] ZoranPandovski commented on #2339
Sure @sebastiancadena. Feel free to join slack, so we can discuss this in more details

[2022-08-22 08:51] parthiv11 opened #2748 "[New Integration]: Integration with Matrixone"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

**MatrixOne is a future-oriented hyper-converged cloud and edge native DBMS that supports transactional, analytical, and streaming workloads with a simplified and distributed database engine, across multiple data centers, clouds, edges and other heterogeneous infrastructures.**

### Motivation

-

[2022-08-22 08:52] parthiv11 commented on #2748
@ZoranPandovski assign it to me

[2022-08-22 09:03] rahulsunil2 commented on #2328
Yes @ZoranPandovski, I'm looking forward to working on this it gets assigned to me.

[2022-08-22 10:43] parthiv11 opened #2750 "[New Integration]: Integration with D0lt"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

**Using Dolt to manage and share your Machine Learning data amongst your data analysts, engineers, and scientists make collaboration easy. Dolt gives you human and machine readable diffs. Diffs are useful providing data oriented insights into your ML models. Why is this model performing better th

[2022-08-22 10:44] parthiv11 commented on #2750
@ZoranPandovski **_Last assigned issues completed and Made PR._**

_Assignee this to me._

[2022-08-22 15:12] Ricram2 commented on #2623
@tomhuds Let us know if you could replicate it.

[2022-08-22 15:24] Ricram2 commented on #2698
SELECT .. .FROM PREDICTOR ... USING ... params = {}?

== SELECT prediction, prediction.data. , prediction.columnimportce FORM PREDICTOR predictor.

== SELECT prediction, prediction.data. , prediction.columnimportce FORM PREDICTOR predictor. WHERE predictor.bounds = X

[2022-08-22 15:41] Ricram2 opened #2751 "Big Query connection steps for Docs"

[2022-08-22 22:48] stryker-e commented on #2199
same error

[2022-08-23 02:44] sebastiancadena commented on #2339
Great! I've just joined the Slack workspace, but I'm not sure how/where to start a discussion there.

I have a few questions regarding this issue:

1. Should we use hyphens or underscores for json configuration keys? The examples use both styles (e.g. `"data_access"`, and `"field-separator"`).
2. When specifying field types,  should the domain be the Python data types (`"int"`, `"str"`, `"float"`)

[2022-08-23 05:33] excavate commented on #2199
same error

[2022-08-23 10:32] ZoranPandovski commented on #2199
@stryker-e, @excavate Are you installing mindsdb from pip? Did you upgrade to the latest pip?

[2022-08-23 10:35] #2725 closed

[2022-08-23 10:48] ZoranPandovski commented on #2540
Closing for now.

[2022-08-23 10:48] #2540 closed

[2022-08-23 11:16] #2724 closed

[2022-08-23 11:21] martyna-mindsdb commented on #2408
@ZoranPandovski
Shall I close this issue now?

[2022-08-23 11:48] #2408 closed

[2022-08-23 12:08] martyna-mindsdb commented on #2751
@Ricram2
As I understand, the `Big Query` section would be added to the `Connect to MindsDB` section, as below.
![image](https://user-images.githubusercontent.com/109554435/186153473-19a9fedf-435b-4362-8fa6-7d9d5f6185ad.png)

Please let me know. Thanks.

[2022-08-23 12:34] ZoranPandovski commented on #2751
No, this was related to adding the `CREATE DATABASE` statement for BigQuery so it should be done.

[2022-08-23 12:34] #2751 closed

[2022-08-23 12:54] #2674 closed

[2022-08-23 15:00] federico-razzoli commented on #2339
Hi @sebastiancadena !
I'm not part of the MindsDB team, but since I wrote the idea (and I won't implement it, sorry...) I'll say my opinion. Which is just my opinion - feel free to ignore it if you disagree.

1. I think that hyphens are more "standard" in this context. Sorry for the confusion in my examples above.
2. I'd say MindsDB types.
3. I think that only `GET` and `POST` are useful. REST API

[2022-08-23 16:08] StpMax opened #2754 "Check connection to mysql with one cert file"

[2022-08-24 02:26] 68Jesus opened #2756 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Download the dataset from link: `xyz.com/data/train.csv`
2. Run the code: `...etc`
3. You should see the error: `... `

**Expected behavior**
A clear and concise description of what you expected to happen, if relevant to the bug.

**Additional context**
Add an

[2022-08-24 02:57] Ricram2 commented on #2597
For replicating the quickstart guide we should have one full example working. a classic homerents.

[2022-08-24 08:43] YashodharDodabhangi opened #2758 "[Bug]: Hyper parameter tuning of machine learning model."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Is **hyper parameter tuning** of data while training the classical  machine learning feature is available? for ex: L1 or L2 penalty in logistic regression.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-08-24 09:59] #2756 closed

[2022-08-24 11:59] ZoranPandovski commented on #2336
This is confirmed that works with the local installation. There are few separate bug fixes we need to do to support it on cloud

[2022-08-24 11:59] #2336 closed

[2022-08-24 12:00] #2132 closed

[2022-08-24 12:01] #2362 closed

[2022-08-24 13:28] martyna-mindsdb opened #2762 "Proofread and apply style guide to the What is MindsDB page"

[2022-08-24 13:58] parthiv11 opened #2763 "[New Integration]: Integration with Databend"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Databend is an open-source Elastic and Workload-Aware modern cloud data warehouse.

Databend uses the latest techniques in vectorized query processing to allow you to do blazing-fast data analytics on object storage([S3](https://aws.amazon.com/s3/), [Azure Blob](https://azure.microsoft.com/en-us/

[2022-08-24 14:00] parthiv11 commented on #2763
**@ZoranPandovski  i will work on it.**

[2022-08-24 16:52] martyna-mindsdb opened #2766 "Proofread and apply style guide to the Deployment -> Self-hosted -> Docker page"

[2022-08-24 17:22] paxcema opened #2767 "Move Ray Serve integration to handler paradigm"
We need this for BYOM with SQL-based training procedures.

To discuss with @StpMax:
- Should this handler support on-cloud storage of BYOM classes? (if so, we need a way to upload the source)

Reference behavior that should still work [here](https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/custom-model/ray-serve.md).

Update:
It will be tricky to handle arbitrary requirements

[2022-08-24 17:31] martyna-mindsdb opened #2769 "Proofread and apply style guide to the Deployment -> Self-hosted -> pip -> Windows via pip page"

[2022-08-24 20:05] paxcema opened #2771 "Huggingface handler"
As part of the initial bulk of ML handlers, we should support and integrate Huggingface.

[2022-08-25 01:05] sebastiancadena commented on #2339
Hey @federico-razzoli , thank you for your comments. Here are my responses:

1. Agree.
2. I did some research, and looks like MindsDB types are the same as [lightwood's dtypes](https://lightwood.io/api/dtype.html).
3. Agree.
4. The only issue with JSON Path is that it doesn't support default values for non-existing paths, but I'll try to figure out a solution using jsonpath-ng's [find_or_create fu

[2022-08-25 02:38] MinuraPunchihewa opened #2772 "[New Integration]: Apache Druid"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Apache Druid is a real-time analytics database that can power real-time ingestion, fast query performance, and provide high uptime. Druid is used by many companies of various sizes for many different use cases such as clickstream analytics, network telemetry analytics, digital marketing/advertisi

[2022-08-25 02:38] MinuraPunchihewa commented on #2772
@ZoranPandovski I am very interested in working on this. Please assign it to me if it can be accepeted.

[2022-08-25 09:05] ianu82 opened #2776 "[CUSTOMER REQUEST] Row level feature importance"
Customer requires row level feature importance and would like to display the results in their app.

This is required work for a paying customer.

[2022-08-25 11:38] #2766 closed

[2022-08-25 11:40] #2762 closed

[2022-08-25 11:51] #2769 closed

[2022-08-25 13:54] martyna-mindsdb opened #2778 "Proofread and apply style guide to the Deployment -> Self-hosted -> pip -> Linux via pip page"

[2022-08-25 14:17] #2778 closed

[2022-08-25 14:17] ea-rus commented on #2373
In 'describe predictor.model' created new columnn accuracy_functions.
It filed with the same value of 'accuracy_functions' from 'describe predictor.ensemble'

[2022-08-25 14:50] #2738 closed

[2022-08-25 15:27] StpMax commented on #2699
Query is working for me. @tomhuds , can you check again, may be with last version all fine? (also, check you have last version locally)
Regarding error message: we cant change it. The error came from Astra. If it can help, we can add prefix to the error, like 'Error from remote server: <error>'.
I also want summon @ea-rus  here: error had appear because Astra does not support 'as' in 'from' (and a

[2022-08-25 15:30] StpMax commented on #2209
closed with https://github.com/mindsdb/mindsdb/pull/2737

[2022-08-25 15:30] #2209 closed

[2022-08-25 15:38] martyna-mindsdb opened #2782 "Proofread and apply style guide to the Deployment -> Self-hosted -> pip -> MacOS via pip page"

[2022-08-25 15:59] martyna-mindsdb opened #2784 "Proofread and apply style guide to the Deployment -> Self-hosted -> pip -> Sourcecode via pip page"

[2022-08-25 16:36] martyna-mindsdb opened #2786 "Add missing databases from GUI to 'Supported Integrations' on 'Data Setup in MindsDB' page"

[2022-08-25 16:37] martyna-mindsdb commented on #2786
I noticed that there are new databases added in the MindsDB Cloud GUI.
So I will add them to 'Supported Integrations' on 'Data Setup in MindsDB' page.

[2022-08-25 21:47] paxcema commented on #2776
We can use row-level SHAP attributions. For this, the query needs to specify SHAP as an analysis block. I will try it and report back.

[2022-08-25 22:34] paxcema commented on #2776
Update: bugs related to the above experiment ^

https://github.com/mindsdb/mindsdb_sql/issues/225
https://github.com/mindsdb/lightwood/issues/978

[2022-08-25 23:06] paxcema commented on #2698
I think this can be separated into two issues:

- exposing the per-class probability (see #2788 for the fix)
- untangling the information inside `_explain` as columns so that they are actually readable, but this may require further discussion -- @StpMax any immediate thoughts?

[2022-08-26 08:22] tomhuds commented on #2776
Could we please have a quick demo once this is ready?

[2022-08-26 08:48] StpMax commented on #2767
@paxcema you mean serve user's model in our servers? I think no. If handler will work with links, then user himself can serve the model

[2022-08-26 09:28] StpMax commented on #2698
Sure we can do it. That will work in our GUI, in console mysql client and in most other GUI clients. But in some of GUI clients, and i think in most BI-tools won't be possible select probability columns. That because some tools are check columns list in query before send it to mindsdb. They compare them with result of 'show columns from table' response. Since we dont have that columns in columns l

[2022-08-26 09:45] tomhuds opened #2790 "[Bug]: Unable to delete predictor from MongoDB Compass"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I try to delete a predictor from compass, I get this error message:

_For db.predictors.delete operation only argumet of the form {name: 'predictor_name'} are supported_

https://www.loom.com/share/591abfbf62754a4cb39600c130239201

### Expected Behavior

User should be able to delete pre

[2022-08-26 10:15] tomhuds opened #2791 "[CUSTOMER REQUEST][Bug]: Drop predictor on MongoDB does not fully drop predictor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After I drop a predictor, I would like to be able to create a new predictor with the same name.

Instead i get this error:
[code]

I suspect this could be to do with the new predictors_versions work?

https://www.loom.com/share/4c2e81fbe44a48b29902b3daab4f9940

### Expected Behavior

_No resp

[2022-08-26 10:19] StpMax opened #2792 "Move predictors 'tables' to Lightwood 'db'"
Need to move predictors tables from 'mindsdb' to 'ligthwood' database

[2022-08-26 10:20] StpMax opened #2793 "Make handler specific data storage"
Need make data storage class that have access only to specific handler files

[2022-08-26 10:30] StpMax opened #2794 "'CREATE PREDICTOR' syntax generalization"
At the moment 'CREATE PREDICTOR' syntax is mostly Lightwood specific. Since we want to add another l frameworks as a handlers, we need to be sure 'CREATE PREDICTOR' may be used with them.
Current syntax is (@ea-rus please correct if i wrong):
[code]
Mandatory only predictor name and 'predict'  field. What else we need add to the syntax to make it work other ml frameworks?

[2022-08-26 10:34] tomhuds opened #2795 "[CUSTOMER REQUEST][Bug]: MongoDB returns too many results on cloud and alpha"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Same error appears from both cloud and alpha - 49 results instead of 4:

Behaviour on cloud:
**Note**: the query from cloud was incorrect (it did not have `AND t.type = 'house'`)
https://www.loom.com/share/735d4458b7394fff89607389aba9a3f4

Behaviour on alpha:
**Note**: the query from alpha wa

[2022-08-26 10:44] StpMax opened #2796 "'PREDICTORS' table generalization"
Theme is close to the https://github.com/mindsdb/mindsdb/issues/2794.
How we want to store data of ML handlers?
What we need to change, to make 'PREDICTORS' be suitable for other ml handlers?
Current struct is:
[code]

My thoughts is:
1. need to keep:
[code]
2. need to del:
[code]
3. need to change:
[code]
4. add:
[code]

[2022-08-26 11:18] ilia-tsyplenkov commented on #2794
I think that an obvious solution is add a new reserved keyword `PREDICTOR_TYPE` or `ML_TYPE` to this type of query

[2022-08-26 11:33] ilia-tsyplenkov commented on #2796
+ need to add
`type` - to specify ML framework used to create the model
`least_ml_version` - least version of ML framework capable to handle the model
`max_ml_version` (optional) - max version of ML framework
`outdated` - to mark all models which really outdated and couldn't be updated by least supported version of ML framework (mostly related to the cloud)

[2022-08-26 12:35] StpMax commented on #2794
@ilia-tsyplenkov i think better will be keep it in name:
[code]

[2022-08-26 12:52] ianu82 opened #2797 "[CUSTOMER REQUEST] model drift monitoring capabilities"
Paying customer desires model drift monitoring capabilities.

[2022-08-26 12:59] tomhuds opened #2798 "[CUSTOMER REQUEST]: Revised anomaly detection solution in lightwood"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Current method defines anomalies as points outside of the confidence bounds.
Width of current confidence bounds highly variable wrt groups, therefore some groups have have vary high/low number of anomalies.

### Describe the solution you'd like.

[2022-08-26 13:03] tomhuds opened #2799 "[CUSTOMER REQUEST]: Revised anomaly detection solution integrated in mindsdb"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Ref https://github.com/mindsdb/mindsdb/issues/2798

### Describe the solution you'd like.

Tasks completed:

- [ ] User journey
- [ ] MindsDB syntax
- [ ] Changes to MindsDB sql parser
- [ ] Demo/Docs

### Describe an alternate solution.

_No resp

[2022-08-26 13:23] tomhuds opened #2800 "Shopify | End-to-end demo for V2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

-

### Describe the solution you'd like.

- [ ] Get sufficient data
- [ ] Map process
- [ ] Transformations
- [ ] Predictors
- [ ] Predictions

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No respon

[2022-08-26 13:24] tomhuds commented on #2767
If not, then we need to discuss solutions for BYOM on cloud

[2022-08-26 14:08] #2698 closed

[2022-08-26 14:25] tomhuds opened #2803 "[Bug]: Alpha | Unusual queries running when using shift+ENTER"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/2c04656d1bc04a0d9a240a28fe2329b2

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-08-26 14:26] ea-rus commented on #2796
Found not finished branch about this https://github.com/mindsdb/mindsdb/commit/4c5cd035ed35ea6f7a3b9ea1d353769ecf269c8e

[2022-08-26 14:34] ea-rus commented on #2794
I agree, we can detect ml framework by predictor name.
`CREATE PREDICTOR lightwood.predictor1 FROM ...`

And use lightwood as default when no prefix used:
`CREATE PREDICTOR predictor1 FROM ...`

Also I think we could move ORDER BY, GROUP BY, WINDOW, HORIZON inside USING. And made lightwood work for both variants. Time series settings inside USING and legacy syntax (in sql):
[code]

[2022-08-26 14:37] paxcema commented on #2776
Last fix, once merged alpha should work: https://github.com/mindsdb/mindsdb/pull/2804/

[2022-08-26 15:00] #2792 closed

[2022-08-26 15:36] #2623 closed

[2022-08-26 16:03] #2699 closed

[2022-08-26 17:07] paxcema commented on #2776
@tomhuds here's a [demo](https://www.loom.com/share/26bc0cb42eac4f0195cb3c53ff37446f).

Also, we may need to do small changes in documentation, @martyna-mindsdb let me know if you can't see the above link correctly, but am thinking we may want to reinforce [here](https://docs.mindsdb.com/sql/api/select/) that the format of the `{target}_explain` column depends on the analysis blocks that are ran a

[2022-08-26 17:07] #2776 closed

[2022-08-26 17:33] paxcema opened #2805 "[FEATURE REQUEST] Reworked EXPLAIN syntax for Lightwood predictors"
Currently, the (undocumented) `EXPLAIN` command yields datatypes for all columns:

![image](https://user-images.githubusercontent.com/12536303/186960320-9af154a5-a1f1-4d5d-80fc-eea47ca02ca1.png)

I think we should change the behavior, so that this:

[code]

now yields a tabular representation of the `global_insights` object produced by the analysis block chain, and potentially the raw representati

[2022-08-26 23:10] paxcema opened #2807 "[REQUEST] Untangled row insights from {target}_explain column"
Related to #2698.

The caveat is that some tools may not support this:

However, it's still worth it for the gained clarity in output format when using the MindsDB GUI.

[2022-08-28 02:58] GeauxWeisbeck4 commented on #2349
I'm a Storyblok partner and am looking for a first issue to start contributing. Can I work on this for the integration contest and do these?

[2022-08-28 23:23] Heyro12 commented on #2634
Hey @ZoranPandovski  Just wondering if you have any updates on this issue?

[2022-08-29 09:42] ZoranPandovski commented on #2349
Sure, let's do Storylblock integration. If you have any questions feel free to join our slack

[2022-08-29 11:33] #2782 closed

[2022-08-29 11:35] #2784 closed

[2022-08-29 11:50] #2619 closed

[2022-08-29 12:29] #2748 closed

[2022-08-29 12:29] #2750 closed

[2022-08-29 12:41] #2729 closed

[2022-08-29 12:41] #2772 closed

[2022-08-29 13:40] deepakmeena635 commented on #2332
@MinuraPunchihewa  can you please add any pull requests related to this? i want to understand your approach of implementing this integration.. thanks in advance

[2022-08-29 13:57] ZoranPandovski commented on #2332
@deepakmeena635 https://github.com/mindsdb/mindsdb/pull/2602

[2022-08-29 14:09] martyna-mindsdb commented on #2776
@paxcema
Yes. I can view the video now that I joined the MindsDB workspace at Loom.

[2022-08-29 14:15] MinuraPunchihewa commented on #2332
@ZoranPandovski Thanks, Zoran.

[2022-08-29 14:18] Ricram2 commented on #2776
The more I see the video, the more I believe this is lightwood docs related.

[2022-08-29 15:40] tomhuds opened #2811 "BYOM | Finalise user journey & design"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

How can a user upload and use a custom BYOM model

### Describe the solution you'd like.

Finalise approach for:

- [ ] File upload design
- [ ] SQL syntax
- [ ] Custom predictor storage
- [ ] Python file design
- [ ] How to run the demo
- [ ] (Fu

[2022-08-29 16:14] tomhuds opened #2813 "BYOM | File upload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Upload and storage of a zip file

### Describe the solution you'd like.

V1 UI for review: https://docs.google.com/presentation/d/1rJuCjlBNcXYRn8XJyPJPqD0JwtKI7IcLC6eIwjn1Kjc/edit?usp=sharing

### Describe an alternate solution.

_No response_

##

[2022-08-29 16:17] martyna-mindsdb opened #2814 "Add What's Next section at the end of each page under Deployment header"

[2022-08-29 16:28] tomhuds opened #2816 "BYOM | Backend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

How will the backend be able to handle a custom model
- Storing zip file
- Unzipping
- (Some security checks)
- Design of python file
- Storing predictor
- SQL
- Train
- Predict

### Describe the solution you'd like.

Planning doc: https://docs.go

[2022-08-29 16:38] martyna-mindsdb opened #2817 "Proofread and apply style guide to the Deployment -> MindsDB Cloud page"

[2022-08-29 16:47] MinuraPunchihewa opened #2818 "[New Integration]: Google Sheets"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Along with Microsoft Excel, Google Sheets is definitely the most used spreadsheet software out there. It is used by business of virtually every scale for maintaining data. Over time, businesses accumulate vast amounts of data in these sheets and this gives rise to numerous use cases for machine l

[2022-08-29 16:48] MinuraPunchihewa commented on #2818
@ZoranPandovski I would like to take up this isssue!

[2022-08-29 17:19] martyna-mindsdb opened #2820 "Proofread and apply style guide to the Connect to MindsDB -> DBeaver page"

[2022-08-29 17:34] martyna-mindsdb opened #2822 "Proofread and apply style guide to the Connect to MindsDB -> DBT page"

[2022-08-29 18:56] paxcema commented on #2776
I can agree with this. [Here's](https://github.com/mindsdb/lightwood/issues/982) an issue for it.

[2022-08-29 20:32] tomhuds commented on #2791
Seems like this is happening for predictors created from files too? https://www.loom.com/share/d10b9211bb644ed897b78599bc44b4ea

[2022-08-29 20:33] tomhuds commented on #2803
Retried on Alpha and can't reproduce problem - closing issue for now

[2022-08-30 09:54] ea-rus commented on #2791
This is fixed on alpha by @StpMax

[2022-08-30 12:56] #2786 closed

[2022-08-30 12:57] #2817 closed

[2022-08-30 12:58] #2820 closed

[2022-08-30 12:59] #2822 closed

[2022-08-30 13:01] #2814 closed

[2022-08-30 13:30] ea-rus opened #2827 "[CUSTOMER REQUEST] Check sql of view before creating it."
Current behaviour: 'Create view' command doesn't check sql of its.
This sql can be mistyped or use not existed tables. It's need to try to run this sql before create of view

[2022-08-30 13:31] mingfang opened #2828 "Add Trino as datasource"
Trino(https://trino.io)is a distributed query engine that enables querying and joining across many databases.

[2022-08-30 13:59] martyna-mindsdb opened #2829 "Issues while following the Kafka docs"

[2022-08-30 14:06] ZoranPandovski commented on #2828
Hi @mingfang, we already support Trino. You can check the `CREATE DATABASE` query for Trino https://docs.mindsdb.com/sql/create/databases/?h=trino#trino

[2022-08-30 14:06] #2730 closed

[2022-08-30 14:07] mingfang commented on #2828
omg, I don't know how I missed that. Amazing. Thanks!

[2022-08-30 14:07] #2828 closed

[2022-08-30 14:09] Ricram2 opened #2830 "Add CREATE DATABASE mongo Syntax on SQL API"

[2022-08-30 14:10] Ricram2 commented on #2830
I think you can connect to a mongo database via the editor using SQL (I think the section below is no longer WIP)

![Image](https://user-images.githubusercontent.com/24927430/187459267-a56433de-a4d5-4e5a-9afa-529dabc263ac.png)

[2022-08-30 14:11] mingfang commented on #2828
I think it would be helpful to add Trino to this diagram
https://camo.githubusercontent.com/6387788854039fff8d9762a4249374084a56131a6cadbfd6c8aad97ebd311c33/68747470733a2f2f646f63732e6d696e647364622e636f6d2f6173736574732f6d64625f696d6167652e706e67

[2022-08-30 15:00] martyna-mindsdb commented on #2829
I follow the [Kafka docs](https://docs.mindsdb.com/connect/kafka/) and get some issues on the way.

Please see the description below.

**1.** Following [prerequisite 1 of Kafka docs](https://docs.mindsdb.com/connect/kafka/#prerequisites):
I started MindsDB at `172.17.0.1:47334`.

**2.** Following [prerequisite 2 of Kafka docs](https://docs.mindsdb.com/connect/kafka/#prerequisites):
I created a `te

[2022-08-30 17:37] martyna-mindsdb opened #2832 "Proofread and apply style guide to the Connect to MindsDB -> MindsDB SQL Editor page"

[2022-08-30 17:41] paxcema opened #2833 "[REQUEST] ML handler-agnostic analysis blocks"
These should ideally be called from the executor instead of within Lightwood, for ML handler-independent analysis.

Note: some of the state normally available may not be present if the backend is different, **we need to figure this one out**.

The ones that are model-dependent should stay within Lightwood.

[2022-08-30 17:55] martyna-mindsdb opened #2835 "Proofread and apply style guide to the Connect to MindsDB -> Metabase page"

[2022-08-31 07:19] ea-rus commented on #2827
https://github.com/mindsdb/mindsdb_private/issues/22#issuecomment-1230482188

[2022-08-31 08:34] tomhuds opened #2839 "[Bug]: DESCRIBE mindsdb.[model_name]; returns error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/7954263052a9439cb0936cd9fcb85862

Model is recently trained/retrained on latest version of mindsdb.

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-08-31 10:07] tomhuds opened #2840 "Maximise uptime - unable to make predictions due to new lightwood version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Sometimes when lightwood is updated, predictors trained on previous versions are no longer able to make predictions.
This can cause problems for customers in production.

### Describe the solution you'd like.

I think we have at least 3 possible s

[2022-08-31 10:11] tomhuds opened #2841 "Maximise uptime - unable to make predictions due to new version of mindsdb cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

- A while back, a customer was not able to make predictions because mindsdb cloud was being updated to a new version.
- Not sure if this has already been resolved

### Describe the solution you'd like.

- Estimate of current downtime when mindsdb

[2022-08-31 11:54] tomhuds commented on #2264
Null rows are not at the start/end of the returned results, but in the middle.
This means that using a workaround like LIMIT 12 will not work.

https://www.loom.com/share/3d52123024b04f6facbdb958e90e63df

[2022-08-31 12:28] parthiv11 opened #2842 "[New Integration]: Integration With TimeScaleDB"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

TimescaleDB is an open-source developed by Timescale Inc. It is written in C and extends PostgreSQL. TimescaleDB supports standard SQL queries and is a relational database.Additional SQL functions and table structures provide support for time series data oriented towards storage, performance, and

[2022-08-31 14:13] 7flash commented on #2361
I am going to do it.. simply add integration handler.. import library https://github.com/RobertCraigie/prisma-client-py .. then pass query to https://prisma-client-py.readthedocs.io/en/stable/reference/operations/#raw-queries .. does that make sense?

[code]

[2022-08-31 15:03] ZoranPandovski commented on #2361
@7flash let's try it

[2022-08-31 15:53] mrobertscgd commented on #2199
Getting a similar issue when trying to install PocketSphinx `metadata-generation-failed`. It appears to be more widespread than just mindsdb. Running python version 3.8.3, pip 22.2.2, setuptools-65.3.0 and wheel-0.37.1.

Would really love to get this sorted !

[2022-08-31 16:45] paxcema opened #2844 "[REQUEST] Syntax for bigger than latest plus some offset"
The idea is to offer support for LATEST + or - an offset at the syntax level. This asks the predictor to gather data so that it has a `WINDOW`-sized context to predict for the relative offset that's defined.

We already support this in lightwood, and it's a valid and useful feature for other TS backends as well.

Syntax example:

[code]

Given that `t.saledate > LATEST` yields a forecast that star

[2022-08-31 19:46] martyna-mindsdb opened #2846 "Proofread the ML Frameworks Ideas Challenge"

[2022-08-31 22:22] #2846 closed

[2022-09-01 14:24] #2830 closed

[2022-09-01 14:25] #2835 closed

[2022-09-01 15:49] ianu82 opened #2848 "[CUSTOMER REQUEST] DocumentDB Integration"
Be able to train timeseries models and get predictions from DocumentDB in both open source and MindsDB Cloud.

[2022-09-02 02:07] paxcema commented on #2798
Potentially fixed in [lightwood/983](https://github.com/mindsdb/lightwood/pull/983)

[2022-09-02 02:15] paxcema opened #2849 "Check correctness of LATEST-set inference mode"
After [lightwood#989](https://github.com/mindsdb/lightwood/pull/989), we should revisit the behavior of LATEST and ensure it is consistently predicting one-step-ahead of the latest-seen data point in the query. Right now, the behavior is not correct due to a lightwood bug, so we need to double check once the fix is deployed.

[2022-09-02 09:50] MinuraPunchihewa opened #2851 "[New Integration]: auto-sklearn"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

[auto-sklearn](https://github.com/automl/auto-sklearn) is a AutoML replacement that can be used in place of the popular [scikit-learn](https://github.com/scikit-learn/scikit-learn) library.

It is a great package that can be used even by the not-so-technical in order to quickly develop an accurat

[2022-09-02 15:25] paxcema opened #2852 "Support for union/all"
This would enable data + forecast concatenation, especially useful for visualization purposes. Here's an example:

Command:
[code]

Output:
[code]

[2022-09-02 15:39] ea-rus commented on #2795
#2826

[2022-09-02 19:50] Davidnet opened #2853 "[New Integration]: AutoKeras"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

AutoKeras is one of the battle tested automl frameworks defined by the Texas A&M lab, since the consideration that we can instantiate  a model depending on the type of the schema of a given dataset, we propose adding the backend automl to explore the idea of custom automl frameworks

### Motivati

[2022-09-02 21:50] sikaili99 commented on #2727
Hey @ZoranPandovski @Ricram2, I am looking for my first open source contribution, can I take this one? I've seen it has been open for some weeks now. Thanks

[2022-09-03 05:54] parthiv11 opened #2855 "[New Integration]: 🗳️ 🗳️ Integration with MLBox"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

MLBox is a powerful Automated Machine Learning python library. It provides the following features:

- Fast reading and distributed data preprocessing/cleaning/formatting.
- Highly robust feature selection and leak detection.
- Accurate hyper-parameter optimization in high-dimensional space.
- Sta

[2022-09-03 06:29] parthiv11 opened #2856 "[New Integration]: 🫖 🫖 Integration With TPOT"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

TPOT stands for **Tree-based Pipeline Optimization Tool**. Consider TPOT your Data Science Assistant. TPOT is a Python Automated Machine Learning tool that optimizes machine learning pipelines using **genetic programming**.TPOT uses a tree-based structure to represent a model pipeline for a predi

[2022-09-03 09:59] parthiv11 opened #2857 "[New Integration]: 🦾🦾 Integration With AutoGluon"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

_**AutoGluon enables easy-to-use and easy-to-extend AutoML with a focus on automated stack ensembling, deep learning, and real-world applications spanning image, text, and tabular data. Intended for both ML beginners and experts, AutoGluon enables you to:**_

- Quickly prototype deep learning and

[2022-09-03 15:30] ZoranPandovski commented on #2727
Sure

[2022-09-04 05:02] MinuraPunchihewa opened #2858 "[New Integration]: PyCaret"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

[PyCaret](https://pycaret.org/) is a low code machine learning package in Python that can automate machine learning workloads. It can manage the end-to-end lifecycle of a machine learning project and it is simple and easy to use.

It can easily handle regression, classification, clustering, anoma

[2022-09-04 09:51] martyna-mindsdb opened #2859 "Proofread and apply style guide to the Connect to MindsDB -> Kafka page"

[2022-09-04 10:07] martyna-mindsdb opened #2861 "Proofread and apply style guide to the Connect to MindsDB -> MySQL CLI page"

[2022-09-04 11:14] martyna-mindsdb opened #2863 "Proofread and apply style guide to the Upload a File to MindsDB page"

[2022-09-04 11:52] martyna-mindsdb opened #2865 "Add missing databases from GUI to 'Supported Integrations' on 'Data Setup in MindsDB' page"

[2022-09-05 05:19] parthiv11 opened #2867 "[New Integration]: ⚡ ⚡ Integration With FLAML"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

# What is FLAML ( AutoML FROM MICROSOFT )

![FLAML](https://github.com/microsoft/FLAML/raw/main/website/static/img/flaml.svg)

**FLAML** is a **_lightweight Python library_** that finds accurate machine learning models automatically, efficiently and economically. It frees users from selecting lea

[2022-09-05 11:15] lavanya-seetharaman opened #2869 "[New Integration]: with Paddle Paddle"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

[PaddlePaddle](https://github.com/PaddlePaddle/Paddle). (PArallel Distributed Deep LEarning) is an independent, open-source deep learning platform launched by Baidu in 2016. It’s an easy-to-use, efficient, flexible, and scalable deep learning platform. Scientists and engineers originally develope

[2022-09-05 12:15] #2863 closed

[2022-09-05 12:17] #2861 closed

[2022-09-05 14:42] #2734 closed

[2022-09-05 14:42] #2733 closed

[2022-09-05 14:42] #2732 closed

[2022-09-05 14:42] #2731 closed

[2022-09-05 15:14] Ricram2 commented on #2411
@ea-rus test and close

[2022-09-05 15:19] #2346 closed

[2022-09-05 15:22] ZoranPandovski commented on #2254
@wangqinghuan did you manage to make this work?

[2022-09-05 15:47] roborourke commented on #2420
This was merged upstream in the PyTorch repo 20 days ago but there hasn't been a new docker image released since then:

https://github.com/pytorch/pytorch/pull/83437

[2022-09-05 18:46] paxcema commented on #2849
Update: behavior confirmed as correct with the inclusion of [#991](https://github.com/mindsdb/lightwood/pull/991), closing.

[2022-09-05 18:46] #2849 closed

[2022-09-05 19:34] Ricram2 commented on #2597
@alejandrovillegas please confirm is done and proceed with closing this issue :)

[2022-09-05 19:40] #2598 closed

[2022-09-05 19:42] #2596 closed

[2022-09-05 19:45] alejandrovillegas commented on #2597
Sure.
closed

[2022-09-05 19:45] #2597 closed

[2022-09-05 19:46] #2531 closed

[2022-09-06 13:39] tomhuds commented on #2816
@ea-rus updated script here: https://drive.google.com/file/d/1VD8mFLcFwX90esyOXMlCiNQVp8wSFD1p/view?usp=sharing

[2022-09-06 14:24] tomhuds commented on #2700
Test fails on 7a and 7b: https://docs.google.com/document/d/1iFSNDbur5JkjO2x9PhczaZFgrXYVtJHHrToMvARBcNU/edit

@ea-rus please check

[2022-09-06 16:03] tomhuds commented on #2813
Will need collaboration with @ea-rus

[2022-09-07 14:26] ianu82 opened #2876 "[CUSTOMER REQUEST] Handle retrain conflicts"
A user has a user case where training/retraining is required for every new customer.

So a new customer of their service signs up. The user wants to retrain and kicks off the command to retrain. Retraining starts. In the meantime, another customer joins and the the model, already retraining, needs to be retrained again.

How can we handle this conflict?

[2022-09-07 14:27] ianu82 opened #2877 "[CUSTOMER REQUEST] Webhook for alerting user that a model has finished training"
Alert user by webhook that their model has finished training.

[2022-09-07 14:31] ianu82 opened #2878 "[CUSTOMER REQUEST] Triggers to set off certain commands"
A customer would like to programmatically have their model train/retrain based on certain events. Their particular use case means that retraining should be triggered for every new customer that signs up for their service trigger. The customer _could_ create their own logic for this but doesn't want to.

Other such triggers for retraining to consider:
 - when data has drifted by a certain amount
 -

[2022-09-07 15:08] skarthik7 commented on #2673
Is anyone working on this issue? If not, I would like to submit a PR for this.

[2022-09-07 15:12] Rutam21 commented on #2673
@skarthik7 Yeah, I am working on it. Will raise a PR soon.

[2022-09-07 16:28] Ricram2 commented on #2816
@Dav1dF We may need the simplest designs and assets here for @alejandrovillegas  and @setohe0909 To implement on frontend

[2022-09-07 17:10] ianu82 opened #2879 "[CUSTOMER REQUEST] be able to view the structure of database and models in GUI"
Potential customer gave feedback that they found visualising the structure of their data and models difficult in GUI.

Wanted way to visualise structure like you would see on the left in a DB client like DBeaver.

SHOW is a keyword that works and sort of helps but isn't in the docs, at least from the left hand-menu. It gets mentioned occasionally like [here](https://docs.mindsdb.com/sql/table-stru

[2022-09-08 10:34] Temidayo32 commented on #2455
@tomhuds this wil be an interesting to work on. I will love to work on this PR. This is my first attempt at making a contribution to MindsDB.  I will love to work on this. Let me know how I can get started on this

[2022-09-08 15:55] mkrdiop opened #2883 "[New Integration]: Integration of major SaaS solutions"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

this integration will be valuable to users because they will be able to extract data from the SaaS they are actually using and feed this data into mindsDB for use as features of their ML pipeline.

### Motivation

connect all your apps and software to mindsdb and start building clever predictive

[2022-09-08 17:37] martyna-mindsdb opened #2885 "Proofread and apply style guide to the SQL API->CREATE->DATABASE page"

[2022-09-08 19:01] Dynomin opened #2886 "[New Integration]: Tools That Solve Your Files Problem"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

There are many issues which are solved and are free of cost. For example:

![image](https://user-images.githubusercontent.com/93094896/189203613-5f82feef-d118-4851-bad9-716555ad361c.png)
![image](https://user-images.githubusercontent.com/93094896/189203784-8a96267a-795b-42fd-b9d4-0029ef5db80a.png

[2022-09-08 20:10] martyna-mindsdb opened #2888 "Proofread and apply style guide to the SQL API->CREATE->PREDICTOR page"

[2022-09-08 23:32] paxcema commented on #2878
Potentially related to the internals of data drift detection: [#2309](https://github.com/mindsdb/mindsdb/issues/2309#issuecomment-1149040548)

[2022-09-09 03:54] Ricram2 commented on #1360
Old, closing.

[2022-09-09 03:54] #1360 closed

[2022-09-09 07:28] #2885 closed

[2022-09-09 09:52] #2672 closed

[2022-09-09 17:00] paxcema opened #2891 "Build handler for autosklearn"
As part of the initial offering of ML handlers.

[2022-09-09 17:01] paxcema opened #2892 "Refactor duplicate boilerplate Lightwood/Ludwig into common methods"

[2022-09-09 17:01] paxcema opened #2893 "Explore new ML handler interface: replace query() method"

[2022-09-09 17:04] paxcema opened #2894 "Ensure all ML handlers can learn/predict in separate processes"

[2022-09-11 18:06] erickp1 opened #2896 "'mindsdb' is a package and cannot be directly executed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Help, im new!

I followed the documentation to install it

`python -m mindsdb`

error message:

`No module named mindsdb.__main__; 'mindsdb' is a package and cannot be directly executed`

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No resp

[2022-09-11 18:12] Vinayyyy2002 commented on #2858
Need a break...msg me..!

[2022-09-11 18:55] ZoranPandovski commented on #2896
This is command for starting,did you installed mindsdb using `pip install mindsdb`

[2022-09-11 19:07] erickp1 commented on #2896
Yes.
The installation was successful,
but it doesn't start.
I followed the steps in the documentation.

[2022-09-12 00:39] Ricram2 commented on #2896
@erickp1 I just tried myself. And it is working, please make sure the python you are using to install and execute are the same one.

[2022-09-12 06:53] bustersg opened #2897 "PREDICT multiple target variables using SQL statements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We can do it in python with array
`to_predict=['location','neighborhood'] # Array with the names of the columns we want to predict`

But can we do it with SQL statement?

### Describe the solution you'd like.

_No response_

### Describe an altern

[2022-09-12 14:45] #2700 closed

[2022-09-12 14:46] paxcema commented on #2767
@Ricram2 as discussed, closing this one.

[2022-09-12 14:46] #2767 closed

[2022-09-12 18:54] martyna-mindsdb opened #2901 "Proofread and apply style guide to the SQL API->CREATE->TABLE page"

[2022-09-13 05:39] #2360 closed

[2022-09-13 05:55] bispaul commented on #2740
Can you assign this to me.

[2022-09-13 06:00] bispaul commented on #2763
Hi @ZoranPandovski can you assign this to me.

[2022-09-13 07:28] chandrevdw31 commented on #2455
@Tomhuds @Temidayo32 the backend framework for MindsDB is lightwood which uses python, I will send a link to @Temidayo32. @Zoran and I can discuss with @paxcema on how to go about with the video tutorial so that we can ensure all is covered in a video tutorial. I also locally have a tut with Lightwood predicting pulsars, will send it to user

[2022-09-13 08:09] delykj opened #2905 "error in apply predictor row step: pickle data was truncated"
Hello,

Sometimes I get the following error for my SELECT query:
"error in apply predictor row step: pickle data was truncated"

I don't get this error If I rerun the same query again. So this is a temporary server bug.

The query is very simple, like:
SELECT predicted_column, predicted_column_confidence as confidence FROM mindsdb.predictor_name WHERE somecolumn=1 and anothercolumn=2

[2022-09-13 08:54] #2842 closed

[2022-09-13 11:20] ea-rus commented on #2893
Here is an example:
https://github.com/mindsdb/mindsdb/tree/byom-upload/mindsdb/integrations/handlers/byom_handler
- byom_handler.py - ML handler as I see it
- byom_handler_exec.py - what should be in executor
- storage.py - first version of storage interfaces for handler

[2022-09-13 15:37] ZoranPandovski commented on #2897
This is not possible with current version, but it is worth considering in the future versions

[2022-09-13 16:27] martyna-mindsdb opened #2908 "Proofread and apply style guide to the SQL API->CREATE->VIEW page"

[2022-09-13 18:14] martyna-mindsdb opened #2910 "Proofread and apply style guide to the SQL API->INSERT INTO page"

[2022-09-13 20:08] erickp1 commented on #2896
(mindsdb) PS C:\Users\HP> python --version

`Python 3.8.13`

(mindsdb) PS C:\Users\HP> python -m mindsdb

`C:\ProgramData\Anaconda3\envs\mindsdb\python.exe: No module named mindsdb.__main__; 'mindsdb' is a package and cannot be directly executed`

I still can not.

[2022-09-13 20:12] erickp1 commented on #2896
(mindsdb) PS C:\Users\HP> python --version

`Python 3.8.13`

(mindsdb) PS C:\Users\HP> python -m mindsdb

`C:\ProgramData\Anaconda3\envs\mindsdb\python.exe: No module named mindsdb.__main__; 'mindsdb' is a package and cannot be directly executed`

I still can not.

[2022-09-13 22:17] ZoranPandovski commented on #2896
What is the output of `pip freeze` inside the `mindsdb` venv?

[2022-09-14 01:45] erickp1 commented on #2896
[code]

[2022-09-14 11:21] tomhuds opened #2913 "[Bug]: No error response using incorrect parameters with SQLAlchemy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Incorrect input parameters gives a successful response:

_Connection to the cloud-mysql.mindsdb.com for user MindsDB Cloud username created successfully._

Ref community post below:
https://mindsdbcommunity.slack.com/archives/C037482KJ22/p1663143779244629

![image](https://user-images.githubu

[2022-09-14 11:25] tomhuds opened #2914 "[Bug]: Docs for SQLAlchemy requires additional step (pip install pymysql)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running this example in the docs in fresh python environment: https://docs.mindsdb.com/connect/sql-alchemy/

I get this error:
_Connection could not be made due to the following error:
 No module named 'pymysql'_

Requires the user to _pip install pymysql_, then it works.
Possibly includ

[2022-09-14 13:59] martyna-mindsdb opened #2915 "Proofread and apply style guide to the SQL API->DESCRIBE page"

[2022-09-14 15:58] martyna-mindsdb opened #2917 "Proofread and apply style guide to the SQL API->RETRAIN page"

[2022-09-14 17:28] martyna-mindsdb opened #2919 "Proofread and apply style guide to the SQL API->DROP PREDICTOR page"

[2022-09-14 18:00] martyna-mindsdb opened #2921 "Proofread and apply style guide to the SQL API->SELECT page"

[2022-09-14 20:31] martyna-mindsdb opened #2923 "Proofread and apply style guide to the SQL API->SELECT from files page"

[2022-09-15 05:15] ilia-tsyplenkov opened #2925 "[BUG] LightwoodHandler tests fail: Unknown integration: files"
**Describe the bug**
Attempt to launch [LightwoodHandler tests](https://github.com/mindsdb/mindsdb/tree/staging/mindsdb/integrations/handlers/lightwood_handler/tests) fail

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Checkout the latest source code from staging
2. Create or update an appropriate virtualenv:
 - `python -m venv env` && `source ./env/bin/activate` && `python -m

[2022-09-15 13:25] yeohbraddy commented on #2323
Hi!

I am new to contributing to open-source, and I'd like to give this issue a go.

Thank you!

[2022-09-16 07:13] ea-rus commented on #2839
Removed 'datasource' column in describe <predictor>;

[2022-09-16 07:15] ea-rus commented on #2264
In this PR results from TS prediction will be filtered (using filter from 'order by' field)
Null rows in TS prediction result #2927

[2022-09-16 07:19] ea-rus commented on #2435
Here results from TS prediction will be filtered (using filter from 'order by' field) and null rows from model will be removed.
Nothing done about sorting data but maybe it will be enough
Null rows in TS prediction result https://github.com/mindsdb/mindsdb/pull/2927

[2022-09-16 08:20] StpMax opened #2929 "Change formatting of examples in the doc"
In all of our syntax examples in the doc we use square brackets as variable mark, for example:
https://docs.mindsdb.com/sql/create/predictor/
Usually `[]` is used to indicate an optional block:
https://dev.mysql.com/doc/refman/8.0/en/select.html
https://www.postgresql.org/docs/current/sql-select.html
https://clickhouse.com/docs/en/sql-reference/statements/select/
https://docs.singlestore.com/db/v7

[2022-09-16 08:28] #2908 closed

[2022-09-16 08:45] #2919 closed

[2022-09-16 10:48] chandrevdw31 opened #2930 "[Bug]: House sales demo tutorial in Cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Tried out the house rental demo tutorial, copied and pasted the CREATE DATABASE syntax and received below error upon execution
![image](https://user-images.githubusercontent.com/32901682/190620969-1ee3a8c3-c531-4f7a-8c86-d11d452fc93b.png)
If I change the database name to example_db3 it works.

[2022-09-16 14:04] #2901 closed

[2022-09-16 15:29] ea-rus commented on #2913
There is no error because 'create_engine' is not creating connection immediately. Connection is created after running 'execute'.

We need to fix it in docs

[2022-09-16 16:29] tomhuds commented on #2914
Error for port number:

port should be 47335 not 47334

[2022-09-16 18:01] #2925 closed

[2022-09-16 22:03] applegadha opened #2932 "[New Integration]: Integration with open source "Data Profiling and Quality Assessment" tools"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Integration with Data Quality Assessment tools like [Great Expectations](https://greatexpectations.io/)
 can address multiple use cases like

- [ ] Fix data errors and reduce data pipeline debt
- [ ] MLOps - Data Profiling for Drift detection
- [ ] Faster journey to model in production

### Motiv

[2022-09-17 09:13] ArmanChand opened #2933 "[New Integration]: Intergration with Tensorflow"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

**### The most ubiquitous ML Framework: TensorFlow**
![tensorflow1](https://user-images.githubusercontent.com/26898623/190849114-17b8a37d-2436-47a7-bb51-27d27c7faf96.png)

TensorFlow has a collection of pre-trained models and is one of the most popular machine learning frameworks that help engine

[2022-09-17 09:16] ArmanChand commented on #2933
Hello @ZoranPandovski ,
Please review the issue for ML Frameworks Integrations ideas project. [Ideation Challenge]

[2022-09-17 13:55] ArmanChand commented on #2929
Hi @StpMax ,
Can you please give an example from documentation?
 I am happy to contribute. Thanks

[2022-09-18 14:20] Temidayo32 commented on #2933
@ArmanChand This is a nice idea. Any idea how this integration is to be implemented?

[2022-09-18 14:20] chandrevdw31 opened #2935 "[New Integration]: Support Pytorch as a ML Framework"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

-     Does regression, classification, neural networks, etc.
-     Runs on both CPUs and GPUs.

Did not see an open issue for this idea and not sure if MindsDB already support it

### Motivation

- PyTorch is considered more customizable, following a more traditional object-oriented programming a

[2022-09-18 14:24] chandrevdw31 opened #2936 "[New Integration]: Support Spark ML"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

You can use Spark ML to work with Spark SQL dataframes, which most Python programmers know. So it creates dense and spark feature-label vectors for you, taking away some complexity of preparing data to feed into the ML algorithms.

### Motivation

- Spark ML can run in clusters. In other words, i

[2022-09-18 14:30] chandrevdw31 commented on #2929
perhaps make these in italics?
![image](https://user-images.githubusercontent.com/32901682/190912255-865779fc-6746-492b-b6f8-d9ba5c34fd64.png)

[2022-09-18 15:35] ArmanChand commented on #2929
Okay @chandrevdw31 . Thanks for the information .

[2022-09-18 15:37] chandrevdw31 opened #2937 "[New Integration]: Azure ML/ Azure ML Studio"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Azure Machine Learning is a cloud service for accelerating and managing the machine learning project lifecycle.
Its widespread application lies in predictive modeling, enterprise-grade security, cost management & analysis, etc.

### Motivation

It has a wide range of algorithms and can operate on

[2022-09-18 15:43] chandrevdw31 opened #2938 "[New Integration]: Amazon Machine Learning"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

-     It supports ML projects to leverage cloud infrastructure.

- It has high performance and is cost-effective.
-  Its widespread application lies in image classification, binary classification, corporate predictions, stock share forecast, etc.

### Motivation

It is a cloud-based framework and

[2022-09-18 15:56] chandrevdw31 opened #2940 "[New Integration]: Support Shogun"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Shogun is an open-source machine learning framework that works well with C++. It is free and useful for developers who want to design algorithms and data structures specifically for problems in the fields of education and research. Shogun can also connect with other ML libraries, including LibLin