[2020-04-16 20:09] ZoranPandovski commented on #421
I guess this should be fixed with https://github.com/mindsdb/mindsdb/commit/e1264f15643763f5eb6a6841ae087120cf37f142. I will double-check before closing the issue.

[2020-04-17 09:33] #421 closed

[2020-04-17 15:03] madasebrof opened #422 "Low confidence on test sample?"
Just running the sample test from https://mindsdb.github.io/mindsdb/docs/basic-mindsdb

Although I get a bunch of warnings, etc, it does finally run to completion.

The output is:

[code]

Does this look right? Just wondering how valuable it is to say there is a 12.8% chance of something? Or is there a "range" of predictions that can be inferred from this? E.g. some sort of standard distribution a

[2020-04-17 16:11] ZoranPandovski commented on #422
This is a great question @madasebrof . The `0.12846143702242152 confidence` is the confidence of the executed query. So, mindsdb provides you an option to query the predictor by providing query in the `when` parameter. `When`  is a dictionary used for making a single prediction. For this example, the query confidence is very bad, but I guess it is because we are not providing some important featur

[2020-04-17 16:16] madasebrof commented on #422
Awesome! Great answers, makes perfect sense!

(Maybe update the website to reflect this so the first trial of **mindsdb** looks more promising 😉 )

I'll leave this open just in case someone else stumbles across this, but obviously feel free to close!

[2020-04-18 00:10] George3d6 commented on #422
Hmh, the website thing has to be updated, ideally the example should read:

[code]
The current one is wrong in that:
a) We prescribe the confidence for the interval not for the actual number (as you noted, this is kinda pointless)
and also
b) The `rental_price_confidence` key itself, I believe, is actually outdated and contains the wrong value... which is something I should correct.

Thanks for po

[2020-04-18 05:12] manesioz commented on #414
Just to clarify, you want this to be the default behaviour? What about adding it as an option in a suite of automated data quality tasks? Let me know your thoughts, but I could try to take a stab at it

[2020-04-18 05:50] manesioz commented on #112
Some random ideas, feel free to critique.
- More traditional methods of determining correlation (pearson, spearman, etc)
- Simpler measurements like count distinct, percent null, std dev, interquartile range, min/max/median/mean (if numerical) or other measurements for strings like avg str length, top, etc
- Gini coefficient

These may or may not be useful statistics to keep track of, but I though

[2020-04-22 03:36] torrmal commented on #416
can this issue be closed?

[2020-04-22 03:37] torrmal commented on #415
@George3d6 are you able to replicate this?

[2020-04-22 03:45] torrmal commented on #414
good point, I think data cleaning should be a data source domain task, and it should have default behaviors. dedupping = True should be one. let us know if you want to take a whak at this

[2020-04-22 03:46] torrmal commented on #411
@ZoranPandovski can this be closed

[2020-04-22 05:04] torrmal commented on #402
@George3d6 do you know if this is still an issue?

[2020-04-22 08:22] George3d6 commented on #416
In light of no further replies from the original poster, yes.

@zenchiu , if you can follow @ZoranPandovski 's instructions above and still want us to help, feel free to post another comment and I'll reopen the issue.

[2020-04-22 08:22] #416 closed

[2020-04-22 08:24] George3d6 commented on #415
No, it's a windows specific error (hence the DLL thing, that's windows failing to import something).

Considering the error is " The paging file is too small" it might just be a memory issue? As in, it seems that the issue is with `from torch._C import *` which is just an import statement from torch, nothing special.

@ZoranPandovski , if you have time, can you try running this on your Windows mac

[2020-04-22 08:28] George3d6 commented on #414
@torrmal the one issue with that is that we need to generate information about the data (In the StatsGenerator) in order to be know how to clean it.

So by default I'd favor adding this to the DataTransformer phase instead.

But, @manesioz , if you want to implement this, I'll leave it up to you to decide where it's best to do so.

The DataTransformer (which handles most of the cleanup/normalizati

[2020-04-22 08:29] George3d6 commented on #411
Yeap @torrmal , it should be closed, I just forgot to close it after Suren's last answer there.

[2020-04-22 08:29] #411 closed

[2020-04-22 08:33] George3d6 commented on #402
@torrmal it's an issue in the sense that the last screenshot there shows an issue where the lightwood version mis-matches the lightwood version the model was trained with... which is something we still haven't figured out how to handle (or if it's worth handling at all).

@agentmilindu , sorry for not getting back to you sooner. If possible please go ahead and try installing whatever mindsdb versi

[2020-04-22 09:16] ZoranPandovski commented on #415
I can check

[2020-04-23 13:05] ZoranPandovski commented on #415
This is not related to the specific MindsDB version or a dataset. I am getting the `from torch._C import * (ImportError: DLL load failed: The specified module could not be found` error on many examples at the moment. It is a torch windows issue.
Note that torch as a dependency to lightwood is installed:
[code]
Tested on Windows 10 with python 3.7.4 and python 3.8.0 using venv.

Using torch tensors

[2020-04-30 08:33] George3d6 commented on #61
@duanzhihua

Sorry, I didn't notice your last comment here, in case this is still something you're working on, yes, group_by will essentially separate the time-series data for every device.

For more information on this see: https://mindsdb.github.io/mindsdb/docs/advanced-mindsdb#timeseries-predictions

Will be closing this issue since there's been no update in a while (again, my fault here for no

[2020-04-30 08:33] #61 closed

[2020-04-30 08:35] George3d6 commented on #422
@ZoranPandovski can you take care of updating our README and (at least the first few pages) of the documentation to source the predicted values via looking at the `.explanation` member of each prediction? (Including the image in the README, where `.explain()` is currently used instead of `.explanation`)

[2020-04-30 08:38] George3d6 commented on #415
@ZoranPandovski did you find any update on this? (e.g. potential torch version or some other dependency change that will resolve this).

Does this mean that lightwood will now fail on every windows machine or does this only happen in some situations? If so, what are those situations? We can try guarding against them when running stuff on windows.

[2020-04-30 08:39] George3d6 commented on #414
@manesioz are you still interested in trying your hand at implementing this? Do you need any further pointers to get you started?

[2020-04-30 08:40] George3d6 commented on #413
Place on hold until we have the new lightwood configuration up and running.

[2020-04-30 08:40] #413 closed

[2020-04-30 08:40] George3d6 commented on #405
@Kaszanas any update on this ?

[2020-04-30 08:42] George3d6 commented on #400
confidence_shuffle can help with this: https://github.com/mindsdb/mindsdb-examples/blob/master/helpers/confidence_suffle.py

Not run as part of the benchmarks yet though.

[2020-04-30 08:43] #400 closed

[2020-04-30 08:45] George3d6 commented on #399
Some of this can be done using: https://github.com/mindsdb/mindsdb-examples/blob/master/helpers/confidence_suffle.py, some of this can be done using various files in mindsdb-examples and lightwood, at any rate.

We need to concern ourselves with making lightwood better at predicting with missing columns (especially now that the probabilistic validator is out of the picture) before we consider addi

[2020-04-30 08:45] #399 closed

[2020-04-30 08:48] George3d6 commented on #387
@ZoranPandovski when you have time (not a priority) can you check if this is still an issue? I think the various fixes around time-series that were implemented recently + the model analyzer revamp, might have inadvertently fixed whatever was happening here.

[2020-04-30 08:49] George3d6 commented on #353
This is now fixed in the new model analyzer :)

[2020-04-30 08:49] #353 closed

[2020-04-30 08:49] George3d6 commented on #112
We are working on a slight re-work of the stats generator internally, will close this for now and re-open a new issue once the overall design has been decided on.

[2020-04-30 08:49] #112 closed

[2020-04-30 09:07] ZoranPandovski commented on #422
The readme example is updated. For the documentation examples, they will be changed while we migrating to the new repository.

[2020-04-30 16:02] manesioz commented on #414
Sorry @George3d6, I was meaning to start this but lost track. I think it makes the most sense to implement this in the DataTransformer. I'll try to make a PR soon, thanks!

[2020-05-01 01:53] manesioz opened #431 "docs: Inconsistency of documentation and directory structure"
**Describe the bug**
The documentation [here](https://github.com/mindsdb/mindsdb/blob/master/mindsdb/README.md) and [here](https://github.com/mindsdb/mindsdb/blob/master/mindsdb/libs/README.md) are outdated (they reference a `workers/` directory).

[2020-05-04 08:21] ZoranPandovski commented on #431
Thanks for reporting this @manesioz, we need to check if we still need these sub docs.

[2020-05-06 15:26] Shandilya21 commented on #422
Hi, @ZoranPandovski @madasebrof  Is this issue is open for contributions, I am new here and willing to contribute? Can you explain the task?

Thanks and I am looking forward to your comment.

[2020-05-07 05:10] torrmal opened #433 "predictor.test method"
implement a predictor.test method

as such:

predictor.test(using_data = file or data_frame, accuracy_score_function = pointer to function)

[2020-05-07 08:45] ZoranPandovski commented on #415
I have updated the installation docs for Windows to specify the Conda or Anaconda installation. George changed the Lightwood install to use the torch+cpu version as a default.

[2020-05-07 13:00] George3d6 commented on #433
Few things:

* If `accuracy_score_function` is not specified it should default to whatever mindsdb would use as the default.

* An additional argument, `score_using` should be used, this should specify what value is passed to the accuracy function, e.g. for numbers it could be `confidence_range` or `predicted_value`. This argument should default to `predicted_value`.

* Also, I feel like this requ

[2020-05-07 13:10] George3d6 commented on #415
Yeap

[2020-05-07 13:10] #415 closed

[2020-05-07 13:12] George3d6 commented on #431
@ZoranPandovski moved the documentation somewhere else, whatever documentation is left in this repo should be considered outdated and removed.

The only docs in here should be code comments to help developers and the main Readme with the minimal getting started documentation it has right now.

[2020-05-07 13:16] George3d6 commented on #402
No updates in a while, so I will be closing this, @agentmilindu  feel free to reopen or create a new issue if you still have problems.

[2020-05-07 13:16] #402 closed

[2020-05-07 13:22] George3d6 opened #434 "Confusion matrix and confidence evaluation for numerical values"
Confidence ranges for numbers as defined by buckets are now obsolete since we have the quantile losses in lightwood.

Confidence determination for numerical values will be done using a binary decision where `correct` means that the real-value/observation falls within the confidence range (the two predicted quantiles) and `incorrect` means that it doesn't.

We'll also be removing the confusion matr

[2020-05-07 13:23] George3d6 commented on #396
@ZoranPandovski , if you have time, could you test this again with the latest mindsdb  & lightwood versions?

I still don't see why the 50k rows would fail, but maybe it was fixed in the meanwhile since I changed the subset logic.

[2020-05-07 13:24] George3d6 commented on #367
This was fixed by the text transformation & ts transformation changes, closing.

[2020-05-07 13:24] #367 closed

[2020-05-07 13:25] George3d6 commented on #422
@Shandilya21 thank you for your interest, but the only thing left to do here was update the documentation and @ZoranPandovski has already taken care of that, further docs related issues will probably be moved to the docs repository at any rate.

WIll be closing this.

[2020-05-07 13:25] #422 closed

[2020-05-07 13:35] George3d6 opened #435 "Various improvements to the Data Analysis"
There will be various improvements to the Data Analysis phase for version 1.20.0 (compatible with scout version 2.0).

For now I will keep track of all of them here, if some of them require their own issue we can open them later.

Currently still discussing the changes around this internally, two big things would be:

* Re-work some of the scores
* Add predictive power based correlation score. i.e

[2020-05-07 13:36] George3d6 opened #436 "Rework get_model_data"
Re-work the `get_model_data` method to be compatible with Scout v2.0, more details to be added here when we have them.

[2020-05-07 17:18] George3d6 opened #437 "Add static interface for method that don't need a predictor"
Title says it all, not urgent.

[2020-05-08 13:58] ZoranPandovski commented on #387
@George3d6  I think there is still some issue here. It took so far 7h of this  [example](https://github.com/mindsdb/mindsdb-examples/blob/master/others/robotic_failure/mindsdb_acc.py) to train and it is still not finished. I've added the stop_training_in_x_seconds to 3min(180), but it runs for 2h so far. I guess the training got stuck int the ` self.predictor.learn` because the last log is:
[code]

[2020-05-09 22:45] #433 closed

[2020-05-10 17:16] miko99x opened #439 "torch library error"
**Your Environment**
python 3 running on MacBook Pro 15" 2018

* Python version: 3.8.2
* Pip version: 20.1
* Operating system: MacOS Catalina 10.15.4
* Python environment used (e.g. venv, conda): venv
* Mindsdb version you tried to install: 1.17.2
* Additional info if applicable:

**Describe the bug**
first installation using pip3 install mindsdb
1. importing library: import mindsdb or from mindsd

[2020-05-11 17:36] Ricram2 opened #440 "Virtualenv missing or corrupt makes mindsdb install fail."
**Your Environment**

* Python version: python3
* Pip version: pip3
* Operating system: MacOs
* Python environment used (e.g. venv, conda): (Prob the problem) venv
* Mindsdb version you tried to install: GUI 1.1.1 MindsDB 1.17.1

**Describe the bug**

The installation for MindsDB on the GUI (locally) fails.

**To Reproduce**
Really hard to reproduce, Also called Richi's bug of death.
Most likely w

[2020-05-11 18:44] George3d6 commented on #439
That's odd, I assume it may be related to python 3.8 (?)
I think the only person that can quickly debug this at the moment is @torrmal , but I'm not sure he has time.

@miko99x Would you be able to create a virutal environment with python 3.7 instead and try installing in that?

[2020-05-11 18:46] George3d6 commented on #440
I remain as confused by this bug as I was when we first encountered it.

Can you try factory-resting your macbook and potentially exorcising it ?

[2020-05-13 08:32] miko99x commented on #439
@George3d6 I installed python 3.7.6 and under this version I can run it successfully.

[2020-05-14 18:52] George3d6 commented on #439
Alright, well. That's as much as I can do for now... we want to get this to run on python 3.8 but there seem to be torch issues on some environments and we haven't been able to find a quick way to resolve them.

[2020-05-14 18:53] George3d6 commented on #439
Leaving this open and will track any python 3.8 + OSX updated here.

[2020-05-14 21:00] ZoranPandovski commented on #439
There is a quite similar issue opened on PyTorch forum. @miko99x Did you use brew to install Python? Can you check this https://discuss.pytorch.org/t/installation-problem-library-not-loaded-rpath-libc-1-dylib/36802/4

[2020-05-14 21:33] George3d6 opened #442 "Predictive Power Score"
`Warning: This issue is intended as a test to be given to candidates for a job at Mindsdb, please do not start working on it, unless we've message you telling you to do so.`

## Current state

Mindsdb runs data through several phases, including one called the `StatsGenerator`.

The `StatsGenerator`, determines the data type (and data subtype) distributions for each column, as well as generates var

[2020-05-16 09:06] Euphe commented on #442
Are there any execution time constraints?

[2020-05-16 13:43] George3d6 commented on #442
No, the fastest the better though.

One of the criteria based on this will be judged is speed, but it's not hard and fast and we'll take into account the 2x kind of differences not the 1.02x kind, speed might vary a lot depending on the machine (e.g. maybe some multi-threading improvement is super nice on a mobile coffee lake with loads of core but doesn't do much on a ryzen 2 with relatively few

[2020-05-17 11:26] #434 closed

[2020-05-18 12:07] ZoranPandovski commented on #396
This issue is fixed with the latest 1.17.4 mindsdb version. @simofilahi Please re-open if you are still experiencing issues with the latest mindsdb version.

[2020-05-18 12:07] #396 closed

[2020-05-19 16:06] George3d6 opened #447 "Clickhouse DataSource"
Add a clickhouse data source, similar to the e.g. Mysql and Postgres data source.
Maybe use the HTTP interface.

[2020-05-20 00:54] alejandrodemiquel commented on #442
I was playing around with the `stats` variable in the funcion `run` of the file stats_generator.py, and I found something that confuses me a bit. When the data type is categorical, the field 'histogram' seems to be based on `input_data.data_frame`, whereas the field 'data_type_dist' is based on `all_sampled_data`.
Also, for all the other datatypes, `stats` is based in the sampled data.
 Is this ex

[2020-05-20 05:30] George3d6 commented on #442
Hmh, I *believe* this is done based on the reasoning that for .e.g numbers the sample is representative enough to construct a histogram. For categories specifically, however, we might miss out on rare categories for no reason if we use just the sample... so, since it's very fast to compute, we use the full data.

The whole StatsGenerator is currently getting a re-work and as such, in the near futu

[2020-05-20 06:09] alejandrodemiquel commented on #442
My idea was to use the sampled data for computing the predictive power score, like many other functions that compute scores do. I need the count for each category to take certain decisions on which categories might be useful for predicting something, and which ones not. With 'histogram', if it used the sampled data, I could look at the counts for each category very efficiently. Otherwise, I need t

[2020-05-20 13:32] George3d6 commented on #442
Hmmh, I see. I don't *think* that the computation time for getting a set of distinct categories should matter much. You can just use `set(columns[columns])` and that should run fairly fast since the sample should always be rather small.

E.g. `len(set([str(i) for i in range(pow(10,7))]))` runs in < 2 seconds, `len(set([str(i) for i in range(pow(10,5))]))`'s runtime is basically a rounding error.

[2020-05-20 15:25] #447 closed

[2020-05-23 14:23] George3d6 opened #450 "Numerical Int histogram - Int only buckets"
For a data subtype of integer, our histogram x-axis and buckets should begin/end at integer values.

[2020-05-23 14:24] George3d6 opened #451 "Support user-decided type"
Allow the user to configure the data type/subtype, for now do it via an unstable param, in the future data skillet might be responsible for providing these (so they will essentially be part of the data source).

[2020-05-27 20:42] George3d6 commented on #436
Here's a description as to how the data looks from the mindsdb server perspective that maps 1 on 1 with what `get_model_data` returns:

When calling /datasources/{name}/analyze or when getting the data for a predictor a new top level key will be included in the JSON being returned: data_analysis_v2.

This top level key contains multiple keys within it, corresponding to the name of each column and

[2020-05-27 20:42] #436 closed

[2020-05-28 07:08] George3d6 commented on #387
Forgot to reply, but, essentially... that just means time series are taking forever to train, which is bad but expected.

Once we have the new RNN-Encoder this will hopefully get better.

[2020-05-28 18:00] George3d6 opened #453 "Order high occurrances to low when categorical"
See: https://github.com/mindsdb/mindsdb_gui/issues/330

[2020-05-29 20:00] #435 closed

[2020-05-29 20:00] #450 closed

[2020-06-01 11:01] andreabat opened #454 "Problem when training with date time from csv file"
**Your Environment**

* Python version: Python 3.6.9
* Pip version: 9.0.1
* Operating system:Ubuntu 18-04
* Mindsdb version you tried to install: installed from pip ( guess latest)

**Describe the bug**
Trying to import a csv with a column that is date time in this format "YYYY-MM-DD HH:mm:ss"

I recieve this warning

Failed to parser numerical value with error chain:
 could not convert string to

[2020-06-01 12:24] ZoranPandovski commented on #454
@andreabat If it's not private, can you please share the dataset that you are using so we can try to reproduce the issue?

[2020-06-02 05:38] George3d6 commented on #454
This is worrying `parse_datetime` looks like some dependency missing, let me look into it.

[2020-06-02 05:58] George3d6 commented on #454
Alright, @andreabat I just pushed a hotfix that should take care of this, should be on pypi in 20 minutes from now.

Try installing it via `pip install mindsdb=1.18.1` and please tell us if you still have the issue.

Thanks a lot for finding this :)

[2020-06-02 13:07] andreabat commented on #454
Ok, Will try it tomorrow (today is bank holiday I. Italy). Will check if another issue I encountered with null fields using the postgresdb data source is still happening and will let you know.

Cannot dataset share easily since it contains pii.

[2020-06-03 20:49] #451 closed

[2020-06-04 14:21] George3d6 opened #458 "Add warnings in New Datasource Quality detail #344"
See: https://github.com/mindsdb/mindsdb_gui/issues/344

[2020-06-04 14:38] George3d6 opened #459 "When the entropy score is high, select biased columns"
--- on hold ---

if entropy is smaller than `0.8` for a column add an array to the `bias` key:

`stats_v2[col_name]['bias']['potentially_biased_buckets']`

Where `stats_v2[col_name]['bias']['potentially_biased_buckets']` is equal to the `n` value bucket with the highest values in the `y` axis in the histogram (i.e. the `n` highest occurrence buckets).

Where `1 <= n <= 4` and `n = (1 - entropy)/2

[2020-06-04 15:10] George3d6 opened #460 "Mark outlier buckets"
In `stats_v2`, instead of returning the distinct outlier values in `stats_v2[col_name]['outliers']` we should instead have a list of `outlier_buckets` with buckets containing the most amount of outliers.

Where "amount of outliers" means over half the bucket is outlier and/or the bucket has at least one outlier and it's in the top 5% as far as outlier content.

[2020-06-04 15:32] George3d6 commented on #458
`if stats_v2[col_name]['bias']['entropy'] < 0.8` add:

For categorical:

`stats_v2[col_name]['bias']['warning`] =  'You may to check if some categories occur to often to too little in this columns. This doesn't necessarily mean there's an issue with your data, it just indicates a higher than usual probability there might be some issue.'`

For numeric:

`stats_v2[col_name]['bias']['warning`] =  'Yo

[2020-06-04 15:38] George3d6 commented on #458
For missing values:

if 1 or more values are missing add a warning saying `f'Your column has {nr_of_missing} values missing'`

[2020-06-04 15:51] George3d6 opened #461 "Add a warning count"
Add a key:

`stats_v2[col_name][nr_warnings]` that is equal to the number of warning present under `stats_v2[col_name]`.

The warning will be sub-keys of other keys in that structure, so we need to count the number of non null:

`stats_v2[col_name][{whatever}]['warnings']`

[2020-06-04 15:55] George3d6 opened #462 "Add description to the entities in stats_v2"
All object `stats_v2[col_name][{whatever}]` should contains a key called `description` that contains a more in depth explanation + link of what they mean.

Descriptions to be provided by Daniel.

[2020-06-04 15:57] George3d6 commented on #462
Descriptions for: potential bias (entropy), outliers (provided for numerical values only via lof) unique count, missing values, type.

[2020-06-04 16:21] George3d6 opened #463 "Splitting up the StatsGenerator"
The stats generator should be split into two pheases:

1. TypeDeductor <-- Figure out column types and subtype as well as the distribution of these types and subtypes
2. DataAnalyzer <-- Does the statistical analysis of the data which is used to provide insights in the logs and/or save them in the lmd so that they can be read by the server (and then by Scout)

[2020-06-04 16:24] George3d6 opened #464 "TypeDeductor Unit Testing"
Once #463 is done add unit tests for the `run` function of the `TypeDeductor` (don't add them for the sub functions, or only add them for the subfunctions that lend themselves well to unit testing).

[2020-06-04 16:24] George3d6 opened #465 "DataAnalyzer Unit Testing"
Once #463 is done add unit tests for the `run` function of the `TypeDeductor` (don't add them for the sub functions, or only add them for the subfunctions that lend themselves well to unit testing).

[2020-06-04 16:33] George3d6 commented on #453
Boils down to: Order the hisotgram and the value buckets for categorical columns in order of occurance, index 0 is the highest nr of occurances (max value in the y axis), last index is the smallest (min value in the y axis).

[2020-06-04 18:42] George3d6 opened #466 "Build a license-inclusive dependency graph"
Build a depenency graph for this library that includes the licenses of all of our dependencies to make sure they are compatible with GLP-3.0

[2020-06-04 18:51] George3d6 opened #467 "Add contributors agreement and try to apply it to post license-switch contributions"
We should go through all contributions since we switch from an MIT License to a GPL-3.0 License and either:

a) Have all contributors agree to and sign something like [the ASF Contributor License Agreement ](https://www.apache.org/licenses/contributor-agreements.html#:~:text=Contributor%20License%20Agreements&text=The%20ASF%20desires%20that%20all,Contributor%20License%20Agreement%20(ICLA).&text=A%

[2020-06-04 21:03] dfernan commented on #462
Potential Bias (Entropy):
Under the assumption of uniformly distributed data (i.e., same probability for Head or Tails on a coin flip) mindsdb tries to detect potential divergences from such case, and it calls this "potential bias".  Thus by our data having any potential bias mindsdb means any divergence from all categories having the same probability of being selected.  Mindsdb then displays a wa

[2020-06-05 07:37] StpMax opened #469 "Error while analyzing dataset with empty column"
**Your Environment**

* Python version: 3.6.9
* Operating system: ubuntu
* Python environment used (e.g. venv, conda): venv
* Mindsdb version you tried to install: 1.18.5

**Describe the bug**
Error raising when trying analyze dataset with empty column. Im sure it was possible before.

**To Reproduce**
Here is head of test datasource, save it as 'test.csv':
[code]
Code to get error:
[code]
You wil

[2020-06-05 09:01] maximlopin opened #471 "Empty row in .csv file causes IndexError in DataSplitter"
**Your Environment**

* Python version: 3.7.4
* Pip version: 20.1.1
* Operating system: windows 10
* Python environment used: venv
* Mindsdb version: 1.18.5

**Describe the bug**
When a .csv file has an empy row in it, an `IndexError` is raised at `DataSplitter` phase.

**To Reproduce**
1. Create a file `test.csv` and paste this data into it:
[code]
2. Run the following code:
[code]

**A somewhat

[2020-06-05 09:21] George3d6 commented on #471
Is this a bug though ?

I.e. a situation that someone would actually counter in any real world scenario.

The fix is fairly easy, just remove `\n\n` and a few other such sequences from the file after reading it *but* it might trigger issues in other edge cases.

----

As for your second bug, that's expected behavior, but we should crash before (in the `DataSplitter` module instead), Mindsdb can't

[2020-06-05 12:32] #469 closed

[2020-06-05 12:44] #461 closed

[2020-06-05 12:45] #453 closed

[2020-06-05 12:45] #458 closed

[2020-06-05 15:43] #460 closed

[2020-06-06 08:15] George3d6 commented on #465
One important test to add, @btseytlin , is that of the type (at least for stats_v2), namely that they always need to be json-serializable (e.g. no numpy.str allowed).

Currently, I've debugged this stuff manually with the function `print_key_and_type` (mindsdb/libs/helpers/debugging) but it should be fairly straight forward to turn it into an automated dictionary-content type-boundry checker.

[2020-06-06 08:17] George3d6 commented on #454
@andreabat any updates on this ?

[2020-06-08 07:55] andreabat commented on #454
Sorrry , no luck. I am now anonymizing the csv file  and will share right away with error stack.

[2020-06-08 08:46] andreabat commented on #454
Ok, I am a bit confused.

Transformed my dataset with faker. Turns out that it doesn't show that error anymore.  My first thoughts are that empty fields, cause an exception. Is that possible ?
The faker procedure generates a value for all fields. The original dataset has occasionally missing values.

Not sharing the faked dataset, since it is working and it would be pointless.

Just to clarify (:-

[2020-06-08 09:10] George3d6 commented on #454
Hmh, do try upgrading to `1.20.0`, but I doubt that will fix it.

Can you add the full stack trace for the exception you are getting on the original dataset?

Can you also try trining with the original data and removing `Cellulare` (since you're saying it's empty anyway)? And seeing what error that generates.

[2020-06-09 13:54] George3d6 opened #477 "Figure out if Mindsdb can be compiled"
We need to figure out if Mindsdb can be compiled into a single binary (with something like Cython) so we can ship it to people that don't have python/pip or the correct versions thereof.

Even if this can't be fully done (I assume compiling pytroch might be elusive) even achieving this partially, such that we can ship a binary + 3/4 dynamically linked library dependencies, it might still be fairly

[2020-06-09 14:48] maximlopin opened #478 "Incorrect handling of array columns causes error"
* Mindsdb version: 1.20.1

**Describe the bug**
`py clickhouse_ds.py` creates a datasource with a column of data type `DATA_SUBTYPE.ARRAY`, and the lines below attempt to create a set of arrays:
https://github.com/mindsdb/mindsdb/blob/master/mindsdb/libs/phases/stats_generator/stats_generator.py#L553
https://github.com/mindsdb/mindsdb/blob/master/mindsdb/libs/phases/stats_generator/stats_generator

[2020-06-10 17:47] #465 closed, assigned to btseytlin

[2020-06-11 06:56] George3d6 opened #479 "Figure out the issues related to data analysis v2"
Since the 1.21.0 release @setohe0909 has reported some issues, we should sync with him to figure out what they are and how to solve them.

[2020-06-11 06:58] George3d6 opened #480 "Issues running unit tests in travis"
At the moment travis seems to silently fail if I add `pytests` to the `.travis.yml`, but I see no relevant logs.

Running it locally I get the error:

[code]

Maybe it's an issue to do with the specific version being used ?

If so we should try to support the latest (>= 5.4.x) and explicitly ask for that to be installed when running the test on travis.

[2020-06-11 06:59] George3d6 commented on #477
Alright, this will be fairly useful when we get to the installers (next week ? Friday ?).

Thanks @btseytlin

[2020-06-11 07:02] George3d6 opened #481 "Unit test placement"
Currently the unit tests are placed in a "flat" directory structure inside `tests/unit_tests`.

Ideally they would follow the current pattern and be at the bottom of the file they are testing under a `if __name__ == '__main__'` check.

If this is not possible for some reason then we should have a 1-to-1 mapping of the mindsdb directory structure under `tests/unit_tests`, though this would be a les

[2020-06-11 08:01] btseytlin commented on #481
I have am 100% against the tests being in the same thing they are testing.

It goes against all convetions, completely. Nobody does that.
Tests are a lot of code. Tests can easily grow way larger than the thing they are testing. It's a lot of useless clutter for developers. Also if you are distributing the code somehow, you don't want to bundle tens of thousand of test code lines together with the

[2020-06-11 08:30] George3d6 opened #482 "Move all existing unit tests under the current structure"
There are some unit tests scattered throughout the code.

grep for `if __name__ == "__main__":` to find them, it should be ~8 of them.

Convert them to use pytest and move them under the current `unit_tests` directory following the same structure.

Also, if they fail try to look into why and modify them and/or the appropriate class such that they pass, but for any large changes to the class please

[2020-06-11 09:34] ZoranPandovski opened #484 "ZeroDivisionError: division by zero"
**Your Environment**

* Python version: 3.7.3
* Pip version: 19.0.3
* Operating system: Ubuntu 18.10
* Python environment used (e.g. venv, conda): venv
* Mindsdb version: 1.22.0

**Describe the bug**
Using the latest 1.22.0 version throws ZeroDivision error in the Data analyzer.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Download the dataset from [mindsdb-examples](https://

[2020-06-11 10:14] btseytlin opened #485 "get_value_bucket contains a piece of broken code"
This line will error:
https://github.com/mindsdb/mindsdb/blob/master/mindsdb/libs/helpers/general_helpers.py#L136

[code]
`col_name` is not defined in this function.

Would be great to refactor the whole function so that it accepts `data_subtype` directly instead of the `column_stats` dict, and returns everything instead of modifying hmd.

[2020-06-11 11:01] #479 closed

[2020-06-11 11:01] #480 closed

[2020-06-11 11:01] #481 closed

[2020-06-11 11:36] btseytlin opened #487 "Sampling of data is done twice in `TypeDeductor` and `DataAnalyzer`"
**Is your feature request related to a problem? Please describe.**
Both phases do a step of sampling data. Some time could be saved by computing it only once.
E.g. here:
https://github.com/mindsdb/mindsdb/blob/master/mindsdb/libs/phases/type_deductor/type_deductor.py#L249

**Describe the solution you'd like**
I am not familiar enough with the codebase to see which solution is best.

**Describe alt

[2020-06-11 11:38] #484 closed

[2020-06-11 12:42] ZoranPandovski opened #489 "Installation from PyPi fails"
`pip install mindsdb` throws:
[code]
If you download the https://files.pythonhosted.org/packages/0d/dc/fc5590e40f2ffad7b30c7efe48fefcb45da95a7011ff1049c0b38299dbbd/MindsDB-1.24.1.tar.gz  the requirements_test.txt will be missing from package. Somehow it is not pushed on PyPi but it is added in the repository. I've upgraded the version in case the file wasn't pushed on PyPi but that doesn't resolve

[2020-06-11 13:44] #489 closed

[2020-06-11 18:53] #478 closed

[2020-06-11 22:00] George3d6 opened #492 "Only use stats_v2 internally"
Only use `stats_v2` internally instead of using the old `column_stats`.

[2020-06-13 21:26] paxcema opened #494 "SIGSEGV interrupt during ModelInterface phase"
**Your Environment**

* Python version: Python 3.6.9
* Operating system: Ubuntu 16.04
* Mindsdb version: 1.25.0
* Additional info if applicable:

**Please describe your issue and how we can replicate it**

Hi, I have a fairly small .csv that I'm trying to use like this:

[code]

However, the process abruptly ends during the ModelInterface step, emitting an exit code 139 (signal 11 SIGSEGV).

I've

[2020-06-15 07:21] StpMax opened #495 "ParserError while creating datasource from .csv"
**Your Environment**

* Python version: 3.6.9
* Operating system: ubuntu
* Mindsdb version: 1.25.0

**Please describe your issue and how we can replicate it**
here is test file and code to reproduce issue:
[code]
Error traceback:
[code]

[2020-06-15 07:28] StpMax commented on #471
in issue https://github.com/mindsdb/mindsdb/issues/495 test datasource have some empty rows, so may be this issues can related

[2020-06-15 08:56] maximlopin commented on #495
If you pass argument sep=';' to pd.read_csv in https://github.com/mindsdb/mindsdb/blob/master/mindsdb/libs/data_sources/file_ds.py#L202
this error disappears. I will fix this later.

[2020-06-15 12:39] George3d6 commented on #487
Hmh, we have an entitiy called `input_data` which already acts as a joint container for the dataframes (test, validation and train) which get created later on.

We could add a 4th element to the input_data, called `sample_set` and populate it during the `TypeInference` phase, probably the easiest and cleanest solution.

[2020-06-15 12:44] ZoranPandovski commented on #494
Hi @paxcema , thanks for reporting this. I've tried to reproduce the issue with quite a small dataset (20 - 50 rows) but it looks ok. We had a quite similar issue with the lightwood installation that was raising a failure condition  SEGFAULT error but it was fixed a few months ago. Maybe you can share the dataset (if it is public) so we can try to reproduce this? Other then that, we will try to re

[2020-06-15 12:44] George3d6 commented on #494
Hmh, stranger, could be some OOM-related errors and I guess those could lead to wired numpy/pandas/torch erros in the background that lead to` SIGSEGV`.

Could you tell me a few things:

1. Do you have a GPU + if yes: Which model ? + if no: How much RAM does your machine have ?
2. What's the size of your dataset (nr of rows, nr of columns, MBs occupied as CSV)
3. Can you share the data ?
4. Can yo

[2020-06-15 12:53] #477 closed

[2020-06-15 13:04] George3d6 opened #497 "Move to mindsdb native."
@torrmal  & @ZoranPandovski , in preparation for the change I think we should:

1. Sync this repo with the mindsdb_native repo (including issues...)
2. Start releasing on pypi under the name `mindsdb` AND under the name `mindsdb_native`
3. Move all dev work into mindsdb_native
4. Move everything from mindsdb_server in here.
5. Start releasing mindsdb_server under the name `mindsdb` on pypi instead

[2020-06-15 15:20] ZoranPandovski commented on #497
Most of the clone, git fetch, or git push operations will need to target the new location (mindsdb_native) and the same for the server. We should add info in the Readme so the users can change the `git remote`

[2020-06-15 18:57] paxcema commented on #494
Thanks for the replies!

@George3d6
1. I have a single GTX1070 8GB GPU, and 32 GB of RAM.
2. It is a (56618, 9) shaped dataset, and the CSV file weights 8MBs.
3. Sadly, I can't.
4. [Here](https://github.com/mindsdb/mindsdb/files/4782326/bug.log) is the training session log. I realize there are a lot of warnings: we are currently inspecting the dataset further, maybe some anomaly in the data is tri

[2020-06-16 09:11] StpMax commented on #495
please check this PR. May be it enough to fix it
https://github.com/mindsdb/mindsdb/pull/498

[2020-06-16 09:19] btseytlin commented on #482
Partially resolved in https://github.com/mindsdb/mindsdb/pull/496

Next are the integrations tests, which are a bit harder, so I will do it bit-by-bit here when I have time:
https://github.com/mindsdb/mindsdb/pull/499

[2020-06-16 15:30] Ricram2 commented on #462
So for now, we're are going with:

[code]

[2020-06-16 22:25] dfernan commented on #462
**Missing Values:**
Mindsdb counts the number of unobserved data points, or so-called missing values for a given variable.  Missing values arise when we do not observe any value for a given variable.  It is commonly represented as N/A or NULL and it is different from NaN (Not a Number), or Inf (Infinity) which mostly arise when we try to do an undefined mathematical operation (like dividing by zer

[2020-06-16 22:26] dfernan commented on #462
@George3d6 @Ricram2 please see above for an example of a missing value explanation

[2020-06-17 08:57] btseytlin opened #500 "TransactionOutputRow._predicted_values is references missing variable"
**Your Environment**

* Python version: 3.6
* Operating system: Ubuntu
* Mindsdb version: 1.25.1

**Please describe your issue and how we can replicate it**
Code of this method has references to variables never defined.
Code to replicate:
[code]

![Screenshot from 2020-06-17 11-51-09](https://user-images.githubusercontent.com/2098322/84877846-ae587280-b091-11ea-89c3-3fe68feafc5a.png)

[2020-06-17 09:13] btseytlin opened #501 "Predictor custom backend test fails due to error in ProbabilisticValidator"
This test is failing, serves as code to reproduce the problem:
https://github.com/mindsdb/mindsdb/blob/master/tests/unit_tests/libs/controllers/test_predictor.py#L99

[2020-06-17 09:49] George3d6 opened #502 "Datasource fallback"
For the mysql, postgres and s3 datasources we should ideally support a "fallback" mechanisms (i.e. via the HTTP interface, at least for mysql and postgres which **I think** might support this) when the required libraries are not install.

[2020-06-17 09:50] George3d6 opened #503 "Consider providing separate mindsdb installs for each data source."
We should consider having pip-installable mindsdb versions with only some of the extra datasources.

Inn addition of having `mindsdb[extra_data_sources]` we can have `mindsdb[mysql_data_source]`, `mindsdb[s3_data_source]`... etc

[2020-06-17 09:56] George3d6 commented on #462
Descriptions are added as given by @dfernan for the missing value and as edited by @Ricram2 for the rest. Feel free to leave notes regarding how we should modify improve them here.

Or close the issue if you want to move the discussion to slack, whicever works for me.

[2020-06-18 06:55] maximlopin commented on #495
resolved by #498

[2020-06-18 06:55] #495 closed

[2020-06-18 15:03] George3d6 opened #507 "Text data analysis"
< Just writing down some ideas, don't implement anything *yet*>

1. Language Distribution

No Language -> Category

A language + "Rich Text"
* Nr Words Distribution (aka nr of words per cell)
* Word Distribution (aka occurrence of each word)
* Sentence length

A language + "Description"
* Important tags
* Sentence/cell length

[2020-06-19 09:17] George3d6 commented on #494
@paxcema thanks for the log, reopening the issue since I still think it may be relevant.

Our default requirements are:

[code]

So it would work with those, We might have to consider updating the version, based on the log I can see nothing, so it might be worthwhile waiting until we can replicate this.

Your computer has very similar specs to my own, so it's weird that I haven't run into this iss

[2020-06-19 09:50] btseytlin opened #508 "Optional data source requirements installation fails on macOS"
**Your Environment**

* Python version: 3.6.7
* Operating system: macOS High Sierra 10.13.6
* Mindsdb version: 1.26.1
**Please describe your issue and how we can replicate it**
`pip install -r optional_requirements_extra_data_sources.txt` fails with error:
[code]

[2020-06-19 09:56] btseytlin commented on #508
Seems like this problem:
https://stackoverflow.com/questions/25459386/mac-os-x-environmenterror-mysql-config-not-found

People need to run `brew install mysql`, but we probably can't tell them about it using pip

[2020-06-19 10:38] #487 closed

[2020-06-19 20:15] George3d6 opened #509 "Installation notes"
data_files and package_files don't seem to work properly and I think we can't use them reliably :/

https://github.com/pypa/sampleproject/issues/30

[2020-06-22 07:16] George3d6 commented on #466
Note, the "hard" problems are as follow:

*Since we use variable dependencies and our dependencies use variable dependencies (e.g. dep_name >= x.y.z ) we need to find the license for every potential version of any of our dependencies and for any potential version of  the dependencies of any potential version of our dependencies and so on

*Since python libraries might also require system libraries

[2020-06-22 07:23] George3d6 commented on #466
No need to list all licenses, just something like: `library + version range + set of licenses + required by`.

Where `required by` is the name of the library that requires that library.

If it's required by multiple libraries list all of them and use a version range that includes the min/max of all version ranges.

[2020-06-22 08:03] nsankar opened #510 "Prediction explainer issue"
This code contains redundant explanation fields
https://github.com/mindsdb/mindsdb/blob/727fdb6640c78ced13faab2445e5f572bba24a36/mindsdb/libs/data_types/transaction_output_row.py

'explanation': explanation,
'explaination': explanation,   ==> This is redundant

Further the prediction confidence  provides two different outputs which is confusing
if we see from the code link cited above,
'confidence

[2020-06-22 08:21] btseytlin commented on #510
Thanks for reporting!
Related: https://github.com/mindsdb/mindsdb/issues/500

[2020-06-22 08:32] nsankar commented on #510
There seems to be another issue with the way  **'extra_insights': {'if_missing':** part of the explainer gets processed.

The following code snippet from this[ code url](https://github.com/mindsdb/mindsdb/blob/master/mindsdb/libs/helpers/explain_prediction.py) to process the rules for if_missing doesnot seem to work correctly i.e

[code]
For example, the following was a sample input given for pred

[2020-06-22 09:20] btseytlin opened #511 "Docker integration test don't work in Travis on windows/osx"
Currently integration tests only run on linux because they require to run a `docker-compose up` command to start database containers. Travis does support Docker for Windows, but when trying to run the db containers there is an error:
`no matching manifest for windows/amd64 10.0.17763 in the manifest list entries`

This basically means that docker is in "windows containers" mode while the container

[2020-06-22 13:26] btseytlin commented on #510
@nsankar mind you that `result.explain()` invokes the old explainer and `result.explanation` invokes the new explainer. Using the new explainer _might_ have more consistent results

[2020-06-22 13:33] btseytlin commented on #508
Closing, resolved by switching to pure-python drivers in https://github.com/mindsdb/mindsdb/pull/506

[2020-06-22 13:33] #508 closed

[2020-06-22 13:43] btseytlin commented on #511
Logs of last failed build:
[code]

[2020-06-22 13:59] George3d6 commented on #510
The redundancy for explaination + explanation comes from a spelling error, it will be correct soon as:

https://github.com/mindsdb/mindsdb/blob/727fdb6640c78ced13faab2445e5f572bba24a36/mindsdb/libs/data_types/transaction_output_row.py#L66

will be removed in 2.0 to be replaced by `new_explain` (which is the method used in the background by the `.explanation` property.

Both the method you are usin

[2020-06-23 04:57] nsankar commented on #510
@George3d6

I had found `.explain()` calls in the following  places

1.  print(prediction[0].explain()) at tests/ci_tests/tests.py
2.  result[0].explain()['rental_price'][0]  at  tests/unit_tests/libs/controllers/test_predictor.py

* search github repo with .explain()

[2020-06-23 08:21] btseytlin commented on #510
To avoid confusion until the old method is removed I propose to add clear warnings about it:
https://github.com/mindsdb/mindsdb/pull/514

Also replaced the old explainer with the new one in unit rests, so that its not misleading.

[2020-06-23 11:05] btseytlin commented on #500
Removed in:
https://github.com/mindsdb/mindsdb/pull/514

[2020-06-23 11:05] #500 closed

[2020-06-23 18:02] nsankar commented on #510
Thanks

[2020-06-25 11:30] #511 closed

[2020-06-25 11:31] #510 closed

[2020-06-25 11:38] #507 closed

[2020-06-25 11:39] #509 closed

[2020-06-25 11:40] #492 closed

[2020-06-25 11:40] #482 closed

[2020-06-25 11:41] #485 closed

[2020-06-25 11:41] George3d6 commented on #497
Done....

[2020-06-25 11:41] #497 closed

[2020-06-25 11:42] George3d6 commented on #502
All datasource except for S3 now work with external libraries, s3 is horrible and we can ignore it for now.

[2020-06-25 11:42] #502 closed

[2020-06-25 11:43] #503 closed

[2020-06-25 11:43] #501 closed

[2020-06-25 11:45] George3d6 commented on #409
Did I mentioned that this is still an issue and a core problem of the way we do releases right now.

@torrmal and @Ricram2 I think we need a specific product design meeting, potentially one to which we should assign 1-2 hours, to lay out and decide upon every possible solution to handle this.

[2020-06-25 11:46] #405 closed

[2020-06-25 12:40] ZoranPandovski opened #516 "GET Datasources error"
I am running the latest version of mindsdb 1.99.3. I am using Scout to connect to the remote mindsdb, and on `datasources` GET request the bellow error is thrown. I guess the default configuration is not working correctly

[code]

[2020-06-25 12:42] ZoranPandovski commented on #516
@StpMax let's check if the default configuration file is created correctly. Or maybe we have broken something while merging split to stable.

[2020-06-25 13:56] StpMax commented on #516
Problem is not with the config. It related with flask global context (it not really global). Will fix it soon

[2020-06-25 15:27] #409 closed

[2020-06-25 15:28] #414 closed

[2020-06-25 15:28] #431 closed

[2020-06-25 15:28] #437 closed

[2020-06-25 15:28] #439 closed

[2020-06-25 15:28] #440 closed

[2020-06-25 15:28] #442 closed

[2020-06-25 15:29] #454 closed

[2020-06-25 15:29] #459 closed

[2020-06-25 15:29] George3d6 commented on #462
All added

[2020-06-25 15:29] #462 closed

[2020-06-25 15:32] George3d6 commented on #471
We're not going to allow empty rows in csv files, it's no longer a csv at that point, so closing this for now will create a new if some customer wants this feature.

[2020-06-25 15:32] #471 closed

[2020-06-25 15:32] #494 closed

[2020-06-25 15:33] #466 closed

[2020-06-25 15:33] #387 closed

[2020-06-25 15:33] #401 closed

[2020-06-25 15:36] George3d6 opened #518 "Add dynamic configuration"
Allow for dynamically configuration databases from the GUI, this should include adding more than 1 databases of the same type.

I'll make the initial changes to the configuration and @StpMax can take over to change the HTTP API once that's done.

[2020-06-25 15:37] George3d6 opened #519 "Add locking mechanism"
`Not a priority until we roll out the new minsdb server AND have the test suite in place`

We'll need a locking mechanism when accessing the datasource through the DataStore and mindsdb through the upcoming mindsdb interface.

This will need to support locking between processes and *ideally* it can also be implemented in mindsdb native such that users can use all the APIs in paralle.

At the momen

[2020-06-25 15:39] George3d6 opened #520 "Support data type/subtype associated to data source"
The user should be able to add a type and subtype to each column in a data source, then, when mindsdb is trained using that data source, the types/subtypes should be transmitted to mindsdb.

[2020-06-25 15:41] George3d6 opened #521 "Compile installers using Travis and Deploy them to s3"
The installers should be compiled (for those which require it) via travis and deployed to a public s3 bucket every time we release the `stable` branch.

[2020-06-25 15:44] George3d6 opened #522 "Make the linux installer work without user input & pip"
The Linux installer should work without input from the user (just use whatever default seems more sane) and it should work if pip is not installed (see how we go about doing that in the legacy installers in mindsdb_server).

[2020-06-25 15:47] George3d6 opened #523 "Simplify windows installer to work with the current automatic configuration creation"
Currently launching `mindsdb` will lead to it automatically searching for (and creating) a directory structure + default configuration file is one doesn't exist.

This means we no longer need to do this in the installer.

For how this is done see: https://github.com/mindsdb/mindsdb/blob/stable/mindsdb/__init__.py#L7

The current pathing is linux only so please add some "common" paths where we migh

[2020-06-25 15:47] George3d6 opened #524 "Simplify linux/os installer to work with the current automatic configuration creation"
Currently launching `mindsdb` will lead to it automatically searching for (and creating) a directory structure + default configuration file is one doesn't exist.

This means we no longer need to do this in the installer.

For how this is done see: https://github.com/mindsdb/mindsdb/blob/stable/mindsdb/__init__.py#L7

The current pathing is linux only so please add some "common" paths where we migh

[2020-06-25 15:49] George3d6 opened #525 "Modify configuration endpoint"
Current interface is something like:

[code]

Will add more details once I specify this in postman.

[2020-06-25 15:51] #516 closed

[2020-06-25 15:52] George3d6 opened #526 "Complete Mariadb & Clickhouse intergrations"
@StpMax you know best what's required here, can you run us through the next steps (if there are any) that you'll be working on to get both of these working as intended ?

[2020-06-25 15:55] George3d6 opened #527 "Complete clickhouse & mariadb integration testing and make sure it's running as part of the CI"
The integration test for clickhouse & mariadb should include:

1. (setup the env) Use docker compose to boot up the databases + Upload some data + start mindsdb
2. Test that all mindsdb tables are created (commands, predictors, the mindsdb db)
3. Train a predictor from an internal datasource (using some kwargs to validate they work)
4. Train a predictor from an external datasource (say, a file)
5.

[2020-06-25 17:02] George3d6 opened #528 "Multiprocessing error on OSX"
Richie got this error running on his OSX machine:

[code]

[2020-06-25 18:30] Ricram2 opened #529 "Error 500 flask context not working on Osx"
**Your Environment**
OsX

* Python version: 3
* Pip version: 3
* Operating system: OSX
* Python environment used (e.g. venv, conda):
* Mindsdb version you tried to install: 1.99.3
* Additional info if applicable:

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Download the dataset from link: `xyz.com/data/train.csv`
2. Run the code: `...etc`
3. You s

[2020-06-25 18:36] George3d6 commented on #528
Can be tempted fix by placing an env variable: `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES`

@btseytlin please try to insert this env variable before running on OSX and see if it works.

@StpMax the long-term solution for OSX is to get this to use something other than `fork`, maybe `exec` ... I guess ? That's what the log seems to suggest.

[2020-06-25 18:37] George3d6 opened #530 "MYSQL API fails to return large packets"
When we are returning too many prediction on a `predict` call the mysql mime proxy breaks, error is:

[code]

[2020-06-25 18:38] George3d6 commented on #529
This has to do with the flask global context not working on OSX because **************

I will try looking into it, will coordinate with you tomorrow @StpMax if I can't get it to work.

[2020-06-25 19:02] George3d6 opened #531 "Predicting launches the mysql api subprocess AGAIN"
At the moment running a predict query launches the MYSQL api process... again :/

not sure why this is happening, doesn't result in an error, it just fails, but obviously wastes a shit load of ressources and delays everything by doing it.

@btseytlin @maximlopin @StpMax any ideas as to why this happens and possible fixes are welcome, getting this fixed is kind of urgent obviously.

[2020-06-25 20:09] George3d6 opened #532 "Capture port and host when mysql api is qeuries"
When an `INSERT` or `SELECT` query comes through from clickhouse, maraidb, etc We need to capture the host and port so that we can see where to query the data from, this is required for when we have more than one database of the same type associated with Mindsdb.

[2020-06-25 21:57] George3d6 commented on #528
Fixed this :)

[2020-06-25 21:57] George3d6 commented on #531
Fixed this :)

[2020-06-25 21:57] #528 closed

[2020-06-25 21:58] George3d6 commented on #529
Fixed this :)

[2020-06-25 21:58] #529 closed

[2020-06-25 21:58] George3d6 commented on #531
Actually fix is not ideal reopening.

[2020-06-25 22:25] George3d6 opened #538 "Password issues"
[code]

[2020-06-25 22:26] George3d6 opened #539 "Remove hardcoded cert from code"
I am informed using a test SSL cert hardcoded inside public source code goes against certain best practices.

[2020-06-25 22:32] George3d6 opened #540 "Weird error if password auth logic is removed"
We get a weird error if I remove the password auth logic and just make it pass by default:

[code]

[2020-06-26 07:06] StpMax commented on #526
1. make current features well tested
2. add field '$confidence' to predictor table. May be additionally '$min_range' and '$max_range'.
3. make all mindsdb tables recreated once at mindsdb starts. Currently all tables created as 'create table if not exists...', and this happens several times during mindsdb works (every time when Clickhouse() or Mariadb() init). This can lead to problems if user cha

[2020-06-26 07:10] StpMax commented on #539
Yes, that surely must be done. I have already started make function to create new cert at mindsdb starts. But found issue with crossplatform work of such function. Will try to find some python lib to make certs what not depends of os libs.

[2020-06-26 09:49] btseytlin commented on #539
Certbot maybe?
It's amazing, although probably linux-only.

https://certbot.eff.org/

[2020-06-26 11:09] #524 closed

[2020-06-26 11:09] #523 closed

[2020-06-26 11:09] #522 closed

[2020-06-26 11:31] StpMax commented on #538
I think it related with 'empty' password issue, so should be fixed by https://github.com/mindsdb/mindsdb/pull/542

[2020-06-26 11:42] StpMax commented on #526
4. check and implement if need multiple column in 'predict_cols'

[2020-06-26 12:11] StpMax commented on #531
How can i reproduce it?
I run mindsdb with http and mysql api. See three processes. Run 'select * from predictor where sqft=1000' and there just one thread appears for this query, no new processes.

[2020-06-26 12:27] StpMax commented on #539
Certbot is for slightly different purpose. Easiest way to make cert on linux is use openssl command (or for python use OpenSSL module).

[2020-06-26 14:35] StpMax commented on #526
WIP in branch https://github.com/mindsdb/mindsdb/tree/db_intergrations

[2020-06-30 06:27] #540 closed

[2020-06-30 06:27] #538 closed

[2020-06-30 17:00] George3d6 opened #546 "Run travis tests"
@btseytlin can you help @StpMax to get the current tests running in travis ?

Should be about the same setup as you have with the datasource tests in Mindsdb_native.

[2020-06-30 17:06] George3d6 opened #547 "Allow selecting from `.explain`"
Discussed during a call

Gist of it is, assume you are prediciting two columns `foo` and `bar`. Assume `foo` is numerical and `bar` is categorical.

1. All the values (including the predicted value) should come from the `.explain` property of the prediction
2. The values we expose should be:

`foo`
`bar`
`foo_confidence`
`bar_confidence`
`foo_max`
`foo_min`

Where min and max are the first and las

[2020-06-30 17:07] George3d6 opened #548 "Allow predicting as many rows as possible"
Fix the issue that block our mysql API from returning a large number of rows back to clickhouse/mariadb on ` SELECT` query made to return predictions.

[2020-06-30 17:08] George3d6 opened #549 "Allow predicting and learning from external datasources in the database integrations"
Allow predicting and learning from external datasources in the database integrations.

Maybe using a magic variable again, something like `external_datasource` that's just a string to which the name of the datasource is passed.

[2020-06-30 21:33] George3d6 opened #550 "Issues connection from Mariadb"
Inserting a predictor causes the following error:

[code]

[2020-06-30 22:06] George3d6 opened #552 "Use an ORM for the config"
Currently the config always uses the file system, we should change this to using an ORM that can switch between various storage systems (e.g. sqllite, postgres, mysql ... AND file system, I think it's very important that we keep file system as an option).

While we're at it we might as well add a mutable interface to the config.

[2020-07-01 07:49] George3d6 commented on #549
http://docs.peewee-orm.com/en/latest/

[2020-07-01 08:36] George3d6 commented on #552
http://docs.peewee-orm.com/en/latest/index.html

[2020-07-01 11:54] btseytlin commented on #546
This is really easy, we can 99% copy the setup from mindsdb_native:
https://github.com/mindsdb/mindsdb_native/blob/stable/.travis.yml#L63

Basically:
1. Do a `docker-compose up -d` before running the tests
2. Do a `docker-compose down` after running the tests

I want to propose one major thing though.
This logic of adding the plugin to mariadb should be moved to a Dockerfile:
https://github.com/mi

[2020-07-01 13:37] ZoranPandovski opened #553 "RecursionError when using /predictors endpoint"
Using latest 1.99.9 version of mindsdb throws error when a new Predictor is created.

[code]

[2020-07-02 09:25] George3d6 opened #555 "Capture information about the host database on receiving queries"
The Mysql mime proxy should capture information about the sender databases when it receives a query (e.g. via the connect engine)... at least if at all possible. Things like:

What's the IP from which the query was sent ?
What's the port the database is running on (unlikely we can get this) ?
What's the type of the database (again, maybe not, since @StpMax you were mentioning `clickhouse` send `ma

[2020-07-02 09:26] George3d6 commented on #519
Added to mindsdb_native instead of usin portalocker.

Still need to add it to the config & the datastore though.

That being said, the config should have it by default once we switch to an ORM and start using a database *and* the datastore will at some point be replaced by data skillet (and hopefully that will be thread safe).

So I'm not sure it's worth adding it right now to those 2 modules, aft

[2020-07-03 08:53] StpMax opened #557 "storage_dir not created when mindsdb starts"
**Describe the bug**
dirs described in `config['interface']['datastore']['storage_dir']` and `config['interface']['mindsdb_native']['storage_dir']` not created when mindsdb starts

**To Reproduce**
1 change paths to not exists dirs in config.josn
2 run mindsdb module
3 get error `FileNotFoundError`

**Expected behavior**
dist should be created at mindsdb start

[2020-07-03 15:46] StpMax commented on #555
We have three sources to get info about client:
1. socket: here we can easy get ip and port. But that information not very usable (at least port, it will new on each connection).
2. mysql-protocol. In connection field client sends connection attributes, and one of them is 'client'. But it unusable, because clickhouse sends 'libmariadb', mariadb sends 'libmysql'. So it just library used by client,

[2020-07-05 16:25] nsankar opened #560 "MindsDB Docs link broken"
The MindsDB Docs link from Wiki is broken
https://www.mindsdb.com/wiki

[2020-07-05 16:33] ZoranPandovski commented on #560
Thanks for reporting this @nsankar, it was pointing to our old docs website. It is fixed now.

[2020-07-05 16:33] #560 closed

[2020-07-06 01:59] George3d6 commented on #532
Duplicate of #555

[2020-07-06 01:59] #532 closed

[2020-07-06 02:02] George3d6 commented on #555
@StpMax In that case 3 it is, we add a hash of the database's config as part of... ???

Would we have to add it as part of every table ? Seems so :(

In which case I'd add a new column to each table `id_{config_hash}`.

Kinda of ugly for the user to see it but no way around that.

[2020-07-06 02:02] George3d6 commented on #555
Or do you see a better way ? If so, do tell, I find this ugly but acceptable.

[2020-07-06 02:04] George3d6 commented on #553
Should be fixed && more importantly should have been caught by testing.

I thought this error was fixed, so it's weird that it's popping up again, especially since `predict` should be done in the same process presently, not in a sparate one.

Especially since this is a datasource error...

What dataset are you suing here @ZoranPandovski and how are you making the `predict` call ?

[2020-07-06 02:04] George3d6 commented on #552
Above is not a good candidate I think, doesn't seem to support file system.

[2020-07-06 02:09] George3d6 commented on #539
@btseytlin as @StpMax is saying cerbot is for public SSL certs, basically it does the job of registering your SSL certificate with the centralized authorities that run the website encryption racket around the internet.

As @StpMax is saying we can use OpenSSL, except that OpenSSL 100% does not come by default with every distro, at least not the command line utility (I don't think ??). Anyway, I'm

[2020-07-06 02:10] George3d6 commented on #531
I think this was fixed @StpMax , I don't remember how or why exactly, but the whole multiprocessing bit I've quite revamped since then anyway, so doesn't matter.

[2020-07-06 02:10] #531 closed

[2020-07-06 02:12] George3d6 commented on #526
Closing this since every point here is itemized somewhere else.

[2020-07-06 02:12] #526 closed

[2020-07-06 02:13] George3d6 commented on #525
@torrmal we still need to discuss how you want to define the interface for this :)

If we don't find the time to do so, I'll go ahead and just get one out by the EOW because we need to get something going.

[2020-07-06 02:14] #519 closed

[2020-07-06 02:14] #518 closed

[2020-07-06 02:15] George3d6 commented on #467
@ZoranPandovski would be *really* *really* nice to get something in place before the 2.0.0 release. Otherwise we are left in a position where I can't accept any PR and that's not ideal.

[2020-07-06 02:21] George3d6 opened #561 "Microsoft SQL Server Database integration"
Support Microsoft SQL Server database as integration (the same way we do for Mariadb and clickhouse).

We need to figure out how to connect to it, the rest is fairly straight forward

[2020-07-06 02:21] George3d6 opened #562 "Microsoft SQL Server Database integration testing"
*Yes* there is a docker image that runs on any OSes for this one, so we can use that, no need to use a remote db to test.

[2020-07-06 02:24] George3d6 opened #563 "MYSQL database integration"
Support MYSQL database integration (the same way we do for Mariadb and clickhouse).

We need to figure out how to connect to it, the rest is fairly straight forward.

[2020-07-06 02:24] George3d6 opened #564 "Mysql database integration testing"

[2020-07-06 02:24] George3d6 opened #565 "Postgres database integration"
Support Postgres database integration (the same way we do for Mariadb and clickhouse).

We need to figure out how to connect to it, the rest is fairly straight forward.

[2020-07-06 02:24] George3d6 opened #566 "Postgres database integration testing"

[2020-07-06 02:24] George3d6 opened #567 "Mongo database integration"
Defining the schema for this one will be different from the other two.

For now, figure out how to connect to it, we can worry about the schema later.

[2020-07-06 02:24] George3d6 opened #568 "Mongo database integration testing"

[2020-07-06 06:55] StpMax commented on #550
Should be closed by https://github.com/mindsdb/mindsdb/pull/554

[2020-07-06 06:55] #550 closed

[2020-07-06 10:19] StpMax opened #570 "support additional sql-commands"
Below is list of sql commands what can be catched from client, but has not processing at this moment. Currently we just ignore them, and it not raise any error on client, but who knows what will with other clients.
- [ ] show tables
- [ ] quit()

[2020-07-06 14:12] StpMax commented on #555
i mean add hash as part of remote table name. For example, we create predictor xxx and register it in mariadb, then we do:
1. get some hash from connection to mariadb:
[code]
2. on mindsdb start make remote table in mariadb:
`CREATE TABLE mindsdb.xxx (...) ENGINE=CONNECT TABLE_TYPE=MYSQL CONNECTION=mysql://{user}:{password}@{host}:{port}/mindsdb/xxx_mariadb_{hash}`
3. when user make query as
`sele

[2020-07-06 14:24] StpMax commented on #555
or we can use similar durty hack :)
Put all info to username. So table create string will be like:
`CREATE TABLE mindsdb.xxx (...) ENGINE=CONNECT TABLE_TYPE=MYSQL CONNECTION=mysql://{user}_mariadb_{HASH}:{password}@{host}:{port}/mindsdb/xxx`
pros:
- table name length will be as native db length
- we will know what DB try connect on handshake step.
cons:
- DB can have limit on username length

[2020-07-06 14:39] StpMax commented on #530
should be fixed by https://github.com/mindsdb/mindsdb/pull/572

[2020-07-06 14:39] #530 closed

[2020-07-06 14:39] StpMax commented on #548
should be fixed by https://github.com/mindsdb/mindsdb/pull/572

[2020-07-06 14:39] #548 closed

[2020-07-06 14:41] #547 closed

[2020-07-06 14:48] #539 closed

[2020-07-07 18:09] schmorrison commented on #553
Any tips on working around this? I got the error, then on my second attempt at creating the training it worked. However, now I get the error every time and training simply wont start. Should I downgrade?

I am using Scout.

[2020-07-07 19:16] ZoranPandovski opened #573 "AttributeError: module 'mindsdb_native.libs.controllers.functional' has no attribute 'analyse_dataset'"
When creating new Datasource _/datasources/test [PUT]_ API throws an error. The _analyse_dataset_ function is imported from functional, I am not sure if it should be added to functional or will stay in predictor.

**Version**
* MindsDB latest staging branch
* mindsdb-native: 1.99.7
[code]

[2020-07-08 09:21] ZoranPandovski commented on #553
@schmorrison We are releasing a new version tomorrow so this will be fixed, currently the fix is on staging branch.

[2020-07-08 11:05] George3d6 commented on #573
This is fixed in the current staging branch of both repos, should be fixed once we deploy stable tomorrow.

[2020-07-08 15:20] eddiejaoude opened #577 "Update contributors handles to links"
It would be useful if the user handles were links to their profiles, for example...

Thanks for [Max Stepanov](https://github.com/StpMax), Zoran Pandovski (@ZoranPandovski), Jorge Torres(@torrmal) for their contributions to Mindsdb Server, even though their contributions to those particular components may not show up in the commit history.

[2020-07-11 02:30] mcroni opened #582 "ImportError: DLL load failed:"
Currently testing mindsdb GUI again, and noticed this first error in the `pip installation process`
`gensim 3.8.3 has requirement Cython==0.29.14, but you'll have cython 0.29.21 which is incompatible` which might be of no significance.

After installation and proceeding to connect to the local server i get this error
`$terminal: Traceback (most recent call last):
 File "C:\Users\MCRONI\AppData\Roa

[2020-07-11 05:21] breim opened #583 "TypeError: predict() got an unexpected keyword argument 'when'"
**Your Environment**

* Python version:
python 3.8

* Pip version:
pip 20.1.1

* Operating system:
Ubuntu 20.4

* Python environment used (e.g. venv, conda):
Self instalation of distro.

* Mindsdb version you tried to install:
1.99.10

* Additional info if applicable:

**Describe the bug**
Traceback (most recent call last):
  File "test.py", line 29, in <module>
    result = Predictor(name='home_r

[2020-07-11 12:07] ZoranPandovski commented on #583
@breim In the latest MindsDB version the **_when_** argument is removed. Now, you can add the query for single predictions to the **_when_data_** argument. This is updated in the  MindsDB docs, but I will update the Readme example too.

[2020-07-11 12:09] ZoranPandovski commented on #582
@mcroni Which version of Python you are using? I think there are still some issues related to the python 3.8.x on Windows and torch.

[2020-07-11 12:21] mcroni commented on #582
I'm using `Python 3.6.0`

[2020-07-13 09:53] ZoranPandovski opened #584 "ModuleNotFoundError: No module named 'mindsdb.integrations'"
Starting MindsDB with the `datastore` : `enabled`: false configuration, throws the bellow error. We are missing the __init__ file inside integrations dir, so I think it wasn't pushed to PyPi

[code]

[2020-07-13 13:02] #584 closed

[2020-07-13 13:03] George3d6 commented on #555
Go ahead with username-based impl

[2020-07-13 13:03] George3d6 commented on #553
Fixed

[2020-07-13 13:03] #553 closed

[2020-07-13 13:24] #577 closed

[2020-07-13 13:29] George3d6 commented on #582
Seems to be a pytorch installation issue...

Related to installing pytroch on windows: https://github.com/mindsdb/lightwood/blob/stable/setup.py

[2020-07-13 13:29] George3d6 commented on #582
@mcroni for now you can try installing pytroch > 1.4.x manually and things should work, potentially a bit harder to fix in mindsdb since installing pytorch as a dependency on windows is a pain.

[2020-07-13 13:32] George3d6 commented on #573
Fixed

[2020-07-13 13:32] #573 closed

[2020-07-13 13:36] #557 closed

[2020-07-13 17:54] mcroni commented on #582
thanks @George3d6 , i think we should add that to the docs then

[2020-07-14 01:15] billGDF opened #588 "'Predictor' object has no attribute 'load'"
**Your Environment**

* Python version:
3.7.6
* Pip version:
20.1.1
* Operating system:
macOS
* Python environment used (e.g. venv, conda):
* Mindsdb version you tried to install:
1.99.11
* Additional info if applicable:
Same code was working on a previous MDB version (unsure which, though installed late May).

**Describe the bug**
Getting AttributeError: 'Predictor' object has no attribute 'load'

[2020-07-14 10:37] ZoranPandovski commented on #588
Hi @billGDF, the load function was moved inside the functional controller. So now you can use it as:
[code]
I will update the docs about this. Thanks for reporting it.

[2020-07-14 13:14] billGDF commented on #588
Thanks very much @ZoranPandovski - that fixes the error.

Now having issue with 'Could not load module DataTransformer'

This is after model files loaded and DataExtractor module loaded. The data_transformer folder and script are in place in the phases directory.

[2020-07-14 15:04] StpMax opened #591 "bug with sql filter"
![image](https://user-images.githubusercontent.com/4068133/87441973-425f2080-c5e3-11ea-8152-72349f386dfc.png)

[2020-07-14 16:01] StpMax commented on #591
to create predictor:
[code]

Cause of issue: field `Station code` is String, but when we insert predictor, ClickhouseDS creates from 'select_data_query', and this datasourse ['data_analysis_v2']['Station code']['typing']['data_type'] = 'Numeric'. After that i make query with where = `{'Station code': '101''}`, but in result of query get:
[code]
After, in query-postprocessing, i compare check condi

[2020-07-14 16:33] George3d6 commented on #591
`Types of columns should be defined from types of columns in database.`

Disagree with this in general, in the case of number vs string it might make sense though.

The issue is that e.g. we might actually want to treat `Station code` as a number, not a string, inside Mindsdb.

I don't think this issue is *that* important since I assume most of the time people will use `select_data_query` instead

[2020-07-14 16:42] StpMax commented on #591
`Is there a way to have clickhouse allow users to input any type for a given column in the WHERE ?`
User can input both, string and int in 'where'. But, if user input value as string (as it in database), than result will empty (because mindsdb return `Station code` in prediction result as int, and '101' != 101). Overwise, if user input `Station code` as int, than he get result. But it not obvious

[2020-07-14 16:44] ZoranPandovski opened #592 "DB timeouts when training takes more time"
Using the `join_learn_process` flag will throw a timeout error if the training takes longer. It looks like ClickHouse throws this error if data for INSERT queries are not sent for more then 300 seconds.

Insert statement using [air_pollution_data](https://github.com/mindsdb/mindsdb-examples/tree/master/others/air_pollution_seoul)
[code]
Error:

[code]
Note that in the end the Predictor will be cre

[2020-07-14 16:54] ZoranPandovski commented on #592
After a talk with @StpMax, we agreed that join_learn_process shall be used only for testing purposes and users shall use select status in mindsdb.predictors.

[2020-07-14 16:54] #592 closed

[2020-07-14 17:49] ZoranPandovski opened #593 "DB exception when running mysql api"
In the latest version on staging branch running mindsdb mysql api as ` python3 -m mindsdb --api mysql --config config.json`  throws:

[code]

It looks like it tries to recreate some of the tables that already exist in ClickHouse. The config file used:

[code]

[2020-07-16 12:03] #555 closed

[2020-07-16 12:03] #549 closed

[2020-07-16 12:04] #546 closed

[2020-07-16 13:26] btseytlin commented on #588
@billGDF could you share the dataset, or a part of it, for reproduction of the problem?

[2020-07-16 18:28] ZoranPandovski opened #599 "Post config error"
Adding new integration config throws bellow error. I think it is related with how we are getting the body from requests.
[code]

[code]

[2020-07-16 18:49] #599 closed

[2020-07-20 08:58] George3d6 commented on #588
@billGDF any update on this ? giving the full error log would help here, `Could not load module DataTransformer` might be caused by a lot of thing (unless there isn't an error log... which would be strange)

[2020-07-20 08:58] George3d6 commented on #588
Alternatively, as @btseytlin mentioned, if the dataset is open sharing that would help us debug internally.

[2020-07-20 08:59] #583 closed

[2020-07-20 13:34] StpMax commented on #593
Issue raised because in database is not allowed create table with name contains 'minus' sign. Will be fixed soon. For query you will be need use quotes: ```select * from mindsdb.`diabetes-class` where...```

[2020-07-20 13:56] #527 closed

[2020-07-20 14:58] StpMax opened #603 "Validity check and migrations for Config"
**Is your feature request related to a problem? Please describe.**
After updating from 1.99.11 to 2.0.0 is not possible to run Mindsb without editing/removing existing config

**Describe the solution you'd like**
Check config version on start and apply some migrations.

[2020-07-21 14:35] #521 closed

[2020-07-21 14:35] George3d6 commented on #521
done a while ago

[2020-07-21 14:35] George3d6 commented on #525
Added endpoint

[2020-07-21 14:35] #525 closed

[2020-07-21 14:35] George3d6 commented on #552
using current file-based approach until first contact with the user.

[2020-07-21 14:35] #552 closed

[2020-07-21 14:36] George3d6 commented on #467
Removing this milestone from release since we are being blocked by legal from adding this atm, agreement needs to be finalized.

[2020-07-22 11:44] StpMax commented on #561
Mysql can be connected to MSSQL as 'Linked Server'. How to do it:
1. have installed OLE DB Provider for ODBC Drivers (MSDASQL) (on windows it installed by default). To get list of installed providers execute: `exec sp_enum_oledb_providers`
2. install related driver for mysql
3. exec command to add linked server:
[code]

Open questions:
1. How to install MSDASQL? I has't find any way to do it. May

[2020-07-22 12:35] StpMax commented on #561
Other way to make mysql-mssql connection may be PolyBase. It allow to connect via ODBC driver, but i found only one tutorial how do it (https://www.cdata.com/kb/tech/mysql-odbc-polybase.rst). In this tutorial used cdata-odbc driver, and in mincrosoft doc it used too. Problem here is what this driver is not free.

Open questions:
1. driver and connector is not the same, but may be it possible to us

[2020-07-22 12:54] StpMax commented on #565
Only way is use ['foreign data wrapper'](https://github.com/EnterpriseDB/mysql_fdw).

[2020-07-22 14:24] StpMax commented on #563
We can integrate using mysql [FEDERATED](https://dev.mysql.com/doc/refman/8.0/en/federated-storage-engine.html) engine.
What need to do to add remote table:
1. check FEDERATED engine exists in current db: `SHOW ENGINES`
1.1 if it not exists, it can be added: `install plugin federated soname 'ha_federated.so'` (not tested, my installation has it by default)
2. engine not available by default, to en

[2020-07-22 15:08] #593 closed

[2020-07-22 15:08] #603 closed

[2020-07-23 09:45] ZoranPandovski opened #607 "SSL certificate is not loaded correctly"
This happens in the latest staging version.
* Start mysql api `python3 -m mindsdb --api mysql --config config.json`
* Configuration example:
[code]
The CERT_PATH is always None and the bellow error is thrown:

[code]
Note that adding the certificate in the same directory or specifying the full path to it will again be None.

[2020-07-23 11:27] StpMax commented on #567
i tried find any possible solution, but without result. If someone have any idea, please share it.

[2020-07-23 12:05] ZoranPandovski opened #608 "AttributeError: 'NoneType' object has no attribute 'groups'"
In the latest staging branch creating a new predictor throws an error:

[code]
The database integration is ClickHouse and insert query is:

[code]
Link to [dataset](https://github.com/mindsdb/mindsdb-examples/tree/master/others/air_pollution_seoul/raw_data)

[2020-07-23 12:21] ZoranPandovski opened #609 "Datastore dir created when error happens"
The user can include wrong parameters or have a typo in INSERT OR SELECT query which will result in an error but the directory inside datastore will be created, so the second time user will get `[Errno 17] File exists: '/mindsdb-examples/tescl/datastore/airq_predictor'`.

[2020-07-23 14:40] #608 closed

[2020-07-23 14:54] StpMax commented on #561
Third way (not tested, just idea):
As i see it possible to send http-queries using t-sql function. That looks not easy, but other ways looks harder.
pros: easy?
cons: http-answers not same as sql. Need do something with auth.

[2020-07-23 15:34] ZoranPandovski opened #611 "Parsing column names that contains dot `.`"
If the table contains column names with `.`, [_get_field method](https://github.com/mindsdb/mindsdb/blob/ae3bae7f9f4d9e38d39d1a44316344c46b3f1e48/mindsdb/api/mysql/mysql_proxy/classes/sql_query.py#L809) will remove everything after the dot e.g PM2.5 column will be PM2 which will throw `DB::Exception: mysqlxx::BadQuery: 'PM2'`. So, for all SELECT statements in predictor trained from that data with

[2020-07-24 15:17] StpMax commented on #591
Other issue occurred with 'Timestump' field. When create predictor from [air_pollution_seoul](https://github.com/mindsdb/mindsdb-examples/tree/master/others/air_pollution_seoul) , than predictor table field for 'Measurement date' get 'DateTime' type. Model has 'Timestamp' type for this field.
When make query:
```select * from air_predictor where `Measurement date`='2017-01-01 00:00:00';```
then `m

[2020-07-26 17:04] jivthesh opened #615 "In README link to people who have contributed to Mindsdb Server are not working"
**Is your feature request related to a problem? Please describe.** N/A

**Describe the solution you'd like**
It would be great if you have added the links to those people.

**Describe alternatives you've considered**N/A

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-07-27 09:42] George3d6 commented on #615
We have to re-do the readme anyway, we'll take care of it when we do that, no worries.

[2020-07-27 09:42] #615 closed

[2020-07-27 14:56] StpMax commented on #563
Found huge limitation of FEDERATED table engine. When make query to those table, then to remote table not sended 'WHERE' statement, if columns used in 'WHERE' not in 'index'. And this 'index' should be first in order of all index when table created. Overwise, fields what in 'where', but not in 'index' will not be sended to mindsdb. Examples:
Assume we have table with fields: a, b, c, p. P - is pre

[2020-07-27 15:29] #611 closed

[2020-07-30 23:17] ZoranPandovski opened #624 "ModuleNotFoundError: No module named 'mindsdb.integrations.mysql'"
Starting latest MindsDB version `python3 -m mindsdb --api mysql --config config.json` throws bellow error:

[code]

[2020-07-30 23:39] torrmal opened #626 "convention over configuration"
we should have a configuration paradigm that follows convention over configuration, that is that we have default values for the configuration, and we only need to pass what we want different in the config file.

https://en.wikipedia.org/wiki/Convention_over_configuration

[2020-07-31 02:40] mcroni commented on #624
This issue also popups up when installing `mindsdb Scout`

[2020-07-31 02:40] #582 closed

[2020-07-31 11:52] #563 closed

[2020-07-31 11:52] #564 closed

[2020-07-31 13:22] StpMax commented on #624
should be fixed in v2.2.1

[2020-07-31 13:27] ZoranPandovski commented on #624
Fixed.

[2020-07-31 13:27] #624 closed

[2020-08-03 14:34] #568 closed

[2020-08-03 16:45] George3d6 commented on #626
There already are default values for the config file, so it's simply a matter of moving them from the config wizard to the `Config` object.

[2020-08-03 18:12] alejandrovillegas opened #630 "API DB connection endpoints"
1. Check DB connection status

[code]

2. Add more than one connection per DB type

[code]

Send a query to create a new Dataset

[code]

Add additional fields to integrations endpoints **date_last_update** and **database_name**

[code]

Add a flag to datasource to know if a dataset it’s from DB
[code]

[2020-08-04 10:06] George3d6 commented on #630
"Check DB connection status" -- Do you want this to return an http status or a string to indicate connected/disconnected ?

"Add more than one connection per DB type" -- This is already supported, can you not do this ?

"Send a query to create a new Dataset" -- This should be in the datasource endpoint, not the `config` endpoint, see tech talk

[2020-08-04 11:59] George3d6 commented on #630
Started work on this on: https://github.com/mindsdb/mindsdb/tree/db_check

Currently added:

1. Check DB connection status
4. Add additional fields to integrations endpoints date_last_update and database_name

Based on the current specs I think we should discuss 2 & 3 & 5 because I'm afraid there might be some misunderstandings there.

[2020-08-05 02:47] alejandrovillegas opened #631 "As a API consumer I must have all integration details in one single endpoint"
Hello,
it's possible to have all integration details in one endpoint, for example
[code]

[2020-08-05 02:51] Ricram2 commented on #630
"Check DB connection status" -- Do you want this to return an http status or a string to indicate connected/disconnected ?
--HTTP status

[2020-08-10 13:01] StpMax commented on #567
Below i describe how i see integration with mongodb. As mongodb anyway need some patch to make possible integration, we can 'dream up' about both way, through mindsdb-http and through mindsdb-mysql interface. I think mysql-way is prefer, because a) it could be used to connect to any mysql db, so it can be supported by community b) all other integrations work through mysql-interface.

To make possi

[2020-08-10 13:04] ZoranPandovski opened #633 "Add model hyperparameters option"
We should allow `advanced` users to control model hyperparameters. More info will be shared by @torrmal on engineering meet.

[2020-08-10 13:05] ZoranPandovski opened #634 "Add additional info about model"
We should provide at least show info about the model generated. More info will be shared by @torrmal.

[2020-08-10 13:10] ZoranPandovski opened #635 "Additional info to explainability"
Include `Show nearest neighbor` in the explain function. @torrmal shall provide additional information.

[2020-08-10 13:15] ZoranPandovski opened #636 "Timeseries - aggregate arrays"
We need to get aggregate arrays to work and an example in documentation to showcase around that. @torrmal shall provide additional info.

[2020-08-12 11:41] George3d6 commented on #567
1. Agree with approach a)

2. I like the idea of having a "sub object" for the `storageEngine`, though we might want to call it `connectEngine` instead, unless `storageEngine` is an actual keyword. That way we could support multiple ways of connecting (e.g. connecting to the mysql server or connecting via a custom mongo protocol that goes through it's own ABI/ API)

3. I like the idea for simple q

[2020-08-12 13:02] ZoranPandovski opened #638 "Permissions error on /datasources/data"
This is reported from the user while uploading the data through the Scout. This happens on a Windows machine [permissions error line](https://github.com/mindsdb/mindsdb/blob/stable/mindsdb/interfaces/datastore/datastore.py#L81)
[code]

[2020-08-12 20:10] drcxcruz opened #639 "Error while doing "Install via Scout" step of the "Machine Learning Basics Using Mindsdb" course"
**Your Environment**

* Python version:  Python 3.8.3 (32-bit)
* Pip version:
* Operating system:  Lenovo Windows 10 Pro  64 bit OS with Processor AMD Ryzen 5 PRO 34000GE with Radeon Vega Graphics
* Python environment used (e.g. venv, conda):
* Mindsdb version you tried to install:  MindsDB_Beta -> Application -> About Application does not show any information.
* Additional info if applicable:  th

[2020-08-13 07:04] Stephane-Thales commented on #607
HI, I've the same error, have you been able to solve it ?
Or found a solution to not switch to SSL ?

[2020-08-13 07:08] Stephane-Thales commented on #607
Note : For me it worked if i remove the parameter "certificate_path", it bypass the SSL.

[2020-08-13 09:13] ZoranPandovski commented on #607
Hi @Stephane-Thales, we are working on this one. For now, you can use the empty certificate_path so the MindsDB will create a certificate for you.

[2020-08-13 09:30] lukeb88 opened #640 "Error while executing mindsdb_server"
**Your Environment**

* Python version: Python 3.8.2
* Pip version: 20.0.2
* Operating system: Fresh Docker Image with Ubuntu 20.04 LTS
* Python environment used (e.g. venv, conda):
* Mindsdb version you tried to install: 2.2.1
* Additional info if applicable:

**Describe the bug**
1. In `mindsdb` import (I think it's just a warning...):
[code]
2. Launching `mindsdb_server`:
[code]

**To Reproduce

[2020-08-13 09:54] ZoranPandovski commented on #640
Hello @lukeb88. The mindsdb_server repository is deprecated.  Now, the HTTP interface is available inside the mindsdb  and the [mindsdb_native](https://github.com/mindsdb/mindsdb_native) will contain only the native Python module for AutoML.

[2020-08-13 10:03] ZoranPandovski commented on #639
Thanks for the detailed info @drcxcruz. As a first dependency, you need to have 64bit Python since for some of MindsDB's dependencies as Pytorch and Tensorflow it is required.

[2020-08-13 12:23] lukeb88 commented on #640
Thanks @ZoranPandovski ... So, basically, to access HTTP interface I must execute `python -m mindsdb` instead of `python -m mindsdb_server`.
I was following the course in https://education.mindsdb.com/courses, which at this point I think is outdated ...

[2020-08-13 15:23] drcxcruz commented on #639
hi,

I uninstalled python 32-bit and installed python 64-bit.  Then, I open mindsDB_Beta and press CONNECT.  I am getting the following error.  Do I need to uninstalled and then reinstall mindsDB_beta at this point?

[2020-08-13 17:17] andrea-s opened #645 "Batch prediction via ClickHouse (or other databases)"
Hello,

I've first heard of MindsDB in reference to its ClickHouse integration (https://www.mindsdb.com/blog/machine-learning-models-as-tables-in-ch). That looks great!

One thing that I'm wondering though - how to deal with batch predictions. I see that in the blog post we are predicting one data point at a time (putting our regressor values explicitly in the where clause) - I assume there's some

[2020-08-14 11:27] ZoranPandovski commented on #645
Thanks @andrea-s.

At this moment we have two ways to make a batch prediction:
1. First is using 'select_data_query' in 'where'. Here you will need to specify select statement as text, for example:
select rental_price from mindsdb.rental_price_predictor where select_data_query = 'select sqft, number_of_rooms, location from rental_price_data order by publish_date limit  5'
If you use 'select_data_q

[2020-08-14 11:49] andrea-s commented on #645
Oh that's nice. The first option looks really good!

[2020-08-14 13:13] ZoranPandovski commented on #645
Awesome. Please let us know how this worked for you in terms of usage, accuracy, and general opinion since this is quite a new feature that we have added recently.

[2020-08-14 15:00] lukeb88 opened #647 "Datasets that prove the effectiveness of MindsDB"
Hi,

I'm trying MindsDB for the first time in these days. First of all, congratulations on a great job!

I just wanted to ask for help/suggestion.

I've done some Cross-Validation testing between MindsDB and standard models, using various datasets (I started from Iris and Boston and then moved on to something a bit more complex). The results are pretty good, (especially if we consider the fact tha

[2020-08-14 20:00] paxcema commented on #647
Hello Luca,

I know some datasets that behave as you described:

1. [Concrete strength](https://www.kaggle.com/pavanraj159/concrete-compressive-strength-data-set)
2. [Kin8NM](https://www.openml.org/d/189)
3. [Healthcare cost](https://www.kaggle.com/ravichaubey1506/healthcare-cost)

If you end up trying them out, please let us know how it goes. We are also actively seeking out datasets like the win

[2020-08-17 07:41] lukeb88 commented on #647
Thank you @paxcema,

I'll try the datasets you suggested, and if I find any other special cases I'll let you know!

[2020-08-17 07:57] lukeb88 opened #648 "Predictor stuck on learn on time series dataset"
**Your Environment**

* Python version: Python 3.8.2
* Pip version: 20.0.2
* Operating system: Fresh Docker Image with Ubuntu 20.04 LTS
* Python environment used (e.g. venv, conda):
* Mindsdb version you tried to install: 2.2.1
* Additional info if applicable:

**Describe the bug**
When training a `Predictor` on a time series dataset it gets stuck on `learn` (I've left the code in execution during

[2020-08-17 17:38] paxcema commented on #648
Hello @lukeb88,

Thank you very much for reporting this. We found a couple of issues that explain this behavior, and are working on a fix. We'll keep you posted!

[2020-08-17 18:55] ZoranPandovski opened #649 "MindsDB deletes trained models tables on start"
At the start of the MindsDB server, all of the tables with trained models are deleted inside the mindsdb database. Check https://github.com/mindsdb/mindsdb/blob/stable/mindsdb/integrations/mariadb/mariadb.py#L78

[2020-08-18 06:52] StpMax commented on #649
This is not a bug. When mindsdb starting, it delete, and then create again all tables in target database related to mindsdb. Otherwise it need to add bunch of checks on start:
what predictors was deleted?
is it predictor table refer to same predictor in mindsb?
is no changes in predictor table fields?
may be we change something in struct of mindsb.predictors?
or may be mindsb password in config wa

[2020-08-18 07:04] #609 closed

[2020-08-18 14:00] ZoranPandovski commented on #649
As we talked on slack the trained model table disappears. So, when you stop/start the server you will need to retrain all models since the tables are missing from mindsdb database.

[2020-08-18 16:48] ZoranPandovski commented on #649
Instead of saving the models in the location provided in config.json, MindsDB saves them in the virtual enviroment /var directory. The get_models will check for models in the location from config, but mindsdb_native saves them in different dir.

[2020-08-18 22:22] George3d6 commented on #565
Done

[2020-08-18 22:22] #565 closed

[2020-08-18 22:22] George3d6 commented on #566
Done

[2020-08-18 22:22] #566 closed

[2020-08-19 16:50] ZoranPandovski commented on #638
Quite similar error, it looks like different processes are accessing the same location and  we got PermissionError: [WinError 32] The process cannot access the file because it is being used by another process:
[code]

[2020-08-19 18:55] Ricram2 opened #652 "Use common Languages on lang detection and group the rest as others."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-20 06:54] StpMax commented on #638
I did some tests and now at 90% sure that the reason is that 'python-multipart' dependency doesn't close downloaded file properly. I will make fork with fix and switch our dependency to it until It will fixed in main repository.

[2020-08-20 09:01] #649 closed

[2020-08-20 12:42] alejandrovillegas opened #655 "as an API consumer I don't want to receive passwords in /config/all_integrations"
**Is your feature request related to a problem? Please describe.**
it's only a security suggestion because I always can see these passwords when I list my databases connections

**Describe the solution you'd like**
when i call ` /config/all_integrations` does not return password values or return `null`

[2020-08-20 13:27] ZoranPandovski commented on #607
This works with the latest version. @Stephane-Thales Please re-open this issue if it doesn't work for you.

[2020-08-20 13:27] #607 closed

[2020-08-20 13:49] alejandrovillegas opened #656 "As an API consumer, I want to receive more error information in PUT /datasources/:db_id"
**Is your feature request related to a problem? Please describe.**
As an API consumer wants to return to the user what kind of error I have

**Describe the solution you'd like**
actual behavior
[code]
actual behavior
[code]

[2020-08-21 09:11] lukeb88 opened #659 "import mindsdb fails in jupyter"
Hi guys, me again 😄

I think one of the last releases (in the last 2-3 days, it was working before) broke something on the Jupyter side.

Your sample notebook in Colab doesn't work anymore either:

[code]

the problem:
[code]
I could be wrong, but it could be something related to the args, probably to `argparse`.

[2020-08-24 14:37] paxcema commented on #648
With the Lightwood 0.37 release, the predictor is not stuck any longer.

We are still working on ways to improve its performance, should have news about that shortly.

[2020-08-24 21:44] ZoranPandovski commented on #638
This was fixed in the latest version.

[2020-08-24 21:44] #638 closed

[2020-08-25 09:23] ZoranPandovski commented on #659
@lukeb88 As I mentioned above the example was quite outdated. I have created a new example that will be merged in stable in 2 days. You can check the collab example here: https://colab.research.google.com/drive/1qnH4bhTKvm6mEyV8nAoK9uMZm8HV_gwE?usp=sharing.

[2020-08-25 09:53] lukeb88 commented on #659
thanks, @ZoranPandovski, so it is not correct to install and import `mindsdb`, but, instead the correct version is `mindsdb_native` as you did in the notebook that you linked?

[2020-08-25 12:16] ZoranPandovski commented on #659
Hello @lukeb88 . Yes, now mindsdb_native contains only the native Python module, while mindsdb have the HTTP interface and  MySql API for database integrations.

[2020-08-25 14:49] George3d6 commented on #639
Note: Discussion moved to slack, will update here once we find a solution.

[2020-08-25 14:51] George3d6 commented on #652
@Ricram2 can you describe the issue a bit better ?

I assume your original issue might have been lost when writing it since I only see the issue template above.

[2020-08-25 14:51] George3d6 commented on #648
@lukeb88 please let us know if this fixed your issue.

[2020-08-25 14:52] George3d6 commented on #645
Closing this for now, @andrea-s please let us know if this is working if you're still tracking this. If there's still issues we can repon it.

[2020-08-25 14:52] #645 closed

[2020-08-25 14:53] George3d6 commented on #640
@lukeb88 you're right, we need to update the course, for now we'll close the issue, we should be updating that course at some point in September if there's time.

[2020-08-25 14:53] #640 closed

[2020-08-25 18:51] Ricram2 commented on #656
In this case, for example, it would be great if we can have the:

![query](https://user-images.githubusercontent.com/24927430/91215144-b825d400-e6d9-11ea-8e18-42fb8d73ba76.gif)

`200190 rows in set (0.168secs)`

We would use this not only to inform but to know when the dataset has actually been created.

[2020-08-26 07:12] lukeb88 commented on #648
Yes, thanks guys!!

[2020-08-26 17:27] George3d6 opened #664 "Allow for setting data types and subtype on a datasource"
The HTTP API should provide an endpoint to modify a given DataSource by name.

This endpoint should include two functionalities:

1. Modify the `data_types` property of the datasource (a dictionary with pairs consisting of `column_name` -> `data_type`)
2. Modify the `data_subtypes` property of the datasource (a dictionary with pairs consisting of `column_name` -> `data_subtype`)

It can be accesse

[2020-08-26 17:33] George3d6 opened #665 "Add the ability to set identifier columns on DataSources"
The endpoint mentioned in #664 , once done, should be able to modify the `identifier_columns` property and the `force_column_usage` property of a given DataSource.

These properties is not yet present in the `DataSource` type of mindsdb_native, so this can wait until after:  https://github.com/mindsdb/mindsdb_native/issues/137 is done.

[2020-08-26 21:38] #648 closed

[2020-08-26 21:40] George3d6 commented on #588
@billGDF closing this issue since it hasn't been active for a while, if you have any updates and it's still not working for you feel free to update us.

[2020-08-26 21:40] #588 closed

[2020-08-27 20:14] C0staTin opened #668 "MindsDB Scout connection installation fails"
I downloaded and installed the latest MindsDB scout for Windows version 1.1.1.
At the first step (installing the connection) I put the Python local path and press install button.
There is a terminal window opened and closed for several milliseconds and then no installation happens.
Environment:
MindsDB Scout 1.1.1
Python version: 3.8.4
Operating system: Windows 10

This is an error message I was a

[2020-08-28 12:41] StpMax commented on #668
I can assume that the reason in non proper path-escaping here
https://github.com/mindsdb/mindsdb_gui/blob/staging/src/back/localServerManager.js#L206
@C0staTin it space character after 'ASUS', or something else?

[2020-08-31 04:47] torrmal opened #670 "warning WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead."
https://stackoverflow.com/questions/51025893/flask-at-first-run-do-not-use-the-development-server-in-a-production-environmen

[2020-08-31 12:27] abmo opened #671 "Could not load module ModelInterface while training text scoring model"
**My Environment**

* Python version: 3.8.2
* Pip version: 20.2.2
* Operating system: Ubuntu 20.04
* Mindsdb version you tried to install: 2.4.0
* Using the clickhouse integration

**Bug**
I was testing mindsdb with Clickhouse; the installation and the first sample predictor ran ok. However, I have tried to create a new score predictor from a random dataset (20000 samples) composed by the followin

[2020-09-01 06:37] #655 closed

[2020-09-01 06:38] #561 closed

[2020-09-01 06:42] StpMax commented on #562
To make integration works is need MSDASQL - that can work only on mssql on windows. I added tests, but it can be runned just manualy, if specify remote access to mssql.

[2020-09-01 06:42] #562 closed

[2020-09-01 16:35] ZoranPandovski commented on #671
Hello @abmo and thanks for reporting this one. I guess the issue is related to the new changes we did in Lightwood. Let us try to reproduce this and get back to you.

[2020-09-02 06:11] torrmal commented on #671
@George3d6 have you been able to reproduce this?

[2020-09-04 07:26] #670 closed

[2020-09-04 13:59] ZoranPandovski commented on #671
We were able to reproduce this. The issue is that distilbert is passing selfaware to the DefaultNet and since we separated those two, now the argument should not be passed. @paxcema traced this issue and Is working on the fix in Lightwood and it could be resolved today or on Monday.

[2020-09-04 16:13] George3d6 opened #675 "Allow selecting from different integrations"
We should add an argument, let's call it `A`, that allows us to run the `select_data_query` for learn (`INSERT`) and predict (`SELECT`) on any database integration mindsdb has.

This also allows us to build models and run predictions from the various integrations by connection directly to the mysql proxy interface via a client.

I think the big question here is what to call `A`, I propose:

* `get

[2020-09-07 14:58] abmo commented on #671
Thanks! I will test my dataset again :)

[2020-09-07 15:34] ZoranPandovski commented on #671
Great. Thanks, @abmo. In case you experience any issue, you can re-open this one or create a new issue.

[2020-09-07 15:34] #671 closed

[2020-09-08 15:51] Ricram2 opened #680 "[WinError 10048] Only one usage of each socket address (protocol/network address/port) is normally permitted #564GUI"
@ZoranPandovski said:
After successful installation on Windows, the Scout is not able to connect to MindsDB. We should reused the address immediately instead of it being stuck in the TIME_WAIT state.

[code]

[2020-09-08 21:19] George3d6 opened #682 "Deprecate `model_swapping_map`"
I believe `model_swapping_map` could be removed since mindsdb_native should have all the required thread-safety now, make sure this is true and if so, remove it.

[2020-09-08 21:22] George3d6 opened #683 "Deprecate `/predictors/<name>/columns`"
I believe this endpoint is no longer used, but not certain, @setohe0909 could you confirm this? If so, we should remove it.

[2020-09-09 12:31] ZoranPandovski opened #684 "No module named 'fcntl' on Windows"
After we switched the default Flask server with Gunicorn, MindsDB can't be started on Windows. The issue when starting MindsDB is:

[code]
it looks like `fcntl` module is not available on Windows. And also Gunicorn only works for UNIX.

[2020-09-10 09:23] ZoranPandovski commented on #684
Fixed with MindsDB 2.6.1

[2020-09-10 09:23] #684 closed

[2020-09-11 21:25] torrmal commented on #636
we are currently re-doing the time series interface, updates soon

[2020-09-14 14:21] torrmal opened #697 "By default no need for flags"
By default I should not have to pass any flags to start the server

[2020-09-14 14:22] torrmal commented on #626
What’s the status of this?

[2020-09-14 15:11] ZoranPandovski opened #698 "Run integration tests on Osx"
Currently, the integration tests are running only on [Linux](https://github.com/mindsdb/mindsdb/blob/stable/.github/workflows/mindsdb.yml#L26). There were some issues with running docker-compose on Osx, so we should try and resolve them.

[2020-09-15 17:10] George3d6 commented on #697
* Start HTTP and MYSQL proxy API by default
* Remove the info/debug/warn logs, only show error logs, enable the rest with --verbose
* From the above -> Move `print` to `log.`
* Maybe when the stuff starts print the ASCII art from here: https://github.com/mindsdb/mindsdb/blob/stable/distributions/linux/install.sh
* When both HTTP and MYSQL (or just when HTTP is running, maybe easier) log `"Scout UI

[2020-09-15 21:02] George3d6 opened #702 "Versioned storage"
Currently loads of issues seem to be coming from version incompatibilities people are having.

I think we should change the storage dir (the one with `var` in it) to be versioned, thus the storage dir becomes:

`{depend_on_user_settings}/var/lib/{python_version}/{mindsdb_version}/{mindsdb_native_version}/{lightwood_version}`

Will make navigating a bit more complex, so maybe we just want it to be

[2020-09-16 15:49] George3d6 commented on #702
Versioning will be handled slightly separately, I'll allow @StpMax to fill in the detailes either here or on the PR.

[2020-09-16 15:52] George3d6 commented on #697
This should remove all logs during training and predicting and other calls to native.

Basically:

Set lightwood log level to ERROR
Set native log level to ERROR
Add logging to mindsdb via python logging and set the log level to ERROR.

[2020-09-17 15:40] StpMax opened #705 "PUT datasouse route fail by timeout"
That happens if datasource is query to big table in database.

[2020-09-17 18:08] paxcema opened #707 "Wrong model path in metadata"
If I load a predictor given to me by a third party, there is a `FileNotFoundError` when trying to load and use it:

[code]

Where the path given at the end actually belongs to the 3rd party machine.

[2020-09-21 10:12] StpMax commented on #567
added in v2.8.0

[2020-09-21 10:12] #567 closed

[2020-09-21 10:13] StpMax commented on #702
implemented in v2.8.0

[2020-09-21 10:13] #702 closed

[2020-09-21 10:46] StpMax commented on #705
Most time take 'analyse' process. Is no way to make it significantly faster. To make this route async need to add statuses for datasources.

[2020-09-21 11:34] StpMax commented on #707
Directly this issue should be fixed in mindsdb_native 2.11.0. But here is one more related: model containis `lmd['lightwood_data']['save_path']` and `lmd['ludwig_data']['ludwig_save_path']`. This paths changes if upload/download model, but is no possible just copy/path model from one storage dir to other.

[2020-09-21 14:34] ZoranPandovski opened #709 "ImportError: cannot import name 'MongoDS'"
Starting the MindsDB server using the latest 2.8.0 version throws the following error:

[code]
If the MongoDS and its dependencies (pymongo) are required we should install them alongside with MindsDB. If they are still optional we should fix the above error.

[2020-09-21 15:25] StpMax commented on #709
@ZoranPandovski Did you update mindsb_native?
I know, at this moment mindsdb does not show any message if need update some component. That will be done soon.

[2020-09-21 15:26] ZoranPandovski commented on #709
@StpMax No, I got the mindsdb_native version that is installed alongside Mindsdb.

[2020-09-21 15:41] StpMax commented on #709
Do you see this above?
'MongoDS Datasource is not available by default. If you wish to use it, please install 'pymongo' or mindsdb[extra_data_sources]'
Im agree, that bad behaviour. Will make hotfix now.

[2020-09-21 15:45] StpMax commented on #709
@ZoranPandovski v2.8.1 should be on pypi in 15mins

[2020-09-22 08:35] ZoranPandovski opened #711 "KeyError: 'mongodb' on start"
Starting Mindsdb(python -m mindsdb) version 2.8.1 throws:

[code]

[2020-09-22 09:48] StpMax commented on #711
Try version v2.8.3 (Should be on pypi soon)

[2020-09-22 09:48] #709 closed

[2020-09-22 13:19] ZoranPandovski opened #715 "GUI not accessible on default address"
Serving GUI on http://0.0.0.0:47334/static/index.html doesn’t work on Windows. Maybe serve the GUI default on loopback address 127.0.0.1 or localhost.

[2020-09-22 13:22] ZoranPandovski opened #716 "Installation issues on Windows with Python 3.8.5"
There is a torch installation issue when installing MindsDB on Windows with Python 3.8.5 version. We need to check if pytorch supports that version on Windows and if not include that in `python_requires`.

[2020-09-22 13:23] ZoranPandovski opened #717 "Training with GPU is not working"
Training predictor using GPU (GTX 1650) is not working. We should test this `use_gpu` option.

[2020-09-23 07:57] StpMax opened #718 "Datasource analysing refactoring"
Couple thoughts about analysing:
History of analysing in 'upload ds' route:
1. Let come back to time when we work just with 'file' datasources. We dont run analysis after file uploaded. We do it if user want see analysis, or learn predictor.
2. We want add new feature: filter/sort for data in datasource in Scout 'data preview' screen. Doing in pandas.DataFrame is slow, so we decide use sqllite dat

[2020-09-23 08:02] #711 closed

[2020-09-24 14:47] StpMax opened #720 "Need add human-readable errors if no possible connect to DB"
In case if MariaDB have not 'connect' engine, or MySQL have not 'federated' engine, and for other cases

[2020-09-24 15:05] ZoranPandovski opened #721 "Error when starting 2.8.3 version on Windows"
This was found through the User testing session. Versions used:
* Python 3.8.3
* Mindsdb 2.8.3
* Windows 10
![Screenshot from 2020-09-24 16-53-27](https://user-images.githubusercontent.com/7192539/94163445-264fe900-fe88-11ea-8322-c93224c4e314.png)
For more info check the User Test video.

[2020-09-26 15:42] sBensa commented on #715
This has already been implemented.
I use mindsdb as well on Windows and I have access to the GUI via "localhost" or the IP 127.0.0.1.

[2020-09-28 07:52] StpMax commented on #721
should be fixed in v2.9.0

[2020-09-28 07:52] #721 closed

[2020-09-28 09:16] StpMax commented on #715
Default config in last MindsDB version already '127.0.01'. We should not use '0.0.0.0' anywhere, because in this case behavior is unpredictable: https://en.wikipedia.org/wiki/0.0.0.0
@ZoranPandovski  Looks like access by 'localhost' and '127.0.0.1'  have not any problem at this moment, so i close this issue.

[2020-09-28 09:16] #715 closed

[2020-09-28 11:48] abmo opened #728 "API requests from Clickhouse (different machine) are not working"
**Environment**

* Python version: 3.8.0
* Pip version: 20.2.3
* Operating system:
* Mindsdb version: 2.8.3. Using clickhouse integration.
* Ubuntu 20.04
* MIndsdb and clickhouse db are located in different machines.

**Bug**
We are trying to do predictions from clickhouse. The mindsdb API starts correctly and the request from clickhouse is received but not processed as you can see in the followin

[2020-09-28 12:07] ZoranPandovski commented on #728
Thanks for reporting this @abmo. We will check this and get back to you with more info.

[2020-09-28 19:45] Ricram2 opened #729 "Change STDOUT on server start."
When starting MindsDB if the user provides -v argument it should print all the logs. Otherwise, just print the message bellow.

[code]

[2020-09-29 12:10] StpMax commented on #728
Thank you @abmo

I did many tests with different configurations (including CH and mindsdb in different machines), but couldn't reproduce the error. After googling for possible reasons, i have such guesses:

1. some time before python error `OSError` [was changed](https://bugs.python.org/issue31122) to `SSLEOFError` with comment `ssl.wrap_socket() now raises ssl.SSLEOFError rather than OSError when

[2020-09-29 14:38] abmo commented on #728
First, thanks for your quick feedback!

I checked what you indicated before and:

- <openSSL> config in clickhouse is as default
- openssl version where mindsdb is running is:
OPENSSL_VERSION: OpenSSL 1.1.1c  28 May 2019
OPENSSL_VERSION_INFO: (1, 1, 1, 3, 15)
OPENSSL_VERSION_NUMBER: 269488191

I include the clickhouse error log in case that it could be helpful:

[code]

[2020-09-29 16:22] #591 closed

[2020-09-29 16:22] #570 closed

[2020-09-29 16:23] #467 closed

[2020-09-29 16:23] #630 closed

[2020-09-29 16:23] #631 closed

[2020-09-29 16:24] George3d6 commented on #636
closing this, should be re-opened once we decide what/if anything else is needed regrading timeseries.

[2020-09-29 16:24] #636 closed

[2020-09-29 16:25] George3d6 commented on #639
Closing, as Scout install is/should no longer be a thing now.

[2020-09-29 16:25] #639 closed

[2020-09-29 16:25] #647 closed

[2020-09-29 16:25] #652 closed

[2020-09-29 16:29] George3d6 commented on #680
The issue here was probably regrading mindsdb re-starting when the address was still "busy" due to another installation, not much we can do in this case.

[2020-09-29 16:29] #680 closed

[2020-09-29 16:30] #659 closed

[2020-09-30 10:02] abmo opened #732 "Predictor trained using GPU cannot be used in a CPU-only machine"
**Your Environment**

* Python version: 3.8.0
* Pip version: 20.2.3
* Operating system:
* Mindsdb version: 2.8.3.
* Ubuntu 20.04
* Mindsdb and mysql client are located in different machines.

**The bug**
I am running mindsdb in a machine with no gpu, so I added the parameter "use_gpu": false in its config.json. Also, there is only one trained predictor, but it was trained in another machine with g

[2020-09-30 11:42] StpMax commented on #728
Finally, i hope i found the reason of error. New mindsdb version with fix will be tomorrow (or probably today). I'll write here when it will be available.

[2020-10-01 12:00] StpMax opened #734 "Sending logs to Scout"
Information to Scout will be send as json for each log row:
[code]
Will be several iterations while making this task:
1. add plain http route '/log' - will return all logs as list of objects above. From that point frontend team can start making their part.
2. Route will starts checking parameters. It will be (open for proposals):
[code]
be default route will return N last rows (100?).
3. add first

[2020-10-01 17:37] StpMax commented on #728
@abmo
Version 2.10.2 should be available on pypi soon. Yesterday i was think it should fix your error, but today i not so sure. If it will not fixed, then last guess i have is big latency between mindsdb and clickhouse machines (>500ms), in this case ssl-hanshake can fail with [Errno 0], but error in clickhouse log should be different. Other it, i have no ideas at this moment. Anyway, hope update

[2020-10-01 17:40] StpMax commented on #732
Thank you @abmo , you really helping us :)
'use_gpu' key in config has no effect anymore. In early 2.x.x versions we had mess in config and storage dirs, now config more strict and should update self structure between versions. We will update 'config' page in our documentations very soon.
Going back to issue: we cheking it intently. If you can, please say:
1. do you know version of mindsdb, with p

[2020-10-01 18:21] #729 closed

[2020-10-01 18:22] ZoranPandovski opened #741 "Change STDOUT on server start"
When starting MindsDB if the user provides -v argument it should print all the logs. Otherwise, just print the message bellow.

[code]

[2020-10-01 18:26] pushp1997 commented on #741
Hi, I would like to work on this issue, can you assign this to me?

[2020-10-01 19:23] pushp1997 commented on #741
Do you wan them to be in that partcular order?
Because when I run the program locally, storage and config file paths are printed before the versions of lightwood, MindsDB_native and MindsDB

[2020-10-01 19:42] pushp1997 commented on #741
Also, can I implement the enabling and disabling of the logs by changing the log level to debugging if -v flag is provided and changing the log level to info if -v flag is not provided? Am I correct? Sorry for so many questions I am a novice.

[2020-10-01 21:55] torrmal commented on #741
thank you @pushp1997 I think this is a great idea, being able to -v and pass the level should be great!

[2020-10-01 22:01] torrmal commented on #741
I think the order in the message  of this issue would be preference:

Perhaps more context:

[code]

[2020-10-01 22:09] torrmal opened #742 "Check if the python version is at least 3.6 on server start."
On Server start check if Python version is < 3.8

if lower version, print message:

[code]

and exit

[2020-10-01 22:16] torrmal opened #743 "Update Install instructions on README.md"
We want to suggest people to run mindsdb on a venv,
and we require python 3.8

Can you update the README.md so it reflects

1. create and activate venv:
[code]
2. install MindsDB:
[code]
3. Run MindsDB
[code]

[2020-10-01 22:20] torrmal commented on #741
@resakra An entry-level issue can be this one:

https://github.com/mindsdb/mindsdb/issues/742

[2020-10-01 22:58] SethWalkeroo commented on #742
Hello, I would like to be assigned to this issue.

[2020-10-01 23:56] ZoranPandovski commented on #742
@torrmal  We support 3.7.x versions. So we can say versions great than 3.7.x

[2020-10-02 05:54] himadriganguly commented on #742
Added a PR for this issue. Good project to contribute. Cheers.

[2020-10-02 05:57] himadriganguly commented on #742
@torrmal Can please check why the **Tests** are failing. It is giving `Error: Parameter token or opts.auth is required`.

[2020-10-02 06:36] abmo commented on #728
OK @StpMax! I will try with the new version when it will be available. Thanks!

[2020-10-02 06:46] abmo commented on #732
Hi!

The predictor was trained in a machine with the following versions:
* mindsdb 2.7.2
* native 2.7.0
* lightwood 0.39.0

But then, this predictor has been moved to another machine with these versions:
* mindsdb 2.8.3
* native 2.12.0
* lightwood 0.41.0

[2020-10-02 09:27] gokulrajanpillai commented on #743
Please assign this to me

[2020-10-02 10:06] iflare3g commented on #720
let me try to improve it

[2020-10-02 13:49] ZoranPandovski opened #751 "Remove old encoders warnings"
Remove all warning related to importing old encoders as `Failed to export cesium encoder`

[2020-10-02 14:17] pushp1997 commented on #741
What's this:   ? How do I put it in the print statement?

[2020-10-04 00:28] irufus commented on #716
I used the method provided in the readme and had the issue initially. But it seems even after install it went away.

Here's the version i'm running locally
`Requirement already satisfied: torch>=1.1.0 in ... (from flair>=0.5->mindsdb-native==2.13.0->mindsdb) (1.4.0+cpu)`

[2020-10-04 13:07] pushp1997 commented on #741
Hi @torrmal on my hacktober dashboard after raising the PR, it says:
[code]
can you please do the needful? 😊

[2020-10-05 09:55] George3d6 commented on #742
This issue should read python > 3.6 not 3.8, since we certainly want to support 3.6, 3.7 and 3.8

[2020-10-05 16:54] George3d6 opened #755 "End to End example for bringing your own model"
For the purpose of testing as well as documentation we need a more complete example of bring your own model.

The scenario should cover:

1. Train a sklearn model separately from mindsdb, using a csv file
2. Uploading a `model.py` file plus the parameters of the model (+ the parameters of any encoders being used, if any)
3. Running predictions using the custom model via HTTP
4. Running predictions

[2020-10-05 19:10] George3d6 opened #756 "Snowflake Test Flow"
Create a test flow for snowflake.

* Create a snowflake account (one time)

Then (repeatable)

1) Load some data into a warehouse
2) Create a train and test snowflake datasource (via HTTP)
3) Insert a predictor using the train snowflake datasource (via MYSQL API)
4) Select from that predictor using the test snowflake datasource (via MYSQL API)
5) Delete data from warehouse

[2020-10-06 03:49] thesourabhk commented on #743
https://github.com/mindsdb/mindsdb/issues/743#issue-713219764 please assign me to this

[2020-10-06 13:55] #742 closed

[2020-10-06 14:04] George3d6 commented on #743
@thesourabhk and @gokulrajanpillai as can be seen above PR for this has been already made

[2020-10-06 14:12] George3d6 opened #758 "Add Redshift DataSource"
Add a DataSource to mindsdb_native that can connect to and download data from Amazon's Redshift database.

You can use this: https://github.com/mindsdb/mindsdb_native/blob/stable/mindsdb_native/libs/data_sources/postgres_ds.py (Postgres Datasource) as inspiration for it.

Note, the PR for this should be in the [mindsdb native repository](https://github.com/mindsdb/mindsdb_native), putting the issu

[2020-10-07 13:08] ZoranPandovski commented on #626
If this is still pending some work, we can reopen the new issue for new contributors? @StpMax , @George3d6

[2020-10-07 15:44] George3d6 opened #761 "Don't start Scout in the browser twice"
When `mindsdb` starts, mindsdb Scout is started in the browser even if an old version of scout is running.

We should check if `http://0.0.0.0:47334/static/index.html` is alreay open in a tab and not start it a second time if it is.

[2020-10-07 16:01] develper commented on #761
May I work on this issue, please?
And if yes, can you help me get started

[2020-10-08 07:16] #743 closed

[2020-10-08 13:09] ZoranPandovski opened #763 "Confidence interval out of range"
The flow is like this:
* Train a model through the PostgreSQL datasource
* Query the trained model from MySQL

The dataset used is [us_consumption](https://github.com/mindsdb/benchmarks/blob/0a31e0f2fbdb8469e69f650ff1897f19724be12e/benchmarks/datasets/us_consumption/data.csv).

The SELECT query in MySQL:
[code]
MindsDB Response:
[code]

[2020-10-08 13:23] ZoranPandovski commented on #763
This is a general issue with MySQL. Train a model with mysql datasource and query it:

[code]

[2020-10-08 13:48] ZoranPandovski commented on #741
All of the changes for making PR's in Mindsdb as hacktoberfest accepted are added.

[2020-10-08 17:41] #756 closed

[2020-10-08 17:42] George3d6 commented on #761
@develper Sure, that'd be great.

@StpMax or @sergey-mindsdb could you give some pointers here ?

[2020-10-08 17:45] George3d6 opened #765 "Add Arch Linux PKGBUILD installer for Mindsdb"
Add a `PKGBUILD` file, or even better, a script that builds the `PKGBUILD` file so that we can install Mindsdb on arch linux natively.

The `PKGBUILD` can start as something simple, simply requiring python & pip and then install mindsdb via pip.

[2020-10-08 18:09] sergey-mindsdb commented on #761
@develper Hi!  Opening browser function is here:

https://github.com/mindsdb/mindsdb/blob/028937261905d627a7a98a1a7f7b2f325eb6880d/mindsdb/api/http/initialize.py#L188

You can insert your check at the begining of the function

[2020-10-08 20:16] purvimisal commented on #758
Hi, I am a first-time contributor. I would like to work on this. Can I?

[2020-10-08 20:59] nizarion commented on #765
Hello I would like to contribute, can I work on this?

[2020-10-09 04:11] torrmal commented on #765
fantastic @nizarion! and thank you. let us know if you need any help

[2020-10-09 04:13] torrmal commented on #758
Hi @purvimisal, absolutely I will assign you to the issue.
Please let us know if you need any help

[2020-10-09 08:03] sergey-mindsdb commented on #761
@develper this function runs on separate thread because it waiting for http port become available

[2020-10-09 17:01] George3d6 opened #768 "Configurable mindsdb database name"
The name of the database mindsdb creates in it's integrations (currently `mindsdb` ) should be configurable, either as a startup arg or in the config file or both, the user should be able to set any arbitrary string.

The default still remains "mindsdb", this feature will mainly be used for testing purposes.

[2020-10-09 17:05] George3d6 opened #769 "Databases on external VMs for testing"
Testing using docker compose makes the tests take a long time and means we can't run the vast majority of tests on windows and osx.

We should instead have continuously running VMs somewhere like AWS which are running instances of all databases we need to tests which we can connect to (via port + ip + credentaials).

The credentials are obviously "secret" but they can be kept so via the github act

[2020-10-09 17:40] George3d6 opened #771 "Add .deb installer"
We need someone to help us in figuring out how and if we could create a .deb installer for mindsdb ?

This could be re-created with each release as part of our github action workflow, but the main problem is that we are a python package with a lot of pip dependencies that have system dependencies, the biggest one being pytroch (that required e.g. cudnn)

[2020-10-09 19:55] torrmal opened #772 "fix docker container distribution"
Right now the script to create a docker container installs Mindsdb

TASK: Modify the docker distribution, so that it also starts the Mindsdb Server

[code]

https://github.com/mindsdb/mindsdb/tree/staging/distributions/docker

[2020-10-09 20:00] torrmal opened #773 "Publish to docker hub as part of CI"
Upon successful version upgrade on pull request, it would be ideal to publish the latest version of mindsdb in docker

useful links:
https://docs.github.com/en/free-pro-team@latest/actions/guides/publishing-docker-images

https://github.com/mindsdb/mindsdb/tree/staging/distributions/docker

[2020-10-09 20:10] torrmal opened #774 "Update install docs virtualenv"
On install it is recommended that people can get it running inside a virtualenv,

This tasks involves updating the installation section of our docs
https://docs.mindsdb.com/Installing/
https://github.com/mindsdb/mindsdb-docs

the same as it is in the README.md here

https://github.com/mindsdb/mindsdb/README.md

[2020-10-09 20:11] torrmal opened #775 "Add installation section in docs about running in Docker"
we have a script to build a docker container,

The task is to add docker instruction to

https://docs.mindsdb.com/Installing/

the docs repo is here:

https://github.com/mindsdb/mindsdb-docs

[2020-10-09 20:13] torrmal opened #776 "Build for Anaconda"
Dear hackers!

Right now we build for pypi,
Task: we would like to be able to build and publish as an anaconda package integrated into our CI like pypi does.

[2020-10-09 23:05] elvis2 commented on #769
I'm curious, how much data is required? If not much, you can run one locally, to where ever the tests are being ran. One way to do this is to trigger a docker compose. Upon "run", and after the DB is up, a command can be sent to push a generic dataset in.

I'm not sure what kind of tests would be ran. I guess basic queries from the mindsdb interface?

[2020-10-09 23:11] elvis2 commented on #698
Hi, what integration tests are you referring to?

[2020-10-09 23:33] trewest opened #777 "build-docker.sh points to incorrect URL for Dockerfile"
**Your Environment**

* Python version: Python 3.6.8
* Pip version: 9.0.3
* Operating system: Centos 8
* Python environment used (e.g. venv, conda): System
* Mindsdb version you tried to install: latest
* Additional info if applicable:

**Describe the bug**
A clear and concise description of what the bug is.

Inside mindsdb/distributions/docker/build-docker.sh the URL:
`https://raw.githubuserconte

[2020-10-09 23:34] trewest commented on #777
If you can assign this to me, that would be great :)

[2020-10-10 00:12] elvis2 commented on #775
@torrmal I'll take this one on.

[2020-10-10 01:42] pwees commented on #772
I'll take this one.

[2020-10-10 01:57] elvis2 commented on #772
@pwees I'm adding a docker-composer.yaml distribution. I had planned on having the docker-compose.yaml point to the Dockerfile.

Can we work on this together?

[2020-10-10 03:17] purvimisal commented on #758
Hi @torrmal, I wrote the code for this. I wanted to test before doing a pull request using 'pytest'. This is what I got - 32 test cases passed, 14 skipped and 86 warnings. None of it involved the code I added, so was wondering if I should go ahead with a PR.

Also, to connect to Redshift, I needed to install psycopg2 library, So that needs to be added to requirements.txt too, right?

[2020-10-10 03:58] amanjain97 commented on #773
@torrmal Can I work on this issue ?

[2020-10-10 04:07] amanjain97 commented on #774
@torrmal Can I work on this issue ?

[2020-10-10 04:30] amanjain97 commented on #774
@torrmal Please review PR https://github.com/mindsdb/mindsdb-docs/pull/77. Let me know if I should update anything.

[2020-10-10 05:18] amanjain97 commented on #773
@torrmal I see that docker push is already implemented here. Can you please guide me, what else I need to do ?

[2020-10-10 06:36] elvis2 opened #780 "Add mindsdb docker-compose"
For early adopters, we need a fast and simple use case to have mindsdb running as well as a flavor of databases.

Create a docker-compose that allows each docker resource to be avilable on the host.

[2020-10-10 11:44] Darknez07 commented on #776
I have used a pull request i might need a reviewer @torrmal,

[2020-10-10 13:11] #774 closed

[2020-10-10 13:11] ZoranPandovski commented on #774
Thanks @amanjain97

[2020-10-10 13:35] ZoranPandovski opened #784 "Add Windows installation section"
In our standard installation docs we need to add `Install in Windows` section. It should contain information about how to start a virtual environment and do pip install Mindsdb in Windows. Link to the docs that need to be changed [standard-installation](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/Installing.md#standard-installation)

[2020-10-10 14:39] liudj2008 commented on #784
can I work on this issue? Thanks!

[2020-10-10 15:14] Darknez07 commented on #776
@torrmal  can u please help i am not able to sign the agreement..

[2020-10-10 16:58] ZoranPandovski opened #785 "Add delete method to SqlStatementParser"
We have a simple tool for the initial processing of SQL commands: class SqlStatementParser. It has method parse_as_insert which parses SQL INSERT statements. We need a similar method for the DELETE statement. It should parse the statement and return such a result:
[code]
[code]
Some limitations:
1. We assume is only equality joined using 'AND' in 'WHERE'.
2. It can be a parameterized query: in thi

[2020-10-10 19:41] lavandosovich commented on #785
@ZoranPandovski Hi.
I'll take this one.

Also, is there a need to do __init__ enhancment?
[code]

[2020-10-11 10:27] develper commented on #761
@sergey-mindsdb, thanks for being helpful.

I have installed all modules from requirements.txt using `pip install -r requirements.txt`.
However, facing `ImportError: cannot import name 'SnowflakeDS' from 'mindsdb_native'` error while executing the `python -m mindsdb`.
I am using `windows 10 OS` and `Python version - 3.8.0`.

I tried manually installing Snowflake-connecter but still, the issue pers

[2020-10-11 15:30] ZoranPandovski opened #786 "Update the MariaDB configuration example"
Upgrade the configuration example of [MariaDB](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/databases/MariaDB.md#configuration) to use the "config_version": "1.3" as in [PostgreSQL config example](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/databases/PostgreSQL.md). Note that only the `default_mariadb` key values should be kept.

[2020-10-11 17:30] ZoranPandovski opened #787 "🎉 Add interesting datasets 🎉"
:loudspeaker: We started accepting the PR's in [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository for public datasets that we can evaluate MindsDB with :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured data file, CSV

[2020-10-11 21:38] xaylax commented on #786
Hi! Could I take this issue?

[2020-10-12 09:56] vickywane commented on #780
Hi @elvis2 ,

If you make this issue valid for Hacktoberfest, i would love to take it up!

[2020-10-12 10:00] vickywane commented on #771
How about creating a `.deb` installer that requires python as a needed dependency and also installs those package as part of the installation process ?

This looks like an adventurous issue which i'd love to take on!

[2020-10-12 10:13] sergey-mindsdb commented on #761
@develper if you are using mindsdb `staging` branch, then you should use mindsdb_native `staging` too.
For staging install:
`pip3 install  git+https://github.com/mindsdb/mindsdb_native.git@staging --upgrade && pip3 install  git+https://github.com/mindsdb/lightwood.git@staging --upgrade`

[2020-10-12 12:19] ZoranPandovski opened #788 "Could not convert string to float using MySQL"
Using [titanic](https://www.kaggle.com/c/titanic) dataset saved in MySQL on INSERT predictor query the bellow error happens:

[code]
The target variable column `Survived` is varchart but MindsDB is casting it as a float.

[2020-10-12 12:28] ZoranPandovski opened #789 "Error when row contains missing values in MySQL"
Using [titanic](https://www.kaggle.com/c/titanic) dataset saved in MySQL on INSERT predictor error happens. In the column Age, there are missing values for some rows so MindsDB should normalize or add default values for those instead of throwing error.

[2020-10-12 12:42] ZoranPandovski opened #790 "SELECT query fails in MySQL"
Using [titanic](https://www.kaggle.com/c/titanic) dataset saved in MySQL on SELECT query the following error is thrown:

[code]
I guess the PassengerId column is ignored by MindsDB as the primary key and it is not in Model analyzis.

[2020-10-12 12:46] ZoranPandovski opened #791 "Cleanup storage_dir if training fail"
If the training fails, the user is not able to start the training again with the same model name. We should delete all of the files in the storage_dir if training fails for a particular model.

[2020-10-12 13:10] ZoranPandovski opened #793 "Add http argument to documentation start command"
In the [Databases](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/databases/MariaDB.md#start-mindsdb) example we need to include HTTP argument to the start command `--api=http,mysql`. Please include that in all 4 databases files.

[2020-10-12 13:38] arjunKay commented on #793
Hi @ZoranPandovski. I'll take up this issue. Please assign this to me.

[2020-10-12 14:32] StpMax commented on #785
Hi @lavandosovich
Yes, `init` should be changed as you wrote.

[2020-10-12 17:13] krissingl commented on #787
Hello, please allow me to assist with this issue!

[2020-10-12 17:17] ZoranPandovski commented on #787
Sure @krissingl waiting on your PR :tada: :

[2020-10-12 17:18] #793 closed

[2020-10-12 17:34] ZoranPandovski commented on #776
recheckcla

[2020-10-12 17:42] torrmal commented on #780
@ZoranPandovski can you help coordinate this issue, I agree with @elvis2 this can to be clarified for the early adopters

[2020-10-12 17:59] vickywane commented on #780
Alright. I would first try make a compose file.

@torrmal @elvis2

[2020-10-12 19:11] George3d6 opened #796 "Renamed enabled to publish"
Rename the `enabled` key in integrations to `publish` in order to indicate "If this is true we are going to publish mindsdb models to the database, otherway it's just a place from which to source data".

[2020-10-12 19:14] George3d6 opened #797 "Add google cloud storage datasource"
Add a datasource that can be used to pull data easily from google's cloud storage + (ideally) some tests for it.

You can use the s3 datasource as an example: https://github.com/mindsdb/mindsdb_native/blob/stable/mindsdb_native/libs/data_sources/s3_ds.py

This should be PRed to the `staging` branch of the `mindsdb_native` repository.

[2020-10-12 19:29] #772 closed

[2020-10-12 19:58] paxcema opened #798 "Add Lightwood computing device to logger"
Add to the MindsDB logger what computing device is being used in our Lightwood backend (i.e. `CPU` or `GPU`). This information should be logged when calling the `learn()` or `predict()` methods defined [here](https://github.com/mindsdb/lightwood/blob/stable/lightwood/api/predictor.py), using logging level `INFO` (see [here](https://docs.python.org/3/library/logging.html#logging-levels)). You shoul

[2020-10-12 21:26] paxcema commented on #763
I can't seem to reproduce this issue with the Python backend, confidence ranges are okay. Maybe the issue is in our SQL integration?

[2020-10-12 23:02] elvis2 commented on #780
@vickywane
I have already done this [task](https://github.com/mindsdb/mindsdb/pull/781)

@torrmal / @ZoranPandovski,
I'm not able to get the PR to pass the tests. What am I missing? I pulled from mindsdb/mindsdb stable and stage both.

[2020-10-12 23:08] ZoranPandovski commented on #780
@vickywane This is already done by @elvis2 . @elvis2 Please check the latest comments on your PR

[2020-10-13 03:31] neil007m commented on #798
I can work on this issue.

[2020-10-13 04:11] neil007m commented on #798
@paxcema I wanted to make sure I understood the requirements correctly:

So wherever `learn()` or `predict()` methods are called in the `mindsdb` [repository](https://github.com/mindsdb/mindsdb), we want to log the computing device?

To the `lightwood` [repository](https://github.com/mindsdb/lightwood) and not the `mindsdb` [repository](https://github.com/mindsdb/mindsdb)? In this case, should the

[2020-10-13 08:30] ZoranPandovski commented on #763
@StpMax Can you check this?

[2020-10-13 08:36] ZoranPandovski opened #799 "Change default address in the docs"
In our [Installation Docs](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/Installing.md#mindsdb-server) when MindsDB server starts, the 0.0.0.0 should be changed with the default MindsDB address 127.0.0.1

[2020-10-13 08:53] saptarsi96 commented on #799
Hi, @ZoranPandovski please look into PR: #88

[2020-10-13 12:32] paxcema commented on #798
Hello @neil007m, thanks for your interest in this issue!

You are correct in the second case. That is, you should add the logging directly inside the Lightwood `learn()` and `predict()` methods.

[2020-10-13 13:26] ZoranPandovski commented on #799
Thanks @saptarsi96

[2020-10-13 13:28] ZoranPandovski commented on #787
Thanks, @tino097 and @krissingl for your contributions.

[2020-10-13 14:52] neil007m commented on #798
@paxcema Thanks for clarifying! Feel free to assign it to me.

[2020-10-13 14:58] MohammedBajuaifer commented on #797
Hello @George3d6, Is this still open? would like to give it a try

[2020-10-13 16:59] #799 closed

[2020-10-13 16:59] #787 closed

[2020-10-13 17:00] ZoranPandovski opened #801 "🎉 Add new datasets 🎉"
:loudspeaker: We started accepting the PR's in [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository for public datasets that we can evaluate MindsDB with :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured data file, CSV

[2020-10-13 21:39] George3d6 commented on #797
Yes it is, I'll assign you to it :)

[2020-10-13 21:43] #786 closed

[2020-10-13 21:44] #784 closed

[2020-10-13 21:45] #777 closed

[2020-10-14 00:48] torrmal commented on #758
Hi @purvimisal

THANK YOU!

Sorry about the delay.

we use pg8000 instead of psycopg2 for postgres would pg8000  work?

[2020-10-14 00:50] torrmal commented on #741
HI @pushp1997
Can you confirm that it worked?

[2020-10-14 01:27] purvimisal commented on #758
Yes, actually it works with pg8000. Just tested it. Could you tell me which branch of mindsdb_native should I make the PR to? staging branch?

[2020-10-14 02:16] purvimisal commented on #801
Hi, I'd love to contribute to this.

[2020-10-14 13:45] ZoranPandovski commented on #801
Sure @purvimisal

[2020-10-14 13:47] ZoranPandovski commented on #776
Thank you @Darknez07

[2020-10-14 13:47] #776 closed

[2020-10-14 13:48] ZoranPandovski commented on #758
Thanks, @purvimisal , you will need to sign the CLA only.

[2020-10-14 13:49] ZoranPandovski commented on #771
Sounds good @vickywane.

[2020-10-14 13:51] ZoranPandovski opened #803 "Change 3.7 to 3.6 Python version in Installation docs"
MindsDB supports Python versions greater than 3.6 so we need to change the documentation where it says 3.7. Link to the file that needs changes https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/Installing.md#prerequisites

[2020-10-14 14:00] yash2189 commented on #803
Hi can I work on this?

[2020-10-14 14:32] George3d6 opened #804 "Pip install after deploy"
As part of our github action testing suite we need to add a step/script that runs *after* the deploy to pypi and tries to install the latest `mindsdb` version deployed there.

This is because, in certain scenarios, the pypi version install can be different from the way we install it in when testing and can thus still fail.

This should only happen when merging to stable, i.e. when a release to pyp

[2020-10-14 14:32] yash2189 commented on #803
@ZoranPandovski can I work on this?

[2020-10-14 17:48] George3d6 opened #807 "Check that the GUI is served"
As part of our CI when making a PR into `stable` we should check if the HTTP + MYSQL APIs are started by `python3 -m mindsdb` and if the GUI is available at the `http://127.0.0.1:47334/index.html` endpoint once those 2 APIs are started.

[2020-10-14 17:57] George3d6 opened #808 "Predict from query endpoint"
Add a predict endpoint that takes as arguments:
1. A SQL query, under the key `query`
2. An integration id, under the key `integration_id`

It then creates a datasource based on that integration + the query (we should already have code that does this somewhere, I believe for training from a query and/or creating a datasource from a query). It then feeds that datasource to native's predict and brin

[2020-10-14 18:13] mihikagaonkar commented on #801
I would like to contribute to your repo but your contribution guide does not have an example for the alternatives benchmark. Could you please add it so that I can understand what I need to do?

[2020-10-14 20:16] Kshitij09 commented on #716
Hey, I've recently installed PyTorch on windows with python 3.8 and cudatoolkit 10.2. I found no issues in the installation. Could you elaborate more about the issue you are facing or maybe some error logs?

[2020-10-14 20:20] Kshitij09 commented on #697
Seems doable. If this is up-for-grabs, I'd like to work on it :slightly_smiling:

[2020-10-14 20:34] Kshitij09 commented on #626
This would be a major change, but I'd like to pitch in [hydra](https://hydra.cc/) for maintaining the configurations of this project.

I'm currently using it my ongoing [project](https://github.com/Kshitij09/pedestrian-detection) and trust me, hydra is the best way to keep your configurations organized. I can come up with a draft PR for the integration if you are interested.

[2020-10-15 09:41] ZoranPandovski commented on #716
Thanks, @Kshitij09. This is working now. We would be really happy if you contribute to MindsDB, please follow our backlog issues

[2020-10-15 09:41] #716 closed

[2020-10-15 09:43] ZoranPandovski commented on #697
@Kshitij09 I think this is done. Can you confirm that @StpMax?

[2020-10-15 09:46] StpMax commented on #697
Yes, that done. Sorry for unclosed issue.

[2020-10-15 09:46] #697 closed

[2020-10-15 09:49] ZoranPandovski commented on #803
This was already fixed @yash2189, please check our other issues.

[2020-10-15 09:49] #803 closed

[2020-10-15 09:52] ZoranPandovski commented on #801
Hi @mihikagaonkar, you can make a PR only with a benchmark about MindsDB. The alternative is an implementation of the same in sklearn. But good point, I will include more info about that in the README. @purvimisal Thanks for the PR :tada:

[2020-10-15 09:54] ZoranPandovski opened #810 "Add AI Tables (MySQL) link to the Readme"
In our [README](https://github.com/mindsdb/mindsdb/blob/staging/README.md#try-it-out) we need to add a link to AI Tables in MySQL in the unordered list. The link should point to the https://docs.mindsdb.com/databases/MySQL/

[2020-10-15 10:06] ZoranPandovski opened #811 "Add endpoint for mindsdb version"
Add HTTP route to get a version of mindsdb: /util/version/
That should return as mindsb version in JSON view:
[code]
The new endpoint needs to be added in [Utils](https://github.com/mindsdb/mindsdb/blob/staging/mindsdb/api/http/namespaces/util.py).

[2020-10-15 10:45] lucy-ctrl commented on #810
Can I pick this up?

[2020-10-15 11:08] yash2189 commented on #811
Hi can I take this up?

[2020-10-15 11:47] yash2189 commented on #811
@ZoranPandovski Is this correct `@ns_conf.route('/endpoint')` or should it be `@ns_conf.route('/util/version')` ?

[2020-10-15 12:03] ZoranPandovski commented on #810
Thanks, just please sign the CLA

[2020-10-15 12:05] Kshitij09 commented on #716
Sure! Just found these open issues doable so commented on them. Will have a look at the backlog issues now.

[2020-10-15 12:05] Kshitij09 commented on #716
Sure! Just found these open issues doable so commented on them. Will have a look at the backlog issues now.

[2020-10-15 12:13] lucy-ctrl commented on #810
I have read the CLA Document and I hereby sign the CLA

[2020-10-15 14:04] neil007m commented on #798
Associated pull request: https://github.com/mindsdb/lightwood/pull/301

[2020-10-15 14:55] yash2189 commented on #811
@ZoranPandovski I have done the required changes. Please review the same.

[2020-10-15 15:30] #810 closed

[2020-10-15 17:04] #801 closed

[2020-10-15 17:04] ZoranPandovski opened #814 "🎉 Add new datasets to MindsDB benchmarks 🎉"
:loudspeaker: We started accepting the PR's in [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository for public datasets that we can evaluate MindsDB with :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured data file, CSV

[2020-10-16 07:17] #811 closed

[2020-10-16 07:43] Zignake commented on #814
Hey, I was interested in contributing towards this as I'm quite a newbie in making PR contributions and this being my first. I've gone through the Contribution Guide but I'm still not sure what the __init__.py and info.py files should contain. A deeper explanation would come handy.
I'll be adding the Iris Dataset, if that would help to answer.

[2020-10-16 08:34] yash2189 commented on #775
Is this issue still available?

[2020-10-16 08:36] yash2189 commented on #804
Hi I'm new to opensource could you please explain what should has to be done in this issue? Do I need to install mindsdb on my local machine?

[2020-10-16 14:59] chechu-arias commented on #807
Hi, I'm new in contributing in open source projects, but I would love to start with it. Can I work into this issue?
And can you specify how what you ask here should be done?

[2020-10-16 15:59] ZoranPandovski opened #817 "Add new installation section"
On Windows, MindsDB can now be installed using the [installer](https://mindsdb-installer.s3-us-west-2.amazonaws.com/mindsdb-installer/windows/MindsDB-Server-Latest-Setup.exe). We need to add a new section called `Install on Windows using MindsDB installers` bellow [this section](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/Installing.md#install-using-host-environment). We

[2020-10-16 16:02] ZoranPandovski opened #818 "Add link to AI Tables in PostgreSQL on our README"
In our README we need a link to our AI Tables in PostgreSQL https://github.com/mindsdb/mindsdb/blob/staging/README.md#try-it-out. The link should point out to https://docs.mindsdb.com/databases/PostgreSQL/

[2020-10-16 16:15] StpMax opened #819 "MindsDB cant start if one of predictors corrupted."
Need add try/catch to initialisation of each predictor in integration

[2020-10-16 16:19] paxcema commented on #717
Using latest stable releases, I can't replicate the `use_gpu` not working, either from the GUI or from the Python backend. I'll close this for the time being.

[2020-10-16 16:19] #717 closed

[2020-10-16 23:57] yash2189 commented on #817
Hi can I work on this

[2020-10-17 00:03] yash2189 commented on #818
Hi can I work on this @ZoranPandovski ?

[2020-10-17 09:45] varydabe commented on #817
Hello, i fixed this issue and you can review my changes here https://github.com/mindsdb/mindsdb-docs/pull/93
Thank you

[2020-10-17 09:59] varydabe commented on #818
Hello, I've fixed this issue.
please review it, thanks!

[2020-10-17 10:07] yash2189 commented on #818
@ZoranPandovski I had a question. Is it mandatory to be assigned on a particular issue and then raise a PR or can it be made without being assigned to the same ?

[2020-10-17 12:10] #818 closed

[2020-10-17 12:12] ZoranPandovski commented on #818
Thanks @yash2189 , @varydabe . @varydabe Usually because there are too many new PR in a few minutes we are merging the first PR or assign to that user. Please check our other issues or follow us since we will be adding more easy-for-contributions issues.

[2020-10-17 12:13] #817 closed

[2020-10-17 12:15] ZoranPandovski commented on #814
Hi @Zignake. The info file contains the information for running the benchmarks as:

[code]

[2020-10-17 12:29] ZoranPandovski opened #822 "Change the documentation link to point to docs"
In our README the MindsDB Explainability GUI link points to the old website page. Please change that to point to https://docs.mindsdb.com/scout/Introduction/

[2020-10-17 12:34] ZoranPandovski opened #823 "Fix address already in use when running mindsdb"
We need help with find and fix bug:
When you run mindsdb in console, for each interface (specified during --api argument) it needs to run the separate process. When you interrupt the main process by ctrl-c, all other processes should stop too. But sometimes it doesn't happen. We don't know why, maybe it depends on OS, or terminal, or something else. You can check it easy:
1. for your convenience c

[2020-10-17 12:42] ZoranPandovski opened #824 "Add interesting time series datasets"
:loudspeaker: We need new time series datasets in our [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository with which we can evaluate new MindsDB time series features :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured d

[2020-10-17 12:56] yash2189 commented on #824
@ZoranPandovski I have an air quality dataset that was used by me for my personal project. It is publicly available in the UCI Repository. Can I add the same? If yes, then in which file should the dataset be stored in?

[2020-10-17 13:42] yash2189 commented on #823
Hi @ZoranPandovski I am getting an error that HTTP API can't start on port 47334 , but the GUI is available on   http://127.0.0.1:47334/index.html
![mindsdb](https://user-images.githubusercontent.com/31548778/96338555-9a0e9b80-10ac-11eb-981c-1350c39d879d.PNG)

[2020-10-17 13:56] yash2189 commented on #807
I have installed mindsdb and it successfully executed and showed the GUI on `http://127.0.0.1:47334/index.html`
Here is my screenshot.
![Capture_1](https://user-images.githubusercontent.com/31548778/96338851-616fc180-10ae-11eb-9888-1b4410b56bb2.PNG)
![mindsss](https://user-images.githubusercontent.com/31548778/96338853-62a0ee80-10ae-11eb-9026-19c98c7b8730.PNG)
Can I make a PR for the same?

[2020-10-17 17:46] #822 closed

[2020-10-17 18:15] vinmay commented on #823
@ZoranPandovski I could reproduce this by `Ctrl+Z`. `Ctrl+C` closes it gracefrully.

`(.venv) xephyr@dome:~/mindsdb$ sudo python3 -m mindsdb
S3 Datasource is not available by default. If you wish to use it, please install mindsdb_native[extra_data_sources]
SnowflakeDS Datasource is not available by default. If you wish to use it, please install mindsdb_native[snowflake]
Configuration file:
   /hom

[2020-10-18 12:08] develper commented on #761
Hi @sergey-mindsdb , based on my findings, there is no way to read the URL opened in a browser using Python. (Maybe I am missing something).
So it will be helpful if you can point out some useful resources online for the same and discuss the approach with me.
Thanks

[2020-10-18 14:31] ZoranPandovski opened #828 "Change the default Scout URL in docs"
In our documentation, the default Scout URL has /static path which should be removed. The new Scout URL is http://localhost:47334/index.html

[2020-10-18 14:38] ZoranPandovski opened #829 "Add install on Windows section in `Lightwood Installation docs`"
In our [Lightwood Install docs](https://docs.mindsdb.com/lightwood/info/), we need a separate section on how to install on Windows. Also, it should contain an example of an installation in a virtual environment.

[2020-10-18 14:38] Zignake commented on #814
Thanks @ZoranPandovski , I've made the PR with the dataset.

[2020-10-18 15:22] ArcaneAkshay commented on #828
Hey @ZoranPandovski I want to work on this, but unable to locate the documentation. Beginner here.

[2020-10-18 16:21] ZoranPandovski commented on #814
Thanks @Zignake

[2020-10-18 16:21] #814 closed

[2020-10-18 16:21] ZoranPandovski opened #830 "🎉 Add interesting datasets to MindsDB benchmarks 🎉"
:loudspeaker: We started accepting the PR's in [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository for public datasets that we can evaluate MindsDB with :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured data file, CSV

[2020-10-18 16:22] ZoranPandovski commented on #828
Sorry, my bad. Link to docs https://github.com/mindsdb/mindsdb-docs

[2020-10-18 17:10] ArcaneAkshay commented on #828
PR created in https://github.com/mindsdb/mindsdb-docs

[2020-10-18 17:22] yash2189 commented on #829
@ZoranPandovski I had a question...By virtual environment you mean the python virtual environment or a different VM?

[2020-10-18 20:01] ZoranPandovski commented on #829
Yes, Python venv

[2020-10-18 20:04] yash2189 commented on #829
I'm working on it thanks.

[2020-10-18 20:51] ZoranPandovski commented on #829
Correct, I've included link to the docs in the comment

[2020-10-18 20:59] yash2189 commented on #829
@ZoranPandovski Please check my PR on mindsdb-docs https://github.com/mindsdb/mindsdb-docs/pull/95

[2020-10-19 01:19] alitrack opened #831 "the status of AI Tables in MariaDB is always training"
**Your Environment**

* Python version: 3.6.9
* Pip version: 19.3.1
* Operating system: Ubuntu 18.04
* Python environment used (e.g. venv, conda): venv
* Mindsdb version you tried to install: 2.11.2
* Additional info if applicable:
config.json

[code]

**Describe the bug**
A clear and concise description of what the bug is.

[code]

**To Reproduce**
Steps to reproduce the behavior, for example:
1.

[2020-10-19 03:42] alitrack commented on #831
I found it, because of wrong table structure, without any fail log.

[2020-10-19 03:42] #831 closed

[2020-10-19 07:29] #785 closed

[2020-10-19 08:57] sergey-mindsdb commented on #761
@develper, No worry, I believe there really is no easy solution for getting open browser tabs. You can choose any other issue for research, if you have a time

[2020-10-19 12:09] ZoranPandovski commented on #829
Thanks @yash2189

[2020-10-19 12:09] ZoranPandovski commented on #828
Thanks @ArcaneAkshay

[2020-10-19 12:42] ZoranPandovski opened #832 "Update MindsDB Server docs"
In the `MindsDB Server` section, we need the `/static` path to be removed from the default server URL and message example. The link to the doc file is [here](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/Installing.md#mindsdb-server).

[2020-10-19 14:27] yash2189 commented on #832
@ZoranPandovski Here is the PR from mindsdb-docs

Link to the PR : [here](https://github.com/mindsdb/mindsdb-docs/pull/98)

[2020-10-19 17:21] ZoranPandovski commented on #832
I've added a comment. Please check that

[2020-10-19 17:28] yash2189 commented on #832
@ZoranPandovski I am unable to see any comment on the PR?

[2020-10-19 17:42] ZoranPandovski commented on #832
I didn't press submit sorry. Try now

[2020-10-19 17:50] yash2189 commented on #832
@ZoranPandovski can you please review it again?

[2020-10-19 22:35] ZoranPandovski commented on #830
Thanks @sakshiseth and @Spotts9

[2020-10-19 22:35] #830 closed

[2020-10-19 22:35] ZoranPandovski opened #837 "🎉 Add interesting datasets to MindsDB benchmarks 🎉"
:loudspeaker: We started accepting the PR's in [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository for public datasets that we can evaluate MindsDB with :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured data file, CSV

[2020-10-20 00:46] purvimisal commented on #824
Hi, I can add a time series dataset

[2020-10-20 08:04] StpMax opened #838 "Two integrations to one DB with different name follow to error"
If create two integrations to one DB, then mindsdb cant start, because it try creates each entity two times.

[2020-10-20 20:30] paxcema commented on #798
The PR has been merged into Lightwood staging. Thanks for contributing @neil007m!

[2020-10-20 20:30] #798 closed

[2020-10-20 20:55] neil007m commented on #798
@paxcema My pleasure! Would you or @George3d6 mind adding the "hacktoberfest-accepted" label to the linked [PR?](https://github.com/mindsdb/lightwood/pull/301) I believe only pull requests with the label are considered eligible.

[2020-10-20 22:28] George3d6 opened #842 "Allow delete to work for malformed datasources"
If a datasource upload is canceled, delete fails to delete since metadata.json is lacking, but the existing file structure prevents the creation of a new datasource with the same name.

[2020-10-20 22:36] George3d6 opened #843 "Uploading & analyzing a datasource with too many columns get the server stuck"
When a new datasource is created via the HTTP API we should *not* return an analysis of that datasource to the frontend.

File to reproduce: https://github.com/mindsdb/private-benchmarks/blob/master/benchmarks/datasets/micro_mass/data.csv

code (roguhly):

`request.put('localhost:47334/datasource/micro_mass_test', files=open('micro_mass.csv', 'rb'), data={'source_type':'file'}`

In fixing this bug

[2020-10-20 22:38] George3d6 commented on #843
Nevermind, just takes forever to get the answer back.

[2020-10-20 22:38] #843 closed

[2020-10-20 23:25] George3d6 opened #845 "Uploading dataset not working"
Uploading the following dataset: https://github.com/mindsdb/private-benchmarks/blob/master/benchmarks/datasets/us_health_insurance/data.csv seems to fail.

I'm not uploading directly but rather doing:

`df = pd.read_csv('data.csv')`
and then
`df.to_csv('file.csv')`

and then uploading the `file.csv`, but I'm fairly sure uploading the file directly should have the same effects.

It fails when creat

[2020-10-21 07:13] #819 closed

[2020-10-21 07:13] #838 closed

[2020-10-21 14:11] ZoranPandovski commented on #832
Thanks @yash2189

[2020-10-21 14:11] #832 closed

[2020-10-21 14:14] ZoranPandovski commented on #824
Sure @purvimisal

[2020-10-21 14:16] #829 closed

[2020-10-21 14:16] #828 closed

[2020-10-21 14:17] #758 closed

[2020-10-21 14:18] #775 closed

[2020-10-21 14:20] ZoranPandovski commented on #773
Please check the other issues too @amanjain97

[2020-10-21 14:20] #773 closed

[2020-10-21 14:21] ZoranPandovski commented on #797
Hello @MohammedBajuaifer . Did you start anything on this one?

[2020-10-21 14:41] ZoranPandovski opened #846 "Fix status image location in Ai Tables documentation"
In our tutorial for AI Tables in MySQL, the image that shows model status is loaded from the [wrong location](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/databases/tutorials/AiTablesInMySQL.md#train-new-machine-learning-model). The typo in location should be fixed to point to assets/tutorials/aitables-mysql/select_status.png

[2020-10-21 14:50] MohammedBajuaifer commented on #797
Hey @ZoranPandovski, Not yet sorry! got busy with other stuff! you can unassign me for now

[2020-10-21 14:50] niyonx commented on #846
Hi @ZoranPandovski! Sure I'm on it.

[2020-10-21 14:56] ZoranPandovski opened #847 "ValueError: setting an array element with a sequence using SELECT in MySQL"
Querying the model trained with [metro_trafic](https://github.com/mindsdb/private-benchmarks/tree/master/benchmarks/datasets/metro_traffic_ts) dataset throws an error when the time series parameter(with or without hh:mm:ss) is used in the SELECT e.g
[code]
The error:
[code]

[2020-10-21 15:00] ZoranPandovski opened #848 "Update the Travis CI badge to point to .com"
In our documentation, the travis status badge is pointing to non existing repo in travis.org. It should be updated to point to https://travis-ci.com/mindsdb/mindsdb-docs. Link to [README](https://github.com/mindsdb/mindsdb-docs/blob/master/README.md#mindsdb-documentation) file.

[2020-10-21 15:18] varydabe commented on #848
Can i try to solve this?

[2020-10-21 15:33] varydabe commented on #848
Hello, please review my pull request.
Thanks!

[2020-10-21 19:18] paxcema opened #849 "Log the architecture of Lightwood's neural networks"
Add to the MindsDB logger a summary of the neural networks that our Lightwood backend builds for the MindsDB predictor. By "summary", we mean information about the architecture of each neural sub-network (`torch.nn.Module.__repr__()` would suffice).

This information should be logged at the [end](https://github.com/mindsdb/lightwood/blob/stable/lightwood/mixers/nn.py#L378) of the mixer's `_fit()`

[2020-10-21 19:38] ZoranPandovski commented on #824
Thank you @niyonx

[2020-10-21 19:38] #824 closed

[2020-10-21 19:38] ZoranPandovski opened #850 "Add new time series datasets to our benchmarks"
:loudspeaker: We need new time series datasets in our [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository with which we can evaluate new MindsDB time series features :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured d

[2020-10-22 09:06] #846 closed

[2020-10-22 09:06] ZoranPandovski commented on #848
Thanks @varydabe

[2020-10-22 09:06] #848 closed

[2020-10-22 09:06] ZoranPandovski commented on #846
Thanks @niyonx

[2020-10-22 09:17] ZoranPandovski opened #851 "Add update argument to executable function"
Add optional boolean argument update to  [make_executable](https://github.com/mindsdb/mindsdb/blob/staging/mindsdb/utilities/wizards.py#L230)()  function, so if it's set to true then the executable should run
[code]
before
[code]

[2020-10-22 11:54] ZoranPandovski commented on #837
Thank you @niyonix and @chelsieng

[2020-10-22 11:54] #837 closed

[2020-10-22 11:55] ZoranPandovski opened #853 "🎉 Hacktoberfest 2020 Add interesting datasets to MindsDB benchmarks 🎉"
:loudspeaker: We started accepting the PR's in [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository for public datasets that we can evaluate MindsDB with :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured data file, CSV

[2020-10-22 14:34] krishnaupadhyay3 commented on #851
I will be taking this

[2020-10-22 14:55] StpMax commented on #845
@George3d6 That because you need do `df.to_csv('file2.csv', index=False)`, otherwise it will be unnamed serial column in csv. Additionally i added check to unique names in PR, since it possible give same name to multiple columns in DS

[2020-10-22 14:59] yash2189 commented on #851
Hi I would like to work on this

[2020-10-22 15:29] StpMax commented on #842
I wraped 'save_datasource' to try/catch with deleting ds dir on exception

[2020-10-22 16:55] ZoranPandovski opened #856 "Format the tutorial title in docs"
The [What is AI Tables](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/databases/tutorials/AiTablesInPostgreSQL.md#ai-tables-in-postgresql) title should be formatted as heading two (## What is AI Tables) instead of displaying it as standard text.

[2020-10-22 16:58] carlospatinos commented on #856
Can I take this?

[2020-10-22 17:21] #856 closed

[2020-10-22 17:25] ZoranPandovski opened #857 "Fix display of the SQL query in docs"
In the [What is AI Tables](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/databases/tutorials/AiTablesInPostgreSQL.md#what-is-ai-tables) section there is a Select query that needs to be formated by wrapping it in "``` sql code block ```" e.g

[code]

[2020-10-22 17:43] jaimcamp commented on #857
Hi, could I take this one?

[2020-10-22 18:49] yash2189 commented on #857
@ZoranPandovski Please review my PR for this issue.
Here is the [link](https://github.com/mindsdb/mindsdb-docs/pull/104)

[2020-10-22 21:33] purvimisal commented on #797
Hi, I can work on this if no one else is.

[2020-10-22 21:34] ZoranPandovski opened #859 "Format the SQL query in AI Tables docs"
In our tutorial for AI Tables in MySQL we need to fix the [SQL query](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/databases/tutorials/AiTablesInMySQL.md#ai-tables-in-mysql) as:

[code]

[2020-10-22 21:38] ZoranPandovski commented on #797
Sure. Thanks, @purvimisal . If you have some questions post them here.

[2020-10-22 21:39] ZoranPandovski commented on #780
Thank you @elvis2 :tada:

[2020-10-22 21:39] #780 closed

[2020-10-22 21:40] ZoranPandovski commented on #765
Hello @nizarion. Did you start on this one?

[2020-10-22 22:05] purvimisal commented on #797
Thanks, @ZoranPandovski.
Will do

[2020-10-23 05:18] purvimisal commented on #797
Hi,
GCS needs a locally stored .json file for authentication. I can't find a way to use access token and key for GCS. So I was thinking we can take a path_to_json file as an input. Will that be fine ?

[2020-10-23 06:45] anushka-gupta-31 commented on #859
pls assign it to me

[2020-10-23 06:56] yash2189 commented on #859
@ZoranPandovski Please find the changes [here](https://github.com/mindsdb/mindsdb-docs/pull/105)
Thanks.

[2020-10-23 07:09] #842 closed

[2020-10-23 07:09] #845 closed

[2020-10-23 07:09] #768 closed

[2020-10-23 07:38] anushka-gupta-31 commented on #859
@ZoranPandovski
#859 Please review the changes I have made in the pull request. Link for the pull request is :   https://github.com/mindsdb/mindsdb-docs/pull/106#issue-508774415

[2020-10-23 08:03] ZoranPandovski commented on #850
Thanks @purvimisal and @chelseing

[2020-10-23 08:03] #850 closed

[2020-10-23 08:05] ZoranPandovski opened #860 "Hacktoberfest 2020: Add new time series datasets to our benchmarks"
:loudspeaker: We need new time series datasets in our [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository with which, we can evaluate new MindsDB time series features :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured

[2020-10-23 08:07] ZoranPandovski opened #861 "Update install on Windows section in MindsDB docs"
The `Install on Windows using MindsDB installers` section should be removed before [Install using virtual environment
](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/Installing.md#install-using-virtual-environment) section.

[2020-10-23 08:26] yash2189 commented on #861
@ZoranPandovski So just the  `Install on Windows using MindsDB installers` section should be removed?

[2020-10-23 08:46] yash2189 commented on #861
@ZoranPandovski Please find the changes [https://github.com/mindsdb/mindsdb-docs/pull/107](https://github.com/mindsdb/mindsdb-docs/pull/107)

[2020-10-23 13:15] mbetel opened #862 "float32 JSON error"
**Your Environment**

* Python version: 3.6
* Pip version:
* Operating system: Centos8
* Python environment used (e.g. venv, conda): venv
* Mindsdb version you tried to install: MindsDB_native 2.17.0 MindsDB 2.11.4
* Additional info if applicable: Mariadb 10.4.14 with CONNECT engine

**Describe the bug**
Had Mindsdb learn a model from a query where the predictor is a MariaDB 'decimal' type
This re

[2020-10-23 14:14] ZoranPandovski commented on #862
Thanks for reporting this one @mbetel . Can you please share the dataset or short dump of the db so we can try and reproduce this?

[2020-10-23 16:12] mbetel commented on #862
@ZoranPandovski

I used this table, with the field Toegezegd as predictor

[mb_declovz.sql.zip](https://github.com/mindsdb/mindsdb/files/5430592/mb_declovz.sql.zip)

Using the same dataset but with the decimals as int works fine

[2020-10-23 20:13] yash2189 commented on #861
Hi @ZoranPandovski I have made the changes on the PR can you please review the same?

[2020-10-24 02:13] torrmal commented on #728
Hi @abmo did it work?

[2020-10-24 06:37] krishnaupadhyay3 commented on #823
@ZoranPandovski it happens when you use CTRL +Z. do we need to fix this for when we do CTRL+Z ?

[2020-10-24 08:25] #851 closed

[2020-10-24 09:40] #853 closed

[2020-10-24 09:40] #860 closed

[2020-10-24 09:44] ZoranPandovski opened #863 "Add link to tutorial in the AI Table in MySQL Docs"
In our documentation for [AI Tables](https://docs.mindsdb.com/databases/MySQL/#train-and-predict-multiple-features) in MySQL after the last section, we need to include a link to the Ai Tables in the MySQL tutorial as:
To get additional information follow the AiTables in [MySQL tutorial](https://docs.mindsdb.com/databases/tutorials/AiTablesInMySQL/) .

[2020-10-24 09:45] ZoranPandovski opened #864 "Add new time series datasets to our benchmarks"
:loudspeaker: We need new time series datasets in our [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository with which, we can evaluate new MindsDB time series features :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured

[2020-10-24 12:13] ZoranPandovski commented on #823
Thanks, everyone.  So we need a fix for this. We assume on 'ctrl-c' interrupt should be executed in close_api_gracefully function https://github.com/mindsdb/mindsdb/blob/staging/mindsdb/__main__.py#L23

[2020-10-24 12:23] ZoranPandovski opened #865 "Update documentation to point to PostgreSQL download"
In the [Ai Tables in PostgreSQL](https://docs.mindsdb.com/databases/tutorials/AiTablesInPostgreSQL/#how-to-install-postgresql) tutorial, we need the `download the installers` text to point to the https://www.postgresql.org/download/

[2020-10-24 12:47] yash2189 commented on #865
@ZoranPandovski Please find the PR for this issue [here](https://github.com/mindsdb/mindsdb-docs/pull/108)

[2020-10-24 13:39] yash2189 commented on #823
@ZoranPandovski I have tried using the `try-except`. Can you please review PR #866 ?
Thanks

[2020-10-24 15:58] ZoranPandovski opened #867 "🎉 Add interesting datasets to MindsDB benchmarks 🎉"
:loudspeaker: We started accepting the PR's in [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository for public datasets that we can evaluate MindsDB with :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured data file, CSV

[2020-10-24 18:53] ZoranPandovski opened #868 "Uptade the configuration example docs for AI Tables in ClickHouse"
The configuration example for [AI Tables in Clickhouse](https://docs.mindsdb.com/databases/Clickhouse/#configuration) is using the old config version 1. It should be updated as the MySQL one  https://docs.mindsdb.com/databases/MySQL/#configuration, and only keep the default_clickhouse key.

[2020-10-25 03:38] asperduti commented on #863
I worked on this [here](https://github.com/mindsdb/mindsdb-docs/pull/109)

[2020-10-25 04:46] krishnaupadhyay3 commented on #807
@George3d6 we already have  CI for 'default_mariadb', 'default_clickhouse' . correct me , if i have misunderstood about the task,
so we what to do is, to add MYSQL APIs  with these two above mentioned config , with a test  for GUI response status .

[2020-10-25 10:30] ZoranPandovski opened #870 "Add requirements.txt in our docs"
Few people reported that they were not able to start the documentation page because of the dependencies. We need requirements.txt file added on the [repository](https://github.com/mindsdb/mindsdb-docs) that shall install:

[code]

[2020-10-25 12:15] chechu-arias commented on #870
Can you assign me this issue?

[2020-10-25 13:22] krishnaupadhyay3 commented on #870
@ZoranPandovski few  dependencies  are missing from your list, I have added those

[2020-10-25 15:05] ZoranPandovski opened #871 "Update Lightwood installation docs"
In the [Lightwood installation](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/lightwood/info.md#installing-lightwood) docs, we need to add the Prerequisite section that will mention `You need Python >=3.6 64bit version`.

[2020-10-25 16:00] ccmetz commented on #871
Hi @ZoranPandovski , I can take this one 🙂

[2020-10-25 16:13] ccmetz commented on #871
PR is out for this one 🙁

[2020-10-26 09:19] ZoranPandovski commented on #863
Thanks @asperduti

[2020-10-26 09:19] #863 closed

[2020-10-26 09:24] #870 closed

[2020-10-26 09:25] ZoranPandovski commented on #870
Thank you

[2020-10-26 09:47] ZoranPandovski commented on #871
Thanks @ccmetz

[2020-10-26 09:47] #871 closed

[2020-10-26 09:48] ZoranPandovski commented on #865
Thanks @yash2189

[2020-10-26 09:48] #865 closed

[2020-10-26 09:48] ZoranPandovski commented on #864
Thank you @jumc

[2020-10-26 09:48] #864 closed

[2020-10-26 09:49] ZoranPandovski commented on #857
Thank you.

[2020-10-26 09:49] #857 closed

[2020-10-26 09:49] ZoranPandovski commented on #859
Thanks

[2020-10-26 09:49] #859 closed

[2020-10-26 09:50] ZoranPandovski commented on #861
Thanks @yash2189

[2020-10-26 09:50] #861 closed

[2020-10-26 09:51] ZoranPandovski commented on #868
Thanks @jumc, looks good. Please make PR to mindsdb repo from your fork

[2020-10-26 09:53] ZoranPandovski opened #872 "Remove Google Analytics from docs"
We need to remove the google analytics from the docs. The code is inside the https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/mkdocs.yml#L75

[2020-10-26 09:56] NakumKailas commented on #872
Can I do this

[2020-10-26 10:10] RPUTHUMA commented on #872
I will do it

[2020-10-26 10:15] RPUTHUMA commented on #872
Have raised a PR for the above issue
https://github.com/mindsdb/mindsdb-docs/pull/114

[2020-10-26 10:24] ZoranPandovski opened #873 "Add new time series datasets to our benchmarks"
:loudspeaker: We need new time series datasets in our [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository with which, we can evaluate new MindsDB time series features :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured

[2020-10-26 10:52] George3d6 opened #874 "Add AWS Athena datasource"
Add a datasource that allows users to connect to athena and pull in data via running a query on their s3 files using Athena.

For inspiration you can use the postgres datasource: https://github.com/mindsdb/mindsdb_native/blob/stable/mindsdb_native/libs/data_sources/postgres_ds.py and the s3 datasource https://github.com/mindsdb/mindsdb_native/blob/stable/mindsdb_native/libs/data_sources/s3_ds.py

[2020-10-26 11:09] #823 closed

[2020-10-26 22:59] ZoranPandovski opened #875 "Update AI Tables docs link"
Add link to the MySQL [download](https://www.mysql.com/downloads/) URL in [official documentation](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/databases/tutorials/AiTablesInMySQL.md#how-to-install-mysql) text.

[2020-10-27 01:03] ilitotor commented on #875
Can I take this one?

[2020-10-27 01:30] ilitotor commented on #875
A made a PR here [117](https://github.com/mindsdb/mindsdb-docs/pull/117).

Let me know if I did something wrong.

[2020-10-27 02:56] krishnaupadhyay3 commented on #807
@George3d6  any insights ??

[2020-10-27 09:41] ZoranPandovski commented on #875
Thanks @ilitotor, I will check that.

[2020-10-27 10:51] ZoranPandovski commented on #867
Thank you @asharma13524, @RPUTHUMA, @FishtheFish, @jumc for your contributions

[2020-10-27 10:51] #867 closed

[2020-10-27 10:52] ZoranPandovski opened #876 "🎉 Add interesting datasets to MindsDB benchmarks 🎉"
:loudspeaker: We started accepting the PR's in [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository for public datasets that we can evaluate MindsDB with :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured data file, CSV

[2020-10-27 12:53] ZoranPandovski commented on #790
Fixed.

[2020-10-27 12:53] #790 closed

[2020-10-27 12:53] ZoranPandovski commented on #791
Fixed.

[2020-10-27 12:53] #791 closed

[2020-10-27 12:53] ZoranPandovski commented on #789
Fixed.

[2020-10-27 12:53] #789 closed

[2020-10-27 12:54] ZoranPandovski commented on #788
Fixed.

[2020-10-27 12:54] #788 closed

[2020-10-27 13:51] StpMax opened #878 "GET 'predictos list' can fail right after predictor training start"
[code]

[2020-10-28 08:13] StpMax opened #879 "Mariadb dont show prediction if sent not right type as input"
MindsDB 2.11.4, staging
If we have table in mariadb with columns `{a: int, b: int}`, and predictor for field `a`, then for this query:
`select a from predictor where b=1.2;` we will see nothing. Correct answer will be only if use `int` for `b`: `select a from predictor where b=1;`. Why that happening:
1. when user execute `select a from predictor where b=1.2;`, mariadb sends to mindsdb modified qu

[2020-10-28 08:28] bhavintandel commented on #874
@George3d6 I have made a pull request here: https://github.com/mindsdb/mindsdb_native/pull/253

Let me know how it looks.

[2020-10-28 09:50] #872 closed

[2020-10-28 09:51] #875 closed

[2020-10-28 09:56] ZoranPandovski opened #880 "Add Snowflake example in our Docs"
We have Snowflake added as a new [data source](https://github.com/mindsdb/mindsdb_native/blob/stable/mindsdb_native/libs/data_sources/snowflake_ds.py) so, we need to include that in our documentation. This is the [data sources doc](https://docs.mindsdb.com/features/DataSources/). The Snowflake DS should be added the last in the list with a similar example as previous data sources examples.

[2020-10-28 11:11] itsrdb commented on #880
Can you allow me to do this?

[2020-10-28 12:49] gitrahulgit commented on #880
I want to work on it.

[2020-10-28 13:34] ZoranPandovski commented on #880
Sure @gitrahulgit

[2020-10-28 15:39] StpMax commented on #878
should be fixed in 2.12.0

[2020-10-28 15:39] #878 closed

[2020-10-28 21:07] bhavintandel commented on #874
@George3d6 Can you please assign this task to me?

[2020-10-29 09:01] StpMax opened #883 "sudden SSL errors"
Using remote databases for testing, time-to-time i got unexpected ssl errors. I trying found out causes with remote CliskHouse. That what i got at this moment:
1. if switch-off ssl - all work fine.
2. i tried make cert using openssl console commands - get same errors. So it probably not certificate issue.
3. if connection to remote server is good, then all work fine. I start getting errors if ping

[2020-10-29 12:33] StpMax commented on #879
Same for Postgres
![image](https://user-images.githubusercontent.com/4068133/97574344-ffcf2180-19e2-11eb-98e9-159cf915a3ee.png)

[2020-10-29 12:35] StpMax commented on #862
@mbetel Thank you!
That should be fixed in version 2.12.0 (already on pypi)

[2020-10-29 15:38] ZoranPandovski commented on #874
Thanks @bhavintandel we will check your PR

[2020-10-29 16:03] ZoranPandovski opened #886 "ValueError: setting an array element with a sequence."
Using Scout to Query the model throws an error. The problem is when Scout sends the time-series value, MindsDB is not able to parse. Follow [this](https://docs.mindsdb.com/databases/PostgreSQL/#train-new-model) to reproduce the issue. Full stack trace:

[code]

[2020-10-29 16:36] ZoranPandovski opened #887 "Fix query syntax in the docs"
The third query in our [tutorial](https://docs.mindsdb.com/databases/tutorials/AiTablesInMySQL/#train-new-machine-learning-model) contains `mysql>` before the SELECT query that needs to be removed.

[2020-10-30 13:05] #887 closed

[2020-10-30 13:15] ZoranPandovski opened #891 "Remove Ludwig from model interface documentation"
In Model interface [docs](https://docs.mindsdb.com/InsideMindsDB/#model-interface) in the Learning backend, we need to remove everything related to Ludwig, since we remove that from our implementation.

[2020-10-30 15:04] Debadri3 commented on #891
I want to work on it. Mind if you provide the exact link to the folder in the repo?

[2020-10-30 15:49] ZoranPandovski commented on #891
Sure @Debadri3 . This is it https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/InsideMindsDB.md#model-interface

[2020-10-30 16:41] ZoranPandovski commented on #876
Thanks @deveshcode and @AditAhmedabadi

[2020-10-30 16:41] #876 closed

[2020-10-30 16:42] ZoranPandovski opened #892 "🎉 Add interesting datasets to MindsDB benchmarks 🎉"
:loudspeaker: We started accepting the PR's in [MindsDB Benchmarks](https://github.com/mindsdb/benchmarks)  repository for public datasets that we can evaluate MindsDB with :chart_with_upwards_trend: :page_with_curl:.
Before making the PR please check out that the dataset is publicly available and can be shared :heavy_check_mark: :mailbox_with_mail: .

* It should be in a structured data file, CSV

[2020-10-30 16:51] ZoranPandovski opened #893 "ERROR: Relation mindsb.{modelname} doesn't exist"
If you train the model from Scout and you name it with pascal case e.g AilineSurveyModel or MetroTraficData you will not be able to query it from databases:
[code]
will throw ERROR: Relation mindsb.airlinesurveymodel doesn't exist. It is the same if you write the name with all lowercase. Note that the AirlineSurveymodel table exists in mindsdb schema in PostgreSQL.

[2020-10-31 13:00] ZoranPandovski opened #894 "Add .dmg installer for OSX"
We need mindsdb installer for OSX (.dmg file) that will install mindsdb and mindsdb's dependencies on the user machine. I think [PyInstaller](https://pyinstaller.readthedocs.io/en/stable/#building-mac-os-x-app-bundles) can be used to bundle everything, but if you have a better idea we are happy to hear that.

[2020-10-31 13:02] ZoranPandovski opened #895 "Create a Video encoder"
Supporting video inputs (and even outputs) would be a very nice feature to have.

The main issue is how do we reduce something as huge as a video to a representation that's e.g. < 10,000 float32's long.

This is not really a priority of the Mindsdb team right now, since we don't have a usecase for it, but if anyone does and would like to help we'd be very glad to accept external contributions with

[2020-10-31 13:40] ZoranPandovski opened #896 "Add MySQL and PostgreSQL AI Tables in docs"
At the end of the introduction to AI Tables, we have links to MaraiDB and MySQL. We need to include two more links in the unordered list that will point to MySQL and PostgreSQL AI Tables in our docs. Link to the [docs file](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/databases/index.md#the-used-car-price-example)

[2020-10-31 18:30] ZoranPandovski opened #897 "Update default port of Clickhouse example config"
If you expand the configuration example, you will notice that we have 3307 added as a default port to Clickhouse. That should be changed to point to the 8123 port. Link to the [file](https://github.com/mindsdb/mindsdb-docs/blob/master/mindsdb-docs/docs/databases/Clickhouse.md#configuration)

[2020-11-02 10:42] George3d6 commented on #769
@elvis2 sorry for not answering, I did not see your comment.

The main reason we want to do this remotely is because setting up databases during CI takes time and, more importantly, can't be done on windows and osx the same way we do for linux. Yet we want to test that functionality on all OSes.

Also, we might want to test with private datasets in certain cases, and sourcing those in actions can

[2020-11-02 10:47] George3d6 opened #898 "Introduce "user flow" tests"
Introduce one or two tests that attempt to mimic various ways a user might use mindsdb.

## Flow I

1. Connect a database (create an integration) via the http api
2. Create a model from the database using SQL
3. Analyse the model via the http api
4. Analyse the datasource it was trained on via the http api
6. Upload a datasource via the http api
7. Predict with that datasource from the database us

[2020-11-02 10:50] George3d6 opened #899 "Add mistakes to tests"
We should add "mistakes" and "crashes" to a bunch of the tests, especially those specified in #898.

## I - Crash during tests

1. Start the tested action (e.g. training a model, uploading a dataset)
2. Before it finishes, intrerupt it using a separate process that kills mindsdb
3. Make sure mindsdb can start from the failed state and try the actions again

## II - Mistakes during tests

1. Add a

[2020-11-02 11:04] George3d6 opened #900 "Label staging->stable installers as unstable"
When an installer gets deployed via merging staging into stable it should be named `{whatever the name was}_beta`

[2020-11-02 11:05] George3d6 opened #901 "Github tag release script"
Create a release script for github actions that gets triggered by a github release tag.

This should compile and distribute all our installers, currently:
* docker
* windows
* the script for linux+osx

This should *not* create a new pypi release.

[2020-11-02 11:08] George3d6 opened #902 "Update documentation for installation and community contribution to be in-line with the new release methodology"
The new release methodology can be found here: https://www.notion.so/mindsdb/Processes-d43a2d1a45424190ae7d32e8972de418

Note: link not available externally, this is an issue internal to mindsdb, but if you *really* want to participate in it ping me here and I can give you the details, none of this is in any way "secret"

[2020-11-02 13:51] ZoranPandovski commented on #891
Thanks @Debadri3

[2020-11-02 13:51] #891 closed

[2020-11-02 13:51] ZoranPandovski commented on #797
Thanks @purvimisal

[2020-11-02 13:51] #797 closed

[2020-11-02 13:52] ZoranPandovski commented on #868
Thanks @jumc

[2020-11-02 13:52] #868 closed

[2020-11-02 14:38] ZoranPandovski commented on #847
Fixed by https://github.com/mindsdb/mindsdb_native/pull/245

[2020-11-02 14:38] #847 closed

[2020-11-03 06:44] #862 closed

[2020-11-03 09:04] George3d6 opened #904 "Use a different dataset for every database"
Use a different dataset for the tests of every different database. E.g. use home_rentals for clickhouse, us_health_insurance for mysql, diamonds for postgres... etc

[2020-11-03 09:05] George3d6 commented on #732
Fixed now in lightwood.

[2020-11-03 09:05] #732 closed

[2020-11-04 09:57] George3d6 opened #907 "Remove SQL-lite"
Note: Only start work on this once https://github.com/mindsdb/mindsdb_native/milestone/8 is done

Remove any and all usage of sql-lite, replace it with using the `filter` query of the datasources themselves.

[2020-11-04 09:59] George3d6 opened #908 "Remove analysis on upload"
Only start working on this once #907 is done

When a datasource is created/uploaded, don't start analyzing it, or at most do so in a background thread and update the analysis cache once it's done.

The analysis was only needed for filtering, no longer needed since we should no longer be using sql-lite.

[2020-11-04 10:00] George3d6 opened #909 "Remove `columns` and other datasource metadata required by sqlite"
Title says it all, start work on it once https://github.com/mindsdb/mindsdb/issues/907 is done.

[2020-11-04 10:01] George3d6 opened #910 "Test filter functionality"
Add test for the filter functionality of datasource, i.e. the one that currently uses queries on sqlite but that we want to move to a datasource method called `filter`.

This feature is currently not very well tested it seems (if at all ?), adding more tests should be the first step to help us with refactoring it and making sure it works in the future.

[2020-11-04 14:13] ZoranPandovski opened #911 "KeyError: 'typing' when creating new Datasource from MySQL"
Using [airplane_satisfaction dataset](https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv) to create a data source from Scout through MySQL throws bellow error:

[code]

[2020-11-04 17:55] devanshgoenka97 commented on #897
Will be raising a PR for this shortly

[2020-11-04 18:34] ZoranPandovski commented on #897
Great @devanshgoenka97 , feel free to ask questions if you have.

[2020-11-05 09:11] StpMax commented on #911
@ZoranPandovski That because ds have column without name (first column). That was fixed in [this pr](https://github.com/mindsdb/mindsdb/pull/854). Since that, it should be error 'Each column in datasource must have unique name'. But a this moment gui dont show error, [here is issue](https://github.com/mindsdb/mindsdb_gui_web/issues/265).

[2020-11-05 12:14] StpMax opened #912 "Is no decoding url parameters"
If some entity contain special symbols, then query to api can raise error. For example, predictor have name '!@#'. Query to get predictor: GET `/api/predictors/TTff_-s%2521%2540` -> predictor not exists, raise error.
We should add decoding url parameters to each GET http api endpoint. For example, so:
[code]

[2020-11-05 12:18] StpMax commented on #893
For each database is own rules to escape entities names. That not depends on MindsDB. For postgresql `"` should work:
[code]

[2020-11-05 12:34] StpMax opened #913 "Option to not run/update GUI on http api start"

[2020-11-05 13:49] ZoranPandovski commented on #911
@StpMax I removed that one. There are no id or empty columns in my DB. Check the dump I've sent you.

[2020-11-05 13:50] ZoranPandovski commented on #893
Yes, that doesn't work too.

[2020-11-05 19:04] George3d6 opened #916 "Preidctor should be available as soon as the request to train it returns"
A predictor should be query-able as soon as the request to train it is finished.

This causes us to e.g. need a sleep in the tests for this: https://github.com/mindsdb/mindsdb_python_sdk/pull/2

Not extremely easy to fix, we'd need a hook into the training process to figure out when it starts.

Alternatives:
* Hack: Just add 20 sec wait to predictor creation method
* Correct: MP map or other flag

[2020-11-05 20:23] devanshgoenka97 commented on #897
@ZoranPandovski I noticed that this issue is actually for the mindsdb-docs repo, should we move it there?

[2020-11-06 07:03] StpMax commented on #916
@George3d6 if you want remove timeout in pythonsdk tests, you can set join_learn_process=True:
[code]
that should work, same way i do in integrations tests.

If we want make main process non-blocked, than yes, MP event or queue will be best solution.

JS sdk is just wrapper around http-api, so it works like pytohnsdk at this moment: 'PUT predictor' - is non-bloking query, is need couple seconds af

[2020-11-06 08:12] yash2189 commented on #902
@George3d6 if this is a documentation issue I would like to give it a try

[2020-11-06 09:13] StpMax commented on #728
I think we did all what we can from our side. [Roots of issue is somewhere on ClickHouse side](https://github.com/ClickHouse/ClickHouse/issues/16669) Since we cant do anything with it, i close issue for now.

[2020-11-06 09:13] #728 closed

[2020-11-06 09:14] StpMax commented on #883
Since we cant do anything with it, i close issue for now.

[2020-11-06 09:14] #883 closed

[2020-11-06 09:44] StpMax commented on #886
Fixed in one of mindsb_native updates between 3.10 and 6.10. There is issue with showing result in GUI, will make issue in gui repo.

[2020-11-06 09:44] #886 closed

[2020-11-06 11:20] StpMax opened #917 "Cant move predictor to 'corrupted' folder"
Cant move predictor to 'corrupted' folder, if exists other with same name.
[code]

[2020-11-06 11:49] StpMax commented on #912
Seems it was my mistake. Today i cant reproduce it. Anyway, during search i found two other issues, so time was not wasted.
https://github.com/mindsdb/mindsdb_gui_web/issues/268
https://github.com/mindsdb/mindsdb/issues/917

[2020-11-06 11:49] #912 closed

[2020-11-06 12:03] #911 closed

[2020-11-06 13:01] ZoranPandovski commented on #902
Hello @yash2189, I just sent you an invite.

[2020-11-06 13:16] ZoranPandovski opened #918 "Display warning message if training data contains less then 10 rows"
Currently, if the user uses a dataset that has less then 10 rows the bellow error will be shown:

[code]
Instead, we should return a message before the training start to say something like: `You must have at least 10 rows to train a model`.

[2020-11-06 13:54] yash2189 commented on #902
@ZoranPandovski Thanks did you send on my email?

[2020-11-06 14:03] George3d6 commented on #916
hmh, I'd rather not have a learn call *wait* for the learn, but that is an option I guess.
As in, I'd rather have the option to poll the endpoint until learn is done.

For now, I just added the sleep directly into the sdk, because 5 seconds should be more than enough for the setup time needed to start the process, especially once we move to lazy datasources.

[2020-11-08 15:14] ZoranPandovski commented on #902
Yes, on the same email from which you apply

[2020-11-08 15:15] yash2189 commented on #902
I haven't recieved the invite link yet my email is yashajgaonkar24@gmail.com

[2020-11-09 07:43] StpMax opened #920 "Remove sensitive information from log"
Currently, in verbose log level, we put to log all dump of packages as is. So in log can be ip adreses, session salt, mindsdb username and password. Need remove that.

[2020-11-09 09:11] #893 closed

[2020-11-09 12:23] StpMax commented on #901
@George3d6
What name of tag should be? 'release'?
So we should:
- release pypi version on push tag == 'v[0-9]+.[0-9]+.[0-9]+'
- release installers on push tag == 'release'

rignt?

[2020-11-09 13:58] yash2189 commented on #902
@ZoranPandovski Can you please send the slack link again and tell me what to do for this particular issue?

[2020-11-10 00:50] PrudhviVajja commented on #896
@ZoranPandovski  I created a new pull request with this edit and corrected some other links of images and markdown files

[code]
But I was not sure about the `[PredictorInterface](/PredictorInterface/#learn)` That was directed to *404 error page*.

[2020-11-10 16:00] ZoranPandovski commented on #902
Please check again, I've re-send you the invite. This issue is still not fully defined. I will post more info once we have

[2020-11-10 16:26] paxcema opened #922 "Error when importing MindsDB in a Jupyter notebook"
**Your Environment**

* Python version: 3.6
* Operating system: Ubuntu
* Mindsdb version: 2.12.2

**Describe the bug**
Importing MindsDB from a Jupyter Notebook fails, apparently because the HTTP API triggers.

**To Reproduce**
1. Run a new Jupyter notebook
2. Execute a cell with `import mindsdb`

The following error should occur:
[code]

**Expected behavior**
MindsDB should import successfully.

[2020-11-10 21:04] George3d6 opened #924 "Return integration is can be turned on publishable"
Add tow endpoints:
1) An endpoint that check if a connection is publishable
2) A parameter in integration status check that tells if it can be turned on as publishable

[2020-11-10 23:14] #922 closed

[2020-11-11 14:38] George3d6 commented on #901
We can just release pip installers on stable as we do now, since pip install would be for "advanced" users of sorts.
And yes, we can just call the tag `release`