[2022-10-18 16:59] martyna-mindsdb opened #3488 "[Mongo] Tutorial to Predict Poker Hand Strength using MongoDB"
## Task Description
Create a predictor to determine poker hand strength based on the suits and ranks of all five cards **using MongoDB**.

Use the `poker-hand-training.csv` dataset available at https://www.kaggle.com/datasets/hosseinah1/poker-game-dataset.

Feel free to create either an article or a video tutorial!

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three: points

[2022-10-18 17:00] martyna-mindsdb opened #3489 "[Mongo] Tutorial to Predict Salaries using MongoDB"

[2022-10-18 17:12] rparthas commented on #3465
@martyna-mindsdb Please assign to me

[2022-10-18 19:23] AvinashDwivedi commented on #3489
Hi there, I'm new to open source, and I want to work on this issue. Can you please navigate me a little about this I'll try my best to finish it.

[2022-10-18 19:39] ayushthe1 commented on #3382
hey @ZoranPandovski ,i made a pr for this issue. Could you please review it.

[2022-10-18 20:37] StarTrooper08 commented on #3489
Hey, @AvinashDwivedi we have to write an article where we have to demonstrate "How to use Mindsdb with MongoDB".
And for this tutorial, we have to use the above dataset.

[2022-10-19 02:29] umairshabbir-83 commented on #3479
Hi @ZoranPandovski!
Is this issue resolved?

[2022-10-19 06:08] ruliarso commented on #3483
Thanks @ZoranPandovski
After restarting my laptop, it works now.

[2022-10-19 06:08] #3483 closed

[2022-10-19 07:10] martyna-mindsdb commented on #3489
@StarTrooper08
You can import up to 10MB to MindsDB Cloud, so the easy way to go is to remove some of the data rows and upload the file.

[2022-10-19 07:21] Tes-program commented on #3363
@zavbala are you still doing this?

[2022-10-19 08:20] StarTrooper08 commented on #3489
@martyna-mindsdb I did the same. I bought the dataset file size to somewhat 7-8 MB.

[2022-10-19 10:08] tomhuds opened #3496 "[Bug]: Better error message for incorrect database name"
**Describe the bug**
A clear and concise description of what the bug is.

Current error message when the database name is entered incorrectly:

_Error: 'NoneType' object has no attribute 'query'_

https://www.loom.com/share/d65aff8474814cb99f65c0fa4ab832fb

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Download the dataset from link: `xyz.com/data/train.csv`
2. Run the code: `.

[2022-10-19 10:50] tomhuds opened #3497 "[Bug]: Predicted values which fall between the confidence bounds are shown as anomalies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

TS predicted values which fall between the confidence bounds are shown as anomalies within target_explain.

https://www.loom.com/share/05e8cf01f8964f2c82c7dacf8672a66f

### Expected Behavior

Should not be anomalies?

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-10-19 10:52] tomhuds opened #3498 "[Bug]: Not able to run '= LATEST' query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Error: Can not find appropriate table for column FINAL_QTY
(FINAL_QTY is the ORDER BY column)

https://www.loom.com/share/bdeb949a42594ab29d6039a069cc717a

### Expected Behavior

I should be able to run the query, and get the column for FINAL_QTY

### Steps To Reproduce

[code]

### Anything

[2022-10-19 11:04] ZoranPandovski commented on #3312
Thanks everyone we will check this

[2022-10-19 11:13] #3475 closed

[2022-10-19 11:14] #3382 closed

[2022-10-19 11:21] parthiv11 opened #3499 "[New Integration]: ⏱⏱ Integration With Auto_TS"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Auto_TS Is simple AutoML Library for creating versatile model based on Time Series Data.
It is as simple that with just few lines of code you can get new model with amazing results.

### Motivation

Automatically build multiple Time Series models using a Single Line of Code.

Auto_timeseries is a

[2022-10-19 11:54] ZoranPandovski commented on #3151
@AayushiSingh005 did you make any progress?

[2022-10-19 11:55] ZoranPandovski commented on #2742
@MichaelLantz  did you made any progress?

[2022-10-19 11:56] ZoranPandovski commented on #3090
@Temidayo32  did you made any progress?

[2022-10-19 11:56] ZoranPandovski commented on #2702
@Bhavya-Hingorani  did you made any progress?

[2022-10-19 11:56] ZoranPandovski commented on #3178
@Lagstill  did you made any progress?

[2022-10-19 11:56] ZoranPandovski commented on #3182
@akhildevelops  did you made any progress?

[2022-10-19 11:56] ZoranPandovski commented on #3167
@AyushK-101  did you made any progress?

[2022-10-19 11:58] ZoranPandovski commented on #2328
@rahulsunil2, @chaitanya710   did you made any progress?

[2022-10-19 11:58] #3286 closed

[2022-10-19 11:59] ZoranPandovski commented on #3274
@bispaul  did you made any progress?

[2022-10-19 11:59] chaitanya710 commented on #2328
Yes I cloned it and still some things are pending

On Wed, Oct 19, 2022 at 5:28 PM Zoran Pandovski ***@***.***>
wrote:

[2022-10-19 12:06] MichaelLantz commented on #2742
Thanks for checking @ ZoranPandovski. I setup an environment to do testing and was analyzing the components necessary for an Integration/handler and proper testing but have had my attention split in other fun distractions/issues. I'll dedicate time in the near future (hopefully today or tomorrow) specifically to have something functional or at a bare minimum move the ball forward for someone else.

[2022-10-19 12:10] ZoranPandovski commented on #2742
Awesome, if you need help just let us know

[2022-10-19 12:28] Sadeeed commented on #2327
I have made some progress and I still wish to contribute but I might not have enough time to commit during October so if anyone wants to have a go you're more than free to do that.

[2022-10-19 12:28] paxcema commented on #3213
See #3495 for a potential fix. Team is currently testing this.

[2022-10-19 13:29] ZoranPandovski opened #3501 "[Integration] Implement handler for TDEngine timeseries DB"
Add the support for https://github.com/taosdata/TDengine. To start check out the [Build new integration docs](https://docs.mindsdb.com/contribute/integrations/)

### Anything else?

## :loudspeaker: Additional rewards :trophy:

Each integration brings :five:  points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](https://www.razer.com/hard-bundles/Razer-Blade-

[2022-10-19 13:36] ZoranPandovski opened #3502 "[Docs] Remove old datasources assets (mysql-select.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mysql-select.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/mysql-select.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down:

[2022-10-19 14:05] PrathIam commented on #3502
Hi @ZoranPandovski, I am new here looking for my first contribution. Can I look into this?

[2022-10-19 14:13] ZoranPandovski commented on #3502
Sure @PrathIam

[2022-10-19 14:19] MichaelLantz commented on #3502
Welcome @PrathIam! Issues like these are a great way to be introduced to the community so best of luck. Also welcome to Github. :)

[2022-10-19 14:25] ZoranPandovski opened #3504 "Write Unit Tests for `type_infer` package"
We've released our `type_infer` package which handles the type inference logic and is moved outside Lightwood to it's own repository. Currently the package is not covered with unit tests so we need help writing new tests. To get started, head over to https://github.com/mindsdb/type_infer

## :loudspeaker: Additional rewards :trophy:

Each code cotributions brings :three:  points and entry into the

[2022-10-19 14:35] Rutam21 opened #3505 "[Manual QA] Test DynamoDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the DynamoDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-19 14:38] Rutam21 opened #3507 "[Manual QA] Test Databricks Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Databricks Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach

[2022-10-19 14:39] #3485 closed

[2022-10-19 14:40] Rutam21 opened #3508 "[Manual QA] Test MySQL Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the MySQL Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a sc

[2022-10-19 14:42] Rutam21 opened #3509 "[Manual QA] Test Postgres Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Postgres Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-19 14:46] StarTrooper08 opened #3510 "[UI/UX] Profile Option Request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I've been using Mindsdb Web Editor for a while now and I thought there should be a profile option.
Why do we need it?
- The main thing is after we login into Web Editor we are unable to see our basic details like email.

So I think it is a needed

[2022-10-19 15:19] PrathIam commented on #3502
@ZoranPandovski Please Review #3511. Thanks!

[2022-10-19 15:32] bispaul commented on #3274
I was getting the docker images to run last week. However I have a question RethinkDB is a NoSQL database and currently it has no sqlalchemy or equivalent drivers. So can you guide me what to so that the SQL can be mapped to ReQL?

[2022-10-19 15:38] ZoranPandovski opened #3512 "[Docs] Fix docs logo issue"
The correct logo of MindsDB is not loaded in the current docs so it should be changed to [mdb_logo_w.svg](https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/mdb_logo_w.svg) in https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/mkdocs.yml#L8

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for

[2022-10-19 15:39] Chirag8023 commented on #3512
please assign it to me I want to contribute to this issue !

[2022-10-19 16:07] StarTrooper08 commented on #3508
I would love to work on this issue

[2022-10-19 16:42] akhildevelops commented on #3182
@ZoranPandovski not yet started.

[2022-10-19 16:52] GloriaOkeke commented on #3458
thanks @chandrevdw31 Also, do I need to make this a new issue. or submit a PR under here?

[2022-10-19 17:19] parthiv11 commented on #2856
Hey @ZoranPandovski  can i work on this

[2022-10-19 17:57] parthiv11 commented on #3501
i want to give it a try therefore can you assign to me

[2022-10-19 18:38] hridaya423 opened #3517 "[Bug]: Most of the links in https://docs.mindsdb.com/getting-started/ are broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In the following page: https://docs.mindsdb.com/getting-started/

Links broken are:
![image](https://user-images.githubusercontent.com/66767013/196775655-5f5c0b37-a7da-4259-b549-a39c8366529e.png)
![image](https://user-images.githubusercontent.com/66767013/196775830-674e0782-4f3d-4500-bb63-ddf

[2022-10-19 18:40] yagueto commented on #3219
Hi, sorry, been a bit busy this week :sweat_smile:. I'm working on it, will try to have it this week

[2022-10-19 18:49] martyna-mindsdb opened #3518 "[Mongo] Tutorial to Predict the Type of Glass using MongoDB"
## Task Description
Create a predictor to predict the type of glass based on its refractive index and the elements it contains **using MongoDB**.

Use the `glass.csv` dataset available at https://www.kaggle.com/datasets/danushkumarv/glass-identification-data-set.

Feel free to create either an article or a video tutorial!

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three:

[2022-10-19 18:52] martyna-mindsdb opened #3519 "[Mongo] Tutorial to Predict the Rating of Cars using MongoDB"
## Task Description
Create a predictor to predict the rating of cars based on their technical specification **using MongoDB**.

Use the `CARS_1.csv` dataset available at https://www.kaggle.com/datasets/tr1gg3rtrash/cars-2022-dataset.

Feel free to create either an article or a video tutorial!

[2022-10-19 18:56] yagueto commented on #3389
I've run into the same issue- every time I try to create a predictor in the web GUI it returns the error ```unexpected EOF while parsing (<unknown>, line 1)``` followed by the above error in the docker logs.

I'm using a MongoDB database.

[2022-10-19 18:58] yagueto commented on #3219
I've just tried creating some docker containers and running mindsdb and mongodb, although for some reason it fails as reported in #3389

[2022-10-19 19:17] martyna-mindsdb opened #3520 "[Mongo] Tutorial to Predict the Genre of Books using MongoDB"
## Task Description
Create a predictor to predict the genre of books based on the titles and descriptions **using MongoDB**.

Use the `data.csv` dataset available at https://www.kaggle.com/datasets/athu1105/book-genre-prediction.

Feel free to create either an article or a video tutorial!

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three: points and entry into the draw for

[2022-10-19 22:25] ZoranPandovski commented on #3508
Sure feel free to make a PR

[2022-10-19 22:26] #3458 closed

[2022-10-19 22:26] ZoranPandovski commented on #2856
Sure :)

[2022-10-19 22:28] #3512 closed

[2022-10-19 22:33] ZoranPandovski commented on #3517
Thanks for reporting, feel free to make a PR to fix them :raised_hands:

[2022-10-19 22:44] ZoranPandovski opened #3522 "[Docs] Remove old datasources assets (mariadb-select.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mariadb-select.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/mariadb-select.giffile from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_dow

[2022-10-19 22:55] Franqsanz commented on #3522
Hello, @ZoranPandovski, I would like to work on this!
Is it only necessary to delete that file and nothing else?

[2022-10-19 23:04] ZoranPandovski commented on #3522
Yes :)

[2022-10-20 00:47] Temidayo32 commented on #3090
@ZoranPandovski I am currently participating actively in Outreachy, so I am unable to attend to this issue for a while now. But I will pick it up again.

[2022-10-20 05:46] yashvarshney003 commented on #3518
@martyna-mindsdb  I want to write an article. Please assign this ticket to me.

[2022-10-20 06:18] talkshrey commented on #3291
Hey, there is a simple python script which converts parquet files to csv. I can now use those csv files for evaluation.

[2022-10-20 06:29] HengKevin commented on #3325
@ZoranPandovski I have a problem with connecting to 'hana'handler.

![image](https://user-images.githubusercontent.com/60089384/196872688-7980e909-6094-49cf-8acb-9b46c75d6e91.png)

[2022-10-20 06:39] Temidayo32 commented on #3090
@ZoranPandovski  So I did a quick run through the activities that have happened over the time I was away. The issues that delayed the tutorial I complained about are still there. I mean the undefined functions in the test written for some of the handlers are still there. The unit tests are still failing to run, thus

[2022-10-20 07:07] Temidayo32 commented on #3090
@ZoranPandovski I think there are two ways to go about this:
- We could just clean up the tests and remove those test methods that are meant to test these undefined methods.
- The other way to it is to actually define these currently undefined methods in the handlers?

[2022-10-20 08:08] ayushthe1 commented on #3504
hey  @ZoranPandovski ,i would like to work on this issue but dont know how to write unit tests. Could you please point me out to some resources to learn it.

[2022-10-20 08:09] parthiv11 opened #3526 "[Docs]: Broken Link On what-is-mindsdb page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There Are some broken link in footer of [What is Mindsdb](https://docs.mindsdb.com/what-is-mindsdb/#how-to-help-democratize-machine-learning)

![whatis mindsdb](https://user-images.githubusercontent.com/75653580/196892449-017ede62-a824-481a-bdd2-a2f4f25669ea.jpg)

### Expected Behavior

_No r

[2022-10-20 08:14] thisisamish commented on #3504
Hey @ZoranPandovski I would like to work on this. Can you assign it to me?

[2022-10-20 08:18] SaumyaBhushan commented on #3526
Hi @parthiv11 I would like to work on this . Can you please assign it to me ?

[2022-10-20 08:23] parthiv11 commented on #3526
you can work on this.
@ZoranPandovski  will assign it to you

[2022-10-20 08:26] SaumyaBhushan commented on #3526
Thanks @parthiv11 . @ZoranPandovski Can you please assign it to me?

[2022-10-20 08:35] thenishantsapkota commented on #3374
I would like to do `Connecting MindsDB with SQL Alchemy`.

[2022-10-20 08:52] #3446 closed

[2022-10-20 08:54] #3370 closed

[2022-10-20 08:58] ZoranPandovski opened #3527 "[Docs] Remove old datasources assets (start-mongo.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `start-mongo.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/mongo/.start-mongo.gif.icloud  file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a

[2022-10-20 09:03] SaumyaBhushan commented on #3527
hey @ZoranPandovski please assign it to me .

[2022-10-20 09:03] SaumyaBhushan commented on #3527
I would Like to work on this issue.

[2022-10-20 11:36] parthiv11 opened #3533 "[Docs]: Improve links in Report An issue Page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Describe the bug

## 📢 Additional rewards 🏆

Change the link of **contributing guidelines** and **code of conduct** on [Report An Issue](https://docs.mindsdb.com/contribute/issues/) Page In Documentation

Each documentation PR brings 1️⃣ : point and entry into the draw for a 👇 :

-  💻 [Razer

[2022-10-20 12:16] Sarveshk76 commented on #3520
Can I work on it ?

[2022-10-20 12:17] Sarveshk76 commented on #3519
Can I work on it?

[2022-10-20 13:16] ea-rus commented on #2493
#2471

[2022-10-20 13:18] #2493 closed

[2022-10-20 13:22] ea-rus commented on #2494
Issue without description. I don't remember what is wrong with result. We should fill it with description or close it.

[2022-10-20 13:22] ea-rus commented on #2591
we can close it.

[2022-10-20 13:24] #2591 closed

[2022-10-20 13:44] martyna-mindsdb commented on #3520
@Sarveshk76
Sure. I assign you to this issue, so you can start working on it.

[2022-10-20 13:45] martyna-mindsdb commented on #3519
@Sarveshk76
I have just assigned you to issue #3520.

[2022-10-20 13:50] #2893 closed

[2022-10-20 13:51] ea-rus commented on #2827
on aplha

[2022-10-20 14:56] ZoranPandovski commented on #3504
@ayushthe1 not sure, you can re search I am sure there are a lot of tutorials you can follow. @thisisamish Feel free to make a PR

[2022-10-20 14:56] #3486 closed

[2022-10-20 14:57] ZoranPandovski commented on #3389
Hey @yagueto MindsDB SQL Editor is only for SQL commands, for mongo you need to use mongo-client or mongo compass

[2022-10-20 14:57] ZoranPandovski commented on #3219
Hey @yagueto MindsDB SQL Editor is only for SQL commands, for mongo you need to use mongo-client or mongo compass

[2022-10-20 14:58] ZoranPandovski commented on #3458
@GloriaOkeke Feel free to make a PR :)

[2022-10-20 15:08] ZoranPandovski commented on #3325
Can you provide schema value?

[2022-10-20 15:10] MathurAditya724 commented on #3519
Seems interesting, would like to work on it. Can you assign this to me?

[2022-10-20 15:15] ZoranPandovski commented on #3325
The schema name you have in Hana

[2022-10-20 15:19] #3533 closed

[2022-10-20 15:27] parthiv11 opened #3536 "[New Integration]:😍😍 Integration with EdgeLessDB"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

[EdgelessDB](https://edgeless.systems/products/edgelessdb) is an open-source MySQL-compatible database for [confidential computing](https://confidentialcomputing.io/). EdgelessDB runs entirely inside runtime-encrypted Intel SGX enclaves. In contrast to other databases, EdgelessDB ensures that all

[2022-10-20 15:37] yagueto commented on #3389
Ah, okay 🙃

[2022-10-20 17:42] martyna-mindsdb opened #3537 "[Mongo] Tutorial to Predict the Energy Usage using MongoDB"
## Task Description
Create a predictor to predict household energy usage based on historical data **using MongoDB**.

Use the `D202.csv` dataset available at https://www.kaggle.com/datasets/jaganadhg/house-hold-energy-data.

Feel free to create either an article or a video tutorial!

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three: points and entry into the draw for a  :p

[2022-10-20 17:45] martyna-mindsdb opened #3538 "[Mongo] Tutorial to Predict Gold Prices using MongoDB"
## Task Description
Create a predictor to predict gold prices based on historical data **using MongoDB**.

Use the `gold_price_data.csv` dataset available at https://www.kaggle.com/datasets/arashnic/learn-time-series-forecasting-from-gold-price.

Feel free to create either an article or a video tutorial!

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :three: points and entry i

[2022-10-20 18:22] GloriaOkeke commented on #3458
Alright, thank you @ZoranPandovski

[2022-10-20 18:39] parthiv11 opened #3540 "[New Integration]: 🌟🪨Integration With StarRocks"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

StarRocks is the next-generation data platform designed to make data-intensive real-time analytics fast and easy. It delivers query speeds 5 to 10 times faster than other popular solutions. StarRocks can perform real-time analytics well while updating historical records. It can also enhance real-

[2022-10-20 18:39] #3517 closed

[2022-10-20 18:43] chandrevdw31 opened #3541 "Share your experience with MindsDB :green_heart: on Twitter"
### What

In this issue, you have to write about MindsDB on Twitter:

-  One Twitter Thread

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on Twitter as well.

Twitter: https://twitter.com/MindsDB

[2022-10-20 18:47] chandrevdw31 opened #3543 "Share your experience with MindsDB :green_heart: on Facebook"
**What**

In this issue, you have to write about us on Facebook:

 -  One Facebook Post

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on Facebook as well.

Facebook: https://www.facebook.com/Mind

[2022-10-20 18:51] chandrevdw31 opened #3544 "Share your experience with MindsDB :green_heart: on LinkedIn"
### What

In this issue, you have to write about us on LinkedIn:

  -  One LinkedIn Post

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on LinkedIn as well.

LinkedIn: https://www.linkedin.com/com

[2022-10-20 19:52] ZoranPandovski opened #3546 "[Docs] Remove old datasources assets (mongo-ds.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mongo-ds.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/mongo/mongo-ds.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :

[2022-10-20 20:10] dishantzaveri commented on #3541
@ZoranPandovski please assign this to me

[2022-10-20 20:10] dishantzaveri commented on #3544
@ZoranPandovski please assign this to me

[2022-10-20 20:10] dishantzaveri commented on #3543
@ZoranPandovski please assign this to me

[2022-10-20 20:37] dissyulina commented on #3546
Hi @ZoranPandovski , I've finished the task. I also noticed in the issues section that  you don't usually assign people (is it right?), and I didn't find any explanation in your contributing.md that I have to be assigned first before making a PR. So here it goes.. I'm making a PR. I hope I hope you don't mind. If there's something that is not aligned with what you wanted, please let me know. Thank

[2022-10-20 23:35] dahjah commented on #3246
I'll be running a manual QA on the [home_rentals dataset.](https://s3.eu-west-2.amazonaws.com/mindsdb-example-data/home_rentals.csv)

[2022-10-21 04:37] AyushK-101 commented on #3167
No actually, will be busy for a few days, please assign it to someone else

[2022-10-21 05:04] talkshrey commented on #3291
I chose Postgresql as my database but am having trouble uploading csv files there, is there other database you would recommend?

[2022-10-21 05:09] frostless opened #3551 "[Bug]:Cannot integrate MSSQL with Mindsdb run in docker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If I run Mindsdb inside docker and then run the integration command I will get an error
`Can't connect to db: (20009, b'DB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (localhost)\nNet-Lib error during Connection refused (111)\nDB-L

[2022-10-21 07:20] chandrevdw31 opened #3553 "[Video] How to integrate MindsDB to MongoDB"
### Task Description

Create a video tutorial about how to integrate MindsDB to MongoDB

Follow this tutorial https://dev.to/ephraimx/mindsdb-mongodb-how-it-works-2n91

**Add hashtags #machinelearning, #ai, #mindsdb and #hacktoberfest to your video when uploading it to youtube.**

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-kit

**Basic requirements:*

[2022-10-21 07:21] chandrevdw31 opened #3554 "[Video] Timeseries tutorial - House Sales"
### Task Description

Create a video tutorial about how to predict House Sales

Must include

- Create a database connection
- Create a time series predictor.
- Make a prediction.

Reference: https://docs.mindsdb.com/sql/tutorials/house-sales-forecasting/

**Add hashtags #machinelearning, #ai, #mindsdb and #hacktoberfest to your video when uploading it to youtube.**

### For colours, fonts, images

[2022-10-21 07:23] chandrevdw31 opened #3555 "[Video] Time series tutorial- Brain activity"
### Task Description

Create a video tutorial about predicting Brain activity using a time series model.

Must include

- Create a database connection
- Create a time series predictor.
- Make a prediction.

Reference: https://docs.mindsdb.com/sql/tutorials/eeg-forecasting/

**Add hashtags #machinelearning, #ai, #mindsdb to your video when uploading it to youtube.**

### For colours, fonts, images

[2022-10-21 07:24] chandrevdw31 opened #3556 "[Video] Regression tutorial - Home Rentals"
### Task Description

Create a video tutorial about predicting home rentals using a regression model.

Must include

- Create a database connection
- Create a regression predictor.
- Make a prediction.

Reference: https://docs.mindsdb.com/sql/tutorials/home-rentals/

**Add hashtags #machinelearning, #ai, #mindsdb and #hacktoberfest to your video when uploading it to youtube.**

### For colours, fo

[2022-10-21 07:25] chandrevdw31 opened #3557 "[Video] Classification tutorial- Heart Disease"
### Task Description

Create a video tutorial about predicting heart disease using a classification model.

Must include

- Create a database connection
- Create a classification predictor.
- Make a prediction.

**Add hashtags #machinelearning, #ai, #mindsdb and #hacktoberfest to your video when uploading it to youtube.**

### For colours, fonts, images and logos to be used be check out https://mi

[2022-10-21 07:26] chandrevdw31 opened #3558 "[Video] Connecting MindsDB to Tableau"
### Task Description

Create a video tutorial about connecting MindsDB to Tableau and visualizing results.

Follow this tutorial https://dev.to/ephraimx/how-to-visualize-mindsdb-predictions-with-tableau-2bpd

**Add hashtags #machinelearning, #ai, #mindsdb and #hacktoberfest to your video when uploading it to youtube.**

### For colours, fonts, images and logos to be used be check out https://minds

[2022-10-21 07:28] chandrevdw31 opened #3559 "[Video] CREATE Predictor with USING statement-Cement Manufacturing Dataset(Civil Engineering)"
### Task Description

Create a video tutorial on predicting cement manufacturing with the CREATE Predictor with USING statement.

Use the dataset `concrete.csv` available at https://www.kaggle.com/datasets/vinayakshanawad/cement-manufacturing-concrete-dataset

References:https://docs.mindsdb.com/sql/create/predictor/

**Add hashtags #machinelearning, #ai, #mindsdb and #hacktoberfest to your video

[2022-10-21 07:29] Artemis6969 commented on #3559
@chandrevdw31 could you assign me to this please?

[2022-10-21 07:29] chandrevdw31 opened #3560 "[Video] Create View Statement"
### Task Description

Create a video tutorial about CREATE VIEW statement with the Chicago taxi trips dataset.

Use the dataset `chicago_taxi_trips_2016_01.csv` available at[ https://www.kaggle.com/datasets/chicago/chicago-taxi-rides-2016](https://www.kaggle.com/datasets/chicago/chicago-taxi-rides-2016)

**Add hashtags #machinelearning, #ai, #mindsdb and #hacktoberfest to your video when uploading

[2022-10-21 07:31] chandrevdw31 opened #3561 "[Video] Visualize prediction results in Tableau"
### Task Description

Create a video tutorial on predicting hourly Electricity demand in the United States and visualize results in Tableau.

Use the dataset D`emand for United States Lower 48 (region) hourly - UCT- time.csv` available[ here](https://www.kaggle.com/datasets/paolodelia/hourly-electricity-demand-and-production-us?select=Demand+for+United+States+Lower+48+%28region%29+hourly+-+UTC+tim

[2022-10-21 07:32] chandrevdw31 opened #3562 "[Video] Solve Timeseries problem in Python with MindsDB"
### Task Description

Create a video tutorial about solving a time series problem in python using Mindsdb

Reference:https://lightwood.io/tutorials/tutorial_time_series/tutorial_time_series.html

Use the dataset Detecting Anomalies(semiconductor) in Wafer Manufacturing available at https://www.kaggle.com/datasets/arbazkhan971/anomaly-detection

Train with data from the `Train.csv`
Test with data f

[2022-10-21 07:34] chandrevdw31 opened #3563 "[Tutorial] Detecting Anomalies(semiconductor) in Wafer Manufacturing"
### Task Descrition

Write a tutorial about solving a time series problem in python using Mindsdb

Reference:https://lightwood.io/tutorials/tutorial_time_series/tutorial_time_series.html

Use the dataset Detecting Anomalies(semiconductor) in Wafer Manufacturing available at https://www.kaggle.com/datasets/arbazkhan971/anomaly-detection

Train with data from the `Train.csv`
Test with data from data

[2022-10-21 07:35] chandrevdw31 commented on #3543
@dishantzaveri hey anyone can do this,no need to be assigned

[2022-10-21 09:10] StarTrooper08 commented on #3508
When we are using a handler what IP should be entered in the host parameter?

[2022-10-21 10:36] #3546 closed

[2022-10-21 11:47] ZoranPandovski commented on #3274
I've sent you a message, let's discuss there and we can post the update here

[2022-10-21 11:50] ZoranPandovski commented on #3551
The required dependency should be `pymssql` which we are already installing in the container https://github.com/mindsdb/mindsdb/blob/staging/docker/mindsdb.Dockerfile#L16. Where are you hosting mssql, maybe it is networking issues for containers?

[2022-10-21 11:58] ZoranPandovski commented on #3508
The hostname or the ip of the machine where you host the db

[2022-10-21 12:36] #3527 closed

[2022-10-21 12:37] ZoranPandovski opened #3568 "[Integration] Implement handler for Materialize"
Add the support for https://materialize.com/. To start check out the [Build new integration docs](https://docs.mindsdb.com/contribute/integrations/)

## :loudspeaker: Additional rewards :trophy:

Each integration brings :five:  points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](https://www.razer.com/hard-bundles/Razer-Blade-15-Bundle-V5-Essential/RZHB-2209

[2022-10-21 12:39] ZoranPandovski opened #3569 "[Integration] Implement handler for Rockset(real-time analytics database)"
Add the support for https://rockset.com/. To start check out the [Build new integration docs](https://docs.mindsdb.com/contribute/integrations/)

## :loudspeaker: Additional rewards :trophy:

Each integration brings :five:  points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](https://www.razer.com/hard-bundles/Razer-Blade-15-Bundle-V5-Essential/RZHB-220912-1

[2022-10-21 13:07] ZoranPandovski commented on #3287
Can we convert this to video tutorial ? @alissatroiano

[2022-10-21 13:07] #3287 closed

[2022-10-21 13:08] #3233 closed

[2022-10-21 13:30] Tes-program commented on #3537
I will do this, please. Thank you

[2022-10-21 13:33] #3501 closed

[2022-10-21 13:36] Tes-program commented on #3378
@ZoranPandovski @chandrevdw31  Can I use another dataset for this article? The one from Kaggle has a lot of blank rows and won't be ideal for training a model. https://www.kaggle.com/datasets/imdevskp/corona-virus-report?select=worldometer_data.csv I will be using the `worldometer_data.csv`

[2022-10-21 14:06] ZoranPandovski opened #3571 "[Docs] Remove old mongo assets (find-predictors.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `find-predictors.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/mongo/find-predictors.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :

[2022-10-21 14:07] rajivmehtaflex opened #3572 "[New Integration]: Integration with docarray part of jina.ai open source eco-system"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

There is various reason for this integration.
Mindsdb provide extraordinary support in create metadata. Metadata is a concept that associate dictionary with vector search. For e.g. on any ecommerce site if you search on domain (e.g. Electronics gadget  ).Search result will show general informatio

[2022-10-21 14:33] Tes-program commented on #3569
I will like to do this. Thank you.

[2022-10-21 14:39] Tes-program commented on #3378
` Exception: Encoded tensor: tensor([  0., -20.,  nan]) contains nan or inf values, this tensor is                                       the encoding of column Total_Deaths using <class 'lightwood.encoder.numeric.numeric.NumericEncoder'>, raised at: /usr/local/lib/python3.8/dist-packages/mindsdb/integrations/handlers/lightwood_handler/lightwood_handler/functions.py#142 ` This is the error i get wh

[2022-10-21 15:04] bachng2017 commented on #3213
cool ! our manual test with staging lightwood/staging mindsdb showed that the issue has been solved !

[2022-10-21 15:43] tomhuds commented on #3497
Ref
https://mindsdb.slack.com/archives/C027S7MHU49/p1666176969508509

The actual bug here may be that there is an anomaly flag when there is no actual true value. But let me check, because it could be that we decided this and just didn’t document it :stuck_out_tongue:

[2022-10-21 15:44] Ricram2 commented on #2981
Fixed, closing. Please feel free to reopen if it doesn't work @bachng2017

[2022-10-21 15:44] #2981 closed

[2022-10-21 15:54] Ricram2 commented on #2267
@chandrevdw31, Would you mind testing this one out?

[2022-10-21 16:02] Ricram2 commented on #3041
@chandrevdw31 Would you mind testing this case, and closing if it works?

[2022-10-21 16:14] Ricram2 commented on #3234
@paxcema any insights on this issue ? :)

[2022-10-21 16:16] Ricram2 commented on #3038
Hi @vedmed85, I was looking into this, would you mind proving us with more context? What are you trying to achieve on Dbeaver?

[2022-10-21 16:18] Ricram2 commented on #2905
Hi @delykj, any updates on this, are you still getting this error ?

[2022-10-21 16:19] Ricram2 commented on #2896
@erickp1 We are wondering if you managed to get this working, :) let us know :)

[2022-10-21 16:20] daniel-shuy commented on #3273
Since Aerospike is a NoSQL database like MongoDB, should the integration use SQL and map it to Aerospike queries (like what the Aerospike JDBC driver does), or introduce a new API like the Mongo API (which would be a gargantuan task)?

[2022-10-21 18:14] #3479 closed

[2022-10-21 18:16] #3571 closed

[2022-10-21 18:44] parthiv11 opened #3580 "[New Integration]: 📊📈 📉 Integration With Lightdash"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

**Lightdash is opensource alternative of looker.It will help to visualize Data and get insights of it.**

![image](https://user-images.githubusercontent.com/75653580/197267350-4e45dfca-a3f7-4861-b90d-dab564218f29.png)

### Motivation

## Features:

- [x] 🙏 Familiar interface for your users to sel

[2022-10-21 18:45] parthiv11 commented on #3580
@ZoranPandovski  Check this issues

[2022-10-21 18:57] ea-rus commented on #3498
=latest is working fine

Bug with using of select from view with alias

[2022-10-21 19:01] parthiv11 opened #3584 "[New Integration]:🐦🦩 Integration with OrioleDB"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

[OrioleDB ](https://github.com/orioledb/orioledb)is a new storage engine for PostgreSQL, bringing a modern approach to database capacity, capabilities and performance to the world's most-loved database platform.

[OrioleDB ](https://github.com/orioledb/orioledb)consists of an extension, building

[2022-10-21 19:10] parthiv11 opened #3585 "[New Integration]:👽 👽 Integration With DOmo"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Connect, process, and access data at scale seamlessly and dynamically using [Domo’s](https://developer.domo.com/) flexible open data platform.

### Motivation

It can help to easily get data from [domo ](https://developer.domo.com/)platform

### Implementation

_No response_

### Anything else?

[2022-10-21 19:16] parthiv11 opened #3586 "[New Integration]: 😎😎 Integration With Vitness"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

[Vitess ](https://vitess.io/)is a database clustering system for horizontal scaling of MySQL through generalized sharding.

By encapsulating shard-routing logic, Vitess allows application code and database queries to remain agnostic to the distribution of data onto multiple shards. With Vitess, y

[2022-10-21 19:17] ea-rus commented on #3498
When it will be updated on alpha it would be possible:
![image](https://user-images.githubusercontent.com/8502631/197272612-b88a6683-b60f-47ce-a8e0-d0de37ab2cba.png)

[2022-10-21 19:24] alissatroiano commented on #3287
Yes definitely - I'd be happy to do it @ZoranPandovski

[2022-10-21 19:49] paxcema commented on #3234
@Ricram2 Yes, with the kind help of @bachng2017 we've solved this via [mindsdb/lightwood#1022](https://github.com/mindsdb/lightwood/pull/1022) and [mindsdb/lightwood#1025](https://github.com/mindsdb/lightwood/pull/1025).

Also, once a proper fix makes it into the `StatsForecast` integration in `sktime`, we can disable the workaround.

[2022-10-21 19:51] #3234 closed

[2022-10-21 19:51] #3213 closed

[2022-10-21 20:13] alissatroiano commented on #3553
Thank you for including the brand kit! @chandrevdw31

[2022-10-22 00:32] frostless commented on #3551
I tried both hosted the sql server instance locally inside and outside a docker, but neither worked when integrated with dockered mindsdb.

I also suspected it was a network issue so I tried enabling tcp/ip and firewall as suggested from the Net but it was also not working.

When mindsdb run outside a docker though, I can do the integration with sql server instance run locally inside or outside th

[2022-10-22 00:43] GloriaOkeke commented on #3458
Hi @ZoranPandovski I'm done with PR
#3592 I updated the tutorials.md file with link to the blog post on MindsDB. Kindly review and merge with hacktoberfest label.

[2022-10-22 08:06] Kordedekehine commented on #3544
I think i should handle this

[2022-10-22 09:53] ZoranPandovski opened #3595 "[Docs] Remove old mongo assets (mongo.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mongo.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/mongo/mongo.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :co

[2022-10-22 10:00] rtewari056 commented on #3595
@ZoranPandovski Can I work on this?

[2022-10-22 10:23] StarTrooper08 commented on #3595
https://github.com/mindsdb/mindsdb/pull/3597

[2022-10-22 12:06] #3544 closed

[2022-10-22 12:20] rtewari056 commented on #3595
@ZoranPandovski Kindly assign me

[2022-10-22 15:26] ZoranPandovski opened #3603 "[Docs] Remove old docs assets (mysql-ds.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mysql-ds.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/data/mysql-ds.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :co

[2022-10-22 15:32] martyna-mindsdb opened #3604 "Share your experience with MindsDB on LinkedIn"

[2022-10-22 15:32] martyna-mindsdb opened #3605 "Share your experience with MindsDB on Twitter"
# What
In this issue, you have to write about MindsDB on Twitter:

- One Twitter Thread

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on Twitter as well.

Twitter: https://twitter.com/MindsDB

#

[2022-10-22 15:32] martyna-mindsdb opened #3606 "Share your experience with MindsDB on Facebook"

[2022-10-22 15:41] thechangamunda commented on #3603
Assign this to me

[2022-10-22 16:13] StarTrooper08 commented on #3508
Do we have to do some configuration on a local server to connect it remotely?

[2022-10-22 16:13] StarTrooper08 commented on #3508
I'm unable to connect local server

[2022-10-22 16:24] tushar-sublaik commented on #3502
Hello @ZoranPandovski can I work on this issue .

[2022-10-22 17:53] ZoranPandovski opened #3608 "[Manual QA] Test Oracle Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Oracle Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a s

[2022-10-22 17:54] ZoranPandovski opened #3609 "[Manual QA] Test Microsoft Access Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Microsoft Access Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please

[2022-10-22 17:55] ZoranPandovski opened #3610 "[Manual QA] Test Airtable Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Airtable Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-22 18:24] parthiv11 commented on #3568
@ZoranPandovski  I can work on this.

How it should be tested??

[2022-10-22 18:29] MinuraPunchihewa commented on #2851
@ZoranPandovski I would like to take this up!

[2022-10-22 18:44] ZoranPandovski opened #3611 "[Integration] Implement handler for Planetscale"
Add the support for https://planetscale.com/. Planetscale is MySQL compatible so it will be pretty easy, just extend the current MySQLHandler.
To start check out the [Build new integration docs](https://docs.mindsdb.com/contribute/integrations/)

## :loudspeaker: Additional rewards :trophy:

Each integration brings :five:  points and entry into the draw for a  :point_down: :

-  :computer:  [Razer

[2022-10-22 18:48] ZoranPandovski opened #3612 "[Docs] Remove old info assets (selectm.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `selectm.png` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/info/selectm.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :comp

[2022-10-22 18:57] StarTrooper08 commented on #3612
Can I work on this issue?

[2022-10-22 19:55] StarTrooper08 commented on #3508
Did you create a Mysql instance on AWS Sayyed-Salman?
Do you know how to connect mysql local server with mindsdb

[2022-10-22 20:09] hridaya423 opened #3616 "I want to add my blog"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I want to add my blog: https://dev.to/learnearnfun/quickstart-to-mindsdb-1ifm

### Describe the solution you'd like.

It's a quickstart guide to MindsDB

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

[2022-10-22 20:36] ZoranPandovski commented on #3616
Please dont post an issue for this, just submit your blog to community articles

[2022-10-22 20:36] #3616 closed

[2022-10-22 20:43] hridaya423 opened #3618 "I want to add my video tutorial"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I want to add my vid tutorial: https://youtu.be/sCUQ-yZkqUY

### Describe the solution you'd like.

It's a quickstart guide to MindsDB

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-10-22 21:19] #3618 closed

[2022-10-23 00:11] alissatroiano commented on #3458
Oh no, I didn't realize this issue was closed. Can we still submit a video/PR for this one? @ZoranPandovski @chandrevdw31

[2022-10-23 09:36] #3376 closed

[2022-10-23 09:37] #3381 closed

[2022-10-23 09:51] #3295 closed

[2022-10-23 09:57] #3561 closed

[2022-10-23 10:03] #3612 closed

[2022-10-23 10:09] ZoranPandovski opened #3630 "[Integration] Implement handler for Ocanbase Database"
Add the support for https://github.com/oceanbase/oceanbase. Oceanbaseis is highly compatible with MySQL syntax and features.
To start check out the [Build new integration docs](https://docs.mindsdb.com/contribute/integrations/)

## :loudspeaker: Additional rewards :trophy:

Each integration brings :five:  points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](

[2022-10-23 10:10] #3595 closed

[2022-10-23 10:18] ZoranPandovski opened #3631 "[Manual QA] Test Firebird Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Firebird Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-23 10:19] ZoranPandovski opened #3632 "[Manual QA] Test Datastax Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Datastax Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-23 10:36] nooras commented on #3410
HI @ZoranPandovski
I couldn't find any python clients for Sanity.
https://www.sanity.io/docs/client-libraries
There is client lib present for Js, Php, .net, etc. Let me know what is next step. Thanks

[2022-10-23 11:00] parthiv11 commented on #3611
I can do it , if anyone dont want to.

@ZoranPandovski

[2022-10-23 11:38] aryabyte21 commented on #3632
Hey I would like to contribute, could you please assign this issue to me?

[2022-10-23 11:49] aryabyte21 commented on #3632
## Testing Datastax Handler with [Dataset Name](URL to the Dataset)

1. Testing CREATE DATABASE 💚
[code]
![CREATE_DATABASE](https://user-images.githubusercontent.com/60646682/197390124-a7861a85-b3f8-48bd-bf2b-9b0ee625a17a.png)

2. Testing CREATE PREDICTOR 💚
[code]

![CREATE_PREDICTOR](https://user-images.githubusercontent.com/60646682/197390227-bf6281a5-8def-4389-a128-9a4f378ffe33.png)

3. Testing

[2022-10-23 13:51] nooras commented on #3632
@aryabyte21 need to use astra db-Datastax I think

[2022-10-23 13:54] nooras commented on #3632
Hi @ZoranPandovski

I am trying to create db but i am getting error. I even started server in local and given path of zip file for secure_connection_bundle

![image](https://user-images.githubusercontent.com/30138146/197396160-6645909a-45a4-462a-b75c-60e9385ecf2b.png)
Can you please help me how can i add the path of zip file. Thanks

[2022-10-23 15:26] ZoranPandovski opened #3635 "[Docs] Remove old info charts (sqft-price.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `sqft-price.png` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/info/sqft-price.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-

[2022-10-23 16:17] yashvarshney003 commented on #3518
@martyna-mindsdb This task in progress. I am stuck with some steps.

[2022-10-23 20:10] alissatroiano opened #3638 "[New Integration]: Blockchain.com"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

The Blockchain Exchange API is a simple, plain text API for querying blockchain data (such as hash rate, difficulty, block height and more). With this API, you can receive current market data that, if integrated with MindsDB, could be used to create forecasts and insights about the blockchain mar

[2022-10-23 20:24] alissatroiano opened #3639 "[New Integration]: Integrate with H20.ai ML Framework"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

H2O is an open-source ML framework developed to cater to organizations in their decision support system processes. H2O.ai's mission is to democratize AI for everyone, including financial services, insurance, healthcare, telco, retail, pharmaceuticals, and marketing.

H2O is prevalent in the risk

[2022-10-23 22:39] alissatroiano commented on #3611
Hey do we have to be assigned to the integration issues? If so, I'll take this one

[2022-10-24 05:10] syedzubeen commented on #3557
@ZoranPandovski / @chandrevdw31
Is there a pull request to be raised somewhere once this issue is done?

[2022-10-24 08:08] parthiv11 commented on #3611
@ZoranPandovski Assign this to @alissatroiano  as she wants to work on it

[2022-10-24 08:47] chandrevdw31 opened #3642 "[Tutorial] Determine droughts with Soil and Weather dataset-Time series"
### Task Description

Write a tutorial on predicting droughts using Soil and Weather data.

The dataset is available at https://www.kaggle.com/datasets/cdminix/us-drought-meteorological-data.

Train with `train_timeseries.csv`

Test with `test_timeseries.csv`

Replace blank values with 0 as this is classified as no drought.

For colours, fonts, images and logos to be used be check out https://mind

[2022-10-24 08:50] chandrevdw31 opened #3643 "[Tutorial] Environment Impact of Food Production"
### Task Descrition

Write a tutorial on the environment impact of Food Production by predicting CO2 emmisions.

Use the dataset `Food_Production.csv` available at https://www.kaggle.com/datasets/selfvivek/environment-impact-of-food-production.

Predict `Total_emissions`

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-kit

Tag your post with the hastags

[2022-10-24 08:53] chandrevdw31 opened #3644 "[Tutorial] Honey Production in the USA- Timeseries"
### Task Description

Write a tutorial on predicting honey production.

Use the dataset `honeyproduction 1998-2021.csv` available at https://www.kaggle.com/datasets/jessicali9530/honey-production

Predict `totalprod`

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-kit

Tag your post with the hastags #mindsdb and #hacktoberfest.

**Basic requirements:**

[2022-10-24 08:57] chandrevdw31 opened #3645 "[Tutorial]Deforestation- Amazon Rainforest Degradation 1999-2019"
### Task Description

Write a tutorial on Amazon rainforest degradation by predicting deforestation.

Use the dataset `def_area_2004_2019.csv` available at https://www.kaggle.com/datasets/mbogernetto/brazilian-amazon-rainforest-degradation

Predict the Sum of deforested area in Brazil (km²) - `AMZ LEGAL`

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-ki

[2022-10-24 09:00] chandrevdw31 opened #3646 "[Tutorial] Forest fires- Amazon Rainforest Degradation 1999-2019"
### Task description

Write a tutorial on Amazon Rainforest Degradation by predicting forest fires.

Use the dataset `inpe_brazilian_amazon_fires_1999_2019.csv` available here https://www.kaggle.com/datasets/mbogernetto/brazilian-amazon-rainforest-degradation?select=inpe_brazilian_amazon_fires_1999_2019.csv

Predict the Number of forest fire outbreaks - `firespots`

### For colours, fonts, images

[2022-10-24 09:05] chandrevdw31 opened #3647 "[Tutorial]Access to electricity (% of population) World - Visualize in MindsDB Insights"
### Task Description

Write a tutorial on predicting the percentage that countries have access to electricity and visualize results in MindsDB Insights.

Dataset is available at https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS?locations=1W&start=1998&view=chart

Download the CSV file

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-kit

Tag your post w

[2022-10-24 09:10] chandrevdw31 opened #3648 "[Tutorial] Municipal Debt Risk Analysis"
### Task Description

Write a tutorial on predicting the Risk Analysis of accounts developing into bad debt.

Use the dataset `MunicipalDebtAnalysis.csv` available at https://www.kaggle.com/datasets/dmsconsultingsa/municipal-debt-risk-analysis

Predict `baddebt`

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-kit

Tag your post with the hastags #mindsdb

[2022-10-24 09:12] chandrevdw31 opened #3649 "[Tutorial] U.S. Billion-dollar Weather and Climate Disasters"
### Task Decsription

Write a tutorial on predicting the cost impact of Weather and Climate disasters.

Use the dataset `events-US-1980-2021.csv` available at https://www.kaggle.com/datasets/christinezinkand/us-billiondollar-weather-and-climate-disasters

 Predict the Adjusted Cost of disaster - `CPI`

**Convert dates to datetype.**

### For colours, fonts, images and logos to be used be check out

[2022-10-24 09:54] rfsiten commented on #2959
### **pr sent, [3650](https://github.com/mindsdb/mindsdb/pull/3650)**

[2022-10-24 11:18] martyna-mindsdb commented on #3518
@yashvarshney003
Please have a look at our [Mongo API docs here](https://docs.mindsdb.com/mongo/collection-structure/).
Also, this tutorial is a classification prediction, so have a look at our [tutorial here](https://docs.mindsdb.com/sql/tutorials/customer-churn/).

[2022-10-24 11:47] martyna-mindsdb opened #3652 "[Bug]: Cannot query predictions from a predictor joined with a view"
I create views and predictors using the queries below.
But when trying to join a view with a predictor, I get an error `Can not find appropriate table for column model`. Please see the screenshot (below queries).

[code]

![image](https://user-images.githubusercontent.com/109554435/197518994-3a7e2fa1-8fe8-4c39-8dcc-ff9a2c5d5743.png)

[2022-10-24 12:09] tomhuds commented on #3652
[code]

[2022-10-24 13:11] shrey2003 commented on #3608
Please assign me this issue @ZoranPandovski

[2022-10-24 13:12] shrey2003 commented on #3609
Please assign me this issue @ZoranPandovski

[2022-10-24 13:13] shrey2003 commented on #3610
Please assign me this issue @ZoranPandovski

[2022-10-24 13:13] ea-rus commented on #3268
About problem making predictions
This query is working on cloud and locally

[code]
Predictor was created with upper case fields.
![image](https://user-images.githubusercontent.com/8502631/197533597-e945e2a5-cd12-4d21-bb0b-ed45a0673023.png)

[2022-10-24 13:17] shrey2003 commented on #3505
Please assign me this issue @ZoranPandovski

[2022-10-24 13:21] chandrevdw31 commented on #3610
@shrey2003 this is open to everyone to do

[2022-10-24 13:21] shrey2003 commented on #3610
Ok

[2022-10-24 13:22] ea-rus commented on #3268
Checking to_predict column done in #3268

[2022-10-24 13:24] chandrevdw31 commented on #3557
You can raise the PR in the tutorial.md file which you can find here https://github.com/mindsdb/mindsdb/tree/staging/docs/mindsdb-docs/docs

[2022-10-24 13:24] ea-rus commented on #3268
Can't repeat 'Predictor stuck generating' error.
Using upper case creates predictor successfully, using lower case returns an exception

[2022-10-24 13:28] chandrevdw31 commented on #3554
@NarayanAdithya you can go ahead and start with this

[2022-10-24 13:40] Rutam21 commented on #3448
@chandrevdw31 You can assign this to me.

[2022-10-24 13:55] ea-rus commented on #3652
#3582

https://github.com/mindsdb/mindsdb/issues/3498#issuecomment-1287347238

[2022-10-24 14:53] tomhuds commented on #3268
Awesome - an error message works!

[2022-10-24 14:53] #3268 closed

[2022-10-24 14:59] NarayanAdithya commented on #3554
@chandrevdw31  Hey, I created the tutorial, made the PR too, Do check it out

Link: https://youtu.be/WCBLotgskZg

[2022-10-24 16:19] tomhuds opened #3657 "Predictions made with incomplete input variables give predictions that are way off"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

e.g. true prices with these filters ~ $13,000
![image](https://user-images.githubusercontent.com/34073127/197575048-73ef4414-8436-4ad4-b678-e328d5785bb9.png)

-- predicted price is $41,999 when only model, year, transmission, fueltype, mileage are

[2022-10-24 16:27] paxcema commented on #3657
Can you also post the `JsonAI` of this particular predictor? I suspect it may be mixer-specific.

[2022-10-24 16:37] tomhuds commented on #3657
No JsonAI, but here's the ensemble extract:
[export (8).csv](https://github.com/mindsdb/mindsdb/files/9853435/export.8.csv)

And the mixer:
![image](https://user-images.githubusercontent.com/34073127/197578795-e1923fe1-86a9-4e37-a218-d367e419cb0d.png)

[2022-10-24 16:39] tomhuds commented on #3657
And the column importance etc. Looks like mpg is a biggie, which could help explain the inaccuracy (since it is missing)

[export (9).csv](https://github.com/mindsdb/mindsdb/files/9853555/export.9.csv)

[2022-10-24 18:35] paxcema commented on #3497
Also see [lightwood#987](https://github.com/mindsdb/lightwood/issues/987)

[2022-10-25 03:37] akhildevelops commented on #3611
Hi @ZoranPandovski  gave a PR for this issue. Pls review.

[2022-10-25 05:28] NarayanAdithya commented on #3644
@chandrevdw31 Can you create an Issue for [Video Tutorial] For the same , I have done both:

Video Tutorial - https://youtu.be/9XM8skrYS6Q
Tutorial Article - https://dev.to/narayanadithya/using-mindsdb-for-time-series-forecasting-honey-production-in-the-usa-4p05

[2022-10-25 08:09] chandrevdw31 commented on #3644
@NarayanAdithya good job, will do. Please post video in the Slack Channel aswell

[2022-10-25 08:10] chandrevdw31 opened #3668 "[Video] Predict Honey Production"
### Task Description

Create a video tutorial on predicting honey production.

Use the dataset `honeyproduction 1998-2021.csv` available at https://www.kaggle.com/datasets/jessicali9530/honey-production

Predict `totalprod`

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-kit

Tag your post with the hastags #mindsdb and #hacktoberfest.

**Basic requiremen

[2022-10-25 08:10] chandrevdw31 commented on #3668
@NarayanAdithya

[2022-10-25 09:17] NarayanAdithya commented on #3668
@chandrevdw31  I have made the pull requests

Please check them out and merge them:

https://github.com/mindsdb/mindsdb/pull/3669

https://github.com/mindsdb/mindsdb/pull/3667

https://github.com/mindsdb/mindsdb/pull/3654

[2022-10-25 09:22] akhildevelops commented on #3375
Hi @chandrevdw31 Made a video on connecting and loading data from postgres database to mindsdb.

[2022-10-25 10:36] #3373 closed

[2022-10-25 10:38] ZoranPandovski commented on #3410
Oh that's strange, maybe we can directly use the API's

[2022-10-25 10:50] #3644 closed

[2022-10-25 10:54] #3375 closed

[2022-10-25 11:07] ZoranPandovski commented on #3554
Please append, don't remove other videos :raised_hands:

[2022-10-25 11:09] NarayanAdithya commented on #3554
I actually fixed the issue in PR #3669 , I added the removed link and mine to the correct section.

[2022-10-25 11:12] #3668 closed

[2022-10-25 11:33] #3374 closed

[2022-10-25 12:18] #3605 closed

[2022-10-25 14:07] #2742 closed

[2022-10-25 14:12] #3584 closed

[2022-10-25 14:25] bala-ceg commented on #2958
Team,
I would like to work on this issue

[2022-10-25 15:07] ZoranPandovski commented on #3649
Sure just make a PR :) NOTE: We are not assigning this issue, multiple people can make the PRs.

[2022-10-25 16:45] tomhuds opened #3674 "Enable native queries in files using DuckDB as native language"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

https://www.loom.com/share/1d7a4970e99945adbb9158a266c93104

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

[df_b_202210251730.csv](https://github.

[2022-10-25 17:10] bala-ceg opened #3676 "[New Integration]: Integration with Atlassian Jira"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

![Atlassian Jira](https://wac-cdn.atlassian.com/dam/jcr:9e1841b9-2557-4eb2-ab47-d92428580b02/Jira%20Software@2x-blue.png)

### Atlassian Jira
Most companies use Jira as Software defect tracking tool. Each Jira defect/story has many features such as created date,closed date, summary,priority,sever

[2022-10-25 17:49] bala-ceg commented on #3676
@ZoranPandovski I would like to work on this integration.
Can you please assign this to me?

[2022-10-25 18:05] syedzubeen commented on #3371
@chandrevdw31 / @ZoranPandovski
A tutorial for this has been added. You can mark this as closed.

[2022-10-25 19:45] chandrevdw31 opened #3678 "[Tutorial] MindsDB Insights with Manufacturing Industries Production dataset"
### Task Description

Write tutorial on how to use MindsDB Insights using the manufacturing production dataset.

Use the dataset `large-scale-industries-csv.csv` available at https://www.kaggle.com/datasets/eishahassan/large-scale-manufacturing-industries-production

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

### For colours, fonts, images and logos to be used be check out http

[2022-10-25 19:46] chandrevdw31 commented on #3449
logged as new issue #3678

[2022-10-25 19:46] #3449 closed

[2022-10-25 19:47] chandrevdw31 opened #3679 "[Tutorial] Predict Diamond prices with SQL Alchemy"
### Task Description

Write tutorial about predicting Diamond prices with MindsDB using SQL Alchemy.

Use dataset `diamonds.csv` available at https://www.kaggle.com/datasets/shivam2503/diamonds

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-kit

## :loudspeaker: Additional rewards :trophy:

[2022-10-25 19:48] chandrevdw31 commented on #3447
logged as new issue  #3679

[2022-10-25 20:31] Leigh-Ola commented on #3538
I will do this. Assign it to me please

[2022-10-25 21:05] Leigh-Ola commented on #3635
Deleted

[2022-10-25 21:26] ZoranPandovski commented on #3635
recheckcla

[2022-10-26 04:10] parthiv11 opened #3682 "[New Integration]: 😎😎 Integration With Vitness"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

[Vitess ](https://vitess.io/)is a database clustering system for horizontal scaling of MySQL through generalized sharding.

By encapsulating shard-routing logic, Vitess allows application code and database queries to remain agnostic to the distribution of data onto multiple shards. With Vitess, y

[2022-10-26 04:13] parthiv11 opened #3683 "[New Integration]: 👽 👽 Integration With DOmo"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Connect, process, and access data at scale seamlessly and dynamically using [Domo’s](https://developer.domo.com/) flexible open data platform.

### Motivation

It can help to easily get data from [domo ](https://developer.domo.com/)platform

### Implementation

_No response_

### Anything else?

[2022-10-26 04:14] parthiv11 opened #3684 "[New Integration]: 🌟🪨Integration With StarRocks"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

StarRocks is the next-generation data platform designed to make data-intensive real-time analytics fast and easy. It delivers query speeds 5 to 10 times faster than other popular solutions. StarRocks can perform real-time analytics well while updating historical records. It can also enhance real-

[2022-10-26 04:15] parthiv11 opened #3685 "[New Integration]: 😍😍 Integration with EdgeLessDB"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

q

### Motivation

q

### Implementation

_No response_

### Anything else?

_No response_

[2022-10-26 04:16] parthiv11 opened #3686 "[New Integration]: ⚡ ⚡ Integration With FLAML"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

# What is FLAML ( AutoML FROM MICROSOFT )

![FLAML](https://github.com/microsoft/FLAML/raw/main/website/static/img/flaml.svg)

**FLAML** is a **_lightweight Python library_** that finds accurate machine learning models automatically, efficiently and economically. It frees users from selecting lea

[2022-10-26 04:17] parthiv11 opened #3687 "[New Integration]: 🦾🦾 Integration With AutoGluon"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

q

### Motivation

q

### Implementation

_No response_

### Anything else?

_No response_

[2022-10-26 04:19] parthiv11 opened #3688 "[New Integration]: ClicData BI integration👍👍"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

ClicData is a cloud-based business intelligence platform that lets you connect, store, manage, visualize, and share data in a simple, powerful, and intuitive way.
ClicData provides free data storage of 1 GB and unlimited dashboards in a free plan.
There Is much more in the paid plan.

Here are so

[2022-10-26 04:20] parthiv11 opened #3689 "[New Integration]: 🗳️ 🗳️ Integration with MLBox"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

MLBox is a powerful Automated Machine Learning python library. It provides the following features:

- Fast reading and distributed data preprocessing/cleaning/formatting.
- Highly robust feature selection and leak detection.
- Accurate hyper-parameter optimization in high-dimensional space.
- Sta

[2022-10-26 04:20] #2855 closed

[2022-10-26 04:20] #2335 closed

[2022-10-26 04:21] #2857 closed

[2022-10-26 04:21] #2867 closed

[2022-10-26 04:21] #3536 closed

[2022-10-26 04:22] #3540 closed

[2022-10-26 04:22] #3585 closed

[2022-10-26 04:23] #3586 closed

[2022-10-26 04:45] namanjoshi19 opened #3690 "ADDING MY TUTORIAL ON MINDS DB"
MY MINDS DB TUTORIAL VIDEO HAS BEEN PUBLISHED ON YOUTUBE
 VIDEO(https://youtu.be/KTevQsCsW4Y)

[2022-10-26 06:32] rparthas commented on #3465
I am not able to figure out why my local mindsdb is taking huge amount of time for training(2-3 hours and counting). I signed up for mindsdbcloud and was able to generate accuracy of 93%(within few mins) . Now I will have to look at creating additional features if needed.

[2022-10-26 06:51] rparthas commented on #3678
I am interested to work on this. can you assign me this issue ?

[2022-10-26 06:53] rparthas commented on #3678
I can work on this tutorial.

[2022-10-26 07:54] chandrevdw31 commented on #3690
HI @namanjoshi19 please create a pull request in the doc tutorial.md in the path https://github.com/mindsdb/mindsdb/tree/staging/docs/mindsdb-docs/docs and close this issue.

[2022-10-26 07:55] chandrevdw31 commented on #3678
@rparthas you can go ahead and start on this please

[2022-10-26 07:59] chandrevdw31 commented on #3690
@namanjoshi19 I saw your video, if you can edit the music in the video to sound lower than your voice then that will improve your video. Right now a person cant really hear what you are saying.

[2022-10-26 10:25] ianu82 opened #3693 "[CUSTOMER REQUEST] “Projects” to be visible and usable within GUI"
User’s own words:

“A menu where we can save the code and run or edit it for each project, see and manage our list of projects“

acceptance criteria:
- Be able to view projects within GUI in Cloud
- Be able to save code that is written in the GUI to a project
- Be able to edit code that has been saved to a project in the GUI
- Be able to manage a list of projects (eg delete them)

**Additional con

[2022-10-26 10:59] #3690 closed

[2022-10-26 11:09] #3558 closed

[2022-10-26 11:13] #3447 closed

[2022-10-26 11:24] #3522 closed

[2022-10-26 11:26] #3526 closed

[2022-10-26 11:43] trishnakalita660 commented on #3689
What kind of integration exactly is needed here?

[2022-10-26 11:53] ritwikranjan commented on #3323
Can you assign me this issue? I would like to contribute to it!

[2022-10-26 11:53] ZoranPandovski opened #3695 "[Docs] Remove old predictor assets (model-quality.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `model-quality.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/predictors/model-quality.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :poin

[2022-10-26 11:54] StarTrooper08 commented on #3695
i would love to work on this issue

[2022-10-26 12:01] #3251 closed

[2022-10-26 12:05] ZoranPandovski commented on #3632
@nooras Please check https://docs.mindsdb.com/sql/create/databases/#datastax

[2022-10-26 12:07] ZoranPandovski opened #3697 "Update BigQuery hanler README"
The README docs for BigQuery is outdated and the Usage example needs to be changed. The correct example should be copied from https://docs.mindsdb.com/sql/create/databases/#datastax

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :computer:  [Razer Blade 15 Laptop](https://www.razer.com/hard-bundles/Razer-Bl

[2022-10-26 12:07] Elvis020 commented on #3635
Kindly close the PR,if it's done. So that nobody takes it up

[2022-10-26 13:17] #3611 closed

[2022-10-26 13:26] ZoranPandovski commented on #3632
Can you share the command please?

[2022-10-26 13:49] StarTrooper08 opened #3699 "[Minor] Login page UI/UX update Request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

A minor change but I think it's important!
On the web editor login Page, we don't have a show and hide password toggle and I think it's useful to add and important from a UX best practices point of view.

Current
![image](https://user-images.githu

[2022-10-26 13:59] nooras commented on #3632
[code]

Clientid & secret id from https://astra.datastax.com/

[2022-10-26 14:07] Leigh-Ola commented on #3695
can I still work on this?

[2022-10-26 14:10] #3635 closed

[2022-10-26 14:11] Leigh-Ola commented on #3228
@Rutam21 I'd love to work on this, please assign it to me

[2022-10-26 14:21] Rutam21 commented on #3228
@Leigh-Ola This issue is open to all. Feel free to use a new dataset and complete the task. Thanks.

[2022-10-26 14:21] Rutam21 commented on #3697
@ZoranPandovski I would like to work on this.

[2022-10-26 14:22] Leigh-Ola commented on #3697
@ZoranPandovski please assign this to me

[2022-10-26 14:55] Leigh-Ola commented on #3697
@ZoranPandovski  I've done it, please check the pull request at #3701

[2022-10-26 15:17] Tes-program commented on #3649
Wait sorry is this is video tutorial or a article?

[2022-10-26 15:58] martyna-mindsdb commented on #3465
@ZoranPandovski
Are you familiar with cases like the one described above?

[2022-10-26 17:03] chandrevdw31 commented on #3695
@Leigh-Ola a pull request has already been done on this issue. Thank you for your interest. Feel free to check out other issues

[2022-10-26 18:05] ZoranPandovski opened #3705 "[Docs] Remove old predictor assets (train-basic.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `train-basic.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/predictors/train-basic.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_do

[2022-10-26 22:17] ZoranPandovski commented on #3649
You can do both :) Or choose one :)

[2022-10-26 22:18] ZoranPandovski commented on #3465
@rparthas Depending on your machine it could take different time. Our cloud is optimized for Machine Learning workloads so that's why the training time is way less then on your local machine.

[2022-10-26 22:19] #3695 closed

[2022-10-26 22:24] ZoranPandovski opened #3709 "[Docs] Remove old predictor assets (model-accuracy.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `model-accuracy.png` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/predictors/model-accuracy.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :po

[2022-10-26 23:19] syedzubeen commented on #3699
@StarTrooper08 Are you working on this ?

[2022-10-26 23:32] syedzubeen commented on #3632
@nooras
Where did you get the client-id and secret-id from in Datastax Astra. I was using my Datastax login credentials here.
Also what file are you giving as an argument for the parameter:

secure_connection_bundle": {               --- secure connection bundle zip file
    "path": " "                                   --- either "path" or "url"
  },

@ZoranPandovski
I am sort of running into the

[2022-10-27 01:28] alissatroiano opened #3711 "[Bug]:Broken Contact Us Link in MindsDB Cloud Editor Login Template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I click, "Contact Us" in the footer of [MindsDB Cloud Editor Login Page](https://cloud.mindsdb.com/login)
(https://cloud.mindsdb.com/login), it does not redirect me to the contact page.

### Expected Behavior

When I click, "Contact Us", I should be redirected to the Contact Us page.

##

[2022-10-27 02:09] Saumya132 commented on #3711
@alissatroiano Can I work on this ?

[2022-10-27 02:26] alissatroiano opened #3712 "[UX Design] Add Filter & Sort To mindsdb.com/integrations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I couldn't filter between data sources, database clients, notebooks and other type of integrations on, `https://mindsdb.com/integrations`

### Describe the solution you'd like.

Add filter and sort functionality to `https://mindsdb.com/integration

[2022-10-27 02:41] alissatroiano opened #3713 "[Bug]: Broken Footer Links In cloud.mindsdb.com/register"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I click on any of the links in the footer on the signup page, I am not redirected to the expected page.

### Expected Behavior

When I click on a link in the footer, I should be redirected to the corresponding web page.

### Steps To Reproduce

[code]

### Anything else?

https://user-im

[2022-10-27 02:45] alissatroiano opened #3714 "[UX Design] Provide Links to MindsDB.com on Authentication Pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I could not find a link to `mindsdb.com` from the MindsDB Cloud Editor registration pages

### Describe the solution you'd like.

Improve branding by providing links to `mindsdb.com` on the cloud account registration templates in the following pla

[2022-10-27 03:36] SaumyaBhushan commented on #3713
Hi @alissatroiano ca I work on this ?

[2022-10-27 08:54] StarTrooper08 commented on #3712
Nice. This would be a great add-on

[2022-10-27 09:48] StarTrooper08 commented on #3699
@syedzubeen  I'm not working on this issue.
The Web Editor issues are fixed by Mindsdb Team.
These are not for Contributors.
You can contribute by writing articles, creating Youtube videos, or by sharing new integration.

[2022-10-27 11:21] ZoranPandovski commented on #3632
Hey @syedzubeen , @nooras thanks for the info. Looking in the handler I think there is a bug with loading the bundle so that's why you got the errors. Feel free to make a PR and note that there was issue with establishing connections. Thanks

[2022-10-27 11:30] #3709 closed

[2022-10-27 11:30] #3705 closed

[2022-10-27 11:34] #3508 closed

[2022-10-27 11:39] ZoranPandovski commented on #2946
Closing this

[2022-10-27 11:39] #2946 closed

[2022-10-27 11:45] chandrevdw31 opened #3723 "[Tutorial] Detecting Anomalies(semiconductor) in Wafer Manufacturing"
### Task Descrition

Write a tutorial about solving a time series problem in python using Mindsdb

Reference:https://lightwood.io/tutorials/tutorial_time_series/tutorial_time_series.html

Use the dataset Detecting Anomalies(semiconductor) in Wafer Manufacturing available at https://www.kaggle.com/datasets/arbazkhan971/anomaly-detection

Train with data from the `Train.csv`
Test with data from data

[2022-10-27 11:45] chandrevdw31 commented on #3563
reposted as new issue #3723

[2022-10-27 11:45] #3563 closed

[2022-10-27 11:46] ZoranPandovski opened #3724 "[Docs] Remove old predictor assets (query-scout.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `query-scout.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/predictors/query-scout.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_do

[2022-10-27 11:46] chandrevdw31 opened #3725 "[Tutorial] Environment Impact of Food Production"
### Task Descrition

Write a tutorial on the environment impact of Food Production by predicting CO2 emmisions.

Use the dataset `Food_Production.csv` available at https://www.kaggle.com/datasets/selfvivek/environment-impact-of-food-production.

Predict `Total_emissions`

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-kit

Tag your post with the hastags

[2022-10-27 11:46] chandrevdw31 commented on #3643
reposted as new issues #3725

[2022-10-27 11:47] chandrevdw31 opened #3726 "[Tutorial]Deforestation- Amazon Rainforest Degradation 1999-2019"
### Task Description

Write a tutorial on Amazon rainforest degradation by predicting deforestation.

Use the dataset `def_area_2004_2019.csv` available at https://www.kaggle.com/datasets/mbogernetto/brazilian-amazon-rainforest-degradation

Predict the Sum of deforested area in Brazil (km²) - `AMZ LEGAL`

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-ki

[2022-10-27 11:48] chandrevdw31 commented on #3645
reposted as new issue #3726

[2022-10-27 11:48] #3645 closed

[2022-10-27 11:48] StarTrooper08 commented on #3724
I would love to work on this issue

[2022-10-27 11:48] chandrevdw31 opened #3727 "[Tutorial] Forest fires- Amazon Rainforest Degradation 1999-2019"
### Task description

Write a tutorial on Amazon Rainforest Degradation by predicting forest fires.

Use the dataset `inpe_brazilian_amazon_fires_1999_2019.csv` available here https://www.kaggle.com/datasets/mbogernetto/brazilian-amazon-rainforest-degradation?select=inpe_brazilian_amazon_fires_1999_2019.csv

Predict the Number of forest fire outbreaks - `firespots`

### For colours, fonts, images

[2022-10-27 11:48] chandrevdw31 commented on #3646
repost as new issue  #3727

[2022-10-27 11:49] chandrevdw31 opened #3728 "[Tutorial]Access to electricity (% of population) World - Visualize in MindsDB Insights"
### Task Description

Write a tutorial on predicting the percentage that countries have access to electricity and visualize results in MindsDB Insights.

Dataset is available at https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS?locations=1W&start=1998&view=chart

Download the CSV file

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-kit

Tag your post w

[2022-10-27 11:49] chandrevdw31 commented on #3647
reposted as new issue  #3728

[2022-10-27 11:50] chandrevdw31 opened #3729 "[Tutorial] Municipal Debt Risk Analysis"
### Task Description

Write a tutorial on predicting the Risk Analysis of accounts developing into bad debt.

Use the dataset `MunicipalDebtAnalysis.csv` available at https://www.kaggle.com/datasets/dmsconsultingsa/municipal-debt-risk-analysis

Predict `baddebt`

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-kit

Tag your post with the hastags #mindsdb

[2022-10-27 11:51] chandrevdw31 commented on #3648
repost as new issue  #3729

[2022-10-27 11:51] #3648 closed

[2022-10-27 12:02] chandrevdw31 opened #3732 "[Tutorial] Predict Diamond prices with SQL Alchemy"
### Task Description

Write tutorial about predicting Diamond prices with MindsDB using SQL Alchemy.

Use dataset `diamonds.csv` available at https://www.kaggle.com/datasets/shivam2503/diamonds

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-kit

## :loudspeaker: Additional rewards :trophy:

[2022-10-27 12:02] chandrevdw31 commented on #3679
repost as new issue  #3732

[2022-10-27 12:02] #3679 closed

[2022-10-27 13:21] ZoranPandovski opened #3733 "[Integration] Implement handler for Ocanbase Database"
Add the support for https://github.com/oceanbase/oceanbase. Oceanbaseis is highly compatible with MySQL syntax and features.
To start check out the [Build new integration docs](https://docs.mindsdb.com/contribute/integrations/)

## :loudspeaker: Additional rewards :trophy:

Each integration brings :five:  points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](

[2022-10-27 13:22] ZoranPandovski opened #3734 "[Manual QA] Test Microsoft Access Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Microsoft Access Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please

[2022-10-27 13:27] #3281 closed

[2022-10-27 13:29] ZoranPandovski commented on #2958
As discussed, closing this for now. We have auto-sklearn WIP. The issue with a sklearn is that you neeed to write an  AutoML layer and that would be much harder. In case anyone want to do that we can always re open this :raised_hands:

[2022-10-27 13:29] #2958 closed

[2022-10-27 13:31] ZoranPandovski commented on #3466
Did you made any progress @StarTrooper08 ?

[2022-10-27 13:31] ZoranPandovski commented on #3537
@Tes-program did you made any progress?

[2022-10-27 13:45] alejandrovillegas commented on #3711
fixed.
this issue will be solved on the next release.
Thanks @alissatroiano

[2022-10-27 14:01] bachng2017 opened #3736 "[Bug]: error with sktime module and horizon=1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When create a predictor by USING with sktime module and horizon = 1, error occured.

### Expected Behavior

predictor is created correctly

### Steps To Reproduce

[code]

from the server console, errors in lightwood lib are shown as below
[code]

### Anything else?

- no error same predictor

[2022-10-27 14:11] StarTrooper08 commented on #3466
the tutorial is drafted currently.
Not completed yet

[2022-10-27 14:43] Ricram2 opened #3738 "[Customer Request] Create DOCs for Native Query"

[2022-10-27 14:43] Ricram2 commented on #3738
We should have a page under SQL to explain how to run any native query.

[2022-10-27 14:44] Ricram2 commented on #2610
@alejandrovillegas @setohe0909, Check and close please :)

[2022-10-27 14:50] paxcema commented on #3736
Hi @bachng2017, can you specify the Lightwood version for the above?

[2022-10-27 15:20] #2610 closed

[2022-10-27 15:29] chandrevdw31 opened #3739 "Share your experience with MindsDB on LinkedIn"
### What

In this issue, you have to write about us on LinkedIn:

  -  One LinkedIn Post

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on LinkedIn as well.

LinkedIn: https://www.linkedin.com/com

[2022-10-27 15:32] chandrevdw31 commented on #3090
@Temidayo32 did you make any progress on this?

[2022-10-27 15:34] chandrevdw31 commented on #3282
Hey @f2010126 did you make any progress on this?

[2022-10-27 15:34] chandrevdw31 commented on #3284
Hey @Rutam21 did you make any progress on this?

[2022-10-27 15:37] Rutam21 commented on #3284
Hello @chandrevdw31, This is a Work in Progress. Expect an article soon. Thanks.

[2022-10-27 15:42] martyna-mindsdb commented on #3738
Sure. I'll make a doc page on that.

Here is a sample syntax:
`select * from example_db ( <here goes the code that is run as PostgreSQL-native> );`

[2022-10-27 15:43] chandrevdw31 commented on #3379
Hey @Rutam21 , @Gaurav4code what's the progress on this?

[2022-10-27 15:43] chandrevdw31 commented on #3380
@ErdoganSeref , @codingis4noobs2 and @AquillaNatus have you made any progress with this?

[2022-10-27 15:44] chandrevdw31 commented on #3448
Hey @Rutam21 any progress with this?

[2022-10-27 15:44] chandrevdw31 commented on #3450
Hey @saldanhad any progress with this?

[2022-10-27 15:45] chandrevdw31 commented on #3452
Hey @Tes-program any progress on this?

[2022-10-27 15:46] chandrevdw31 commented on #3455
Hey @EphraimX and @rohannsrivastav any progress on this?

[2022-10-27 15:48] chandrevdw31 commented on #3642
Hey @anushas-dev what do u mean by written submissions? The tutorials you write need to be published by yourself on platforms like dev.to or medium etc.(whatever you chose) and then you create a pull request with the link in the tutorial.md file

[2022-10-27 15:51] anushas-dev commented on #3642
@chandrevdw31 - from the basic requirements section it seemed that video-based tutorial was needed. I'd like to write on hashnode, if it is okay. Thank you.

[2022-10-27 15:51] talkshrey commented on #3291
Sorry for the delay, I was caught up with some work. I'm still having problems to load the code in database, I'll figure out a way to do so.

[2022-10-27 15:52] rohannsrivastav commented on #3455
I'll have a PR ready by tomorrow!

[2022-10-27 16:07] martyna-mindsdb commented on #3569
Hi @Tes-program,
Have you made any progress on this issue yet?

[2022-10-27 16:08] #3520 closed

[2022-10-27 16:09] martyna-mindsdb commented on #3519
Hi @MathurAditya724,
Have you made any progress on this issue yet?

[2022-10-27 16:10] martyna-mindsdb commented on #3464
Hi @EphraimX,
Have you made any progress on this issue yet?

[2022-10-27 16:14] martyna-mindsdb commented on #3289
Hi @Rutam21,
Have you made any progress on this issue yet?

[2022-10-27 16:15] #3219 closed

[2022-10-27 16:15] martyna-mindsdb commented on #3288
Hi @alissatroiano,
Have you made any progress on this issue yet?

[2022-10-27 16:16] martyna-mindsdb commented on #3200
Hi @ayushthe1,
Have you made any progress on this issue yet?

[2022-10-27 16:18] ZoranPandovski opened #3740 "[Docs] Remove old predictor assets (clickhouse-status.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the clickhouse-status.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/predictors/clickhouse-status.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a

[2022-10-27 16:22] Zweak commented on #3740
Hey, can I work on this?

[2022-10-27 17:00] Rutam21 commented on #3289
Hello @martyna-mindsdb , This is a Work in Progress. Expect an article pretty soon. Thanks.

[2022-10-27 17:00] Rutam21 commented on #3448
@chandrevdw31 This is a Work In Progress. Expect an article pretty soon. Thanks.

[2022-10-27 17:01] Rutam21 commented on #3379
@chandrevdw31 This is a Work In Progress. Expect an article pretty soon. Thanks.

[2022-10-27 17:58] EphraimX commented on #3464
Yes, I should have a PR ready by tomorrow.

[2022-10-27 18:01] chandrevdw31 commented on #3740
@Saumya132 please do this asap

[2022-10-27 18:03] chandrevdw31 commented on #3739
This is for everyone to do,please go ahead

[2022-10-27 22:29] syedzubeen commented on #3734
I was trying to look into this integration since the past couple of days.
I had a couple of questions based on the template mentioned in the docs.
So I create a DB in Access locally which in general is saved with the .accdb extension.
I tried to upload the DB directly onto the mindsdb cloud console, which ideally wouldn't make a proper integration for testing purposes just to see if it works. Howe

[2022-10-27 23:04] mcbianconi commented on #3504
Hi @ZoranPandovski , sorry about opening the PR without checking that you already had someone working on this (focused on the "No one assigned" in the assignee field).

That being said, I dont think it will make any trouble since its just the coverage report.

[2022-10-27 23:22] bachng2017 commented on #3736
we are testing with latest staging code, the version showed in pip is `22.9.1.1`

[2022-10-28 00:48] saldanhad commented on #3450
Hi @chandrevdw31 I should be done with it by the weekend.

[2022-10-28 01:01] alissatroiano commented on #3712
Thanks! I think so too 😬

[2022-10-28 01:18] alissatroiano commented on #3713
I think you have to have write access to the repository to work on this one. (I can't work on it either - I just found it and wanted to share with the developers here). There are tons of other open issues to check out, though :)

[2022-10-28 01:20] alissatroiano commented on #3711
Awesome! Glad I could help @ZoranPandovski @alejandrovillegas

That was fast! lol - Great work, Alejandro.

[2022-10-28 06:30] anushas-dev opened #3751 "[Bug]: ERROR: Packages installed from PyPI cannot depend on packages which are not also hosted on PyPI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I do ```pip install mindsdb``` on ec2 ubuntu instance,
I get this below error after few dependent packages are install:

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-10-28 06:30] akhildevelops commented on #3729
Should we write a blog or make a Video @chandrevdw31

[2022-10-28 06:33] akhildevelops commented on #3562
The reference tutorial: https://lightwood.io/tutorials/tutorial_time_series/tutorial_time_series.html points to lightwood framework.

Should we use that ?

[2022-10-28 06:43] Tes-program commented on #3569
I have started but i might not be able to finish before the end hacktoberfest so it would just be regular PR

[2022-10-28 06:44] Tes-program commented on #3452
I will do it very soon

[2022-10-28 07:56] chandrevdw31 commented on #3734
Hey @syedzubeen can you kindly send this message in the #using-mindsdb channel on Slack

[2022-10-28 11:14] ZoranPandovski commented on #3504
Thanks, we will check this

[2022-10-28 11:19] #3711 closed

[2022-10-28 11:24] ZoranPandovski commented on #3729
You can do both, or choose one :)

[2022-10-28 11:31] #3559 closed

[2022-10-28 11:33] ZoranPandovski opened #3754 "[Docs] Remove old predictor assets (mariadb-insert.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mariadb-insert.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/predictors/mariadb-insert.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :po

[2022-10-28 11:43] SaumyaBhushan commented on #3754
I will work on this

[2022-10-28 12:08] Pragya2056 commented on #3754
This issue was worked on in the Pull Request #3755.

[2022-10-28 13:05] Leigh-Ola commented on #3697
Is this still open?

[2022-10-28 13:47] hritikd3 opened #3758 "[Feature] Request to implement Dark Mode in the MindsDB Cloud editor UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I was working on a cloud editor while typing for a couple of minutes I found the UI to be in dark mode as for long period it will not be much visible to users.

![image](https://user-images.githubusercontent.com/86347286/198621965-e71e9721-2588-4c

[2022-10-28 14:48] Ricram2 commented on #3693
@ianu82 sending this issue over to the "project" project.

[2022-10-28 14:54] bachng2017 commented on #3736
issue is not confirmed with the latest staging codes(mindsdb/lightwood) . Maybe the previous test is used out-of-date code. Close

[2022-10-28 14:54] #3736 closed

[2022-10-28 14:57] Ricram2 commented on #3019
There is already an Airtable integration :), closing for now.
[Airtable Handler](https://github.com/mindsdb/mindsdb/tree/staging/mindsdb/integrations/handlers/airtable_handler
)But we are always looking for user, tester ambassadors and maintainers :)

[2022-10-28 14:57] #3019 closed

[2022-10-28 15:30] Ricram2 commented on #2454
@ea-rus, @tomhuds. Please check and close if possible.

[2022-10-28 15:53] Ricram2 commented on #2438
@paxcema Would you please make a doc draft. @martyna-mindsdb you know the drill.

[2022-10-28 15:56] #3754 closed

[2022-10-28 16:00] #3543 closed

[2022-10-28 16:01] Ricram2 opened #3760 "[CUSTOMER REQUEST] Document and test that the Http API that can query predictions Only."

[2022-10-28 16:06] Ricram2 commented on #3760
Just the functionality of requesting predictions.

[2022-10-28 16:08] #2454 closed

[2022-10-28 16:30] Pragya2056 commented on #3740
This issue was worked on in the PR #3761

[2022-10-28 16:45] Leigh-Ola commented on #3697
I've updated. Thanks @ZoranPandovski

[2022-10-28 16:55] alissatroiano opened #3762 "[UX Design] Include Developer Resources in MindsDB Cloud Editor by Updating the Footer or Sidebar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

As a user, I could not find a link to the MindsDB Slack channel or GitHub in the MindsDB Cloud Editor.

### Describe the solution you'd like.

A solution for this would be to expand the footer's height and add another row, then use the CSS flex-bo

[2022-10-28 18:15] ZoranPandovski opened #3763 "[Docs] Remove old predictor assets (mssql-query.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mssql-query.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/predictors/mssql-query.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_do

[2022-10-28 18:16] #3697 closed

[2022-10-28 18:54] MichaelLantz commented on #3763
This issue was worked on in the PR  #3764

[2022-10-28 19:10] ZoranPandovski opened #3766 "[Docs] Remove old predictor assets (postgresql-query.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `postgresql-query.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/predictors/postgresql-query.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a

[2022-10-28 19:14] vaishnav-mk commented on #3766
I would like to work on this!

[2022-10-28 19:25] Rutam21 commented on #3245
This issue has been re-opened on the current date.

[2022-10-28 19:25] #3245 closed

[2022-10-28 19:26] Rutam21 opened #3768 "[Manual QA] Test Google BigQuery Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Google BigQuery Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please a

[2022-10-28 19:27] Rutam21 opened #3769 "[Manual QA] Test CrateDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the CrateDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-28 19:27] Rutam21 commented on #3253
This issue has been re-opened on the current date.

[2022-10-28 19:27] #3253 closed

[2022-10-28 19:28] Rutam21 opened #3770 "[Manual QA] Test Apache Druid Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Apache Druid Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please atta

[2022-10-28 19:28] Rutam21 commented on #3296
This issue has been re-opened on the current date.

[2022-10-28 19:29] Rutam21 commented on #3296
This issue has been re-opened on the current date.

[2022-10-28 19:29] #3296 closed

[2022-10-28 19:30] Rutam21 opened #3771 "[Manual QA] Test Couchbase Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Couchbase Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach

[2022-10-28 19:30] Rutam21 commented on #3252
This issue has been re-opened on the current date.

[2022-10-28 19:30] #3252 closed

[2022-10-28 19:31] Rutam21 opened #3772 "[Manual QA] Test Databricks Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Databricks Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach

[2022-10-28 19:31] Rutam21 commented on #3507
This issue has been re-opened on the current date.

[2022-10-28 19:31] #3507 closed

[2022-10-28 19:32] Rutam21 opened #3773 "[Manual QA] Test DynamoDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the DynamoDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-28 19:33] Rutam21 commented on #3505
This issue has been re-opened on the current date.

[2022-10-28 19:33] #3505 closed

[2022-10-28 19:34] Rutam21 opened #3774 "[Manual QA] Test Oracle Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Oracle Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a s

[2022-10-28 19:34] Rutam21 commented on #3229
This issue has been re-opened on the current date.

[2022-10-28 19:34] #3229 closed

[2022-10-28 19:34] Rutam21 opened #3775 "[Manual QA] Test CKAN Integration Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the CKAN Integration Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please

[2022-10-28 19:35] Rutam21 commented on #3248
This issue has been re-opened on the current date.

[2022-10-28 19:35] #3248 closed

[2022-10-29 00:27] ZoranPandovski opened #3776 "[Docs] Remove old predictor assets (mariadb-query.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mariadb-query.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/predictors/mariadb-query.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :poin

[2022-10-29 01:14] jusinamine commented on #3776
assign me

[2022-10-29 04:42] parthiv11 commented on #3689
[MLbox ](https://mlbox.readthedocs.io/en/latest/introduction.html)is autoML Framework and we have to integrate with mindsdb by creating methods create and predict.

You can get more info on [Add a Custom Integration](https://docs.mindsdb.com/contribute/integrations/)

[2022-10-29 06:57] nooras commented on #3632
@syedzubeen Step to get client-id & secret-id from astra.datastax.com:

1. Goto Organization Settings -> Token Management.
2. Select Role & generate token.
3. You can see Client-id & secret-id.

[2022-10-29 06:59] akhildevelops commented on #3776
I've closed my PR to encourage others to make contribution.

[2022-10-29 07:56] nooras commented on #3771
HI @ZoranPandovski
I am not able to connect with Couchbase. Let me know if i made some mistake. Thanks
![image](https://user-images.githubusercontent.com/30138146/198820554-c3da756b-0be9-45da-bf7f-a97dab3d9903.png)

[code]

[2022-10-29 08:03] ZoranPandovski opened #3781 "[Docs] Remove old predictor assets (confusion-matrix.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `confusion-matrix.png` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/predictors/confusion-matrix.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a

[2022-10-29 08:08] ZoranPandovski opened #3782 "[Integration] Implement handler for Ocenbase Database"
Add the support for https://github.com/oceanbase/oceanbase. Oceanbase is is highly compatible with MySQL syntax and features.
To start check out the [Build new integration docs](https://docs.mindsdb.com/contribute/integrations/)

## :loudspeaker: Additional rewards :trophy:

Each integration brings :five:  points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop]

[2022-10-29 08:10] Zweak commented on #3781
I'll work on this

[2022-10-29 08:26] Tes-program commented on #3378
I will finish it today,

[2022-10-29 08:29] ZoranPandovski opened #3783 "[Docs] Remove old mongo assets (mongo-insert.gif )"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mongo-insert.gif ` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/predictors/mongo/mongo-insert.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a

[2022-10-29 09:55] martyna-mindsdb opened #3784 "Share your experience with MindsDB on LinkedIn"
### What

In this issue, you have to write about us on LinkedIn:

  -  One LinkedIn Post

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on LinkedIn as well.

LinkedIn: https://www.linkedin.com/com

[2022-10-29 09:55] martyna-mindsdb opened #3785 "Share your experience with MindsDB on Facebook"

[2022-10-29 09:56] martyna-mindsdb opened #3786 "Share your experience with MindsDB on Twitter"
# What
In this issue, you have to write about MindsDB on Twitter:

- One Twitter Thread

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on Twitter as well.

Twitter: https://twitter.com/MindsDB

#

[2022-10-29 11:22] adityaacse commented on #3786
Hi @martyna-mindsdb I am interested in this task, please assign it to me.

[2022-10-29 11:57] shenzm01 commented on #2590
Because the default setting of the windows system is 'gbk', it needs to be set to 'utf8'.
See (https://docs.python.org/3/using/cmdline.html#envvar-PYTHONUTF8) for details.

[2022-10-29 11:58] selamanse commented on #3782
This sounds interesting, I'd like to give it a try.

[2022-10-29 12:22] martyna-mindsdb commented on #3786
@adityaacse
Anybody can work on this issue without being assigned.
Go ahead!

[2022-10-29 12:26] selamanse commented on #3784
I'd like to contribute here :)

[2022-10-29 12:54] aaheli8 commented on #3763
Can I be assigned this issue?

[2022-10-29 14:08] adityaacse commented on #3786
Hi @martyna-mindsdb I have added a new Twitter thread, please review my PR [#3794.](https://github.com/mindsdb/mindsdb/pull/3794)

[2022-10-29 14:53] #3766 closed

[2022-10-29 14:57] #3557 closed

[2022-10-29 15:00] ZoranPandovski commented on #3771
looks ok, maybe there is some issue please make a PR for this

[2022-10-29 15:03] ZoranPandovski opened #3795 "[Docs] Remove old mongo assets (mongo-status.gif )"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mongo-status.gif ` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/predictors/mongo/mongo-status.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a

[2022-10-29 15:09] Sahil2315 commented on #3603
I have read the CLA Document and I hereby sign the CLA

[2022-10-29 17:25] pratik2315 commented on #3783
Hey @ZoranPandovski ! I would like to work on this issue if its alright

[2022-10-29 17:26] #3763 closed

[2022-10-29 17:27] #3740 closed

[2022-10-29 17:29] pratik2315 commented on #3783
Hey @ZoranPandovski ! I am new to the mindsdb community and still trying to navigate around this repo and learn few things. This issue seems like a perfect starting point for me to get more familiar with this project. I would like to work on this issue if its alright😄

[2022-10-29 17:30] ZoranPandovski opened #3802 "[INTEGRATION] Add support for Legend data platform"
Add the support for https://github.com/finos/legend. To start check out the [Build new integration docs](https://docs.mindsdb.com/contribute/integrations/)

### Anything else?

## :loudspeaker: Additional rewards :trophy:

Each integration brings :five:  points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](https://www.razer.com/hard-bundles/Razer-Blade-15-Bu

[2022-10-29 17:30] #3220 closed

[2022-10-29 17:31] ZoranPandovski opened #3803 "[Tutorial] Publish new tutorials using MindsDB and MongoDB :male_detective: :female_detective:"
## Task Description

Write a tutorial about MindsDB and MongoDB and publish it on your favorite blogging platform. Then, add a link to it in MindsDB community-supported docs. You can find a lot of interesting datasets that cover different use cases on sites such as Google Dataset Search, Kaggle, Data.Gov, Datahub.io, UCI Machine Learning Repository, GitHub awesome datasets repositories etc.

1. Up

[2022-10-29 17:33] ZoranPandovski opened #3804 "[Docs] Remove old databases assets (db-automl.jpg)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `db-automl.jpg` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/databases/db-automl.jpg file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :

[2022-10-29 17:37] pratik2315 commented on #3804
Hey @ZoranPandovski! Can i work on this issue?

[2022-10-29 17:58] ZoranPandovski commented on #3804
Sure

[2022-10-29 17:59] ZoranPandovski opened #3805 "[Docs] Remove old databases assets (ex-dbs.jpg)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `ex-dbs.jpg` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/databases/ex-dbs.jpg file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :c

[2022-10-29 18:04] adityaacse commented on #3805
Hi @ZoranPandovski I want to work on this issue, please assign it to me.

[2022-10-29 18:22] ZoranPandovski commented on #3805
Sure, just make a pr

[2022-10-29 18:26] parthiv11 opened #3807 "[New Integration]:🧨🧨 Integration with NuoDB"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

NuoDB delivers consistent, resilient distributed SQL for your mission critical applications, so you can deploy on premises, in public or private clouds, in hybrid environments, or across clouds.

NuoDB is the distributed SQL database designed to meet the rapidly evolving demands of today’s enterp

[2022-10-29 19:19] Sohoxic commented on #3805
Hi @ZoranPandovski , I want to work on this issue, could you please assign this to me?

[2022-10-29 21:40] adityaacse commented on #3318
Hi @Rutam21 @ZoranPandovski I have added a new Twitter thread, please review and merge my PR #3794 .

[2022-10-30 06:05] parthiv11 opened #3818 "[New Integration]: 💓💓 Integration with Google Fit"
### Is there an existing integration?

- [X] I have searched the existing integrations.

### Use Case

Google Fit is a health-tracking platform developed by Google for the Android operating system, Wear OS and Apple Inc.'s iOS. It is a single set of APIs that blends data from multiple apps and devices.

### Motivation

It would be amazing to integrate Google fit to mindsdb, this will Make it easy

[2022-10-30 07:18] Sakshi-75 commented on #3783
Hi @ZoranPandovski ,
I've raised a PR for this: #3819
Please review it. Thanks!

[2022-10-30 07:59] Pragya2056 commented on #3805
The issue was worked on the issue #3820 .

[2022-10-30 08:07] Pragya2056 commented on #3804
This issue was worked on the Pull Request #3821

[2022-10-30 08:11] Pragya2056 commented on #3795
This issue was worked on in the Pull Request #3822

[2022-10-30 08:14] Pragya2056 commented on #3783
The issue has been worked on the Pull Request #3823

[2022-10-30 08:18] Pragya2056 commented on #3781
The issue has been worked on in the Pull Request #3824

[2022-10-30 08:22] Pragya2056 commented on #3776
This issue was taken care of in the Pull Request #3825

[2022-10-30 08:30] Pragya2056 commented on #3502
The issue was worked on in the Pull Request #3826

[2022-10-30 08:31] Pragya2056 commented on #3603
![image](https://user-images.githubusercontent.com/55945790/198869560-1a3192aa-5399-49e1-a89f-f76a52810de3.png)

[2022-10-30 08:32] Pragya2056 commented on #3603
The file no longer exists - and thus this issue can be closed now.

[2022-10-30 10:02] Tes-program commented on #3751
Due to some versions of the dependencies not being available through pip for Python 3.10, you should switch to Python 3.9 to install the latest pip version of mindsdb.

[2022-10-30 10:04] martyna-mindsdb commented on #3784
@selamanse
Go ahead! Thanks!

[2022-10-30 10:27] #3603 closed

[2022-10-30 10:38] ZoranPandovski opened #3827 "[Docs] Remove old databases assets (mdb-clickhouse.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mdb-clickhouse.png` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/databases/mdb-clickhouse.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :poi

[2022-10-30 10:41] #3805 closed

[2022-10-30 10:45] #3732 closed

[2022-10-30 10:47] Sakshi-75 commented on #3827
Hi @ZoranPandovski Can I work on this?

[2022-10-30 10:48] #3556 closed

[2022-10-30 10:48] ZoranPandovski opened #3828 "[Docs] Remove old databases assets (mdb-maria.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mdb-maria.png` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/databases/mdb-maria.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :

[2022-10-30 10:51] Sakshi-75 commented on #3827
Hi @ZoranPandovski , I've raised a PR for this: #3829
Please review it.

[2022-10-30 10:57] Yordaniss commented on #3828
Hello @ZoranPandovski i could do this.

[2022-10-30 11:07] Yordaniss commented on #3828
I just opened PR. If some changes are required, please let me know 😊

[2022-10-30 13:00] anushas-dev commented on #3751
Thank you @Tes-program, I tried with Ubuntu 20.04 sandbox / python3.8 and was able to ```pip install mindsdb``` successfully.

[2022-10-30 13:00] #3751 closed

[2022-10-30 13:31] EZFRICA commented on #2425
Sorry for the late reply.
Already for starters, this is an option. Google Cloud Storage and AWS S3 configuration will be options to set up the storage directory. There will be a current for each storage service.

The most important thing is that the file system is able to handle the path to the files stored on Cloud Storage and AWS S3.

I think the option "Mount the distributed file system as loca

[2022-10-30 14:19] #3795 closed

[2022-10-30 14:24] ZoranPandovski opened #3834 "[Docs] Remove old databases assets (mdb-postgres.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mdb-postgres.png` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/databases/mdb-postgres.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_d

[2022-10-30 14:30] Mirza-Hassan commented on #3834
@ZoranPandovski can you please assign it to me?

[2022-10-30 14:36] ilia-tsyplenkov commented on #2383
what type of environment (cloud or local installation) is it related to?

[2022-10-30 14:36] ZoranPandovski commented on #3834
Sure, just make a pr

[2022-10-30 14:39] tonyrex99 commented on #3834
Ive made a pr concerning this

[2022-10-30 15:12] ZoranPandovski opened #3836 "[Docs] Remove old info assets (model.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `model.png` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/info/model.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point_down: :
-  :computer

[2022-10-30 15:43] 3t8 commented on #3836
Made a PR #3837

[2022-10-30 16:38] #3827 closed

[2022-10-30 16:39] #3836 closed

[2022-10-30 16:40] #3828 closed

[2022-10-30 16:41] #3804 closed

[2022-10-30 17:19] 3t8 commented on #3834
Made a PR #3839

[2022-10-30 17:52] ZoranPandovski opened #3840 "[Manual QA] Test Oracle Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Oracle Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a s

[2022-10-30 18:27] ZoranPandovski opened #3842 "[Manual QA] Test DynamoDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the DynamoDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-30 18:30] ZoranPandovski opened #3843 "[Docs] Remove old tutorials assets (db-select.png )"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `db-select.png ` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/tutorials/aitables-clickhouse/db-select.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw

[2022-10-30 18:32] ShivamGarg2910 commented on #3843
@ZoranPandovski, assign me

[2022-10-30 18:39] ShivamGarg2910 commented on #3843
@ZoranPandovski, here is the PR https://github.com/mindsdb/mindsdb/pull/3845

[2022-10-30 18:45] Sarveshk76 commented on #3739
# #3844

[2022-10-30 18:45] Sarveshk76 commented on #3739
#3844

[2022-10-30 19:09] #3843 closed

[2022-10-30 19:09] ZoranPandovski opened #3847 "[Docs] Remove old tutorials assets (db-select.png )"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `db-select.png ` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/tutorials/aitables-clickhouse/db-select.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw

[2022-10-30 19:11] Mirza-Hassan commented on #3847
@ZoranPandovski  please assign to me

[2022-10-30 19:19] Mirza-Hassan commented on #3847
@ZoranPandovski I can't create a PR, faced a repo access issue.

[2022-10-30 19:23] PrakashGatiyala opened #3848 "[Bug]: issue link in readme needs update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/34413515/198897299-635afeff-4968-428f-a201-b19eec09a6f4.png)

When I clicked on highlighted link, It is redirect  to https://github.com/mindsdb/mindsdb/issues link.
Ideally, It should redirect to following link: https://github.com/mindsdb/min

[2022-10-30 19:33] ZoranPandovski commented on #3847
You dont need access, you need to fork the repo and make a pr

[2022-10-30 19:35] PrakashGatiyala commented on #3848
Hi @ZoranPandovski  I have created PR for it. PR link: https://github.com/mindsdb/mindsdb/pull/3849
Please review it and merge it.

[2022-10-30 19:53] ZoranPandovski opened #3850 "[Docs] Remove old tutorials assets (select-info1.png )"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `select-info1.png ` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/tutorials/aitables-clickhouse/select-info1.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the

[2022-10-30 19:57] ZoranPandovski opened #3851 "[New Integration]: Integration to Lindorm"
Build an integration into the Lindorm database from Alibaba: https://www.alibabacloud.com/blog/lindorm-alibaba-clouds-newest-cloud-native-multi-model-database_596269. For start, check out the [how to build new integration docs](https://docs.mindsdb.com/contribute/integrations/)

## Hackathon Issue :loudspeaker:

MindsDB has organized a hackathon to let in more contributors to the in-database ML wo

[2022-10-30 20:07] arorachirag commented on #3850
Hi Zoran You just want to delete this file or something else to be done

[2022-10-30 20:25] Tes-program commented on #3642
Weird but has anyone done this?

[2022-10-30 21:46] Mirza-Hassan commented on #3847
@ZoranPandovski Please review PR https://github.com/mindsdb/mindsdb/pull/3854

[2022-10-30 22:03] Mirza-Hassan commented on #3850
@ZoranPandovski I've raised a PR https://github.com/mindsdb/mindsdb/pull/3855. Please review it. Thanks
Please add hacktober-accepted label.

[2022-10-30 23:29] ZoranPandovski opened #3857 "[Docs] Remove old tutorials assets (select-info2.png )"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `select-info2.png ` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/tutorials/aitables-clickhouse/select-info2.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the

[2022-10-30 23:31] 3t8 commented on #3857
#3858

[2022-10-31 02:11] Nupoor10 commented on #3803
I would like to contribute to this issue.

[2022-10-31 06:16] anushas-dev commented on #3642
I wanted to but the dataset is like ~954mb, haven't been able to use the mindsdb cloud editor as trial versions have ~10mb limit, any suggestions? I probably will try loading data into fresh database setup. Any other suggestions?

[2022-10-31 08:25] PrakashGatiyala opened #3859 "Social Media Icon at footer doesn't show App Name on mouse hover"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

![image](https://user-images.githubusercontent.com/34413515/198963424-5bfd88f8-ee48-4627-96f7-3447d5640502.png)

I can't see the social-media App name when I mouse-hover over social media Icon at footer.
Ideally, When user mouse-hover over social

[2022-10-31 08:43] Sarveshk76 commented on #3739
can you please accept my PR?

[2022-10-31 09:27] Prajwalrajbasnet commented on #3781
Fixed in #3846

[2022-10-31 10:24] #3781 closed

[2022-10-31 10:29] ZoranPandovski opened #3860 "[Docs] Remove old tutorials assets (select-infoq.png )"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `select-infoq.png ` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/tutorials/aitables-clickhouse/select-infoq.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the

[2022-10-31 10:31] Pranav-yadav commented on #3860
Hey @ZoranPandovski! I can work on this :)

[2022-10-31 10:34] Prashriya commented on #3860
Can I work on this issue?

[2022-10-31 12:08] #3848 closed

[2022-10-31 12:13] ZoranPandovski commented on #3803
Sure @Nupoor10 just make a PR once you publish the tutorial

[2022-10-31 12:18] #3729 closed

[2022-10-31 12:19] selamanse commented on #3784
@martyna-mindsdb if you please could have a look #3863 if this was done right I'd be glad. thx

[2022-10-31 12:22] ZoranPandovski commented on #3642
Just copy like 1000 rows :)

[2022-10-31 12:34] ZoranPandovski commented on #3782
It looks like this was already resolved. Feel free to browse other open issues, there are more then 130

[2022-10-31 12:37] #3684 closed

[2022-10-31 12:37] martyna-mindsdb opened #3865 "Share your experience with MindsDB on Twitter"
# What
In this issue, you have to write about MindsDB on Twitter:

- One Twitter Thread

Talking about your experience using MindsDB or contributing to MindsDB.

Share your honest views and opinions about MindsDB or about your experience contributing to MindsDB or you can also share any ideas to improve MindsDB.

You have to tag MindsDB on Twitter as well.

Twitter: https://twitter.com/MindsDB

#

[2022-10-31 12:37] martyna-mindsdb opened #3866 "Share your experience with MindsDB on Facebook"

[2022-10-31 12:38] martyna-mindsdb opened #3867 "Share your experience with MindsDB on LinkedIn"

[2022-10-31 12:43] martyna-mindsdb commented on #3784
@selamanse
Perfect. Thanks!

[2022-10-31 12:44] #3554 closed

[2022-10-31 12:59] #3733 closed

[2022-10-31 13:31] chandrevdw31 opened #3868 "[Tutorial] Yacht Hydrodynamics"
### Task description

Write a tutorial in predicting Residuary resistance displacement in Yacht Hydrodynamic.

Use the dataset `[yacht_hydrodynamics.data` available at https://archive-beta.ics.uci.edu/ml/datasets/yacht+hydrodynamics.

**Tutorial should include:**

- Very short description on how MindsDB can assist with predicting Residuary resistance displacement
- Either connecting database to Mi

[2022-10-31 13:31] chandrevdw31 commented on #3282
Reposting as new issue #3868

[2022-10-31 13:31] #3282 closed

[2022-10-31 13:32] chandrevdw31 opened #3869 "[Tutorial] Predict Ethereum Price using Quest DB as a datasource"
### Task Description

Write a tutorial on predicting Ethereum price using QuestDB as a datasource.

Use the dataset `coin_Ethereum.csv` available at https://www.kaggle.com/datasets/sudalairajkumar/cryptocurrencypricehistory?select=coin_Ethereum.csv

**Tutorial should include:**

- Very short description on how MindsDB can assist with predicting Crytocurrency prices
- Use QuestDB as a datasource.
-

[2022-10-31 13:32] chandrevdw31 commented on #3284
Re-posting as new issue  #3869

[2022-10-31 13:32] #3284 closed

[2022-10-31 13:34] chandrevdw31 opened #3870 "[Tutorial] Predict Petroleum Production and visualize results in Tableau"
### Task Description

Write tutorial on predicting Petroleum Production for refineries in Brazil and visualize results in Tableau

Use the dataset `national_nameplate_capacity.csv` available at https://www.kaggle.com/datasets/maurosrgiofigueira/fuel-output-capacity-brazil

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

**Tutorial should include:**

- Very short description on how M

[2022-10-31 13:34] chandrevdw31 commented on #3289
reposting as a new issue #3870

[2022-10-31 13:35] chandrevdw31 opened #3871 "[Tutorial] Predict Gas Prices and visualize results in Tableau"
### Task Description

Write tutorial on predicting gas prices in Brazil and visualize results in Tableau

Use the dataset `2004-2021.tsv` available at https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

Use the hashtags #mindsdb and #hacktoberfest2022 in the post.

**Tutorial should include:**

- Very short description on how MindsDB can assist in predicting gas prices in a countr

[2022-10-31 13:36] #3288 closed

[2022-10-31 13:36] #3632 closed

[2022-10-31 13:36] chandrevdw31 opened #3872 "[Tutorial] Predict Daily Prices for Spanish Gas Stations and visualize in Tableau"
### Task Description

Write tutorial on predicting daly gas prices for Spanish Gas stations and visualize results in Tableau.

You can find the datasets [here](https://www.kaggle.com/datasets/mauriciy/daily-spanish-gas-prices).

:warning:  The challenge here would be to work with the datatype of the dataset. If you struggle, you can try to figure out how to go about with this [clue.](https://www.k

[2022-10-31 13:37] chandrevdw31 opened #3873 "[Tutorial] COVID -19 Coronavirus Pandemic"
### Task Description

Write a tutorial on predicting the amount of deaths due to Covid-19.

You can use the dataset `Covid Live.csv `  available at https://www.kaggle.com/datasets/whenamancodes/covid-19-coronavirus-pandemic-dataset

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :five: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](

[2022-10-31 13:38] chandrevdw31 commented on #3378
re-posting as new issue  #3873

[2022-10-31 13:38] #3378 closed

[2022-10-31 13:39] chandrevdw31 opened #3874 "[Tutorial] Predict Microsoft Stock Prices"
### Task Description

Write tutorial on predicting Microsoft Stock prices using data between 2015 and 2022.

You can use the dataset `microsoft_stocks.csv` available at https://www.kaggle.com/datasets/berkayalan/microsoft-stock-data-between-2015-and-2022.

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :five: points and entry into the draw for a  :point_down: :

-  :computer:

[2022-10-31 13:39] chandrevdw31 commented on #3380
re-posted as new issue

[2022-10-31 13:39] #3380 closed

[2022-10-31 13:40] chandrevdw31 opened #3875 "[Tutorial] Toyota Cars Price Prediction"
### Task Description

Write tutorial on predicting Toyota car prices using MindsDB.

You can use the dataset `toyota_cars.csv ` available at https://www.kaggle.com/datasets/ayessa/toyota-cars-price-prediction

## :loudspeaker: Additional rewards :trophy:

Each tutorial brings :five: points and entry into the draw for a  :point_down: :

-  :computer:  [Razer Blade 15 Laptop](https://www.razer.com/h

[2022-10-31 13:40] chandrevdw31 commented on #3379
re-posting as new issue #3875

[2022-10-31 13:40] #3379 closed

[2022-10-31 13:43] chandrevdw31 opened #3876 "[Tutorial] How to Construct a custom preprocessor to clean your data"
### Task Description

Write tutorial on how to construct a custom preprocessor to clean your data.

Use the dataset `Daily_Demand_Forecasting_Orders.csv` available at https://archive-beta.ics.uci.edu/ml/datasets/daily+demand+forecasting+orders

Reference:https://lightwood.io/tutorials/custom_cleaner/custom_cleaner.html

[2022-10-31 13:44] chandrevdw31 commented on #3453
re-posting as new issue  #3876

[2022-10-31 13:44] #3453 closed

[2022-10-31 13:45] chandrevdw31 opened #3877 "[Tutorial] Election Results Timeseries prediction using MindsDB with Python"
### Task Description

Write tutorial on predicting Election Results with MindsDB using Lightwood.

Use dataset `ElectionData2019.zip` https://archive-beta.ics.uci.edu/ml/datasets/real+time+election+results+portugal+2019

Reference:https://lightwood.io/tutorials/tutorial_time_series/tutorial_time_series.html

Use the hashtags #mindsdb and #hacktoberfest2022 in the posts

## :loudspeaker: Additional

[2022-10-31 13:45] chandrevdw31 commented on #3455
re-posting as new issue #3877

[2022-10-31 13:45] #3455 closed

[2022-10-31 13:47] chandrevdw31 opened #3878 "[Tutorial] U.S. Billion-dollar Weather and Climate Disasters"
### Task Decsription

Write a tutorial on predicting the cost impact of Weather and Climate disasters.

Use the dataset `events-US-1980-2021.csv` available at https://www.kaggle.com/datasets/christinezinkand/us-billiondollar-weather-and-climate-disasters

 Predict the Adjusted Cost of disaster - `CPI`

**Convert dates to datetype.**

### For colours, fonts, images and logos to be used be check out

[2022-10-31 13:48] #3649 closed

[2022-10-31 13:49] chandrevdw31 opened #3879 "[Tutorial] Forest fires- Amazon Rainforest Degradation 1999-2019"
### Task description

Write a tutorial on Amazon Rainforest Degradation by predicting forest fires.

Use the dataset `inpe_brazilian_amazon_fires_1999_2019.csv` available here https://www.kaggle.com/datasets/mbogernetto/brazilian-amazon-rainforest-degradation?select=inpe_brazilian_amazon_fires_1999_2019.csv

Predict the Number of forest fire outbreaks - `firespots`

### For colours, fonts, images

[2022-10-31 13:49] chandrevdw31 commented on #3727
re-posting as new issue #3879

[2022-10-31 13:50] chandrevdw31 commented on #3726
re-posted as new issue  #3880

[2022-10-31 13:50] #3726 closed

[2022-10-31 13:53] chandrevdw31 opened #3881 "[Tutorial] Environment Impact of Food Production"
### Task Descrition

Write a tutorial on the environment impact of Food Production by predicting CO2 emmisions.

Use the dataset `Food_Production.csv` available at https://www.kaggle.com/datasets/selfvivek/environment-impact-of-food-production.

Predict `Total_emissions`

### For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-kit

Tag your post with the hastags

[2022-10-31 13:53] #3725 closed

[2022-10-31 13:54] chandrevdw31 opened #3882 "[Tutorial] Detecting Anomalies(semiconductor) in Wafer Manufacturing"
### Task Descrition

Write a tutorial about solving a time series problem in python using Mindsdb

Reference:https://lightwood.io/tutorials/tutorial_time_series/tutorial_time_series.html

Use the dataset Detecting Anomalies(semiconductor) in Wafer Manufacturing available at https://www.kaggle.com/datasets/arbazkhan971/anomaly-detection

Train with data from the `Train.csv`
Test with data from data

[2022-10-31 13:54] chandrevdw31 commented on #3723
re-posting as new issue #3882

[2022-10-31 13:54] #3723 closed

[2022-10-31 13:55] chandrevdw31 opened #3883 "[Tutorial]Access to electricity (% of population) World - Visualize in MindsDB Insights"
### Task Description

Write a tutorial on predicting the percentage that countries have access to electricity and visualize results in MindsDB Insights.

Dataset is available at https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS?locations=1W&start=1998&view=chart

Download the CSV file

For colours, fonts, images and logos to be used be check out https://mindsdb.com/press-kit

[2022-10-31 13:56] chandrevdw31 commented on #3728
re-posted as new issue #3883

[2022-10-31 13:56] #3728 closed

[2022-10-31 13:58] #3860 closed

[2022-10-31 14:00] ZoranPandovski opened #3884 "[Docs] Remove old predictor assets (mariadb-query.gif)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mariadb-query.gif` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/predictors/mariadb-query.gif file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :poin

[2022-10-31 14:04] Prashriya commented on #3884
Can I work on this issue?

[2022-10-31 14:09] martyna-mindsdb opened #3885 "[Mongo] Tutorial to Predict Poker Hand Strength using MongoDB"
## Task Description
Create a predictor to determine poker hand strength based on the suits and ranks of all five cards **using MongoDB**.

Use the `poker-hand-training.csv` dataset available at https://www.kaggle.com/datasets/hosseinah1/poker-game-dataset.

Feel free to create either an article or a video tutorial!

[2022-10-31 14:11] martyna-mindsdb commented on #3488
Reposted [here](https://github.com/mindsdb/mindsdb/issues/3885).

[2022-10-31 14:11] #3488 closed

[2022-10-31 14:11] martyna-mindsdb opened #3886 "[Mongo] Tutorial to Predict Selling Prices of Cars using MongoDB"
## Task Description
Create a predictor to predict the selling prices of cars ordered by year and grouped by car name **using MongoDB**.

Use the `car data.csv` dataset available at https://www.kaggle.com/datasets/vijayaadithyanvg/car-price-predictionused-cars.

Feel free to create either an article or a video tutorial!

[2022-10-31 14:12] #3487 closed

[2022-10-31 14:51] Mirza-Hassan commented on #3884
@ZoranPandovski  this `mariadb-query.gif` file is already removed.

[2022-10-31 15:14] f2010126 commented on #3868
Hi Sorry for the non response. I was travelling.
Pull request here: https://github.com/mindsdb/mindsdb/pull/3887

[2022-10-31 16:10] martyna-mindsdb opened #3889 "Update queries syntax throughout docs"
To be modified:

https://mindsdb.slack.com/archives/D03Q2AK8DJA/p1666970394236759

[2022-10-31 16:12] martyna-mindsdb opened #3890 "Create a doc page on PROJECT entity"

[2022-10-31 16:51] Mirza-Hassan commented on #3847
@ZoranPandovski I have created a new PR https://github.com/mindsdb/mindsdb/pull/3892, please review it again. Thanks

[2022-10-31 18:52] Mirza-Hassan commented on #3847
@ZoranPandovski PR is still open https://github.com/mindsdb/mindsdb/pull/3892. can you please merge this PR?

[2022-10-31 18:55] ZoranPandovski opened #3897 "[Docs] Remove old tutorials assets (select-predictors.png )"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `select-predictors.png ` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/tutorials/aitables-clickhouse/select-predictors.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entr

[2022-10-31 19:03] SO-HYBE commented on #3897
assign me I can help with that.

[2022-10-31 19:09] martyna-mindsdb commented on #3890
Resources for the doc page:

[code]

[2022-10-31 19:19] martyna-mindsdb commented on #3890
@StpMax @Ricram2
Above is the initial plan for the doc page.
Please have a look at the code, as there are some questions and comments.
Thanks.

[2022-10-31 19:59] ZoranPandovski opened #3901 "[Docs] Remove old tutorials assets (select-where.png )"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `select-where.png ` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/tutorials/aitables-clickhouse/select-where.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the

[2022-10-31 20:13] ShivamGarg2910 commented on #3901
@ZoranPandovski , raised PR against the ticket.
#3902

[2022-10-31 20:27] ZoranPandovski opened #3903 "[Docs] Remove old tutorials assets (show-tables.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `show-tables.png ` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/tutorials/aitables-clickhouse/show-tables.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the d

[2022-10-31 20:35] Rutam21 opened #3904 "[Manual QA] Test Impala Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Impala Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a s

[2022-10-31 20:37] Rutam21 opened #3905 "[Manual QA] Test IBM Informix Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the IBM Informix Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please atta

[2022-10-31 20:38] Rutam21 opened #3906 "[Manual QA] Test Lightwood Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Lightwood Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach

[2022-10-31 20:39] Rutam21 opened #3907 "[Manual QA] Test Ludwig Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Ludwig Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a s

[2022-10-31 20:41] Rutam21 opened #3908 "[Manual QA] Test MariaDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the MariaDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-31 20:42] Rutam21 opened #3909 "[Manual QA] Test Matrixone Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Matrixone Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach

[2022-10-31 20:43] Rutam21 opened #3910 "[Manual QA] Test MonetDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the MonetDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-31 20:44] Rutam21 opened #3911 "[Manual QA] Test Apache Pinot Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Apache Pinot Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please atta

[2022-10-31 20:46] Rutam21 opened #3912 "[Manual QA] Test Planetscale Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Planetscale Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attac

[2022-10-31 20:47] Rutam21 opened #3913 "[Manual QA] Test Redshift Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Redshift Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-31 20:49] Rutam21 opened #3914 "[Manual QA] Test AWS S3 Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the AWS S3 Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a s

[2022-10-31 20:50] Rutam21 opened #3916 "[Manual QA] Test ScyllaDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the ScyllaDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-31 20:51] ShivamGarg2910 commented on #3903
@ZoranPandovski , please review PR #3915

[2022-10-31 20:52] Rutam21 opened #3917 "[Manual QA] Test Singlestore Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Singlestore Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attac

[2022-10-31 20:53] Rutam21 opened #3918 "[Manual QA] Test Snowflake Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Snowflake Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach

[2022-10-31 20:55] Rutam21 opened #3919 "[Manual QA] Test SQLite Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the SQLite Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a s

[2022-10-31 20:58] Rutam21 opened #3920 "[Manual QA] Test Supabase Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Supabase Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-31 20:59] Rutam21 opened #3921 "[Manual QA] Test Teradata Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Teradata Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-31 21:00] Rutam21 opened #3922 "[Manual QA] Test TiDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the TiDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a scr

[2022-10-31 21:01] Rutam21 opened #3923 "[Manual QA] Test TimeScaleDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the TimeScaleDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attac

[2022-10-31 21:03] Rutam21 opened #3924 "[Manual QA] Test Trino Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Trino Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a sc

[2022-10-31 21:04] Rutam21 opened #3925 "[Manual QA] Test Vertica Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the Vertica Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach a

[2022-10-31 21:05] Rutam21 opened #3926 "[Manual QA] Test YugabyteDB Handler Manually"
**At MindsDB, we are driven by the open-source community 💚.  So, this Hacktoberfest we aim to ask our community to review the MindsDB Database handlers in-depth and provide us with their feedback/observations.**

## What

Your task is to manually complete the following tasks using the YugabyteDB Handler.

- ### CREATE DATABASE
This confirms that you are able to connect your Database. Please attach

[2022-10-31 21:25] ZoranPandovski opened #3929 "[Docs] Remove old tutorials assets (mdb-ch.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `mdb-ch.png ` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/tutorials/aitables-clickhouse/mdb-ch.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a

[2022-10-31 21:27] ZoranPandovski opened #3930 "[Docs] Remove old tutorials assets (model-status.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `model-status.png` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/tutorials/aitables-mssql/model-status.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw

[2022-10-31 21:43] cronJohn commented on #3930
I fixed this issue in pull request #3931

[2022-10-31 21:46] marcjermainepontiveros-sun commented on #3929
Please assign it to me

[2022-10-31 22:39] cronJohn commented on #3930
I fixed this issue in a new pull request #3934 I created because I messed up the difference branches

[2022-10-31 22:42] Tes-program commented on #3877
This Dataset doesn't exist from the link.

[2022-10-31 23:29] marcjermainepontiveros-sun commented on #3917
Please assign this to me.

[2022-10-31 23:49] #3874 closed

[2022-10-31 23:49] #3929 closed

[2022-10-31 23:53] ZoranPandovski opened #3937 "[Docs] Remove old tutorials assets (select-db.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `select-db.png` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/tutorials/aitables-mssql/select-db.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a

[2022-11-01 00:07] marcjermainepontiveros-sun opened #3938 "[Bug]: SingleStore Testing SELECT FROM PREDICTOR produces an error 'query() got an unexpected keyword argument 'query''"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I run the command that uses the trained model, e.g.,

```SELECT machine_failure FROM mindsdb.machine_failure_model WHERE torque_nm = 40;```

it produces the following error:

[code]

### Expected Behavior

When I run the command that uses the trained model, e.g.,

```SELECT machine_failu

[2022-11-01 00:25] Georgezogos commented on #3937
hello, can i work on that?

[2022-11-01 00:39] ZoranPandovski commented on #3937
Yes, just make a pr

[2022-11-01 00:45] marcjermainepontiveros-sun commented on #3917
@Rutam21 thanks! I've tested **SELECT FROM PREDICTOR** and I encountered some issue, I've made a separate issue and PR as instructed. Please let me know if I got some of the steps incorrectly. Thank you!

![Screenshot 3](https://i.imgur.com/knPd6Ox.png)

[2022-11-01 00:50] ZoranPandovski opened #3942 "[Docs] Remove old tutorials assets (train-model.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `train-model.png` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/tutorials/aitables-mssql/train-model.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw fo

[2022-11-01 01:01] matthewtian3 commented on #3942
made a pr with the deleted file

[2022-11-01 01:22] ZoranPandovski opened #3946 "[Docs] Remove old tutorials assets (query.png)"
**Describe the bug**
We need to clean up the docs assets with old data sources. Please remove the `queryl.png` file

**Fix**

1. Delete https://github.com/mindsdb/mindsdb/blob/staging/docs/mindsdb-docs/docs/assets/tutorials/aitables-mssql/query.png file from mindsdb docs.

## :loudspeaker: Additional rewards :trophy:

Each documentation PR brings :one: : point and entry into the draw for a  :point

[2022-11-01 02:11] MichaelLantz opened #3947 "[Bug]: Access Handler Not Behaving As Expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When attempting to Create a database using an Access Handler in the Mindsdb editor I receive the following error:

Through editor:

[code]

Through terminal:

[code]
### Expected Behavior

When attempting to run Create database with Access Handler the command completes successfully

### Steps

[2022-11-01 05:48] ashishc0d3r commented on #3404
Hey @Rutam21  if you agree @ZoranPandovski  can assign it to

I liked to work on it

[2022-11-01 13:57] #3884 closed

[2022-11-01 13:59] #3738 closed

[2022-11-01 14:19] #3870 closed

[2022-11-01 14:22] #3879 closed

[2022-11-01 14:34] #3734 closed

[2022-11-01 15:00] #3881 closed

[2022-11-01 15:03] #3871 closed

[2022-11-01 15:49] paxcema opened #3961 "[Bug]: Time series model fails to train when data has specific column names"
**Describe the bug**
As seen in #3765, a TS model will not work correctly if the input dataframe looks like this:

[code]

Fairly low priority at the moment, though.

[2022-11-01 17:04] ianu82 opened #3962 "[DOCUMENTATION] Instructions for users on steps to install dependencies for Datasources on OS version"
When downloading MindsDB Open Source version, some datasources cannot be used immediately because they and their dependencies are not installed by default. We do not mention this in the docs.

We need to a) mention that some datasources are not immediately usable in the docs when downloading open source and b) give instructions about how to download the relevant dependencies so a user can use thei

[2022-11-01 17:07] Georgezogos commented on #3937
Hello @ZoranPandovski , could you please accept the pr in order for me to complete the hacktoberfest challenge?

[2022-11-01 17:28] paxcema opened #3963 "[fix] update ML handler signature where needed"
This is due to changes introduced in #3765 as part of the Projects feature. Handlers that may need updating are:
- [x] MLFlow (see #3708)
- [x] Ludwig (see #3744)
- [x] Huggingface (fixed, see #3377)

[2022-11-01 17:58] martyna-mindsdb opened #3964 "Errors when creating the HuggingFace predictors"
I run queries from [here](https://docs.google.com/document/d/1EhwsidTT6PwXQ5uJr3mF5snqPaNsp2yQhclxinsCU4k/edit) on alpha.mindsdb.com

When executing `CREATE PREDICTOR` statements, I get an error `Prediction target "xxx" not found in training dataframe: []`.

Here are the screenshots:

![image](https://user-images.githubusercontent.com/109554435/199305814-a7c01f49-b59f-401d-a236-ca09b8c4e163.png)

[2022-11-01 18:19] alissatroiano opened #3965 "[Bug]: Local Build Errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I try to deploy MindsDB locally, I receive an error in my CLI output

<img width="593" alt="Screen Shot 2022-11-01 at 1 13 55 PM" src="https://user-images.githubusercontent.com/56362524/199294935-9062c3ca-e467-4b52-bfe9-c158b8bef6f5.png">

### Expected Behavior

When I input, `python3 -m

[2022-11-01 18:20] alissatroiano opened #3966 "[Bug] Inconsistent Python & Pip Version Usage in MindsDB Docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I follow the instructions in `https://docs.mindsdb.com/contribute/install/`, I am instructed to use `python3` and `python` to deploy MindsDB.

<img width="817" alt="Screen Shot 2022-11-01 at 12 54 30 PM" src="https://user-images.githubusercontent.com/56362524/199291118-81eabf1e-9fe6-4645

[2022-11-02 09:06] StpMax commented on #3890
Will be good to add `show full tables`. So user may determine which db is project, and which is not
![image](https://user-images.githubusercontent.com/4068133/199448903-65cc62e5-4958-4ad6-ba12-1644f64907d6.png)

[2022-11-02 09:08] StpMax commented on #3890
[code]
yes, that can be done via
[code]

[2022-11-02 10:39] martyna-mindsdb commented on #3890
Thanks, @StpMax!
Below is an updated plan for the doc page. If you have further suggestions as to the content, please let me know.

[code]

[2022-11-02 12:17] #3897 closed

[2022-11-02 12:31] ea-rus commented on #3963
Also need to move interaction with database to ModelStorage

[2022-11-02 12:37] ea-rus commented on #3456
https://github.com/mindsdb/mindsdb/pull/3377/commits/3898b520edaa8cbc7393db85d7a851c05a80ad8f

Created method for validation of 'create model params'. Added this checks:
[code]

 Now is possible to use it in top_k in 'create model' params and it will use for  'text-classification' and 'zero-shot-classification'
`  2) TH: need to add top_k`

[2022-11-02 12:40] ea-rus commented on #3457
https://github.com/mindsdb/mindsdb/pull/3377/commits/3898b520edaa8cbc7393db85d7a851c05a80ad8f

No such error it ml-handler-subproccess branch (can't repeat or resolved)
 3) Second predictor using the same model_name gets stuck at 'generating'
 5) Likely to be due to ""s instead of ''s. Something else for us to check - raise an error if a problem?
 6) Above should not be an error
 8) This model_nam

[2022-11-02 12:53] ea-rus commented on #3964
fixed in #3377

[2022-11-02 16:52] martyna-mindsdb opened #3970 "[HuggingFace] Error when querying for predictions"
I created a predictor using this command:

[code]

Now I query for predictions using this command:

[code]

And I get an error: `Join between two tables must have ON clause`

[2022-11-02 16:55] martyna-mindsdb opened #3971 "[HuggingFace] Predictors are created with an error and do not display their accuracy values"
Now I can create predictors but these are created with an error message:
`TypeError: object of type 'NoneType' has no len(), raised at: /usr/local/lib/python3.8/dist-packages/mindsdb/integrations/handlers/lightwood_handler/lightwood_handler/functions.py#149`

![image](https://user-images.githubusercontent.com/109554435/199553055-86e7fe6e-a3b2-4951-977d-9d8be90fd6c1.png)

[2022-11-02 17:47] paxcema commented on #3963
Yes, I think it is done now: ) Closing.

[2022-11-02 17:47] #3963 closed

[2022-11-02 23:27] #3930 closed

[2022-11-03 08:14] paxcema opened #3973 "Remove db.Predictor usage in Lightwood handler"
e.g.:

[code]

[2022-11-03 08:36] bachng2017 opened #3974 "[Bug]: timeseries does not work correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1. Proceed the house-sales prediction tutorial
2. Query the result without LATEST constrain. Results are described below. All forecasts were `772977` which is not correct
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

might related to #3213 ,

[2022-11-03 08:46] paxcema commented on #3974
Can you describe the model please? I was not able to replicate this locally.

[2022-11-03 09:25] EVAUTOAI opened #3975 "[Bug]: Unable to launch - resolve pymsql issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After running the docker image (via the command "docker run -p 47334:47334 -p 47335:47335 mindsdb/mindsdb"), I try to access http://localhost:47334, and I get the error "Not Found
The requested URL was not found on the server. If you entered the URL manually please check your spelling and try

[2022-11-03 09:45] ianu82 opened #3976 "[BUG] GUI uses SQL Server example that is incorrect"
**Describe the bug**
In MindsDB Cloud, going to the list of data sources and choosing SQL Server creates a CREATE Database statement that is incorrect.

It asks you to add ODBC driver which is not required by the example you the docs. This is confusing users.

![Uploading C4B4DC35-0B0B-4D71-8F3D-96FD4C4B1914.png…](From GUI after clicking SQL Server datasource)

vs
![Uploading 355FB79A-825D-457D-A3

[2022-11-03 10:25] ianu82 commented on #1848
Hey @AvinashGupta, did you finish InfluxDB support please?

@ZoranPandovski: checking on status.

[2022-11-03 10:41] ZoranPandovski commented on #3975
Hi @EVAUTOAI, on start MindsDB will alsways listen on the `localhost`. How did you setup the `10.73.41.12` address?

[2022-11-03 11:11] EVAUTOAI commented on #3975
Oh I am sorry, I meant: http://127.0.0.1:47334

[2022-11-03 12:38] adumansr commented on #3946
i'm completely new to contributing i really want to contribute but i really don't know i  little help just to know the process will help alot tnx

[2022-11-03 12:43] ZoranPandovski commented on #3975
Is there any error in the MindsDB log?

[2022-11-03 12:44] ZoranPandovski commented on #3946
@adumansr You just need to delete the file mentioned above and make the PR

[2022-11-03 13:29] tomhuds opened #3977 "[Bug]: Improve pip install stability - add commands to docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Users (including me) have difficulty installing MindsDB from pip.
- Often it does not work due to dependency conflicts.
- Sometimes it does not work because they are using a newer, unsupported python version

### Expected Behavior

Ideally a hassle-free, easy installation process that works w

[2022-11-03 16:21] paxcema commented on #3974
Can you provide the output of `DESCRIBE mindsdb.home_sales_pred.model` please?

[2022-11-04 02:33] EVAUTOAI commented on #3975
None from docker.. when trying to run from the pip version using the command "python -m mindsdb", I get the following logs (http://localhost:47334 - gives thee same not found error):
_/Users/mac_admin/opt/anaconda3/envs/mindsdbEnv/lib/python3.7/site-packages/requests/__init__.py:104: RequestsDependencyWarning: urllib3 (1.26.6) or chardet (5.0.0)/charset_normalizer (2.0.2) doesn't match a supported

[2022-11-04 05:23] bachng2017 commented on #3974
here it is
[code]

[2022-11-04 06:08] EVAUTOAI commented on #3975
Below are the logs for running the docker image:

 _✓ telemetry enabled

Applying database migrations:
INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.migration] Running upgrade  -> 17c3d2384711
INFO  [alembic.autogenerate.compare] Detected added table 'ai_table'
INFO  [alembic.autogenerate.compa

[2022-11-04 08:11] parthiv11 commented on #3782
@ZoranPandovski  close this issue as it is already implemented

[2022-11-04 09:59] tomhuds opened #3978 "Hugging Face - Alpha fixes part 2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/bba0a0d935e34213a448d4d2229147e1

**HIGH PRIORITY**

- [x] 2) Unhelpful error message: 'NoneType' object has no attribute 'get'. This only has happend when running this for the second time.
- [x] 6) Output should be the same as for row in query above (missing input_

[2022-11-04 11:35] tomhuds opened #3979 "[Bug]: File upload not working for my csv"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/4361a4a1fd594467ae829de1e7caea80

Unable to upload this csv (5.6k rows) on cloud and alpha
[SMSSpamCollection.csv](https://github.com/mindsdb/mindsdb/files/9937803/SMSSpamCollection.csv)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

#

[2022-11-04 12:10] tomhuds commented on #3979
Solved by resaving csv with libreoffice. Unsure why this helps vs saving from python
https://www.loom.com/share/ad941b33ae094957b9fbe3cc429c18f6

[2022-11-04 12:38] #3782 closed

[2022-11-04 15:28] AdamMCarrigan opened #3980 "Transition GUI Learning Hub from youtube to Vimeo"
With YouTube some users are seeing Ad's before our videos and recommendations to other videos that are not from MindsDB. Vimeo provides more control and no ads.

Vimeo credentials are in Rpass or ask Adam

[2022-11-04 15:47] Ricram2 commented on #3980
I am sending this one over to @Dav1dF, he has the videos for the upload, Once re-uploaded to Vimeo send us the URL's and I will personally make the changes. :)

[2022-11-04 16:36] Ricram2 commented on #3068
Working on Alpha

[2022-11-04 16:40] Ricram2 commented on #3498
@tomhuds  Please confirm and close accordingly.

[2022-11-04 16:42] Ricram2 commented on #3652
@tomhuds please QA

[2022-11-04 16:48] tomhuds commented on #3760
- How would this work for local?
- How should we send the input data? JSON?

[2022-11-04 17:13] Ricram2 commented on #2411
Won't support for now, recommend to push the predictions back to the DB and source it from there :)

[2022-11-04 17:13] #2411 closed

[2022-11-04 17:16] Ricram2 commented on #3976
![Image](https://user-images.githubusercontent.com/24927430/200036466-8bd28f4c-9201-4943-b598-1fc9dd79280a.png)

@alejandrovillegas  Change this CREATE DATABASE template to the correct one on docs.mindsdb.com

[2022-11-04 17:24] Ricram2 commented on #2530
@ZoranPandovski and @ianu82 get the intel, @martyna-mindsdb Creates a new doc page for the min hardware specs and why does it matter to the client.

[2022-11-04 17:28] Ricram2 commented on #2614
Too broad :)

[2022-11-04 17:28] #2614 closed

[2022-11-05 06:18] redterrum commented on #3946
@ZoranPandovski if this is still a WIP, I would love to make a contribution

[2022-11-05 14:31] ZoranPandovski commented on #3946
Sure @redterrum just make a PR

[2022-11-06 07:57] paxcema commented on #3974
This _could_ be an issue with this specific mixer. I will look into it a bit deeper and let you know.

[2022-11-06 09:00] paxcema opened #3983 "[bug] Lightwood handler errors for time series tasks with horizon=1"
As reported in [lightwood#1040](https://github.com/mindsdb/lightwood/issues/1040) by @bachng2017:

## Your Environment

- Python version: python 3.8.8
- Operating system: oraclelinux:8 container
- Lightwood version: 22.10.4.2 (compiled from code)

## Describe your issue

When HORIZON=1 some predictor creation stopped with error:

[code]

## How can we replicate it?

Run home-sale predict tutorial

[2022-11-06 13:23] redterrum commented on #3946
Hi @ZoranPandovski , I have raised a PR, can you review it? Thanks!

[2022-11-06 13:39] bachng2017 commented on #3974
somehow with the latest mindsdb staging code we could not confirm the above issue. Feel free to close the ticket. When we see this again will report with more detail information

[2022-11-06 14:08] bachng2017 opened #3984 "Question about HORIZON parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

(from the code) it looks like the HORIZON has effect to the training process (used as a seasonal period parameter) also (*). But from the document it is mentioned liked this, which only about the predict query.

[code]

If the above (*) is true, then the document might need to be brushed up t

[2022-11-07 07:46] chandrevdw31 commented on #3984
Hi @bachng2017 to clarify,the Horizon does have an effect on the number of results that are given(ie. the amount of rows it outputs). The default results,meaning without the HORIZON statement will give you one row result for your prediction. However, giving a parameter,ie. 10, will producde results of 10 rows for your prediction. Does that make sense?

[2022-11-07 08:11] bachng2017 commented on #3984
@chandrevdw31 thanks for the comment.
We meant, the Horizon parameter not only has an effect on the number of output but also has effects on the training phase. That part is missing from the document.

[2022-11-07 09:44] martyna-mindsdb commented on #3977
I used `ppa:deadsnakes/ppa` to install MindsDB locally.
I'll add the codes to the doc pages for Windows/Linux/Mac: https://docs.mindsdb.com/setup/self-hosted/pip/windows/

[2022-11-07 09:48] martyna-mindsdb commented on #2530
@Ricram2
Ok. I'm waiting for the min hardware specs.

[2022-11-07 09:51] martyna-mindsdb commented on #3962
Is there a list of all such datasources/dependencies?

[2022-11-07 09:58] martyna-mindsdb commented on #3652
I just run it on alpha, and still get this error.

![image](https://user-images.githubusercontent.com/109554435/200281626-cb972817-ff7c-4a88-bb75-bed6b039b532.png)

[2022-11-07 12:58] martyna-mindsdb commented on #2980
@ZoranPandovski
Here are the database connections where a zip file or a json file is used.
Please let me know where I can find these files. Thanks.

* secure_connection_bundle zip file
https://docs.mindsdb.com/sql/create/databases/#datastax
https://docs.mindsdb.com/sql/create/databases/#scylla

* service_account_keys json file
https://docs.mindsdb.com/sql/create/databases/#google-big-query

[2022-11-07 13:04] martyna-mindsdb commented on #2438
@paxcema
Please let me know once you have the draft. Thanks!

[2022-11-07 13:49] ZoranPandovski commented on #3974
Thanks for the info @bachng2017 feel free to re open it.

[2022-11-07 13:49] #3974 closed

[2022-11-07 13:54] ZoranPandovski commented on #3979
GUI doesn't recognize the file as a valid csv

[2022-11-07 13:56] #3890 closed

[2022-11-07 13:58] ZoranPandovski commented on #3962
Run local version of mindsdb those will be printed on start in the console

[2022-11-07 14:00] #3977 closed

[2022-11-07 14:01] #3946 closed

[2022-11-07 14:28] ZoranPandovski commented on #2267
Closing this, @wangqinghuan if this is still an issue please re open it and we can discuss it in more details.

[2022-11-07 14:28] #2267 closed

[2022-11-07 14:28] ZoranPandovski commented on #2254
Closing this, @wangqinghuan if this is still an issue please re open it and we can discuss it in more details.

[2022-11-07 14:28] #2254 closed

[2022-11-07 14:30] ZoranPandovski commented on #2318
Same as https://github.com/mindsdb/mindsdb/issues/1822.

[2022-11-07 14:33] ZoranPandovski commented on #2354
Closing this for now. We can post one issue per specific integration

[2022-11-07 14:33] #2354 closed

[2022-11-07 14:34] ZoranPandovski commented on #2340
Closing this, we can post issue per specific integration

[2022-11-07 14:34] #2340 closed

[2022-11-07 14:35] #2377 closed

[2022-11-07 14:37] ZoranPandovski commented on #2448
Closing this, if we have another issue let's re open or report new one.

[2022-11-07 14:37] #2448 closed

[2022-11-07 14:39] ZoranPandovski commented on #2494
Closing this, if we have another issue let's re open or report new one.

[2022-11-07 14:39] #2494 closed

[2022-11-07 14:42] paxcema commented on #3983
Closing, seems like it is an edge case in a specific Lightwood mixer.

[2022-11-07 14:42] #3983 closed

[2022-11-07 14:43] #2697 closed

[2022-11-07 14:44] #2791 closed

[2022-11-07 14:44] #2795 closed

[2022-11-07 14:46] #2827 closed

[2022-11-07 14:47] #2852 closed

[2022-11-07 14:48] ZoranPandovski commented on #2891
We have this as integration issue https://github.com/mindsdb/mindsdb/issues/2851

[2022-11-07 14:48] #2891 closed

[2022-11-07 14:48] ZoranPandovski commented on #2883
Let's  post issue per each integration idea.

[2022-11-07 14:48] #2883 closed

[2022-11-07 14:49] ZoranPandovski commented on #2896
If this is still an issue feel free to re open

[2022-11-07 14:49] #2896 closed

[2022-11-07 14:50] ZoranPandovski commented on #2905
If this is still an issue feel free to re open

[2022-11-07 14:50] #2905 closed

[2022-11-07 14:50] #2942 closed

[2022-11-07 14:52] ZoranPandovski commented on #3035
Closing this for now until we officially support dbvisualizer

[2022-11-07 14:52] #3035 closed

[2022-11-07 14:53] #3041 closed

[2022-11-07 14:54] #3068 closed

[2022-11-07 14:56] #3250 closed

[2022-11-07 14:57] #3964 closed

[2022-11-07 15:12] tomhuds commented on #3652
@ea-rus please could you check and share a loom of it working in alpha?

[2022-11-07 15:21] #3362 closed

[2022-11-07 15:26] ZoranPandovski commented on #3464
Is this done?

[2022-11-07 15:28] ZoranPandovski commented on #3538
@Leigh-Ola did you made any progress?

[2022-11-07 15:36] #3739 closed

[2022-11-07 17:34] Dav1dF commented on #3980
## Vimeo:
- [ ] 1. Select your service for MindsDB  https://vimeo.com/768117001/0966ac32da
- [ ] 2. Add MindsDB to your service Allowlist https://vimeo.com/768116526/a1383e1ba2
- [ ] 3. Download your service .pem file https://vimeo.com/768116804/eab6e8e2ff
- [ ] 4. Publicly expose your service .pem file https://vimeo.com/768116895/f44c2e1dda
- [ ] 5. Link MindsDB to your MariaDB SkySQL Service htt

[2022-11-07 17:49] Ricram2 commented on #3980
@setohe0909 Can you help me with the GUI I'll do the docs?

[2022-11-07 17:59] setohe0909 commented on #3980
Sure

[2022-11-07 18:22] Ricram2 commented on #3980
Done on Docs.

[2022-11-07 19:10] setohe0909 commented on #3980
Done in this PR --> https://github.com/mindsdb/mindsdb-frontend/pull/838

[2022-11-08 03:44] RajRathee opened #3990 "[Integration]: Support Integration for Apache HBase"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

No.

### Describe the solution you'd like.

Support integration with Apache HBase.

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-11-08 08:27] ea-rus commented on #3652
Try to run this query:
[code]
We have project structure on alpha and views is located in mindsdb folder now.

For some reason views.used_car_price_plus_another_2_columns is also working but not  correctly. For example this query don't use limit:
`SELECT * FROM mindsdb.used_car_price_plus_another_2_columns LIMIT 5;`

[2022-11-08 10:25] tomhuds opened #3993 "[Bug]: Hugging Face - Alpha Fixes p3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Error message: 'NoneType' object has no attribute 'get'.

This happens for Martyna but oddly does not for me.

https://www.loom.com/share/9e6258af97fc45fca5ceed02dc9cb256

Code to reproduce:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else

[2022-11-08 11:07] ea-rus commented on #3993
Can't repeat too.
SQL is copy-pasted? Can it be some wrong symbol in engine name for example ?

[2022-11-08 11:19] martyna-mindsdb commented on #3993
I copy-pasted the SQL, and run it using the Run button.

[2022-11-08 11:23] martyna-mindsdb commented on #3993
I use this one:
[code]
And get this error: `'NoneType' object has no attribute 'get'`

[2022-11-08 11:32] tomhuds commented on #3970
Uses old format (pre-projects project)

[2022-11-08 11:32] #3970 closed

[2022-11-08 11:32] martyna-mindsdb commented on #3652
This one works fine.

[2022-11-08 11:37] tomhuds commented on #3971
Uses syntax from previous version

[2022-11-08 11:37] #3971 closed

[2022-11-08 11:40] martyna-mindsdb commented on #3993
Here is a step-by-step video: https://www.loom.com/share/7b821150cea34db8b16e7f3308132cfe

To give some background on the history of my alpha account, I created it some time ago but until yesterday it was a trial account. Then, Max upgraded it yesterday.

[2022-11-08 11:45] martyna-mindsdb opened #3994 "Docs updates after introducing PROJECT entity"
Doc pages to be updated:

- views are no longer in the `views` database, but in a project (default is `mindsdb`):
https://docs.mindsdb.com/sql/feature-eng/
https://docs.mindsdb.com/sql/table-structure/
https://docs.mindsdb.com/sql/create/databases/#listing-linked-databases
https://docs.mindsdb.com/sql/create/view/
(?) https://docs.mindsdb.com/mongo/collection-structure/
(?) https://docs.mindsdb.co

[2022-11-08 12:35] martyna-mindsdb commented on #3993
When listing ml_engines in my alpha account, I get only lightwood.
Max added huggingface engine to my account, and now all works fine.

Closing this issue. Thanks.

[2022-11-08 12:35] #3993 closed

[2022-11-09 07:20] ea-rus commented on #3978
HIGH PRIORITY
2. mistype in engine name. added more clear error message in #3991
6. discussed: first result is different because first query has addition column from table
5. not update HF model files if they are already loaded on node done in #3991

[2022-11-09 07:46] EphraimX commented on #3464
Hello, Zoran.
The article is nearly finished, but I'm having trouble creating a predictor from MongoDB Compass.
I raised the issue on Slack [here](https://mindsdbcommunity.slack.com/archives/C037482KJ22/p1667147729222669), and would appreciate it if it could be resolved or clarified so the article can be completed and published.
Thank you.

[2022-11-09 09:35] tomhuds commented on #3978
Nice one bud!

[2022-11-09 10:04] #3942 closed

[2022-11-09 10:14] #3560 closed

[2022-11-09 10:16] #3875 closed

[2022-11-09 10:18] #3980 closed

[2022-11-09 10:55] paxcema opened #4016 "[CUSTOMER REQUEST] Ability to specify model arguments when predicting."
**Is your feature request related to a problem? Please describe.**
Some ML models can be tuned at prediction time to control their behavior.

A simple example: we want to specify a confidence level to the default one.

**Describe the solution you'd like**
An extension to our SQL syntax so that we can pass `args` to the handler `predict()` function.

**Additional context**
Rather urgent.

[2022-11-09 11:01] #3865 closed

[2022-11-09 12:29] martyna-mindsdb commented on #2929
@Ricram2
As discussed, I'll take up changing the formatting of placeholders for variable names.

[2022-11-09 15:44] martyna-mindsdb commented on #2929
MySQL uses square brackets [ ] to indicate an optional block and _italics_ format to indicate variable names.
To be implemented throughout the docs.

[2022-11-09 16:18] ea-rus opened #4018 "Documentation for new syntax: retrain and managing version"
We need documentation for new functionality that will be created in these PRs
- #3988
- #4015

Now it described in examples in part 1 of this document:
https://docs.google.com/document/d/15ndRacuJNpmsPp-OVNzq1E7FaIB1W8Yzo3abWAKpqbs/edit#

[2022-11-09 16:38] martyna-mindsdb opened #4019 "Implement syntax changes in docs: retrain and managing version"
Syntax changes described here: https://github.com/mindsdb/mindsdb/issues/4018

[2022-11-09 16:48] martyna-mindsdb opened #4020 "Create a doc page on CREATE ML_ENGINE"

[2022-11-09 17:05] #4019 closed

[2022-11-09 17:07] martyna-mindsdb opened #4021 "Create a doc page on ML handlers"

[2022-11-09 18:53] ea-rus commented on #4016
Proposal: use 'using' keyword in select command:
[code]

[2022-11-10 16:05] alejandrovillegas commented on #3976
Done on the next release.
Thank you @ianu82 @Ricram2

[2022-11-10 16:11] #3976 closed

[2022-11-10 17:04] ianu82 opened #4027 "[CUSTOMER REQUEST] Make sure streams work"
Large customer wanting to use streams with MindsDB. Can we please confirm that this is in working order?

[2022-11-11 11:26] tomhuds opened #4029 "[Bug][CUSTOMER REQUEST]: Errors in Lightwood timeseries on Alpha"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/3f51d777abd64ba7b027d0e97798cefa

CSV:
https://drive.google.com/file/d/1NmVcFz-A1Wb2JkbkvU4SnLN0VkYFajSc/view?usp=sharing

- [x] -- 1) Accuracy = Null
- [ ] -- 2) Temp is positive, but should be negative
- [x] -- 3) anomaly = true, but this is for the future so how

[2022-11-11 11:51] DimaAlexRudoy commented on #2199
Defaulting to user installation because normal site-packages is not writeable
Collecting pyqt5-tools
  Using cached pyqt5_tools-5.15.4.3.2-py3-none-any.whl (29 kB)
Collecting click
  Using cached click-8.1.3-py3-none-any.whl (96 kB)
Collecting pyqt5==5.15.4
  Using cached PyQt5-5.15.4.tar.gz (3.3 MB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparin

[2022-11-11 12:03] tomhuds commented on #2803
Happening on Alpha again: https://www.loom.com/share/63422641200043efa1c055320e823ed6

[2022-11-11 12:06] tomhuds commented on #2803
Closing since this is a duplicate of https://github.com/mindsdb/mindsdb-frontend/issues/694

[2022-11-11 12:06] #2803 closed

[2022-11-11 12:27] tomhuds commented on #3498
@ea-rus
The >LATEST query does not work
THE =LATEST query does not work

https://www.loom.com/share/dd374b88d1e345b2bd8bc80901d34f0a

[2022-11-11 12:40] tomhuds commented on #3979
Ref slack conversation: https://mindsdb.slack.com/archives/C027S7MHU49/p1668117581006239

[2022-11-11 12:49] tomhuds opened #4030 "[Bug]: Update file upload page to reflect available file formats (csv, xsl, parquet, json...)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/34073127/201343539-5bfc8394-263f-4a33-bf70-47a0c201b0d5.png)

https://alpha.mindsdb.com/fileUpload

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-11-11 12:54] tomhuds commented on #3312
Relates to https://github.com/mindsdb/mindsdb/issues/3979

[2022-11-11 14:15] tomhuds commented on #3498
Closing - works when using **mindsdb.name_of_view**
instead of **views.name_of_view**

[2022-11-11 14:15] #3498 closed

[2022-11-11 14:35] tomhuds commented on #3652
Works using **mindsdb.view_name**
Doesn't work with **views.view_name**

-- Works
SELECT d.model as model,
       d.price as price_true,
       m.price as price_pred
FROM
mindsdb.used_car_price_plus_2_columns as d
JOIN
mindsdb.price_predictor_plus_2_columns as m;

[2022-11-11 15:06] tomhuds commented on #3652
@martyna-mindsdb Closing this for now - see https://github.com/mindsdb/mindsdb-docs/issues/209

[2022-11-11 15:06] #3652 closed

[2022-11-11 15:49] tomhuds commented on #3208
@StpMax I think this is available now

[2022-11-11 15:49] #3208 closed

[2022-11-11 15:59] tomhuds commented on #3457
Superseded by https://github.com/mindsdb/mindsdb/issues/3978

[2022-11-11 15:59] #3457 closed

[2022-11-11 16:00] #3456 closed

[2022-11-11 17:05] tomhuds opened #4031 "Easier to submit bugs directly from GUI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

- A lot of time is wasted asking for more info from users to better explain their bugs
- A lot of times bugs go unreported

### Describe the solution you'd like.

It would be great to make logging issues more streamlined e.g.
- Link to _create iss

[2022-11-14 03:47] AmitKarnam commented on #3926
Seems like a good issue to start working with MindsDB.
I have strarted paying around with  MindsDB web. I would like to work on this issue. Any other suggestions regarding the same can help.
THANK YOU!

[2022-11-14 09:43] tomhuds opened #4035 "[Bug]: Correct the docs for RETRAIN update_status"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Current docs are wrong - update_status does not depend on the data.

When to RETRAIN the Model?
It is advised to RETRAIN the predictor whenever the update_status column value from the mindsdb.predictors table is set to available.

Here is when the update_status column value is set to availabl

[2022-11-14 10:14] SaumyaBhushan commented on #4035
@tomhuds Let me know If I can do that.

[2022-11-14 12:31] #3786 closed

[2022-11-14 13:23] ianu82 commented on #3760
Bump - priority customer enquiring about this. Can we confirm how are we doing in green book call please?

[2022-11-14 15:03] martyna-mindsdb opened #4039 "Changes to the Contributing Guide --> Building a New Integration doc page"
https://docs.mindsdb.com/contribute/integrations/

[2022-11-14 15:05] ZoranPandovski opened #4040 "[BUG] RETRAIN doesn't work"
If the user RETRAIN an existing model that works, there is an error thrown:

[code]
This could be related to the new `projects` structure.

[2022-11-14 15:48] tomhuds opened #4041 "[Bug]: pip installation errors related to dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Not able to install MindsDB in developer mode via pip:

Full log: https://docs.google.com/document/d/1Vjd5BjjyPLY4ObPOE9mlC3fc4jnuFv_NPWTjEojN1CQ/edit?usp=sharing

- Missing type_infer
- Missing mxnet
- Missing dateinfer
- Missing infer
- ImportError: cannot import name 'infer' from 'infer'

[2022-11-14 16:59] Ricram2 commented on #3979
Fixed on Cloud.

[2022-11-14 17:01] tomhuds commented on #3979
This one isn't working:
[financialheadlines.csv](https://github.com/mindsdb/mindsdb/files/10005261/financialheadlines.csv)

[2022-11-14 17:02] tomhuds commented on #3979
![image](https://user-images.githubusercontent.com/34073127/201721161-5f64d3a8-3cfb-4e0c-b92a-971d2e753047.png)

[2022-11-14 17:19] Ricram2 commented on #4027
Please @ilia-tsyplenkov Check:
1. That Kafka connection / handler exists
2. That it works.
3. A demo of it working.
4. What other streams handlers do we have or are missing ?

[2022-11-14 17:22] #3336 closed

[2022-11-14 17:24] Ricram2 commented on #3978
Let's break it down into smaller issues and send it to ML handlers @tomhuds

[2022-11-14 17:27] Ricram2 commented on #3965
We just recently deployed a new version that may have solved the issue, would you mind trying the process again. With a clean venv ?

[2022-11-14 17:29] Ricram2 commented on #3947
Let us know any updates :)

[2022-11-14 17:41] martyna-mindsdb commented on #2929
Here are updates on query formatting throughout the docs.
Any suggestions are welcome.

**1. A code block:**
- currently used for queries throughout the docs
- allows copying the code easily
- does not allow formatting of its content
- markdown code and its output:
![image](https://user-images.githubusercontent.com/109554435/201727642-48911e42-c44f-498c-9d38-ae924466d6a4.png)

**2. A blockquote:**

[2022-11-14 18:34] StpMax commented on #4040
fixed

[2022-11-14 18:34] #4040 closed

[2022-11-15 04:11] rparthas commented on #3678
@ZoranPandovski I am halfway through it.  I will wrap by this week.

[2022-11-15 06:34] Nelson-He opened #4045 "[Integration]: Add openGauss support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

openGauss is a very famous enterprise database in China.
Add support for CREATE DATABASE example_db
WITH ENGINE = "opengauss"

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything e

[2022-11-15 08:49] ea-rus commented on #3978
Do we need better error message or we need to allow users to make errors
`1) Missing comma in USING gives unhelpful error message`

[2022-11-15 08:51] tomhuds commented on #3978
Not if I understand. If they make errors, we should give helpful error messages

[2022-11-15 10:42] martyna-mindsdb commented on #4039
@paxcema
Also, I see that [links to the `DatabaseHandler` and `PredictiveHandler` classes](https://docs.mindsdb.com/contribute/integrations/#how-to-write-a-handler) lead to `404 - Not Found` because the `base_handler.py` file is not in the `integrations/libs` folder anymore. Instead, these classes are in the [integrations/libs/base.py](https://github.com/mindsdb/mindsdb/blob/staging/mindsdb/integr

[2022-11-15 10:47] #3783 closed

[2022-11-15 10:49] #4021 closed

[2022-11-15 10:49] #4020 closed

[2022-11-15 11:45] ea-rus commented on #3978
First of all we can remove an old parser then error message for your example will be like:
`Syntax error at token ID: "task"`

For more clear message I created issue for parser:
https://github.com/mindsdb/mindsdb_sql/issues/241

[2022-11-15 11:59] tomhuds opened #4047 "[Bug][CUSTOMER]: Timeseries ORDER BY column removes HH:MM:SS in output"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior
![image](https://user-images.githubusercontent.com/34073127/201914862-1e473ef3-7fe4-4049-ba0e-470008bfedae.png)

https://www.loom.com/share/a8899ba512214d178e3f0ad3c043275b

### Expected Behavior

The model's ORDER BY column should be the same as the input.
Alternatively, it could be a tidied

[2022-11-15 12:50] StpMax commented on #3979
Changes in PR:
delimiter will be determined from first row (assume it is header)
assume that string escape symbol is always "

[2022-11-15 12:50] #3979 closed

[2022-11-15 12:50] tomhuds commented on #2987
Some very rough pseudo-code to get us started below.
Note
- haven't properly considered authentication, let alone best practice
- lots of other ways to structure the api/headers
- for local installation: login might not be necessary. At the moment they would likely have to start mindsdb themselves with `python -m mindsdb` like normal. Possibly this could be a future method too.

[code]

[2022-11-15 13:07] #3682 closed

[2022-11-15 13:20] tomhuds commented on #3978
Yep that looks great

[2022-11-15 13:29] ZoranPandovski commented on #3760
So what we gonna do is:

1. Document the current SQL endpoint
2. Build new `Query` endpoint

[2022-11-15 13:57] martyna-mindsdb commented on #2438
@paxcema
I used [this document](https://docs.google.com/document/d/15Y62tIhoJ7uKdQwwwpF5rEfn_QYOGOEnu1tVs4dLz00/edit) to create a doc page.

I wanted to add an example using the `example_db.demo_data.home_rentals` table, but after creating a model with the `USING` clause as you defined, there seems to be no information on permutation feature importance in the `rental_price_explain` column. Please

[2022-11-15 15:09] MichaelLantz commented on #3947
Will do. I'll see if I can carve out some time in the next day or two.

[2022-11-15 15:28] ZoranPandovski commented on #2987
We have two issues for this https://github.com/mindsdb/mindsdb/issues/3760

[2022-11-15 15:46] #3760 closed

[2022-11-15 16:50] ilia-tsyplenkov commented on #4027
Kafka steams haven't been tested for last 6 months. We don't test it in our CI, since the environment for testing Kafka streams wasn't stable and Streams functionality wasn't popular among our customers all this time. So to be honest I don't know what is going on there

[2022-11-15 17:59] martyna-mindsdb opened #4055 "Refine the structure of doc pages: Building a Database Handler and Building an ML Handler"
Create a general doc page on Handlers that links to the `Building a Database Handler` and `Building an ML Handler` pages.

Refine the structure of the `Building a Database Handler` and `Building an ML Handler` pages to not include general info on handlers.

[2022-11-16 10:46] martyna-mindsdb opened #4057 "The Informix datasource is missing"
![image](https://user-images.githubusercontent.com/109554435/202160329-1609a7d1-ad3a-4105-ab12-3d61f1a28919.png)

[2022-11-16 11:01] martyna-mindsdb commented on #4057
Also, the Informix data source is not there anymore.
![image](https://user-images.githubusercontent.com/109554435/202163408-7db2adb8-0e1e-4303-b847-87e8b7c11474.png)

[2022-11-16 11:53] setohe0909 commented on #4057
About informix box now is not listing because the dependencies is return false:

<img width="537" alt="image" src="https://user-images.githubusercontent.com/4140414/202173840-cfc81f3d-d798-4fe4-b379-77c43351dd7e.png">

@StpMax is there something pending here?

[2022-11-16 11:55] setohe0909 commented on #4057
@martyna-mindsdb Checking in cloud the logo of Yugabyte is there, where are you test cloud or self-hosted?

[2022-11-16 12:08] hkad98 opened #4058 "[Bug]: Changing default configuration does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a docker-compose file where I defined the mindsdb service as follows:

[code]

I need to override the default password for MySQL, which I do by setting the environment variable MDB_CONFIG_CONTENT with the override password for MySQL.

When I start the docker-compose, all services are u

[2022-11-16 12:34] martyna-mindsdb commented on #4057
@setohe0909
I was in the cloud and the logo was missing. But now it is back. Thanks!

[2022-11-16 12:58] tomhuds commented on #3312
@StpMax Just tried the above 2 csvs on staging and they're not working:

[2004-2021.csv](https://github.com/mindsdb/mindsdb/files/10021817/2004-2021.csv)

[Life Expectancy Data.csv](https://github.com/mindsdb/mindsdb/files/10021818/Life.Expectancy.Data.csv)

Seem to work ok here:

![Image](https://user-images.githubusercontent.com/34073127/202186717-07c3b2d9-40d8-4095-b3cd-2e7d60d1955b.png)

[2022-11-16 14:38] tomhuds opened #4060 "[Bug]: Column order is not preserved when using Hugging Face"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/619607892217402bb8cf283b08f66ae2

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-11-16 17:27] mysticaltech commented on #2950
Oh yeah, one of the fastest-growing NewSQL DBs out there! No joins, no support for document and graph, all queries via their SQL-like syntax, and extremely fast. [SurrealDB](https://surrealdb.com/) for all intents and purposes is revolutionary! And here's their Github https://github.com/surrealdb/surrealdb.

Support for it, would be beyond amazing folks!

[2022-11-16 17:44] #3994 closed